Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

feat(overview): start telemetry history runtime
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_overview_history_api.py
  backend/starlink-location/tests/unit/test_main_overview_history.py
Due: none

fix(deploy): persist overview history settings
  backend/starlink-location/tests/unit/test_overview_history_deployment.py
  docker-compose.yml
Due: prettier

feat(overview): expose telemetry history settings
  backend/starlink-location/app/api/overview_history.py
  backend/starlink-location/tests/integration/test_overview_history_api.py
Due: none

feat(overview): expose runtime history settings
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_main_overview_history.py
Due: none

feat(overview): persist selected telemetry history window
  backend/starlink-location/app/api/overview_history.py
  backend/starlink-location/tests/integration/test_overview_history_api.py
Due: none

test(overview): reject invalid history windows
  backend/starlink-location/tests/integration/test_overview_history_api.py
Due: none

test(overview): apply persisted history window immediately
  backend/starlink-location/tests/unit/test_main_overview_history.py
Due: none

feat(overview): project aircraft history on globe
  frontend/mission-planner/src/pages/overview-history-projection.test.ts
  frontend/mission-planner/src/pages/overview-history-projection.ts
Due: prettier, eslint

feat(overview): fetch shared telemetry history
  frontend/mission-planner/src/services/overview-history.test.ts
  frontend/mission-planner/src/services/overview-history.ts
Due: prettier, eslint

feat(overview): poll shared telemetry history
  frontend/mission-planner/src/hooks/api/useOverviewHistory.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistory.ts
Due: prettier, eslint

feat(overview): describe aircraft history state
  frontend/mission-planner/src/pages/overview-history-state.test.ts
  frontend/mission-planner/src/pages/overview-history-state.ts
Due: prettier, eslint

feat(overview): render aircraft telemetry history
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

test(overview): report unavailable aircraft history
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

fix(overview): grant settings mount write access
  backend/starlink-location/entrypoint.sh
  backend/starlink-location/tests/unit/test_overview_history_deployment.py
Due: none

feat(overview): fetch history window settings
  frontend/mission-planner/src/services/overview-history.test.ts
  frontend/mission-planner/src/services/overview-history.ts
Due: prettier, eslint

feat(overview): update history window settings
  frontend/mission-planner/src/services/overview-history.test.ts
  frontend/mission-planner/src/services/overview-history.ts
Due: prettier, eslint

feat(overview): read persisted history window
  frontend/mission-planner/src/hooks/api/useOverviewHistorySettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistorySettings.ts
Due: prettier, eslint

feat(overview): refresh history after window updates
  frontend/mission-planner/src/hooks/api/useUpdateOverviewHistorySettings.test.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewHistorySettings.ts
Due: prettier, eslint

feat(overview): select persisted aircraft history window
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

fix(overview): retain custom history window
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

docs(overview): explain persistent history settings
  .env.example
  backend/starlink-location/tests/unit/test_overview_history_deployment.py
  docs/deployment/portainer-ghcr.md
Due: prettier, markdownlint, naming-convention

docs(overview): clarify history setting tokens
  backend/starlink-location/tests/unit/test_overview_history_deployment.py
  docs/deployment/portainer-ghcr.md
Due: prettier, markdownlint, naming-convention

test(backend): align test gates with supported behavior
  backend/starlink-location/tests/integration/test_metrics_endpoint.py
  backend/starlink-location/tests/performance/__init__.py
  backend/starlink-location/tests/performance/test_benchmark.py
  backend/starlink-location/tests/unit/test_active_x_link.py
Due: none

test(overview): order history test imports
  backend/starlink-location/tests/integration/test_overview_history_api.py
  backend/starlink-location/tests/unit/test_main_overview_history.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_settings.py
Due: none

feat(overview): add aircraft telemetry history (#157)
  .env.example
  backend/starlink-location/app/api/overview_history.py
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/app/services/overview_history_settings.py
  backend/starlink-location/entrypoint.sh
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_metrics_endpoint.py
  backend/starlink-location/tests/integration/test_overview_history_api.py
  backend/starlink-location/tests/performance/__init__.py
  backend/starlink-location/tests/performance/test_benchmark.py
  backend/starlink-location/tests/unit/test_active_x_link.py
  backend/starlink-location/tests/unit/test_main_overview_history.py
  backend/starlink-location/tests/unit/test_overview_history_deployment.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_settings.py
  docker-compose.yml
  docs/deployment/portainer-ghcr.md
  frontend/mission-planner/src/hooks/api/useOverviewHistory.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistory.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistorySettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistorySettings.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewHistorySettings.test.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewHistorySettings.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-history-projection.test.ts
  frontend/mission-planner/src/pages/overview-history-projection.ts
  frontend/mission-planner/src/pages/overview-history-state.test.ts
  frontend/mission-planner/src/pages/overview-history-state.ts
  frontend/mission-planner/src/services/overview-history.test.ts
  frontend/mission-planner/src/services/overview-history.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): add emissive glow markers
  frontend/mission-planner/src/pages/OverviewStarMarker.test.ts
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
  frontend/mission-planner/src/pages/overview-star-marker-rendering.ts
Due: prettier, eslint

feat(overview): add emissive glow markers (#158)
  frontend/mission-planner/src/pages/OverviewStarMarker.test.ts
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
  frontend/mission-planner/src/pages/overview-star-marker-rendering.ts
Due: prettier, eslint

feat(overview): add reusable animated flow lines
  frontend/mission-planner/src/pages/AnimatedFlowLine.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-animated-flow-line-rendering.test.ts
  frontend/mission-planner/src/pages/overview-animated-flow-line-rendering.ts
  frontend/mission-planner/src/pages/overview-flow-consumers.test.ts
  frontend/mission-planner/src/pages/overview-flow-consumers.ts
Due: prettier, eslint

fix(overview): honor animated flow telemetry and lifecycle
  frontend/mission-planner/src/pages/AnimatedFlowLine.tsx
  frontend/mission-planner/src/pages/overview-animated-flow-line-rendering.test.ts
  frontend/mission-planner/src/pages/overview-animated-flow-line-rendering.ts
  frontend/mission-planner/src/pages/overview-flow-consumers.test.ts
  frontend/mission-planner/src/pages/overview-flow-consumers.ts
Due: prettier, eslint

style(overview): format animated flow regression tests
  frontend/mission-planner/src/pages/overview-animated-flow-line-rendering.test.ts
  frontend/mission-planner/src/pages/overview-flow-consumers.test.ts
Due: prettier, eslint

fix(overview): enable reverse-only flow emitters
  frontend/mission-planner/src/pages/AnimatedFlowLine.test.tsx
  frontend/mission-planner/src/pages/AnimatedFlowLine.tsx
Due: prettier, eslint

test: mount reverse-only animated flow regression
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
  frontend/mission-planner/src/pages/AnimatedFlowLine.test.tsx
Due: prettier, eslint

feat(overview): add reusable animated flow lines
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
  frontend/mission-planner/src/pages/AnimatedFlowLine.test.tsx
  frontend/mission-planner/src/pages/AnimatedFlowLine.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-animated-flow-line-rendering.test.ts
  frontend/mission-planner/src/pages/overview-animated-flow-line-rendering.ts
  frontend/mission-planner/src/pages/overview-flow-consumers.test.ts
  frontend/mission-planner/src/pages/overview-flow-consumers.ts
Due: prettier, eslint

fix(overview): remove some of the instanity
  frontend/mission-planner/src/pages/AnimatedFlowLine.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
Due: prettier, eslint

Fix animated flow particle rendering
  frontend/mission-planner/src/pages/overview-animated-flow-line-rendering.ts
Due: prettier, eslint

Use screen-space flow particles
  frontend/mission-planner/src/pages/AnimatedFlowLine.tsx
Due: prettier, eslint

Tune overview flow telemetry mappings
  frontend/mission-planner/src/pages/overview-flow-consumers.ts
Due: prettier, eslint

Wire overview flow emitters
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

Update animated flow component test
  frontend/mission-planner/src/pages/AnimatedFlowLine.test.tsx
Due: prettier, eslint

Test revised animated flow renderer
  frontend/mission-planner/src/pages/overview-animated-flow-line-rendering.test.ts
Due: prettier, eslint
