Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

test(acceptance): narrow rendered override paths
  tools/tests/test_acceptance_platform_compose.py
Due: none

test(acceptance): cover optional override AST receivers
  tools/tests/test_acceptance_platform_compose.py
Due: none

test(acceptance): block suppressed typing errors
  tools/tests/test_acceptance_platform_typing_policy.py
  tools/verify
Due: none

fix(acceptance): harden typing policy gate
  tools/tests/test_acceptance_platform_typing_policy.py
  tools/verify
Due: none

fix(acceptance): use commit navigation readiness
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): create fresh V2 journey page
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): use canonical uv backend verification
  tools/acceptance/contracts/v2-mission-retirement.toml
  tools/acceptance/platform/contracts.py
  tools/tests/test_acceptance_platform_contracts.py
Due: none

fix(acceptance): enforce canonical uv static commands
  tools/acceptance/contracts/v2-mission-retirement.toml
  tools/acceptance/platform/contracts.py
  tools/tests/test_acceptance_platform_contracts.py
Due: none

fix(acceptance): require literal canonical uv commands
  tools/acceptance/platform/contracts.py
  tools/tests/test_acceptance_platform_contracts.py
Due: none

ci: supply static typing policy base
  .github/workflows/lint.yml
  tools/tests/test_quality_gate_workflow.py
Due: prettier

ci: derive comparable push policy base
  .github/workflows/lint.yml
  tools/tests/test_quality_gate_workflow.py
Due: prettier

test: bound worker readiness wait
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
Due: none

test: bound active coordination waits
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
Due: none

test: bind active coordination timeout guard
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
Due: none

fix: run Ruff from backend working directory
  tools/verify
Due: none

test: remove stale Ruff command wiring test
  tools/tests/test_verify.py
Due: none

style(frontend): format mission planner files
  frontend/mission-planner/src/pages/LegDetailPage/LegHeader.test.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegHeader.tsx
  frontend/mission-planner/src/pages/MissionsPage.test.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.test.tsx
Due: prettier, eslint

docs: repair markdown lint violations
  docs/operations/acceptance-platform.md
  docs/superpowers/plans/2026-09-23-v2-mission-retirement-acceptance-runbook-tasks-1-2.md
  docs/superpowers/plans/2026-09-23-v2-mission-retirement-acceptance-runbook-tasks-3-4.md
  docs/superpowers/plans/2026-09-23-v2-mission-retirement-acceptance-runbook-tasks-5-6.md
  docs/superpowers/plans/2026-09-23-v2-mission-retirement-acceptance-runbook.md
  docs/superpowers/plans/2026-09-24-v2-acceptance-browser-recovery-tasks-1-2.md
  docs/superpowers/plans/2026-09-24-v2-acceptance-browser-recovery-tasks-3-4.md
  docs/superpowers/plans/2026-09-24-v2-acceptance-browser-recovery.md
  docs/superpowers/plans/2026-09-25-acceptance-platform-structural-typing-task-3.md
  docs/superpowers/plans/2026-09-25-acceptance-platform-structural-typing-tasks-1-2.md
  docs/superpowers/plans/2026-09-25-acceptance-platform-structural-typing.md
  docs/superpowers/plans/2026-09-25-v2-content-aware-final-build-task-2-4.md
  docs/superpowers/plans/2026-09-25-v2-content-aware-final-build.md
  docs/superpowers/plans/2026-09-25-v2-upcoming-pois-webgl-task-4.md
  docs/superpowers/plans/2026-09-25-v2-upcoming-pois-webgl-tasks-2-3.md
  docs/superpowers/plans/2026-09-25-v2-upcoming-pois-webgl.md
  docs/superpowers/specs/2026-09-24-v2-acceptance-browser-recovery-design.md
  docs/superpowers/specs/2026-09-25-v2-content-aware-final-build-design.md
  docs/superpowers/specs/2026-09-25-v2-upcoming-pois-webgl-design.md
Due: prettier, markdownlint, naming-convention

docs: add markdownlint repair report
  .superpowers/sdd/2026-09-26-markdownlint-doc-repair/implementer-report.md
Due: prettier, markdownlint

docs: add external-host final acceptance runbook
  docs/operations/acceptance-platform.md
  docs/operations/external-host-final-acceptance.md
Due: prettier, markdownlint, naming-convention

docs: correct external host final authority checks
  docs/operations/external-host-final-acceptance.md
Due: prettier, markdownlint, naming-convention

docs: harden final acceptance provenance checks
  docs/operations/external-host-final-acceptance.md
Due: prettier, markdownlint, naming-convention

fix(acceptance): harden browser group cleanup
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
Due: none

fix(acceptance): preserve startup failures during cleanup
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
Due: none

fix(ci): pass candidate SHA to GHCR builds
  .github/workflows/publish-ghcr.yml
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier

fix(ci): bind GHCR SHA argument to build action
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: none

fix(ci): pass candidate SHA to GHCR builds (#184)
  .github/workflows/publish-ghcr.yml
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier

docs: plan acceptance retention implementation
  docs/superpowers/plans/2026-09-27-acceptance-retention.md
Due: prettier, markdownlint, naming-convention

feat: add fixed acceptance retention policy
  tools/acceptance/platform/model.py
  tools/acceptance/platform/retention.py
  tools/acceptance/platform/retention_policy.toml
  tools/tests/test_acceptance_platform_retention.py
Due: none

fix: enforce strict retention policy types
  tools/acceptance/platform/retention.py
  tools/tests/test_acceptance_platform_retention.py
Due: none

feat: retain bounded sealed acceptance evidence
  tools/acceptance/platform/retention.py
  tools/tests/test_acceptance_platform_retention.py
Due: none

fix: confine retention deletion descriptors
  tools/acceptance/platform/retention.py
  tools/tests/test_acceptance_platform_retention.py
Due: none

fix: bind retention apply to planned evidence identity
  tools/acceptance/platform/model.py
  tools/acceptance/platform/retention.py
  tools/tests/test_acceptance_platform_retention.py
Due: none

fix: fail closed retention apply races
  tools/acceptance/platform/retention.py
  tools/tests/test_acceptance_platform_retention.py
Due: none

fix: safely apply sealed evidence retention
  tools/acceptance/platform/retention.py
  tools/tests/test_acceptance_platform_retention.py
Due: none

docs(acceptance): specify evidence retention policy
  docs/superpowers/specs/2026-09-27-acceptance-evidence-retention-design.md
  docs/superpowers/specs/2026-09-27-acceptance-retention-operational-lifecycle.md
Due: prettier, markdownlint, naming-convention

docs: define cooperative retention ownership
  docs/superpowers/plans/2026-09-27-acceptance-retention.md
  docs/superpowers/specs/2026-09-27-acceptance-evidence-retention-design.md
Due: prettier, markdownlint, naming-convention

fix: lease cooperative retention lifecycle
  tools/acceptance/platform/retention.py
  tools/tests/test_acceptance_platform_retention.py
Due: none

feat: add final-lane retention preflight
  tools/acceptance/platform/maintenance.py
  tools/run-acceptance-platform.sh
  tools/tests/test_acceptance_platform_retention.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

