Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

feat: add bounded pinned weather HTTPS transport
  backend/starlink-location/app/services/overview_weather/clock.py
  backend/starlink-location/app/services/overview_weather/protocol.py
  backend/starlink-location/app/services/overview_weather/transport.py
  backend/starlink-location/requirements.txt
  backend/starlink-location/tests/fixtures/weather_streams.py
  backend/starlink-location/tests/unit/test_overview_weather_protocol.py
  backend/starlink-location/tests/unit/test_overview_weather_transport.py
Due: none

feat: serve revisioned Overview weather with bounded lifecycle
  backend/starlink-location/app/api/overview_weather.py
  backend/starlink-location/app/api/weather.py
  backend/starlink-location/app/services/overview_weather/acquisitions.py
  backend/starlink-location/app/services/overview_weather/admission.py
  backend/starlink-location/app/services/overview_weather/request.py
  backend/starlink-location/app/services/overview_weather/service.py
  backend/starlink-location/app/services/overview_weather/settings.py
  backend/starlink-location/app/services/weather_radar.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_overview_weather_lifecycle.py
  backend/starlink-location/tests/unit/test_overview_weather_acquisitions.py
  backend/starlink-location/tests/unit/test_overview_weather_api.py
  backend/starlink-location/tests/unit/test_overview_weather_protocol.py
  backend/starlink-location/tests/unit/test_overview_weather_service.py
  backend/starlink-location/tests/unit/test_overview_weather_settings.py
  backend/starlink-location/tests/unit/test_overview_weather_transport.py
  backend/starlink-location/tests/unit/test_weather_api.py
  backend/starlink-location/tests/unit/test_weather_radar.py
  frontend/mission-planner/nginx.conf
Due: none

feat: configure shared Overview precipitation radar
  frontend/mission-planner/src/hooks/api/useOverviewWeatherSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewWeatherSettings.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewWeatherSettings.test.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewWeatherSettings.ts
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/weather/OverviewWeatherSettingsCard.test.tsx
  frontend/mission-planner/src/pages/weather/OverviewWeatherSettingsCard.tsx
  frontend/mission-planner/src/services/overview-weather.test.ts
  frontend/mission-planner/src/services/overview-weather.ts
  frontend/mission-planner/src/test/weather-fixtures.ts
Due: prettier, eslint

feat: refresh complete weather atlases with bounded ownership
  frontend/mission-planner/src/hooks/useOverviewWeatherLayer.test.tsx
  frontend/mission-planner/src/hooks/useOverviewWeatherLayer.ts
  frontend/mission-planner/src/pages/weather/weather-atlas.test.ts
  frontend/mission-planner/src/pages/weather/weather-atlas.ts
  frontend/mission-planner/src/pages/weather/weather-controller.test.ts
  frontend/mission-planner/src/pages/weather/weather-controller.ts
  frontend/mission-planner/src/pages/weather/weather-state.test.ts
  frontend/mission-planner/src/pages/weather/weather-state.ts
Due: prettier, eslint

feat: render Overview precipitation with passive weather status
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/weather/OverviewWeather.css
  frontend/mission-planner/src/pages/weather/OverviewWeatherLayer.test.tsx
  frontend/mission-planner/src/pages/weather/OverviewWeatherLayer.tsx
  frontend/mission-planner/src/pages/weather/OverviewWeatherStatus.test.tsx
  frontend/mission-planner/src/pages/weather/OverviewWeatherStatus.tsx
  frontend/mission-planner/src/pages/weather/weather-projection.test.ts
  frontend/mission-planner/src/pages/weather/weather-projection.ts
  frontend/mission-planner/src/pages/weather/weather-textures.test.ts
  frontend/mission-planner/src/pages/weather/weather-textures.ts
Due: prettier, eslint

feat: deconflict overview labels with connected callouts
  docs/features/overview.md
  frontend/mission-planner/playwright.labels-acceptance.config.ts
  frontend/mission-planner/src/pages/OverviewLabelLayout.test.tsx
  frontend/mission-planner/src/pages/OverviewLabelLayout.tsx
  frontend/mission-planner/src/pages/OverviewMapLabel.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLabel.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPoiMarker.test.ts
  frontend/mission-planner/src/pages/OverviewPoiMarker.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsb.css
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.tsx
  frontend/mission-planner/src/pages/adsb/overview-adsb-label-layout.test.ts
  frontend/mission-planner/src/pages/adsb/overview-adsb-label-layout.ts
  frontend/mission-planner/src/pages/overview-label-dom.ts
  frontend/mission-planner/src/pages/overview-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-label-layout.ts
  frontend/mission-planner/src/pages/overview-label-layout.worker.ts
  frontend/mission-planner/src/pages/overview-poi-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-poi-label-layout.ts
  frontend/mission-planner/tests/e2e/overview-label-callouts.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

test: verify production Overview weather and document operation
  docs/api-reference-index.md
  docs/api/endpoints/overview-weather.md
  docs/features/overview-weather.md
  docs/features/overview.md
  docs/superpowers/plans/2026-10-05-overview-weather-overlay-backend.md
  docs/superpowers/plans/2026-10-05-overview-weather-overlay.md
  docs/superpowers/specs/2026-10-05-overview-weather-overlay-design.md
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/playwright.weather-acceptance.config.ts
  frontend/mission-planner/src/pages/weather/weather-controller.test.ts
  frontend/mission-planner/src/pages/weather/weather-controller.ts
  frontend/mission-planner/src/test/overview-weather-acceptance-config.test.ts
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-weather-probe.ts
  tools/acceptance/overview-weather/README.md
  tools/acceptance/overview-weather/backend_fixture.py
  tools/acceptance/overview-weather/compose.yml
  tools/acceptance/overview-weather/provider_fixture.py
  tools/acceptance/overview-weather/run.sh
  tools/tests/test_overview_weather_acceptance.py
Due: prettier, eslint, markdownlint, naming-convention

docs: keep overview callout guidance within file limit
  docs/features/overview.md
Due: prettier, markdownlint, naming-convention

fix: recover weather metadata and strengthen geographic acceptance
  backend/starlink-location/app/services/overview_weather/service.py
  backend/starlink-location/tests/unit/test_overview_weather_service.py
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-weather-probe.ts
  tools/acceptance/overview-weather/provider_fixture.py
  tools/tests/test_overview_weather_acceptance.py
Due: prettier

test: preserve real refresh evidence across UTC coverage rollover
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
Due: prettier

test: await confirmed weather switch saves in production
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
Due: prettier

feat: deconflict overview labels with connected callouts (#283)
  docs/features/overview.md
  frontend/mission-planner/playwright.labels-acceptance.config.ts
  frontend/mission-planner/src/pages/OverviewLabelLayout.test.tsx
  frontend/mission-planner/src/pages/OverviewLabelLayout.tsx
  frontend/mission-planner/src/pages/OverviewMapLabel.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLabel.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPoiMarker.test.ts
  frontend/mission-planner/src/pages/OverviewPoiMarker.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsb.css
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.tsx
  frontend/mission-planner/src/pages/adsb/overview-adsb-label-layout.test.ts
  frontend/mission-planner/src/pages/adsb/overview-adsb-label-layout.ts
  frontend/mission-planner/src/pages/overview-label-dom.ts
  frontend/mission-planner/src/pages/overview-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-label-layout.ts
  frontend/mission-planner/src/pages/overview-label-layout.worker.ts
  frontend/mission-planner/src/pages/overview-poi-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-poi-label-layout.ts
  frontend/mission-planner/tests/e2e/overview-label-callouts.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

fix: bind weather tile fetches to the browser global receiver
  frontend/mission-planner/src/pages/weather/weather-atlas.test.ts
  frontend/mission-planner/src/pages/weather/weather-atlas.ts
Due: prettier, eslint

fix: align weather surface depth and keep feature index bounded
  docs/features/overview.md
  frontend/mission-planner/src/pages/weather/OverviewWeatherLayer.tsx
Due: prettier, eslint, markdownlint, naming-convention

fix: keep fallback simulator position valid across the dateline
  backend/starlink-location/app/simulation/route.py
  backend/starlink-location/tests/integration/test_fallback_position.py
  backend/starlink-location/tests/unit/test_route.py
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/playwright.fallback-acceptance.config.ts
  frontend/mission-planner/tests/e2e/overview-fallback-production.spec.ts
Due: prettier

test: clean up fallback acceptance after early failures
  frontend/mission-planner/tests/e2e/overview-fallback-production.spec.ts
Due: prettier

test: sample distinct weather tile sides beyond pixel-center rounding
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
Due: prettier

test: sample projected weather landmarks within responsive globe framing
  frontend/mission-planner/tests/e2e/support/overview-weather-probe.ts
Due: prettier

feat: select planned X-band satellites without a mission
  backend/starlink-location/app/api/active_x_link.py
  backend/starlink-location/app/services/active_x_link.py
  backend/starlink-location/app/services/x_band_selection.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_manual_x_selection.py
  backend/starlink-location/tests/unit/test_active_x_link.py
  docs/api/endpoints/configuration.md
  docs/api/endpoints/manual-x-band-selection.md
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/playwright.manual-x-acceptance.config.ts
  frontend/mission-planner/src/hooks/api/useActiveXLink.ts
  frontend/mission-planner/src/hooks/api/useUpdateManualXSelection.ts
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/ManualXBandSelectionCard.test.tsx
  frontend/mission-planner/src/pages/ManualXBandSelectionCard.tsx
  frontend/mission-planner/src/services/active-x-link.ts
  frontend/mission-planner/tests/e2e/manual-x-selection-production.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

test: distinguish fallback recovery from retained camera framing
  frontend/mission-planner/tests/e2e/overview-fallback-production.spec.ts
Due: prettier

test: verify uncovered weather and native globe interactions
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
  tools/acceptance/overview-weather/provider_fixture.py
Due: prettier

test: read acceptance leg from its parent mission
  frontend/mission-planner/tests/e2e/manual-x-selection-production.spec.ts
Due: prettier

feat(overview): add optional country and state borders
  .prettierignore
  backend/starlink-location/app/api/overview_link_settings.py
  backend/starlink-location/app/services/overview_link_settings.py
  backend/starlink-location/tests/integration/test_overview_link_settings_api.py
  backend/starlink-location/tests/unit/test_main_overview_link_settings.py
  backend/starlink-location/tests/unit/test_overview_link_settings.py
  docs/features/overview.md
  frontend/mission-planner/playwright.boundaries-acceptance.config.ts
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/public/boundaries/ATTRIBUTION.md
  frontend/mission-planner/public/boundaries/countries.json
  frontend/mission-planner/public/boundaries/subdivisions.json
  frontend/mission-planner/src/hooks/api/useOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewRefresh.test.tsx
  frontend/mission-planner/src/hooks/api/useUpdateOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/useOverviewBoundaries.test.tsx
  frontend/mission-planner/src/hooks/useOverviewBoundaries.ts
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OverviewBoundaryLayer.test.tsx
  frontend/mission-planner/src/pages/OverviewBoundaryLayer.tsx
  frontend/mission-planner/src/pages/OverviewBoundarySettingsCard.test.tsx
  frontend/mission-planner/src/pages/OverviewBoundarySettingsCard.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/orbital/lifecycle.test.ts
  frontend/mission-planner/src/pages/overview-boundaries.test.ts
  frontend/mission-planner/src/pages/overview-boundaries.ts
  frontend/mission-planner/src/pages/overview-link-state.test.ts
  frontend/mission-planner/src/services/overview-link-settings.test.ts
  frontend/mission-planner/src/services/overview-link-settings.ts
  frontend/mission-planner/tests/e2e/overview-boundaries-production.spec.ts
  tools/acceptance/overview-boundaries/compose.yml
  tools/acceptance/overview-boundaries/run.sh
  tools/build-overview-boundaries.py
Due: prettier, eslint, markdownlint, naming-convention

test: observe native Overview fullscreen entry and browser exit
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
Due: prettier

fix(overview): bound rejected border downloads and align browser controls
  frontend/mission-planner/src/hooks/useOverviewBoundaries.test.tsx
  frontend/mission-planner/src/hooks/useOverviewBoundaries.ts
  frontend/mission-planner/tests/e2e/overview-boundaries-production.spec.ts
Due: prettier, eslint

test(overview): separate fixture aircraft from own-aircraft marker
  frontend/mission-planner/tests/e2e/overview-boundaries-production.spec.ts
Due: prettier

test: stabilize boundary acceptance camera and startup checks
  docs/features/overview-boundaries.md
  docs/features/overview.md
  frontend/mission-planner/tests/e2e/overview-boundaries-production.spec.ts
Due: prettier, markdownlint, naming-convention

test: measure visible globe at explicit acceptance viewports
  docs/features/overview.md
  frontend/mission-planner/playwright.boundaries-acceptance.config.ts
  frontend/mission-planner/tests/e2e/overview-boundaries-production.spec.ts
Due: prettier, markdownlint, naming-convention

feat: select planned X-band satellites without a mission (#285)
  backend/starlink-location/app/api/active_x_link.py
  backend/starlink-location/app/services/active_x_link.py
  backend/starlink-location/app/services/x_band_selection.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_manual_x_selection.py
  backend/starlink-location/tests/unit/test_active_x_link.py
  docs/api/endpoints/configuration.md
  docs/api/endpoints/manual-x-band-selection.md
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/playwright.manual-x-acceptance.config.ts
  frontend/mission-planner/src/hooks/api/useActiveXLink.ts
  frontend/mission-planner/src/hooks/api/useUpdateManualXSelection.ts
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/ManualXBandSelectionCard.test.tsx
  frontend/mission-planner/src/pages/ManualXBandSelectionCard.tsx
  frontend/mission-planner/src/services/active-x-link.ts
  frontend/mission-planner/tests/e2e/manual-x-selection-production.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

perf: render geographic borders as batched native lines
  frontend/mission-planner/public/boundaries/ATTRIBUTION.md
  frontend/mission-planner/src/pages/OverviewBoundaryLayer.test.tsx
  frontend/mission-planner/src/pages/OverviewBoundaryLayer.tsx
  frontend/mission-planner/tests/e2e/overview-boundaries-production.spec.ts
Due: prettier, eslint, markdownlint

test: include ADS-B identity in boundary overlay acceptance
  frontend/mission-planner/tests/e2e/overview-boundaries-production.spec.ts
Due: prettier

docs: require bounded checks and task resource cleanup
  AGENTS.md
  docs/development/cloud-docker.md
  docs/development/workflow.md
Due: prettier, markdownlint, naming-convention

docs: require bounded checks and task resource cleanup (#287)
  AGENTS.md
  docs/development/cloud-docker.md
  docs/development/workflow.md
Due: prettier, markdownlint, naming-convention

feat: add optional country and state borders to Overview (#286)
  .prettierignore
  backend/starlink-location/app/api/overview_link_settings.py
  backend/starlink-location/app/services/overview_link_settings.py
  backend/starlink-location/tests/integration/test_overview_link_settings_api.py
  backend/starlink-location/tests/unit/test_main_overview_link_settings.py
  backend/starlink-location/tests/unit/test_overview_link_settings.py
  docs/features/overview-boundaries.md
  docs/features/overview.md
  frontend/mission-planner/playwright.boundaries-acceptance.config.ts
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/public/boundaries/ATTRIBUTION.md
  frontend/mission-planner/public/boundaries/countries.json
  frontend/mission-planner/public/boundaries/subdivisions.json
  frontend/mission-planner/src/hooks/api/useOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewRefresh.test.tsx
  frontend/mission-planner/src/hooks/api/useUpdateOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/useOverviewBoundaries.test.tsx
  frontend/mission-planner/src/hooks/useOverviewBoundaries.ts
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OverviewBoundaryLayer.test.tsx
  frontend/mission-planner/src/pages/OverviewBoundaryLayer.tsx
  frontend/mission-planner/src/pages/OverviewBoundarySettingsCard.test.tsx
  frontend/mission-planner/src/pages/OverviewBoundarySettingsCard.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/orbital/lifecycle.test.ts
  frontend/mission-planner/src/pages/overview-boundaries.test.ts
  frontend/mission-planner/src/pages/overview-boundaries.ts
  frontend/mission-planner/src/pages/overview-link-state.test.ts
  frontend/mission-planner/src/services/overview-link-settings.test.ts
  frontend/mission-planner/src/services/overview-link-settings.ts
  frontend/mission-planner/tests/e2e/overview-boundaries-production.spec.ts
  tools/acceptance/overview-boundaries/compose.yml
  tools/acceptance/overview-boundaries/run.sh
  tools/build-overview-boundaries.py
Due: prettier, eslint, markdownlint, naming-convention

fix: preserve RainViewer opaque radar frame paths
  backend/starlink-location/app/services/overview_weather/service.py
  backend/starlink-location/app/services/overview_weather/transport.py
  backend/starlink-location/tests/unit/test_overview_weather_service.py
  backend/starlink-location/tests/unit/test_overview_weather_transport.py
  docs/features/overview-weather.md
  docs/superpowers/plans/2026-10-05-overview-weather-overlay-backend.md
  docs/superpowers/specs/2026-10-05-overview-weather-overlay-design.md
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
  tools/acceptance/overview-weather/provider_fixture.py
  tools/acceptance/overview-weather/run.sh
  tools/tests/test_overview_weather_acceptance.py
Due: prettier, markdownlint, naming-convention

docs: specify camera-driven weather detail for issue 288
  docs/superpowers/specs/2026-10-06-overview-weather-detail-design.md
Due: prettier, markdownlint, naming-convention

docs: assess free and self-hosted weather sources for issue 288
  docs/reports/2026-10-06-overview-weather-provider-assessment.md
  docs/superpowers/specs/2026-10-06-overview-weather-detail-design.md
Due: prettier, markdownlint, naming-convention

docs: plan measured weather source comparison for issue 288
  docs/superpowers/plans/2026-10-06-weather-source-comparison.md
Due: prettier, markdownlint, naming-convention

test: add bounded weather source capture tooling
  tools/acceptance/weather_detail_comparison/Dockerfile
  tools/acceptance/weather_detail_comparison/Dockerfile.dockerignore
  tools/acceptance/weather_detail_comparison/capture.py
  tools/acceptance/weather_detail_comparison/model.py
  tools/acceptance/weather_detail_comparison/requirements.txt
  tools/tests/test_weather_detail_comparison_capture.py
Due: none
