Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

fix(adsb): batch included ICAO lookups with shared backoff
  backend/starlink-location/app/services/adsb_lol.py
  backend/starlink-location/app/services/overview_adsb_traffic.py
  backend/starlink-location/tests/integration/test_overview_adsb_acceptance.py
  backend/starlink-location/tests/integration/test_overview_adsb_batch.py
  backend/starlink-location/tests/unit/test_adsb_lol.py
  backend/starlink-location/tests/unit/test_overview_adsb_traffic.py
  docs/api/endpoints/overview-adsb.md
  docs/development/adsb-provider-acquisition.md
  docs/features/system.md
  tools/acceptance/adsb/backend_fixture.py
Due: prettier, markdownlint, naming-convention

style(adsb): follow backend import ordering
  backend/starlink-location/app/services/adsb_lol.py
  backend/starlink-location/tests/integration/test_overview_adsb_acceptance.py
  backend/starlink-location/tests/integration/test_overview_adsb_batch.py
  backend/starlink-location/tests/unit/test_adsb_lol.py
  backend/starlink-location/tests/unit/test_overview_adsb_traffic.py
Due: none

fix(overview): protect own aircraft from map labels
  docs/features/overview-labels.md
  docs/features/overview.md
  frontend/mission-planner/playwright.labels-acceptance.config.ts
  frontend/mission-planner/src/pages/OverviewLabelLayout.test.tsx
  frontend/mission-planner/src/pages/OverviewLabelLayout.tsx
  frontend/mission-planner/src/pages/OverviewMapLabel.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLabel.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.tsx
  frontend/mission-planner/src/pages/overview-label-dom.ts
  frontend/mission-planner/src/pages/overview-label-geometry.test.ts
  frontend/mission-planner/src/pages/overview-label-geometry.ts
  frontend/mission-planner/src/pages/overview-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-label-layout.ts
  frontend/mission-planner/src/pages/overview-label-layout.worker.ts
  frontend/mission-planner/tests/e2e/overview-label-occlusion.spec.ts
  tools/acceptance/overview-labels/compose.yml
  tools/acceptance/overview-labels/run.sh
Due: prettier, eslint, markdownlint, naming-convention

fix(adsb): batch included ICAO lookups with shared backoff (#297)
  backend/starlink-location/app/services/adsb_lol.py
  backend/starlink-location/app/services/overview_adsb_traffic.py
  backend/starlink-location/tests/integration/test_overview_adsb_acceptance.py
  backend/starlink-location/tests/integration/test_overview_adsb_batch.py
  backend/starlink-location/tests/unit/test_adsb_lol.py
  backend/starlink-location/tests/unit/test_overview_adsb_traffic.py
  docs/api/endpoints/overview-adsb.md
  docs/development/adsb-provider-acquisition.md
  docs/features/system.md
  tools/acceptance/adsb/backend_fixture.py
Due: prettier, markdownlint, naming-convention

feat: share aviation grid resources and cancellation budgets
  frontend/mission-planner/src/pages/aviation-weather/AviationLayer.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationLayer.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationSettingsCard.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/aviation-controller.test.ts
  frontend/mission-planner/src/pages/aviation-weather/aviation-controller.ts
  frontend/mission-planner/src/pages/aviation-weather/aviation-renderer.ts
  frontend/mission-planner/src/pages/aviation-weather/gfs-controller.test.ts
  frontend/mission-planner/src/pages/aviation-weather/gfs-controller.ts
  frontend/mission-planner/src/pages/aviation-weather/weather-budget.test.ts
  frontend/mission-planner/src/pages/aviation-weather/weather-budget.ts
  frontend/mission-planner/src/services/aviation-grid.test.ts
  frontend/mission-planner/src/services/aviation-grid.ts
  frontend/mission-planner/src/services/aviation-weather.ts
  frontend/mission-planner/src/test/gfs-grid.ts
Due: prettier, eslint

fix(overview): retain feasible callouts before relaxing path clearance
  frontend/mission-planner/playwright.labels-acceptance.config.ts
  frontend/mission-planner/src/pages/overview-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-label-layout.ts
  frontend/mission-planner/tests/e2e/overview-label-occlusion.spec.ts
Due: prettier, eslint

test(overview): exercise damped camera motion beside compact overlays
  frontend/mission-planner/tests/e2e/overview-label-occlusion.spec.ts
Due: prettier

fix(overview): relax soft marker footprints before grouping POIs
  docs/features/overview-labels.md
  frontend/mission-planner/src/pages/overview-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-label-layout.ts
  frontend/mission-planner/tests/e2e/overview-label-occlusion.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

feat: render GFS winds and temperature on the native globe
  backend/starlink-location/app/services/aviation_weather/gfs/bridge.py
  frontend/mission-planner/src/hooks/api/useAviationSettings.ts
  frontend/mission-planner/src/hooks/useGfsWeather.ts
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationSettingsCard.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationSettingsCard.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationWeather.css
  frontend/mission-planner/src/pages/aviation-weather/GfsLayer.tsx
  frontend/mission-planner/src/pages/aviation-weather/GfsStatus.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/GfsStatus.tsx
  frontend/mission-planner/src/pages/aviation-weather/grid-renderer.test.ts
  frontend/mission-planner/src/pages/aviation-weather/grid-renderer.ts
  frontend/mission-planner/src/pages/aviation-weather/grid-sampling.ts
  frontend/mission-planner/src/pages/aviation-weather/grid-shader.ts
  frontend/mission-planner/src/pages/aviation-weather/wind-barbs.test.ts
  frontend/mission-planner/src/pages/aviation-weather/wind-barbs.ts
  frontend/mission-planner/src/services/aviation-weather.ts
  frontend/mission-planner/src/test/gfs-lease.ts
Due: prettier, eslint

test: gate native GFS presentation through production acceptance
  docs/api/aviation-weather.md
  docs/features/overview-weather.md
  docs/reports/2026-10-07-aviation-weather-gfs-presentation.md
  frontend/mission-planner/playwright.aviation-acceptance.config.ts
  frontend/mission-planner/src/pages/aviation-weather/grid-renderer.ts
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
  tools/acceptance/gfs-weather/presentation-source.json
  tools/acceptance/gfs-weather/runner.py
  tools/acceptance/gfs-weather/source_fixture.py
  tools/tests/test_gfs_acceptance_runner.py
Due: prettier, eslint, markdownlint, naming-convention

test(overview): prove visible aircraft clearance in fullscreen and enlarged text
  frontend/mission-planner/tests/e2e/overview-label-occlusion.spec.ts
Due: prettier

test: bind archived browser controls and real below-terrain samples
  docs/reports/2026-10-07-aviation-weather-gfs-presentation.md
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
  tools/acceptance/gfs-weather/presentation-source.json
  tools/acceptance/gfs-weather/runner.py
  tools/tests/test_gfs_acceptance_runner.py
Due: prettier, markdownlint, naming-convention

test: align bulletin runtime expectations with tagged GFS selection
  backend/starlink-location/tests/unit/test_aviation_weather_runtime.py
Due: none

fix: restrict GFS scalar rendering to the outward globe surface
  frontend/mission-planner/src/pages/aviation-weather/grid-renderer.test.ts
  frontend/mission-planner/src/pages/aviation-weather/grid-renderer.ts
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
Due: prettier, eslint

test(overview): pick a stable rendered traffic triangle after layout changes
  frontend/mission-planner/tests/e2e/overview-label-occlusion.spec.ts
Due: prettier

fix: bind browser dependencies after image context builds
  tools/acceptance/gfs-weather/runner.py
Due: none

fix: preserve geographic sampling precision near globe poles
  frontend/mission-planner/src/pages/aviation-weather/grid-shader.ts
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
Due: prettier, eslint

test(overview): allow bounded production globe startup
  frontend/mission-planner/playwright.labels-acceptance.config.ts
Due: prettier

test: inspect expanded mobile model context and record acceptance scope
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
  tools/acceptance/gfs-weather/README.md
  tools/acceptance/gfs-weather/runner.py
Due: prettier, markdownlint

test: exercise native fullscreen controls under bounded acceptance
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
  tools/acceptance/gfs-weather/runner.py
Due: prettier

test(overview): hold the fresh glyph phase during glow checks
  frontend/mission-planner/tests/e2e/overview-adsb.spec.ts
Due: prettier

test: align combined weather replay with historical source clock
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
  tools/acceptance/gfs-weather/runner.py
  tools/tests/test_gfs_acceptance_runner.py
Due: prettier

fix: keep weather reports in the viewport after mobile scrolling
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
Due: prettier, eslint

fix: enforce absolute GFS deadlines and disclose requested context
  docs/features/overview-weather.md
  frontend/mission-planner/src/pages/aviation-weather/GfsStatus.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/GfsStatus.tsx
  frontend/mission-planner/src/pages/aviation-weather/gfs-controller.test.ts
  frontend/mission-planner/src/pages/aviation-weather/gfs-controller.ts
  frontend/mission-planner/src/services/aviation-grid.test.ts
  frontend/mission-planner/src/services/aviation-grid.ts
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

test: recognize disposed native groups during React detachment
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
Due: prettier

test: require both admitted model layers and handle toggle transitions
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
Due: prettier

fix(overview): keep map labels clear of own aircraft (#298)
  docs/features/overview-labels.md
  docs/features/overview.md
  frontend/mission-planner/playwright.labels-acceptance.config.ts
  frontend/mission-planner/src/pages/OverviewLabelLayout.test.tsx
  frontend/mission-planner/src/pages/OverviewLabelLayout.tsx
  frontend/mission-planner/src/pages/OverviewMapLabel.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLabel.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.tsx
  frontend/mission-planner/src/pages/overview-label-dom.ts
  frontend/mission-planner/src/pages/overview-label-geometry.test.ts
  frontend/mission-planner/src/pages/overview-label-geometry.ts
  frontend/mission-planner/src/pages/overview-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-label-layout.ts
  frontend/mission-planner/src/pages/overview-label-layout.worker.ts
  frontend/mission-planner/tests/e2e/overview-adsb.spec.ts
  frontend/mission-planner/tests/e2e/overview-label-occlusion.spec.ts
  tools/acceptance/overview-labels/compose.yml
  tools/acceptance/overview-labels/run.sh
Due: prettier, eslint, markdownlint, naming-convention

fix: start GFS worker with the ordinary app stack
  README.md
  docker-compose.gfs.yml
  docker-compose.yml
  docs/api/aviation-weather.md
  docs/development/workflow.md
  tools/tests/test_gfs_compose.py
  tools/tests/test_local_compose_sha.py
Due: prettier, markdownlint, naming-convention

fix: start GFS worker with the ordinary app stack (#300)
  README.md
  docker-compose.gfs.yml
  docker-compose.yml
  docs/api/aviation-weather.md
  docs/development/workflow.md
  tools/tests/test_gfs_compose.py
  tools/tests/test_local_compose_sha.py
Due: prettier, markdownlint, naming-convention

fix: publish and deploy the GFS worker through GHCR
  .github/workflows/publish-ghcr.yml
  deployment/portainer-forge-dev-compose.yml
  deployment/portainer-ghcr-compose.yml
  docs/deployment/portainer-ghcr.md
  tools/check_publish_ghcr_workflow.py
  tools/smoke-portainer-profile.sh
  tools/tests/test_portainer_deploy_profile.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier, markdownlint, naming-convention

test: reject GHCR smoke runs without a healthy GFS worker
  tools/smoke-portainer-profile.sh
  tools/tests/test_portainer_deploy_profile.py
Due: none

fix: run GFS smoke probe as application user
  tools/smoke-portainer-profile.sh
  tools/tests/test_portainer_deploy_profile.py
Due: none

fix: publish and deploy the GFS worker through GHCR (#301)
  .github/workflows/publish-ghcr.yml
  deployment/portainer-forge-dev-compose.yml
  deployment/portainer-ghcr-compose.yml
  docs/deployment/portainer-ghcr.md
  tools/check_publish_ghcr_workflow.py
  tools/smoke-portainer-profile.sh
  tools/tests/test_portainer_deploy_profile.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier, markdownlint, naming-convention

fix(overview): simplify GFS weather for ten-foot displays
  frontend/mission-planner/src/pages/OverviewMapLegend.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.tsx
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationWeather.css
  frontend/mission-planner/src/pages/aviation-weather/GfsStatus.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/GfsStatus.tsx
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
Due: prettier, eslint

fix(overview): simplify GFS weather for ten-foot displays (#302)
  frontend/mission-planner/src/pages/OverviewMapLegend.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.tsx
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationWeather.css
  frontend/mission-planner/src/pages/aviation-weather/GfsStatus.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/GfsStatus.tsx
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
Due: prettier, eslint

fix(overview): keep long routes and aircraft useful after camera reset
  docs/architecture/overview-responsive-layout.md
  frontend/mission-planner/playwright.route-acceptance.config.ts
  frontend/mission-planner/src/pages/OverviewCameraSettingsCard.tsx
  frontend/mission-planner/src/pages/OverviewMapController.test.tsx
  frontend/mission-planner/src/pages/OverviewMapController.tsx
  frontend/mission-planner/src/pages/OverviewMapControls.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-camera-frame.test.ts
  frontend/mission-planner/src/pages/overview-camera-frame.ts
  frontend/mission-planner/src/pages/overview-route-frame.ts
  frontend/mission-planner/src/pages/overview-route-hemisphere.ts
  frontend/mission-planner/src/pages/overview-route-overview.test.ts
  frontend/mission-planner/src/pages/useOverviewLayout.test.ts
  frontend/mission-planner/src/pages/useOverviewLayout.ts
  frontend/mission-planner/tests/e2e/overview-route-overview.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): keep long routes and aircraft useful after camera reset (#303)
  docs/architecture/overview-responsive-layout.md
  frontend/mission-planner/playwright.route-acceptance.config.ts
  frontend/mission-planner/src/pages/OverviewCameraSettingsCard.tsx
  frontend/mission-planner/src/pages/OverviewMapController.test.tsx
  frontend/mission-planner/src/pages/OverviewMapController.tsx
  frontend/mission-planner/src/pages/OverviewMapControls.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-camera-frame.test.ts
  frontend/mission-planner/src/pages/overview-camera-frame.ts
  frontend/mission-planner/src/pages/overview-route-frame.ts
  frontend/mission-planner/src/pages/overview-route-hemisphere.ts
  frontend/mission-planner/src/pages/overview-route-overview.test.ts
  frontend/mission-planner/src/pages/useOverviewLayout.test.ts
  frontend/mission-planner/src/pages/useOverviewLayout.ts
  frontend/mission-planner/tests/e2e/overview-route-overview.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

feat: tidy overview visibility and configuration sections
  backend/starlink-location/app/api/overview_link_settings.py
  backend/starlink-location/app/services/overview_link_settings.py
  backend/starlink-location/tests/integration/test_overview_link_settings_api.py
  backend/starlink-location/tests/unit/test_main_overview_link_settings.py
  backend/starlink-location/tests/unit/test_overview_link_settings.py
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/playwright.ui-cleanup-acceptance.config.ts
  frontend/mission-planner/src/hooks/api/useOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewRefresh.test.tsx
  frontend/mission-planner/src/hooks/api/useUpdateOverviewLinkSettings.test.ts
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OverviewLinkSettingsCard.test.tsx
  frontend/mission-planner/src/pages/OverviewLinkSettingsCard.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.tsx
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-metric-history.ts
  frontend/mission-planner/src/pages/useOverviewLayout.test.ts
  frontend/mission-planner/src/pages/useOverviewLayout.ts
  frontend/mission-planner/src/services/overview-link-settings.test.ts
  frontend/mission-planner/src/services/overview-link-settings.ts
  frontend/mission-planner/tests/e2e/overview-ui-cleanup-production.spec.ts
Due: prettier, eslint

docs: describe overview visibility controls
  docs/architecture/overview-responsive-layout.md
Due: prettier, markdownlint, naming-convention
