Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

test: add mask-preserving raw radar tile generation
  tools/acceptance/weather_detail_comparison/Dockerfile
  tools/acceptance/weather_detail_comparison/capture_detail.py
  tools/acceptance/weather_detail_comparison/generate.py
  tools/tests/test_weather_detail_comparison_capture.py
  tools/tests/test_weather_detail_comparison_generate.py
Due: none

test: compare captured radar sources on the native Overview globe
  docs/reports/2026-10-06-overview-weather-provider-assessment.md
  docs/superpowers/specs/2026-10-06-overview-weather-detail-design.md
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/playwright.weather-acceptance.config.ts
  frontend/mission-planner/src/test/overview-weather-acceptance-config.test.ts
  frontend/mission-planner/tests/e2e/overview-weather-comparison.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-weather-comparison.ts
  frontend/mission-planner/tests/e2e/support/overview-weather-probe.ts
  tools/acceptance/overview-weather/backend_fixture.py
  tools/acceptance/overview-weather/compose.yml
  tools/acceptance/overview-weather/run.sh
  tools/acceptance/weather_detail_comparison/README.md
  tools/acceptance/weather_detail_comparison/owned.py
  tools/acceptance/weather_detail_comparison/run.sh
  tools/tests/test_weather_detail_comparison_runner.py
Due: prettier, eslint, markdownlint, naming-convention

test: preserve native shader uniforms and proxy comparison PNGs
  frontend/mission-planner/tests/e2e/overview-weather-comparison.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-weather-comparison.ts
  tools/acceptance/overview-weather/backend_fixture.py
Due: prettier

test: bound complete native comparison and retain timeout evidence
  frontend/mission-planner/tests/e2e/overview-weather-comparison.spec.ts
Due: prettier

test: allow owned runner to finish graceful cleanup
  tools/acceptance/weather_detail_comparison/owned.py
  tools/tests/test_weather_detail_comparison_runner.py
Due: none

docs: select weather source from measured native comparisons
  docs/reports/2026-10-06-overview-weather-provider-assessment.md
  docs/reports/2026-10-06-weather-source-comparison-results.md
  docs/superpowers/plans/2026-10-06-overview-weather-detail-production.md
  tools/acceptance/weather_detail_comparison/report.py
  tools/tests/test_weather_detail_comparison_report.py
Due: prettier, markdownlint, naming-convention

test: enforce weather capture and comparison research bounds
  docs/reports/2026-10-06-weather-source-comparison-results.md
  tools/acceptance/weather_detail_comparison/README.md
  tools/acceptance/weather_detail_comparison/capture.py
  tools/acceptance/weather_detail_comparison/exchange.py
  tools/acceptance/weather_detail_comparison/generate.py
  tools/acceptance/weather_detail_comparison/model.py
  tools/acceptance/weather_detail_comparison/report.py
  tools/acceptance/weather_detail_comparison/storage.py
  tools/tests/test_weather_detail_comparison_capture.py
  tools/tests/test_weather_detail_comparison_report.py
Due: prettier, markdownlint, naming-convention

docs: use reachable NOAA product guide references
  docs/reports/2026-10-06-overview-weather-provider-assessment.md
Due: prettier, markdownlint, naming-convention

docs: preserve provider-neutral weather detail architecture
  docs/superpowers/plans/2026-10-06-overview-weather-detail-contract.md
  docs/superpowers/plans/2026-10-06-overview-weather-detail-production.md
  docs/superpowers/specs/2026-10-06-overview-weather-detail-design.md
Due: prettier, markdownlint, naming-convention

docs: clarify weather demand and stable product identity
  docs/superpowers/plans/2026-10-06-overview-weather-detail-contract.md
  docs/superpowers/plans/2026-10-06-overview-weather-detail-production.md
  docs/superpowers/specs/2026-10-06-overview-weather-detail-design.md
Due: prettier, markdownlint, naming-convention

feat: deliver bounded higher-zoom weather tiles
  backend/starlink-location/app/api/overview_weather.py
  backend/starlink-location/app/models/overview_weather.py
  backend/starlink-location/app/services/overview_weather/acquisitions.py
  backend/starlink-location/app/services/overview_weather/admission.py
  backend/starlink-location/app/services/overview_weather/rainviewer.py
  backend/starlink-location/app/services/overview_weather/service.py
  backend/starlink-location/app/services/overview_weather/settings.py
  backend/starlink-location/app/services/overview_weather/transport.py
  backend/starlink-location/tests/unit/test_overview_weather_api.py
  backend/starlink-location/tests/unit/test_overview_weather_detail.py
  backend/starlink-location/tests/unit/test_overview_weather_service.py
  docs/api/endpoints/overview-weather.md
  frontend/mission-planner/src/services/overview-weather.test.ts
  frontend/mission-planner/src/services/overview-weather.ts
  frontend/mission-planner/src/test/weather-fixtures.ts
Due: prettier, eslint, markdownlint, naming-convention

feat: select weather detail from native camera
  frontend/mission-planner/src/pages/weather/OverviewWeatherCameraObserver.tsx
  frontend/mission-planner/src/pages/weather/weather-detail-selection.test.ts
  frontend/mission-planner/src/pages/weather/weather-detail-selection.ts
Due: prettier, eslint

feat: own weather detail within displayed frame and shared budgets
  frontend/mission-planner/src/hooks/useOverviewWeatherLayer.ts
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/weather/OverviewWeatherStatus.test.tsx
  frontend/mission-planner/src/pages/weather/OverviewWeatherStatus.tsx
  frontend/mission-planner/src/pages/weather/weather-atlas.test.ts
  frontend/mission-planner/src/pages/weather/weather-atlas.ts
  frontend/mission-planner/src/pages/weather/weather-controller.test.ts
  frontend/mission-planner/src/pages/weather/weather-controller.ts
  frontend/mission-planner/src/pages/weather/weather-detail.test.ts
  frontend/mission-planner/src/pages/weather/weather-detail.ts
  frontend/mission-planner/src/pages/weather/weather-state.ts
  frontend/mission-planner/src/pages/weather/weather-work.test.ts
  frontend/mission-planner/src/pages/weather/weather-work.ts
Due: prettier, eslint

feat: render paired regional weather detail with lighter opacity
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/weather/OverviewWeatherLayer.test.tsx
  frontend/mission-planner/src/pages/weather/OverviewWeatherLayer.tsx
  frontend/mission-planner/src/pages/weather/weather-detail-textures.test.ts
  frontend/mission-planner/src/pages/weather/weather-detail-textures.ts
  frontend/mission-planner/src/pages/weather/weather-shader.ts
Due: prettier, eslint

test: exercise production weather detail and capture replay
  frontend/mission-planner/src/pages/weather/OverviewWeatherLayer.test.tsx
  frontend/mission-planner/src/pages/weather/OverviewWeatherLayer.tsx
  frontend/mission-planner/src/pages/weather/weather-detail-selection.test.ts
  frontend/mission-planner/src/pages/weather/weather-shader.ts
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-weather-probe.ts
  tools/acceptance/overview-weather/backend_fixture.py
  tools/acceptance/overview-weather/provider_fixture.py
  tools/tests/test_overview_weather_acceptance.py
Due: prettier, eslint

test: refine native weather evidence and fixture isolation
  docs/features/overview-weather.md
  frontend/mission-planner/playwright.weather-acceptance.config.ts
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
  tools/acceptance/overview-weather/README.md
  tools/acceptance/overview-weather/provider_fixture.py
  tools/acceptance/overview-weather/run.sh
Due: prettier, eslint, markdownlint, naming-convention

test: seed active mission labels and reenter touch exploration
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
Due: prettier

fix: reserve coarse admission and retry timed out detail
  backend/starlink-location/app/services/overview_weather/acquisitions.py
  backend/starlink-location/app/services/overview_weather/admission.py
  backend/starlink-location/tests/unit/test_overview_weather_acquisitions.py
  frontend/mission-planner/src/pages/weather/weather-detail.test.ts
  frontend/mission-planner/src/pages/weather/weather-detail.ts
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
Due: prettier, eslint

test: align missing coverage to real tile boundaries
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
  tools/acceptance/overview-weather/provider_fixture.py
Due: prettier

fix: retain adjacent absence masks throughout detail fades
  frontend/mission-planner/src/pages/weather/weather-shader.ts
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
Due: prettier, eslint

docs: record production detail evidence and precise seam checks
  backend/starlink-location/app/services/overview_weather/settings.py
  backend/starlink-location/tests/unit/test_overview_weather_api.py
  backend/starlink-location/tests/unit/test_overview_weather_detail.py
  backend/starlink-location/tests/unit/test_overview_weather_service.py
  docs/reports/2026-10-06-overview-weather-detail-production-acceptance.md
  docs/superpowers/specs/2026-10-06-overview-weather-detail-design.md
  frontend/mission-planner/src/pages/weather/weather-detail-textures.test.ts
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-weather-probe.ts
  tools/acceptance/overview-weather/README.md
Due: prettier, eslint, markdownlint, naming-convention

test: measure seam samples on tessellated native geometry
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-weather-probe.ts
Due: prettier

test: retain coarse antimeridian uncertainty during fallback
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
Due: prettier

docs: propose provider-neutral aviation weather architecture
  docs/architecture/README.md
  docs/reports/2026-10-06-aviation-weather-source-inventory.md
  docs/superpowers/specs/2026-10-06-aviation-weather-design.md
  docs/superpowers/specs/2026-10-06-aviation-weather-proof-design.md
Due: prettier, markdownlint, naming-convention

docs: clarify weather validity and rendered proof checks
  docs/reports/2026-10-06-aviation-weather-source-inventory.md
  docs/superpowers/specs/2026-10-06-aviation-weather-design.md
  docs/superpowers/specs/2026-10-06-aviation-weather-proof-design.md
Due: prettier, markdownlint, naming-convention

docs: plan aviation weather proofs after architecture review
  docs/superpowers/plans/2026-10-06-aviation-weather-local-proofs.md
  docs/superpowers/specs/2026-10-06-aviation-weather-proof-design.md
Due: prettier, markdownlint, naming-convention

test: establish safe research native library initialization
  tools/acceptance/aviation_weather_proof/README.md
  tools/acceptance/aviation_weather_proof/native.py
  tools/acceptance/aviation_weather_proof/reference.py
  tools/tests/test_aviation_weather_proof_satellite.py
Due: prettier, markdownlint

test: normalize real GFS fields for native globe proof
  tools/acceptance/aviation_weather_proof/gfs.py
  tools/acceptance/aviation_weather_proof/grid.py
  tools/acceptance/aviation_weather_proof/reference.py
  tools/tests/test_aviation_weather_proof_gfs.py
Due: none

test: reject malformed nested aviation capture fields
  tools/acceptance/aviation_weather_proof/model.py
  tools/tests/test_aviation_weather_proof_capture.py
Due: none

test: enforce complete normalized sampling stencil validity
  tools/acceptance/aviation_weather_proof/reference.py
  tools/tests/test_aviation_weather_proof_gfs.py
Due: none

test: normalize GOES IR with explicit scan and missing coverage
  tools/acceptance/aviation_weather_proof/reference.py
  tools/acceptance/aviation_weather_proof/satellite.py
  tools/tests/test_aviation_weather_proof_satellite.py
Due: none

test: add bounded aviation weather proof captures
  tools/acceptance/aviation_weather_proof/Dockerfile
  tools/acceptance/aviation_weather_proof/Dockerfile.dockerignore
  tools/acceptance/aviation_weather_proof/README.md
  tools/acceptance/aviation_weather_proof/__init__.py
  tools/acceptance/aviation_weather_proof/capture.py
  tools/acceptance/aviation_weather_proof/exchange.py
  tools/acceptance/aviation_weather_proof/model.py
  tools/acceptance/aviation_weather_proof/requirements.txt
  tools/tests/test_aviation_weather_proof_capture.py
Due: prettier, markdownlint

test: normalize international advisories without false clear states
  tools/acceptance/aviation_weather_proof/advisory.py
  tools/acceptance/aviation_weather_proof/grid.py
  tools/acceptance/aviation_weather_proof/requirements.txt
  tools/tests/test_aviation_weather_proof_advisory.py
Due: none

test: preserve provider unwrapped advisory dateline geometry
  tools/acceptance/aviation_weather_proof/advisory.py
  tools/tests/test_aviation_weather_proof_advisory.py
Due: none

test: separate native mesh interpolation from geographic conversion
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/grid-renderer.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/runtime.ts
Due: prettier

test: preserve native projection for quantitative GPU readback
  frontend/mission-planner/src/test/aviation-weather-proof.test.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/runtime.ts
  tools/acceptance/aviation_weather_proof/README.md
  tools/acceptance/aviation_weather_proof/journey.mjs
  tools/acceptance/aviation_weather_proof/run_browser.py
Due: prettier, eslint, markdownlint

test: allow fixture app to read normalized private products
  tools/acceptance/aviation_weather_proof/runner.py
  tools/tests/test_aviation_weather_proof_runner.py
Due: none

test: diagnose GPU geography and seed native route context
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/grid-renderer.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/runtime.ts
  tools/acceptance/aviation_weather_proof/README.md
  tools/acceptance/aviation_weather_proof/journey.mjs
Due: prettier, markdownlint

test: verify bounded port teardown and reuse native camera observer
  tools/acceptance/aviation_weather_proof/journey.mjs
  tools/acceptance/aviation_weather_proof/runner.py
  tools/tests/test_aviation_weather_proof_runner.py
Due: none

test: close aviation proof evidence and presentation gaps
  frontend/mission-planner/src/test/aviation-weather-proof-label.test.ts
  frontend/mission-planner/src/test/aviation-weather-proof.test.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/advisory-renderer.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/grid-renderer.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/model.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/proof-label.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/runtime.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/sampling.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/synthetic-controls.ts
  tools/acceptance/aviation_weather_proof/README.md
  tools/acceptance/aviation_weather_proof/grid.py
  tools/acceptance/aviation_weather_proof/journey.mjs
  tools/acceptance/aviation_weather_proof/reference.py
  tools/acceptance/aviation_weather_proof/report.py
  tools/acceptance/aviation_weather_proof/satellite.py
  tools/acceptance/aviation_weather_proof/worker.py
  tools/tests/test_aviation_weather_proof_gfs.py
  tools/tests/test_aviation_weather_proof_report.py
  tools/tests/test_aviation_weather_proof_satellite.py
Due: prettier, eslint, markdownlint

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

