Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

fix(acceptance): resolve platform card Playwright ESM
  tools/acceptance/browser/platform-card.mjs
  tools/tests/test_acceptance_platform_health.py
Due: none

fix(acceptance): fail close compose ledger
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
Due: none

fix(acceptance): fail close candidate discovery
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

fix(acceptance): reap residual chrome process groups
  final-rework-7-report.md
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
Due: prettier, markdownlint

fix(acceptance): seal journey lifecycle evidence
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

docs: describe acceptance platform contracts
  docs/missions/README.md
  docs/missions/v2-mission-retirement-acceptance.md
  docs/operations/acceptance-platform.md
  tools/tests/test_acceptance_platform_docs.py
Due: prettier, markdownlint, naming-convention

style(acceptance): satisfy health lint gates
  tools/acceptance/platform/health.py
Due: none

docs: tighten acceptance platform authority
  docs/operations/acceptance-platform.md
  tools/tests/test_acceptance_platform_docs.py
Due: prettier, markdownlint, naming-convention

fix(acceptance): invalidate poisoned candidate revocations
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

feat(acceptance): add isolated build ledger
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
Due: none

fix(acceptance): retain primary health diagnostics
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
Due: none

fix(acceptance): bound and transact final evidence
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

fix(acceptance): prove cadence provenance
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

fix(acceptance): bind platform isolation authority
  tools/acceptance/platform/browser_bundle.py
  tools/acceptance/platform/compose.py
  tools/acceptance/platform/contracts.py
  tools/acceptance/platform/health.py
  tools/acceptance/platform/model.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_acceptance_platform_contracts.py
  tools/tests/test_acceptance_platform_health.py
Due: none

feat(acceptance): run V2 contract on platform
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/acceptance/platform/runner.py
  tools/run-acceptance-platform.sh
  tools/tests/test_acceptance_platform_runner.py
Due: none

fix(acceptance): fail close final runner evidence
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/acceptance/platform/evidence.py
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

fix(acceptance): seal platform health authority
  .gitignore
  .superpowers/sdd/2026-09-24-acceptance-platform-execution/task-1-report.md
  tools/acceptance/platform/browser_bundle.py
  tools/acceptance/platform/evidence.py
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
Due: prettier, markdownlint

fix(acceptance): resolve wrapper paths from repository root
  tools/run-acceptance-platform.sh
  tools/tests/test_acceptance_platform_runner.py
Due: none

fix(acceptance): use project test interpreter
  tools/acceptance/contracts/v2-mission-retirement.toml
  tools/tests/test_acceptance_platform_contracts.py
Due: none

fix(acceptance): run frontend unit test script
  tools/acceptance/contracts/v2-mission-retirement.toml
  tools/tests/test_acceptance_platform_contracts.py
Due: none

fix(acceptance): support named frontend test scripts
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

docs(acceptance): specify browser recovery
  docs/superpowers/specs/2026-09-24-v2-acceptance-browser-recovery-design.md
Due: prettier, markdownlint, naming-convention

docs(acceptance): plan browser recovery
  docs/superpowers/plans/2026-09-24-v2-acceptance-browser-recovery.md
Due: prettier, markdownlint, naming-convention

fix(acceptance): own final browser lifecycle
  tools/acceptance/platform/health.py
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_health.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

fix(acceptance): drain browser cleanup failures
  tools/acceptance/platform/health.py
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_health.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

fix(acceptance): retain prompt adapter failures
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): preserve overflow diagnostics
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

docs(acceptance): document final browser recovery
  docs/operations/acceptance-platform.md
  tools/tests/test_acceptance_platform_docs.py
Due: prettier, markdownlint, naming-convention

test(acceptance): preserve browser recovery workflow
  tools/tests/test_acceptance_platform_docs.py
Due: none

fix(acceptance): bound final compose startup cleanup
  docs/operations/acceptance-platform.md
  tools/acceptance/platform/compose.py
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_acceptance_platform_docs.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint, naming-convention

fix(acceptance): bound final build diagnostics
  docs/operations/acceptance-platform.md
  tools/acceptance/platform/compose.py
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint, naming-convention

fix(acceptance): close failed build reconciliation claims
  docs/operations/acceptance-platform.md
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
Due: prettier, markdownlint, naming-convention

fix(acceptance): extend final build deadline
  docs/operations/acceptance-platform.md
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_acceptance_platform_docs.py
Due: prettier, markdownlint, naming-convention

fix(acceptance): own final origin and Xvfb cleanup
  .superpowers/sdd/2026-09-24-v2-acceptance-browser-recovery/task-8-report.md
  docs/operations/acceptance-platform.md
  tools/acceptance/platform/health.py
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_health.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint, naming-convention

fix(acceptance): seal Xvfb socket cleanup race
  .superpowers/sdd/2026-09-24-v2-acceptance-browser-recovery/task-8-report.md
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint

fix(acceptance): quarantine Xvfb socket cleanup
  .superpowers/sdd/2026-09-24-v2-acceptance-browser-recovery/task-8-report.md
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
Due: prettier, markdownlint

fix(acceptance): accept strict RGB screenshots
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): validate PNG chunk structure
  .superpowers/sdd/2026-09-24-v2-acceptance-browser-recovery/task-9-report.md
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
Due: prettier, markdownlint

fix(acceptance): permit RGBA PNG palettes
  .superpowers/sdd/2026-09-24-v2-acceptance-browser-recovery/task-9-report.md
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
Due: prettier, markdownlint

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

