Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

test(e2e): harden Playwright bootstrap and visual evidence (#164)
  docs/superpowers/plans/2026-09-21-playwright-harness-hardening-task-3.md
  docs/superpowers/plans/2026-09-21-playwright-harness-hardening-tasks-1-2.md
  docs/superpowers/plans/2026-09-21-playwright-harness-hardening-tasks-4-5.md
  docs/superpowers/plans/2026-09-21-playwright-harness-hardening.md
  docs/superpowers/specs/2026-09-21-playwright-harness-design.md
  frontend/mission-planner/README.md
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/src/test/configured-origin.test.ts
  frontend/mission-planner/src/test/playwright-config.test.ts
  frontend/mission-planner/tests/e2e/api-origin.spec.ts
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-globe-ready-chromium-linux.png
  frontend/mission-planner/tests/e2e/support/configured-origin.ts
  frontend/mission-planner/tests/e2e/support/globe-visual-ready.ts
Due: prettier, eslint, markdownlint, naming-convention

chore(frontend): refresh browser tooling metadata
  frontend/mission-planner/.eslintignore
  frontend/mission-planner/package-lock.json
Due: prettier

chore(frontend): refresh browser tooling metadata (#168)
  frontend/mission-planner/.eslintignore
  frontend/mission-planner/package-lock.json
Due: prettier

chore(docker): normalize builder stage keyword casing
  backend/starlink-location/Dockerfile
Due: none

chore(docker): normalize builder stage keyword casing (#169)
  backend/starlink-location/Dockerfile
Due: none

ci: upgrade GHCR publish action majors
  .github/workflows/publish-ghcr.yml
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier

test(ci): scope GHCR publish contract assertions
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: none

fix(ci): validate shorthand GHCR action steps
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: none

ci: modernize GHCR action runtimes (#170)
  .github/workflows/publish-ghcr.yml
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier

chore(backend): remove scoped pytest warning sources
  backend/starlink-location/app/models/telemetry.py
  backend/starlink-location/app/satellites/routes.py
  backend/starlink-location/docs/TESTING.md
  backend/starlink-location/pytest.ini
  backend/starlink-location/requirements.txt
  backend/starlink-location/tests/unit/test_pydantic_warning_regressions.py
Due: prettier, markdownlint

fix(backend): preserve telemetry Python dumps
  backend/starlink-location/app/models/telemetry.py
  backend/starlink-location/tests/unit/test_pydantic_warning_regressions.py
Due: none

chore(backend): remove pytest warning sources (#171)
  backend/starlink-location/app/models/telemetry.py
  backend/starlink-location/app/satellites/routes.py
  backend/starlink-location/docs/TESTING.md
  backend/starlink-location/pytest.ini
  backend/starlink-location/requirements.txt
  backend/starlink-location/tests/unit/test_pydantic_warning_regressions.py
Due: prettier, markdownlint

chore(backend): remove repository pytest warnings
  backend/starlink-location/app/mission/routes/missions.py
  backend/starlink-location/docs/TESTING.md
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
  backend/starlink-location/tests/unit/test_mission_routes_validation.py
Due: prettier, markdownlint

chore(ci): fix backend test import ordering
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
  backend/starlink-location/tests/unit/test_mission_routes_validation.py
Due: none

chore(backend): remove repository pytest warnings (#173)
  backend/starlink-location/app/mission/routes/missions.py
  backend/starlink-location/docs/TESTING.md
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
  backend/starlink-location/tests/unit/test_mission_routes_validation.py
Due: prettier, markdownlint

docs(spec): design overview upcoming POIs
  docs/superpowers/specs/2026-09-22-overview-upcoming-pois-design.md
Due: prettier, markdownlint, naming-convention

docs(plan): implement overview upcoming POIs
  docs/superpowers/plans/2026-09-22-overview-upcoming-pois.md
Due: prettier, markdownlint, naming-convention

docs(plan): require live in-flight POI ETAs
  docs/superpowers/plans/2026-09-22-overview-upcoming-pois.md
  docs/superpowers/specs/2026-09-22-overview-upcoming-pois-design.md
Due: prettier, markdownlint, naming-convention

feat(pois): generate typed mission POIs
  backend/starlink-location/app/mission/timeline_builder/__init__.py
  backend/starlink-location/app/mission/timeline_builder/pois.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/app/models/poi.py
  backend/starlink-location/app/services/poi/manager.py
  backend/starlink-location/tests/unit/test_mission_generated_pois.py
Due: none

fix(pois): preserve X transition schedule identity
  backend/starlink-location/app/mission/timeline_builder/aar.py
  backend/starlink-location/app/mission/timeline_builder/events.py
  backend/starlink-location/app/mission/timeline_builder/pois.py
  backend/starlink-location/tests/unit/test_mission_generated_pois.py
Due: none

feat(overview): expose upcoming mission POIs
  backend/starlink-location/app/api/overview_upcoming_pois.py
  backend/starlink-location/app/models/overview_upcoming_pois.py
  backend/starlink-location/app/services/overview_upcoming_pois.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  backend/starlink-location/tests/unit/test_overview_upcoming_pois.py
Due: none

fix(overview): restrict generated upcoming POIs
  backend/starlink-location/app/api/overview_upcoming_pois.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
Due: none

fix(overview): enforce generated POI provenance
  backend/starlink-location/app/api/overview_upcoming_pois.py
  backend/starlink-location/app/mission/timeline_builder/pois.py
  backend/starlink-location/app/models/poi.py
  backend/starlink-location/app/services/poi/manager.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  backend/starlink-location/tests/unit/test_mission_generated_pois.py
Due: none

feat(overview): project upcoming POI timing
  frontend/mission-planner/src/hooks/api/useOverviewUpcomingPois.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewUpcomingPois.ts
  frontend/mission-planner/src/pages/overview-upcoming-pois.test.ts
  frontend/mission-planner/src/pages/overview-upcoming-pois.ts
  frontend/mission-planner/src/services/overview-upcoming-pois.test.ts
  frontend/mission-planner/src/services/overview-upcoming-pois.ts
Due: prettier, eslint

feat(overview): render upcoming mission POIs
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPoiMarker.test.ts
  frontend/mission-planner/src/pages/OverviewPoiMarker.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.test.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.tsx
Due: prettier, eslint

fix(overview): separate responsive POI overlays
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

fix(overview): separate narrow POI fullscreen control
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/tests/e2e/overview-poi-responsive.spec.ts
Due: prettier, eslint

docs(overview): describe upcoming POIs
  docs/api/endpoints/README.md
  docs/api/endpoints/overview-upcoming-pois.md
  docs/features/overview.md
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
Due: prettier, markdownlint, naming-convention

fix(overview): order and declutter upcoming POIs
  backend/starlink-location/app/services/overview_upcoming_pois.py
  backend/starlink-location/tests/unit/test_overview_upcoming_pois.py
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPoiMarker.test.ts
  frontend/mission-planner/src/pages/OverviewPoiMarker.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.test.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.tsx
  frontend/mission-planner/src/pages/overview-poi-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-poi-label-layout.ts
  frontend/mission-planner/src/test/playwright-config.test.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

fix(overview): scale clustered POI labels
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPoiMarker.tsx
  frontend/mission-planner/src/pages/overview-poi-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-poi-label-layout.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
Due: prettier, eslint

fix(pois): preserve generated metadata and provenance
  backend/starlink-location/app/api/pois/crud.py
  backend/starlink-location/app/mission/timeline_builder/pois.py
  backend/starlink-location/app/services/poi/manager.py
  backend/starlink-location/tests/integration/test_pois_quick_reference.py
  backend/starlink-location/tests/unit/test_mission_generated_pois.py
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/UpcomingPoisPanel.test.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
Due: prettier, eslint

fix(ci): resolve formatting checks
  backend/starlink-location/app/api/overview_upcoming_pois.py
  backend/starlink-location/app/mission/timeline_builder/pois.py
  backend/starlink-location/app/models/overview_upcoming_pois.py
  backend/starlink-location/app/models/poi.py
  backend/starlink-location/app/services/overview_upcoming_pois.py
  backend/starlink-location/app/services/poi/manager.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  backend/starlink-location/tests/integration/test_pois_quick_reference.py
  backend/starlink-location/tests/unit/test_mission_generated_pois.py
  backend/starlink-location/tests/unit/test_overview_upcoming_pois.py
  docs/superpowers/plans/2026-09-22-overview-upcoming-pois.md
  docs/superpowers/specs/2026-09-22-overview-upcoming-pois-design.md
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPoiMarker.test.ts
  frontend/mission-planner/src/pages/OverviewPoiMarker.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.test.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.tsx
  frontend/mission-planner/src/pages/overview-poi-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-poi-label-layout.ts
  frontend/mission-planner/src/pages/overview-upcoming-pois.test.ts
  frontend/mission-planner/src/pages/overview-upcoming-pois.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(docs): narrow markdownlint exceptions
  docs/superpowers/plans/2026-09-22-overview-upcoming-pois.md
  docs/superpowers/specs/2026-09-22-overview-upcoming-pois-design.md
Due: prettier, markdownlint, naming-convention

docs(missions): specify v2 single-source retirement
  docs/superpowers/specs/2026-09-22-v2-mission-single-source-design.md
Due: prettier, markdownlint, naming-convention

docs(missions): plan v2 retirement
  docs/superpowers/plans/2026-09-22-v2-mission-retirement.md
Due: prettier, markdownlint, naming-convention

docs(quality): specify verification contract
  docs/superpowers/specs/2026-09-24-quality-gate-contract-design.md
Due: prettier, markdownlint, naming-convention
