Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

feat(frontend): add legend
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

fix(frontend): constrain overview to application viewport
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/index.css
  frontend/mission-planner/src/pages/OverviewPage.css
Due: prettier, eslint

feat(frontend): render active route on globe
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/active-globe-route.test.ts
  frontend/mission-planner/src/pages/active-globe-route.ts
  frontend/mission-planner/src/pages/globe-route-projection.test.ts
  frontend/mission-planner/src/pages/globe-route-projection.ts
Due: prettier, eslint

feat(frontend): add solar-lit globe
  frontend/mission-planner/public/earth-day.ATTRIBUTION.md
  frontend/mission-planner/public/earth-day.jpg
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/solar-clock.test.ts
  frontend/mission-planner/src/pages/solar-clock.ts
  frontend/mission-planner/src/pages/solar-position.test.ts
  frontend/mission-planner/src/pages/solar-position.ts
Due: prettier, eslint, markdownlint

fix(frontend): align solar clock scheduling
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

fix(frontend): render route arcs on globe
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/globe-route-projection.test.ts
  frontend/mission-planner/src/pages/globe-route-projection.ts
  frontend/mission-planner/src/pages/globe-route.test.ts
  frontend/mission-planner/src/pages/globe-route.ts
Due: prettier, eslint

chore(frontend): update playwright/test
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
Due: prettier

test(frontend): build before playwright preview
  frontend/mission-planner/playwright.config.ts
Due: prettier

test(frontend): cover active globe route
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

feat(frontend): add solar-lit globe overview (#145)
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/public/earth-day.ATTRIBUTION.md
  frontend/mission-planner/public/earth-day.jpg
  frontend/mission-planner/public/earth-night.ATTRIBUTION.md
  frontend/mission-planner/public/earth-night.jpg
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/index.css
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/active-globe-route.test.ts
  frontend/mission-planner/src/pages/active-globe-route.ts
  frontend/mission-planner/src/pages/globe-coordinates.test.ts
  frontend/mission-planner/src/pages/globe-coordinates.ts
  frontend/mission-planner/src/pages/globe-route-projection.test.ts
  frontend/mission-planner/src/pages/globe-route-projection.ts
  frontend/mission-planner/src/pages/globe-route.test.ts
  frontend/mission-planner/src/pages/globe-route.ts
  frontend/mission-planner/src/pages/solar-clock.test.ts
  frontend/mission-planner/src/pages/solar-clock.ts
  frontend/mission-planner/src/pages/solar-position.test.ts
  frontend/mission-planner/src/pages/solar-position.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint, markdownlint

test(frontend): add status projection test skeleton
  frontend/mission-planner/src/pages/status-projection.test.ts
Due: prettier, eslint

feat(frontend): add status position test and basic implementation
  frontend/mission-planner/src/pages/status-projection.test.ts
  frontend/mission-planner/src/pages/status-projection.ts
Due: prettier, eslint

test(frontend): add null position check
  frontend/mission-planner/src/pages/status-projection.test.ts
  frontend/mission-planner/src/pages/status-projection.ts
Due: prettier, eslint

feat(frontend): add valid latitude checking
  frontend/mission-planner/src/pages/status-projection.test.ts
  frontend/mission-planner/src/pages/status-projection.ts
Due: prettier, eslint

feat(frontend): add valid longitude checking
  frontend/mission-planner/src/pages/status-projection.test.ts
  frontend/mission-planner/src/pages/status-projection.ts
Due: prettier, eslint

feat(frontend): add latitude NaN check
  frontend/mission-planner/src/pages/status-projection.test.ts
  frontend/mission-planner/src/pages/status-projection.ts
Due: prettier, eslint

feat(frontend): add longitude nan protection
  frontend/mission-planner/src/pages/status-projection.test.ts
  frontend/mission-planner/src/pages/status-projection.ts
Due: prettier, eslint

feat(frontend): add status helper
  frontend/mission-planner/src/services/status.ts
Due: prettier, eslint

feat(frontend): add useStatus hook
  frontend/mission-planner/src/hooks/api/useStatus.ts
Due: prettier, eslint

feat(frontend): use StatusResponse type
  frontend/mission-planner/src/pages/status-projection.ts
Due: prettier, eslint

feat(frontend): add aircraft position to globe
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

chore(frontend): install postprocessing dependencies
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
Due: prettier

fix(frontend): remove postprocessing
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
Due: prettier

feat(frontend): map star markers
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

refactor(frontend): star marker component
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
Due: prettier, eslint

fix(frontend): remove unused import
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

feat(frontend): legend update
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

test(frontend): status freshness test
  frontend/mission-planner/src/pages/status-freshness.test.ts
  frontend/mission-planner/src/pages/status-freshness.ts
Due: prettier, eslint

test(frontend): add nan check for status-freshness
  frontend/mission-planner/src/pages/status-freshness.test.ts
  frontend/mission-planner/src/pages/status-freshness.ts
Due: prettier, eslint

test(frontend): test old data is stale
  frontend/mission-planner/src/pages/status-freshness.test.ts
Due: prettier, eslint

feat(frontend): legend includes status freshness indication
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

test(frontend): live telemetry label
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

feat(frontend): add 1s refetch interval
  frontend/mission-planner/src/hooks/api/useStatus.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

feat(frontend): display clock increment
  frontend/mission-planner/src/hooks/useCurrentTime.ts
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

test(frontend): previously fresh telemetry can go stale
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

fix(frontend): lower endpoint/route/aircraft height
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
Due: prettier, eslint

fix(frontend): visual tweaks
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
Due: prettier, eslint

feat(frontend): add globe aircraft metrics panel
  frontend/mission-planner/src/hooks/api/useStatus.ts
  frontend/mission-planner/src/pages/OverviewMetricsPanel.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

fix(frontend): fix test aircraft and route origin conflation
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

feat(frontend): route overlay radius constant
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
  frontend/mission-planner/src/pages/globe-render-radii.ts
  frontend/mission-planner/src/pages/globe-route-projection.test.ts
Due: prettier, eslint
