Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

test(backend): characterize bootstrap manager patches
  backend/starlink-location/tests/unit/test_bootstrap_manager_patches.py
Due: none

ci: pin backend formatting tools
  docs/code-quality-standards.md
  docs/contributing/troubleshooting.md
Due: prettier, markdownlint, naming-convention

test: format mission retirement docs contract
  backend/starlink-location/tests/unit/test_mission_retirement_docs.py
Due: none

test(mission-planner): pin unit tests to test runtime
  frontend/mission-planner/package.json
  frontend/mission-planner/src/test/react-act-runtime.test.ts
Due: prettier, eslint

chore(backend): resolve authorized Ruff findings
  backend/starlink-location/app/core/metrics.py
  backend/starlink-location/app/services/route_eta_calculator.py
  backend/starlink-location/tests/conftest.py
  backend/starlink-location/tests/unit/test_ground_entry_point_refresh_policy.py
Due: none

fix(frontend): include dev tools in production installs
  frontend/mission-planner/.npmrc
Due: none

fix(missions): preserve leg lifecycle on updates
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
Due: none

docs: specify deterministic V2 acceptance runbook
  docs/superpowers/specs/2026-09-23-v2-mission-retirement-acceptance-runbook-design.md
Due: prettier, markdownlint, naming-convention

fix(acceptance): prepare locked Playwright install
  tools/acceptance/browser/provision-v2-mission-retirement-chromium.mjs
  tools/tests/test_v2_acceptance_browser_provision.py
Due: none

feat(acceptance): add pinned Chromium preflight
  tools/acceptance/browser/provision-v2-mission-retirement-chromium.mjs
  tools/acceptance/browser/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
  tools/tests/test_v2_acceptance_browser_provision.py
Due: none

feat(acceptance): certify platform health
  tools/acceptance/browser/platform-card.mjs
  tools/acceptance/platform/__init__.py
  tools/acceptance/platform/evidence.py
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
Due: none

docs: define generic acceptance platform
  docs/superpowers/specs/2026-09-24-generic-acceptance-platform-design.md
Due: prettier, markdownlint, naming-convention

docs: plan deterministic V2 acceptance runbook
  docs/superpowers/plans/2026-09-23-v2-mission-retirement-acceptance-runbook.md
Due: prettier, markdownlint, naming-convention

fix(acceptance): bind Chromium provisioning provenance
  tools/acceptance/browser/provision-v2-mission-retirement-chromium.mjs
  tools/acceptance/browser/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
  tools/tests/test_v2_acceptance_browser_provision.py
Due: none

fix(acceptance): bind browser launch to verified descriptor
  tools/acceptance/platform/browser_bundle.py
  tools/acceptance/platform/profiles/default.toml
  tools/tests/test_acceptance_platform_bundle.py
Due: none

fix(acceptance): harden product contract validation
  tools/acceptance/platform/contracts.py
  tools/acceptance/platform/model.py
  tools/tests/test_acceptance_platform_contracts.py
  tools/tests/test_acceptance_platform_model.py
Due: none

test(missions): cover lifecycle deletion guards
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
  frontend/mission-planner/src/services/mission-deletion.test.ts
Due: prettier, eslint

fix(missions): time deterministic activation asset
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  backend/starlink-location/tests/unit/test_kml_parser.py
  docs/missions/acceptance-assets/v2-activation-route.kml
  docs/missions/planning/overview.md
Due: prettier, markdownlint, naming-convention

docs: plan generic acceptance platform
  docs/superpowers/plans/2026-09-24-acceptance-platform-delivery.md
  docs/superpowers/plans/2026-09-24-acceptance-platform-execution.md
  docs/superpowers/plans/2026-09-24-acceptance-platform-foundation.md
  docs/superpowers/plans/2026-09-24-generic-acceptance-platform.md
  docs/superpowers/specs/2026-09-24-generic-acceptance-platform-design.md
Due: prettier, markdownlint, naming-convention

fix: isolate acceptance compose full build
  tools/acceptance/compose.py
  tools/tests/test_v2_acceptance_compose.py
Due: none

fix: reject escaping evidence sha symlinks
  .superpowers/sdd/2026-09-23-v2-mission-retirement-acceptance-runbook/task-1-report.md
  tools/acceptance/artifacts.py
  tools/tests/test_v2_acceptance_artifacts.py
Due: prettier, markdownlint

feat: add acceptance runbook artifact contracts
  tools/acceptance/__init__.py
  tools/acceptance/artifacts.py
  tools/acceptance/model.py
  tools/tests/test_v2_acceptance_artifacts.py
  tools/tests/test_v2_acceptance_model.py
Due: none

fix(acceptance): bind npm preparation authority
  tools/acceptance/browser/provision-v2-mission-retirement-chromium.mjs
  tools/tests/test_v2_acceptance_browser_provision.py
Due: none

feat: add isolated acceptance compose controls
  tools/acceptance/compose.py
  tools/tests/test_v2_acceptance_compose.py
Due: none

test(missions): spawn lifecycle isolation workers
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
Due: none

feat(acceptance): add platform product contracts
  tools/acceptance/contracts/v2-mission-retirement.toml
  tools/acceptance/platform/__init__.py
  tools/acceptance/platform/contracts.py
  tools/acceptance/platform/model.py
  tools/tests/test_acceptance_platform_contracts.py
  tools/tests/test_acceptance_platform_model.py
Due: none

test(poi): wait for dialog animations before geometry checks
  frontend/mission-planner/tests/e2e/poi-dialog-actions.spec.ts
Due: prettier

style(tests): format KML parser timing assertion
  backend/starlink-location/tests/unit/test_kml_parser.py
Due: none

test(missions): match paginated create fixture
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
Due: prettier

test(overview): tolerate history polling refresh
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

fix(missions): reconcile active legs on startup
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_bootstrap_manager_patches.py
  backend/starlink-location/tests/unit/test_mission_retirement_docs.py
  backend/starlink-location/tests/unit/test_mission_storage.py
  docs/api/endpoints/README.md
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
Due: prettier, markdownlint, naming-convention

fix: harden acceptance artifact contracts
  tools/acceptance/artifacts.py
  tools/acceptance/model.py
  tools/tests/test_v2_acceptance_artifacts.py
  tools/tests/test_v2_acceptance_model.py
Due: none

fix(compose): extend backend health startup allowance
  deployment/portainer-ghcr-compose.yml
  docker-compose.yml
  tools/tests/test_portainer_deploy_profile.py
Due: prettier

feat: add headed acceptance browser card
  tools/acceptance/browser/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): harden platform health evidence
  .superpowers/sdd/2026-09-24-acceptance-platform-execution/task-1-report.md
  tools/acceptance/browser/platform-card.mjs
  tools/acceptance/platform/evidence.py
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
Due: prettier, markdownlint

fix(acceptance): reject docker-compose authority
  tools/acceptance/platform/contracts.py
  tools/tests/test_acceptance_platform_contracts.py
Due: none

feat(acceptance): verify immutable browser bundles
  tools/acceptance/platform/browser_bundle.py
  tools/acceptance/platform/profiles/default.toml
  tools/tests/test_acceptance_platform_bundle.py
Due: none

fix(acceptance): harden browser provenance trust
  tools/acceptance/browser/provision-v2-mission-retirement-chromium.mjs
  tools/acceptance/browser/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
  tools/tests/test_v2_acceptance_browser_provision.py
Due: none

style(acceptance): format health platform modules
  tools/acceptance/platform/evidence.py
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
Due: none

fix(acceptance): seal final adapter provenance
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: none
