Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

feat: fill PDF route maps with endpoint stars and country outlines
  frontend/mission-planner/src/mission-export/briefing-render.test.mjs
  frontend/mission-planner/src/mission-export/framing.test.ts
  frontend/mission-planner/src/mission-export/framing.ts
  frontend/mission-planner/src/mission-export/map-stage.mjs
  frontend/mission-planner/src/mission-export/protocol.ts
  frontend/mission-planner/src/mission-export/scene.tsx
Due: prettier, eslint

fix: render PDF globe to fill the available corner
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing-mission-layout.test.mjs
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/framing.test.ts
  frontend/mission-planner/src/mission-export/framing.ts
  frontend/mission-planner/src/mission-export/main.tsx
  frontend/mission-planner/src/mission-export/map-stage.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.test.mjs
  frontend/mission-planner/src/mission-export/protocol.ts
  frontend/mission-planner/src/mission-export/scene.tsx
Due: prettier, eslint

fix: brighten PDF endpoint stars and orange route glow
  frontend/mission-planner/src/mission-export/scene.tsx
Due: prettier, eslint

feat: fill the PDF globe corner with bright stars and an orange route (#321)
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing-mission-layout.test.mjs
  frontend/mission-planner/src/mission-export/briefing-render.test.mjs
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/framing.test.ts
  frontend/mission-planner/src/mission-export/framing.ts
  frontend/mission-planner/src/mission-export/main.tsx
  frontend/mission-planner/src/mission-export/map-stage.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.test.mjs
  frontend/mission-planner/src/mission-export/protocol.ts
  frontend/mission-planner/src/mission-export/scene.tsx
Due: prettier, eslint

docs: specify itinerary import and X-band planning
  docs/superpowers/specs/2026-10-09-itinerary-xband-planning-design.md
Due: prettier, markdownlint, naming-convention

docs: resolve itinerary planning review findings
  docs/superpowers/specs/2026-10-09-itinerary-xband-planning-contracts.md
  docs/superpowers/specs/2026-10-09-itinerary-xband-planning-design.md
Due: prettier, markdownlint, naming-convention

docs: preserve exact manual swap evaluation boundaries
  docs/superpowers/specs/2026-10-09-itinerary-xband-planning-contracts.md
Due: prettier, markdownlint, naming-convention

docs: record approved design and plan itinerary implementation
  docs/superpowers/plans/2026-10-09-itinerary-xband-evaluation.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-import.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-planning.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-recovery.md
  docs/superpowers/specs/2026-10-09-itinerary-xband-planning-contracts.md
  docs/superpowers/specs/2026-10-09-itinerary-xband-planning-design.md
Due: prettier, markdownlint, naming-convention

docs: close planning review integration gaps
  docs/superpowers/plans/2026-10-09-itinerary-xband-evaluation.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-import.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-planning.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-recovery.md
Due: prettier, markdownlint, naming-convention

docs: cover route ingestion and lifecycle bypasses
  docs/superpowers/plans/2026-10-09-itinerary-xband-evaluation.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-import.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-recovery.md
Due: prettier, markdownlint, naming-convention

docs: preserve itinerary order across review and export
  docs/superpowers/plans/2026-10-09-itinerary-xband-evaluation.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-import.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-planning.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-recovery.md
Due: prettier, markdownlint, naming-convention

docs: route managed replacement controls through preview
  docs/superpowers/plans/2026-10-09-itinerary-xband-recovery.md
Due: prettier, markdownlint, naming-convention

docs: carry approved itinerary planning contracts into implementation
  docs/superpowers/plans/2026-10-09-itinerary-xband-evaluation.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-import.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-planning.md
  docs/superpowers/plans/2026-10-09-itinerary-xband-recovery.md
  docs/superpowers/specs/2026-10-09-itinerary-xband-planning-contracts.md
  docs/superpowers/specs/2026-10-09-itinerary-xband-planning-design.md
Due: prettier, markdownlint, naming-convention

feat: define itinerary planning records and anchors
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/planning/__init__.py
  backend/starlink-location/app/mission/planning/identity.py
  backend/starlink-location/app/mission/planning/models.py
  backend/starlink-location/app/mission/planning/types.py
  backend/starlink-location/tests/planning/__init__.py
  backend/starlink-location/tests/planning/cases.py
  backend/starlink-location/tests/planning/conftest.py
  backend/starlink-location/tests/planning/test_models.py
  frontend/mission-planner/src/types/aar.ts
  frontend/mission-planner/src/types/mission.ts
  frontend/mission-planner/src/types/planning.ts
  frontend/mission-planner/src/types/satellite.ts
Due: prettier, eslint

fix: protect planning access and source identities
  backend/starlink-location/app/mission/planning/identity.py
  backend/starlink-location/app/mission/planning/models.py
  backend/starlink-location/tests/planning/test_models.py
Due: none

feat: extract itineraries and match refueling anchors
  backend/starlink-location/app/mission/planning/deadlines.py
  backend/starlink-location/app/mission/planning/extract.py
  backend/starlink-location/app/mission/planning/match.py
  backend/starlink-location/app/mission/timeline_builder/aar.py
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/app/models/route.py
  backend/starlink-location/app/services/kml/parser.py
  backend/starlink-location/app/services/kml/route_builder.py
  backend/starlink-location/app/services/kml/timing.py
  backend/starlink-location/app/services/route_manager.py
  backend/starlink-location/tests/planning/conftest.py
  backend/starlink-location/tests/planning/test_deadlines.py
  backend/starlink-location/tests/planning/test_extract.py
  backend/starlink-location/tests/planning/test_match.py
Due: none

fix: retain unrecognized itinerary refueling rows
  backend/starlink-location/app/mission/planning/extract.py
  backend/starlink-location/tests/planning/test_extract.py
Due: none

feat: persist itinerary drafts and owned route bindings
  backend/starlink-location/app/mission/planning/errors.py
  backend/starlink-location/app/mission/planning/journal.py
  backend/starlink-location/app/mission/planning/order.py
  backend/starlink-location/app/mission/planning/routes.py
  backend/starlink-location/app/mission/planning/service.py
  backend/starlink-location/app/mission/planning/sources.py
  backend/starlink-location/app/mission/planning/store.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/slide_cache/persisted_pois.py
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/app/mission/timeline_preparation.py
  backend/starlink-location/app/services/poi/manager.py
  backend/starlink-location/app/services/route_manager.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/planning/conftest.py
  backend/starlink-location/tests/planning/test_api.py
  backend/starlink-location/tests/planning/test_match.py
  backend/starlink-location/tests/planning/test_order.py
  backend/starlink-location/tests/planning/test_store.py
  backend/starlink-location/tests/unit/test_mission_storage.py
Due: none

fix: snapshot planning inputs and release projection locks
  backend/starlink-location/app/mission/planning/service.py
  backend/starlink-location/app/mission/planning/sources.py
  backend/starlink-location/app/services/poi/manager.py
  backend/starlink-location/tests/planning/test_poi_projection.py
  backend/starlink-location/tests/planning/test_store.py
Due: none

feat: add itinerary creation and refueling review
  backend/starlink-location/app/mission/planning/models.py
  backend/starlink-location/app/mission/planning/service.py
  backend/starlink-location/app/mission/planning/store.py
  backend/starlink-location/tests/planning/test_store.py
  frontend/mission-planner/src/components/common/RouteMap.tsx
  frontend/mission-planner/src/components/planning/ARReview.test.tsx
  frontend/mission-planner/src/components/planning/ARReview.tsx
  frontend/mission-planner/src/components/planning/CreateFromItinerary.test.tsx
  frontend/mission-planner/src/components/planning/CreateFromItinerary.tsx
  frontend/mission-planner/src/components/planning/ExpectedLegCards.test.tsx
  frontend/mission-planner/src/components/planning/ExpectedLegCards.tsx
  frontend/mission-planner/src/components/planning/PermittedSatellites.test.tsx
  frontend/mission-planner/src/components/planning/PermittedSatellites.tsx
  frontend/mission-planner/src/components/planning/PlanningLegReview.test.tsx
  frontend/mission-planner/src/components/planning/PlanningLegReview.tsx
  frontend/mission-planner/src/components/planning/PlanningXDraft.test.tsx
  frontend/mission-planner/src/components/planning/PlanningXDraft.tsx
  frontend/mission-planner/src/hooks/api/usePlanning.ts
  frontend/mission-planner/src/pages/LegDetailPage.test.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/MissionDetailPage.test.tsx
  frontend/mission-planner/src/pages/MissionDetailPage.tsx
  frontend/mission-planner/src/pages/MissionsPage.tsx
  frontend/mission-planner/src/services/planning.test.ts
  frontend/mission-planner/src/services/planning.ts
  frontend/mission-planner/src/services/routes.ts
  frontend/mission-planner/src/types/planning.ts
Due: prettier, eslint

fix: guard planning actions during pending requests
  frontend/mission-planner/src/components/planning/PlanningLegReview.test.tsx
  frontend/mission-planner/src/components/planning/PlanningLegReview.tsx
  frontend/mission-planner/src/pages/MissionDetailPage.test.tsx
  frontend/mission-planner/src/pages/MissionDetailPage.tsx
Due: prettier, eslint

feat: share Starshield preference availability scoring
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/effective_route.py
  backend/starlink-location/app/mission/exporter/customer_projection.py
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/planning/canonical.py
  backend/starlink-location/app/mission/planning/evaluate.py
  backend/starlink-location/app/mission/planning/grid.py
  backend/starlink-location/app/mission/planning/inputs.py
  backend/starlink-location/app/mission/planning/models.py
  backend/starlink-location/app/mission/planning/types.py
  backend/starlink-location/app/mission/timeline_builder/aar.py
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/app/mission/timeline_builder/events.py
  backend/starlink-location/app/mission/timeline_preparation.py
  backend/starlink-location/app/services/active_x_handoff.py
  backend/starlink-location/app/services/active_x_link.py
  backend/starlink-location/tests/planning/test_canonical.py
  backend/starlink-location/tests/planning/test_grid.py
  backend/starlink-location/tests/planning/test_policy.py
  frontend/mission-planner/src/types/mission.ts
  frontend/mission-planner/src/types/planning.ts
Due: prettier, eslint

fix: preserve safety guidance and observed route occurrences
  backend/starlink-location/app/mission/planning/evaluate.py
  backend/starlink-location/app/services/active_x_handoff.py
  backend/starlink-location/tests/planning/test_canonical.py
  backend/starlink-location/tests/unit/test_active_x_handoff.py
Due: none

fix: discard superseded live handoff history
  backend/starlink-location/app/services/active_x_handoff.py
  backend/starlink-location/tests/unit/test_active_x_handoff.py
Due: none

feat: propose bounded X-band satellite schedules
  backend/starlink-location/app/mission/planning/deadlines.py
  backend/starlink-location/app/mission/planning/models.py
  backend/starlink-location/app/mission/planning/optimizer.py
  backend/starlink-location/app/mission/planning/proposals.py
  backend/starlink-location/app/mission/planning/routes.py
  backend/starlink-location/app/mission/planning/service.py
  backend/starlink-location/app/mission/planning/store.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/planning/cases.py
  backend/starlink-location/tests/planning/conftest.py
  backend/starlink-location/tests/planning/test_optimizer.py
  backend/starlink-location/tests/planning/test_proposals.py
  frontend/mission-planner/src/types/planning.ts
Due: prettier, eslint

fix: preserve feasible proposal locks and assignment order
  backend/starlink-location/app/mission/planning/grid.py
  backend/starlink-location/app/mission/planning/models.py
  backend/starlink-location/app/mission/planning/optimizer.py
  backend/starlink-location/tests/planning/test_optimizer.py
  backend/starlink-location/tests/planning/test_proposals.py
  frontend/mission-planner/src/types/planning.ts
Due: prettier, eslint

feat: review and save proposed satellite plans
  backend/starlink-location/app/mission/planning/canonical.py
  backend/starlink-location/app/mission/planning/inputs.py
  backend/starlink-location/app/mission/planning/legacy.py
  backend/starlink-location/app/mission/planning/models.py
  backend/starlink-location/app/mission/planning/proposals.py
  backend/starlink-location/app/mission/planning/review.py
  backend/starlink-location/app/mission/planning/routes.py
  backend/starlink-location/app/mission/planning/service.py
  backend/starlink-location/app/mission/planning/store.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/planning/test_api.py
  backend/starlink-location/tests/planning/test_reviewed_save.py
  frontend/mission-planner/src/components/planning/PlanningLegReview.test.tsx
  frontend/mission-planner/src/components/planning/PlanningLegReview.tsx
  frontend/mission-planner/src/components/planning/PlanningXDraft.tsx
  frontend/mission-planner/src/components/planning/ProposalComparison.test.tsx
  frontend/mission-planner/src/components/planning/ProposalComparison.tsx
  frontend/mission-planner/src/components/planning/UnresolvedARWindows.test.tsx
  frontend/mission-planner/src/components/planning/UnresolvedARWindows.tsx
  frontend/mission-planner/src/components/planning/XBandPlanReview.test.tsx
  frontend/mission-planner/src/components/planning/XBandPlanReview.tsx
  frontend/mission-planner/src/components/satellites/XBandConfig.test.tsx
  frontend/mission-planner/src/components/satellites/XBandConfig.tsx
  frontend/mission-planner/src/components/timeline/TimelinePreviewSection.tsx
  frontend/mission-planner/src/hooks/api/useMissions.ts
  frontend/mission-planner/src/hooks/api/usePlanning.ts
  frontend/mission-planner/src/hooks/usePlanningLegWorkflow.ts
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.test.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
  frontend/mission-planner/src/services/missions-planning.test.ts
  frontend/mission-planner/src/services/missions.ts
  frontend/mission-planner/src/services/planning.ts
  frontend/mission-planner/src/types/planning.ts
Due: prettier, eslint

fix: preserve managed edits across concurrent updates
  backend/starlink-location/app/mission/planning/legacy.py
  backend/starlink-location/tests/planning/test_reviewed_save.py
  frontend/mission-planner/src/components/planning/PlanningLegReview.test.tsx
  frontend/mission-planner/src/hooks/usePlanningLegWorkflow.ts
  frontend/mission-planner/src/pages/LegDetailPage.test.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
Due: prettier, eslint

feat: reconcile itinerary and route revisions safely
  backend/starlink-location/app/mission/planning/models.py
  backend/starlink-location/app/mission/planning/order.py
  backend/starlink-location/app/mission/planning/revisions.py
  backend/starlink-location/app/mission/planning/routes.py
  backend/starlink-location/app/mission/planning/service.py
  backend/starlink-location/app/mission/planning/store.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/planning/test_revisions.py
  frontend/mission-planner/src/components/planning/ARReview.tsx
  frontend/mission-planner/src/components/planning/PlanningLegReview.test.tsx
  frontend/mission-planner/src/components/planning/PlanningLegReview.tsx
  frontend/mission-planner/src/components/planning/RevisionReview.test.tsx
  frontend/mission-planner/src/components/planning/RevisionReview.tsx
  frontend/mission-planner/src/hooks/api/useMissions.ts
  frontend/mission-planner/src/hooks/api/usePlanning.ts
  frontend/mission-planner/src/hooks/usePlanningLegWorkflow.ts
  frontend/mission-planner/src/pages/LegDetailPage/LegHeader.test.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegHeader.tsx
  frontend/mission-planner/src/pages/MissionDetailPage.test.tsx
  frontend/mission-planner/src/pages/MissionDetailPage.tsx
  frontend/mission-planner/src/types/planning.ts
Due: prettier, eslint

fix: preserve corrections during itinerary revisions
  backend/starlink-location/app/mission/planning/models.py
  backend/starlink-location/app/mission/planning/revisions.py
  backend/starlink-location/app/mission/planning/service.py
  backend/starlink-location/app/mission/planning/store.py
  backend/starlink-location/tests/planning/test_revisions.py
  frontend/mission-planner/src/components/planning/RevisionReview.test.tsx
  frontend/mission-planner/src/components/planning/RevisionReview.tsx
  frontend/mission-planner/src/types/planning.ts
Due: prettier, eslint

feat: preserve planning sources across package lifecycle
  backend/starlink-location/app/api/routes/delete.py
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/app/mission/exporter/customer_evidence.py
  backend/starlink-location/app/mission/exporter/excel_utils.py
  backend/starlink-location/app/mission/exporter/snapshot.py
  backend/starlink-location/app/mission/exporter/snapshot_inputs.py
  backend/starlink-location/app/mission/exporter/snapshot_views.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/mission/package/snapshot_export.py
  backend/starlink-location/app/mission/planning/journal.py
  backend/starlink-location/app/mission/planning/packages.py
  backend/starlink-location/app/mission/planning/sources.py
  backend/starlink-location/app/mission/planning/store.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/slide_cache/identity.py
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
  backend/starlink-location/tests/planning/test_packages.py
  backend/starlink-location/tests/planning/test_source_lifecycle.py
  backend/starlink-location/tests/unit/test_customer_evidence.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
Due: none

fix: make owned mission deletion safe and resumable
  backend/starlink-location/app/mission/planning/deletion.py
  backend/starlink-location/app/mission/planning/sources.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/planning/test_source_lifecycle.py
Due: none

fix: fail closed on unavailable deletion reference inventory
  backend/starlink-location/app/mission/planning/deletion.py
  backend/starlink-location/app/mission/planning/packages.py
  backend/starlink-location/app/mission/planning/sources.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/planning/test_source_lifecycle.py
Due: none

test: prove itinerary planning workflow in production
  backend/starlink-location/app/services/poi/manager.py
  backend/starlink-location/app/services/route_manager.py
  backend/starlink-location/tests/conftest.py
  backend/starlink-location/tests/integration/test_kml_poi_integration.py
  backend/starlink-location/tests/integration/test_simulation_run_lifecycle.py
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
  backend/starlink-location/tests/planning/test_deadlines.py
  backend/starlink-location/tests/planning/test_extract.py
  backend/starlink-location/tests/planning/test_match.py
  backend/starlink-location/tests/planning/test_models.py
  backend/starlink-location/tests/planning/test_poi_projection.py
  backend/starlink-location/tests/planning/test_store.py
  backend/starlink-location/tests/unit/test_active_mission_context.py
  backend/starlink-location/tests/unit/test_bootstrap_manager_patches.py
  backend/starlink-location/tests/unit/test_mission_storage.py
  backend/starlink-location/tests/unit/test_slide_cache.py
  docs/missions/README.md
  docs/missions/itinerary-planning.md
  docs/setup/configuration/mission-package-upload-limits.md
  frontend/mission-planner/src/components/planning/PlanningLegReview.test.tsx
  frontend/mission-planner/tests/e2e/itinerary-planning.spec.ts
  tools/acceptance/browser/itinerary-planning.mjs
  tools/acceptance/itinerary-planning/compose.yml
  tools/acceptance/itinerary-planning/run.sh
  tools/acceptance/itinerary-planning/runner.py
  tools/acceptance/itinerary-planning/seed.py
  tools/tests/test_itinerary_planning_acceptance.py
Due: prettier, eslint, markdownlint, naming-convention

fix: validate production itinerary planning inputs
  backend/starlink-location/app/mission/planning/inputs.py
  backend/starlink-location/app/mission/planning/optimizer.py
  backend/starlink-location/app/mission/planning/satellites.py
  backend/starlink-location/app/mission/planning/service.py
  backend/starlink-location/tests/planning/test_policy.py
  backend/starlink-location/tests/planning/test_production_inputs.py
  backend/starlink-location/tests/planning/test_satellite_configuration.py
  docs/missions/itinerary-planning.md
  tools/acceptance/itinerary-planning/seed.py
Due: prettier, markdownlint, naming-convention

test: verify preserved edits across planning conflicts
  tools/acceptance/browser/itinerary-planning.mjs
Due: none

fix: import planning packages from relative production storage
  backend/starlink-location/app/mission/planning/packages.py
  backend/starlink-location/tests/planning/test_relative_package_root.py
  docs/missions/itinerary-planning.md
  tools/acceptance/browser/itinerary-planning.mjs
Due: prettier, markdownlint, naming-convention

test: preserve content identity across planning package clones
  tools/acceptance/browser/itinerary-planning.mjs
Due: none

fix: finish automatic route fitting before navigation
  frontend/mission-planner/src/components/common/RouteMap/MapControls.test.tsx
  frontend/mission-planner/src/components/common/RouteMap/MapControls.tsx
  tools/acceptance/browser/itinerary-planning.mjs
Due: prettier, eslint

test: verify unresolved route replacement recovery
  tools/acceptance/browser/itinerary-planning.mjs
Due: none
