Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

fix(overview): make mission event ETA route-aware (#189)
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  backend/starlink-location/tests/unit/test_mission_retirement_docs.py
  docs/api/endpoints/overview-upcoming-pois.md
  docs/features/overview.md
  docs/superpowers/plans/2026-09-28-route-aware-mission-event-eta.md
  docs/superpowers/specs/2026-09-28-route-aware-mission-event-eta-design.md
  frontend/mission-planner/src/pages/UpcomingPoisPanel.test.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

fix: bind local Compose builds to checked-out SHA
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  docs/development/workflow.md
  docs/route-timing/troubleshooting.md
  docs/setup/README.md
  docs/setup/configuration/README.md
  docs/setup/configuration/mission-package-upload-limits.md
  docs/setup/configuration/performance-tuning.md
  docs/setup/configuration/simulation-mode/testing.md
  docs/setup/configuration/simulation-mode/troubleshooting.md
  docs/setup/installation-quick-start.md
  docs/setup/installation-steps.md
  docs/setup/installation-troubleshooting.md
  docs/setup/installation.md
  docs/setup/quick-start.md
  docs/troubleshooting/quick-diagnostics.md
  docs/troubleshooting/services/backend.md
  docs/troubleshooting/services/docker.md
  scripts/compose.sh
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_local_compose_sha.py
  tools/tests/test_portainer_deploy_profile.py
Due: prettier, markdownlint, naming-convention

docs: bind backend build examples to checked-out SHA
  backend/starlink-location/VALIDATION-TROUBLESHOOTING.md
  backend/starlink-location/VALIDATION.md
  backend/starlink-location/VERIFICATION_RESULTS.md
  backend/starlink-location/docs/GETTING-STARTED.md
Due: prettier, markdownlint

docs: remove obsolete agent guide
  AGENTS.md
Due: prettier, markdownlint

docs: repair links after root agent guide removal
  docs/api-reference-index.md
  docs/architecture/design-document.md
  docs/features-overview.md
  docs/index.md
  docs/index/formats.md
  docs/index/map.md
  docs/index/reference.md
  docs/setup/README.md
  docs/setup/installation-steps.md
  tools/tests/test_docs.py
Due: prettier, markdownlint, naming-convention

docs: use SHA-bound Compose build in startup guides
  backend/starlink-location/README.md
  backend/starlink-location/docs/GETTING-STARTED.md
  docs/troubleshooting/services/performance.md
  tools/README.md
Due: prettier, markdownlint, naming-convention

fix(dev): bind ordinary Compose builds to checked-out SHA (#193)
  AGENTS.md
  CONTRIBUTING.md
  README.md
  backend/starlink-location/README.md
  backend/starlink-location/VALIDATION-TROUBLESHOOTING.md
  backend/starlink-location/VALIDATION.md
  backend/starlink-location/VERIFICATION_RESULTS.md
  backend/starlink-location/docs/GETTING-STARTED.md
  docker-compose.yml
  docs/api-reference-index.md
  docs/architecture/design-document.md
  docs/development/workflow.md
  docs/features-overview.md
  docs/index.md
  docs/index/formats.md
  docs/index/map.md
  docs/index/reference.md
  docs/route-timing/troubleshooting.md
  docs/setup/README.md
  docs/setup/configuration/README.md
  docs/setup/configuration/mission-package-upload-limits.md
  docs/setup/configuration/performance-tuning.md
  docs/setup/configuration/simulation-mode/testing.md
  docs/setup/configuration/simulation-mode/troubleshooting.md
  docs/setup/installation-quick-start.md
  docs/setup/installation-steps.md
  docs/setup/installation-troubleshooting.md
  docs/setup/installation.md
  docs/setup/quick-start.md
  docs/troubleshooting/quick-diagnostics.md
  docs/troubleshooting/services/backend.md
  docs/troubleshooting/services/docker.md
  docs/troubleshooting/services/performance.md
  scripts/compose.sh
  tools/README.md
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_docs.py
  tools/tests/test_local_compose_sha.py
  tools/tests/test_portainer_deploy_profile.py
Due: prettier, markdownlint, naming-convention

docs(acceptance): repair Forge lane runbook preflight and authority checks
  docs/operations/external-host-final-acceptance.md
  tools/tests/test_acceptance_platform_docs.py
Due: prettier, markdownlint, naming-convention

docs(acceptance): bind Forge runbook lanes to exact authority
  docs/operations/external-host-final-acceptance.md
  tools/tests/test_acceptance_platform_docs.py
Due: prettier, markdownlint, naming-convention

docs(acceptance): align Forge runbook with runner task IDs and Python bootstrap (#196)
  docs/operations/external-host-final-acceptance.md
  tools/tests/test_acceptance_platform_docs.py
Due: prettier, markdownlint, naming-convention

fix(ci): repair read-only GHCR retention inventory
  .github/workflows/publish-ghcr.yml
  docs/operations/acceptance-platform.md
  tools/check_publish_ghcr_workflow.py
  tools/github_retention_cli.py
  tools/tests/test_github_retention.py
  tools/tests/test_github_retention_review_regressions.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier, markdownlint, naming-convention

fix(ci): validate live GHCR inventory pipeline commands
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: none

fix(ci): reject GHCR inventory early exit and inactive classifier
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: none

docs: keep acceptance operations within markdown line cap
  docs/operations/acceptance-platform.md
Due: prettier, markdownlint, naming-convention

fix(ci): repair GHCR retention inventory (#197)
  .github/workflows/publish-ghcr.yml
  docs/operations/acceptance-platform.md
  tools/check_publish_ghcr_workflow.py
  tools/github_retention_cli.py
  tools/tests/test_github_retention.py
  tools/tests/test_github_retention_review_regressions.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier, markdownlint, naming-convention

ci: migrate retention plan upload to Node24 artifact action
  .github/workflows/publish-ghcr.yml
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier

ci: migrate GHCR retention upload to Node 24 action (#200)
  .github/workflows/publish-ghcr.yml
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier

test(verify): separate candidate preflight from all-tier children
  tools/tests/test_verify.py
Due: none

test(verify): align all-tier stubs with candidate-base preflight (#201)
  tools/tests/test_verify.py
Due: none

test: validate Grafana plugin contract from parsed Compose YAML
  tools/tests/test_grafana_compose.py
Due: none

test: reject duplicate Grafana plugin settings
  tools/tests/test_grafana_compose.py
Due: none

test(grafana): validate parsed Compose plugin setting (#202)
  tools/tests/test_grafana_compose.py
Due: none

fix(portainer): pass candidate SHA to smoke product builds
  tools/smoke-portainer-profile.sh
  tools/tests/test_portainer_deploy_profile.py
Due: none

test(portainer): satisfy smoke harness lint and formatting
  tools/tests/test_portainer_deploy_profile.py
Due: none

fix(portainer): pass candidate SHA to smoke product builds (#203)
  tools/smoke-portainer-profile.sh
  tools/tests/test_portainer_deploy_profile.py
Due: none

chore(backend): resolve main Ruff diagnostics without changing fault containment
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_main_lifespan.py
Due: none

chore(backend): clarify broad exception rationale in lifecycle
  backend/starlink-location/main.py
Due: none

chore(backend): resolve inherited main.py Ruff findings (#205)
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_main_lifespan.py
Due: none

fix(backend): fail startup when POI manager cannot initialize
  backend/starlink-location/README.md
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_main_lifespan.py
Due: prettier, markdownlint

test(backend): verify POI API during ETA startup failure
  backend/starlink-location/tests/unit/test_main_lifespan.py
Due: none

fix(backend): fail startup when POI manager cannot initialize (#206)
  backend/starlink-location/README.md
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_main_lifespan.py
Due: prettier, markdownlint

docs(overview): specify metric history graph slice
  docs/superpowers/specs/2026-09-29-overview-metric-history-design.md
Due: prettier, markdownlint, naming-convention

docs(overview): share history bundle with metric graphs
  docs/superpowers/specs/2026-09-29-overview-metric-history-design.md
Due: prettier, markdownlint, naming-convention

docs(overview): plan metric history graphs
  docs/superpowers/plans/2026-09-29-overview-metric-history-task-5.md
  docs/superpowers/plans/2026-09-29-overview-metric-history-tasks-1-2.md
  docs/superpowers/plans/2026-09-29-overview-metric-history-tasks-3-4.md
  docs/superpowers/plans/2026-09-29-overview-metric-history.md
  docs/superpowers/specs/2026-09-29-overview-metric-history-design.md
Due: prettier, markdownlint, naming-convention

feat(overview): query five-minute metric rollups
  backend/starlink-location/app/services/overview_history_rollups.py
  backend/starlink-location/tests/unit/test_overview_history_rollups.py
Due: none

feat(overview): expand shared history bundle
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/integration/test_overview_history_api.py
  backend/starlink-location/tests/unit/test_main_overview_history.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

fix(overview): omit ambiguous raw history series
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

feat(overview): project shared metric history
  frontend/mission-planner/src/pages/overview-metric-history.test.ts
  frontend/mission-planner/src/pages/overview-metric-history.ts
  frontend/mission-planner/src/services/overview-history.ts
Due: prettier, eslint

fix(overview): keep metric gap markers finite
  frontend/mission-planner/src/pages/overview-metric-history.test.ts
  frontend/mission-planner/src/pages/overview-metric-history.ts
Due: prettier, eslint

feat(overview): render moving metric history panels
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/overview-metric-motion.test.ts
  frontend/mission-planner/src/pages/overview-metric-motion.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

