Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

fix(grafana): complete fullscreen Infinity query models (#139)
  docs/assets/issue-135-local-map-attribution.jpg
  docs/assets/issue-135-local-map-route-link.jpg
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  monitoring/grafana/provisioning/datasources/backend.yml
  tools/tests/test_fullscreen_overview_dashboard.py
  tools/tests/test_grafana_compose.py
Due: prettier

docs: fix broken internal links
  docs/api-reference-index.md
  docs/api/README.md
  docs/architecture/design-document.md
  docs/development/README.md
  docs/features/monitoring.md
  docs/features/system.md
  docs/index.md
  docs/index/formats.md
  docs/index/map.md
  docs/index/reference.md
  docs/missions/mission-data-structures.md
  docs/setup/README.md
  docs/setup/configuration/README.md
  docs/setup/installation-first-time.md
Due: prettier, markdownlint, naming-convention

docs: address internal link review feedback
  CONTRIBUTING.md
  docs/features-overview.md
  docs/index/reference.md
  docs/setup/installation-steps.md
  tools/tests/test_docs.py
Due: prettier, markdownlint, naming-convention

docs: fix broken internal links (#140)
  CONTRIBUTING.md
  docs/api-reference-index.md
  docs/api/README.md
  docs/architecture/design-document.md
  docs/development/README.md
  docs/features-overview.md
  docs/features/monitoring.md
  docs/features/system.md
  docs/index.md
  docs/index/formats.md
  docs/index/map.md
  docs/index/reference.md
  docs/missions/mission-data-structures.md
  docs/setup/README.md
  docs/setup/configuration/README.md
  docs/setup/installation-first-time.md
  docs/setup/installation-steps.md
  tools/tests/test_docs.py
Due: prettier, markdownlint, naming-convention

style: format unsafe lint fixes
  backend/starlink-location/app/api/config.py
  backend/starlink-location/app/api/gps.py
  backend/starlink-location/app/api/status.py
  backend/starlink-location/app/live/client.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/models/poi.py
  backend/starlink-location/app/satellites/routes.py
  backend/starlink-location/app/services/kml/validator.py
  backend/starlink-location/tests/unit/test_kml_follower.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
Due: none

docs: plan React operations overview
  docs/plans/2026-08-29-react-operations-overview.md
Due: prettier, markdownlint, naming-convention

docs: split React overview plan into phases
  docs/plans/2026-08-29-react-operations-overview.md
  docs/plans/react-operations-overview/01-contract-and-api.md
  docs/plans/react-operations-overview/02-dashboard-ui.md
  docs/plans/react-operations-overview/03-runtime-and-browser-acceptance.md
  docs/plans/react-operations-overview/04-docs-rollout-and-retirement.md
Due: prettier, markdownlint, naming-convention

docs: address React overview plan review
  docs/plans/2026-08-29-react-operations-overview.md
  docs/plans/react-operations-overview/00-exact-file-map.md
  docs/plans/react-operations-overview/01-contract-and-api.md
  docs/plans/react-operations-overview/02-dashboard-ui.md
  docs/plans/react-operations-overview/03-runtime-and-browser-acceptance.md
  docs/plans/react-operations-overview/04-docs-rollout-and-retirement.md
Due: prettier, markdownlint, naming-convention

docs: close React overview plan review gaps
  docs/plans/2026-08-29-react-operations-overview.md
  docs/plans/react-operations-overview/01-contract-and-api.md
Due: prettier, markdownlint, naming-convention

docs: fix Task 14 plan link
  docs/plans/react-operations-overview/01-contract-and-api.md
Due: prettier, markdownlint, naming-convention

test: separate frontend unit and browser suites
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
  frontend/mission-planner/src/test/render-smoke.test.tsx
  frontend/mission-planner/src/test/setup.ts
  frontend/mission-planner/vitest.config.ts
Due: prettier, eslint

test: harden frontend unit harness
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
  frontend/mission-planner/src/test/render-smoke.test.tsx
  frontend/mission-planner/src/test/setup.ts
  frontend/mission-planner/vitest.config.ts
Due: prettier, eslint

style: format frontend unit smoke test
  frontend/mission-planner/src/test/render-smoke.test.tsx
Due: prettier, eslint

ci: run lint checks for dev pull requests
  .github/workflows/lint.yml
  tools/tests/test_link_checker_config.py
Due: prettier

style: format lint workflow contract test
  tools/tests/test_link_checker_config.py
Due: none

test: define operations overview parity fixtures
  frontend/mission-planner/src/pages/OverviewPage/parity-contract.test.ts
  frontend/mission-planner/tests/e2e/fixtures/overview.ts
Due: prettier, eslint

test: correct overview parity fixture semantics
  frontend/mission-planner/src/pages/OverviewPage/parity-contract.test.ts
  frontend/mission-planner/tests/e2e/fixtures/overview.ts
Due: prettier, eslint

test: enforce deep overview fixture consistency
  frontend/mission-planner/src/pages/OverviewPage/parity-contract.test.ts
  frontend/mission-planner/tests/e2e/fixtures/overview.ts
Due: prettier, eslint

test: ground overview fixture source semantics
  frontend/mission-planner/src/pages/OverviewPage/parity-contract.test.ts
  frontend/mission-planner/tests/e2e/fixtures/overview.ts
Due: prettier, eslint

test: correct IDL fixture interpolation
  frontend/mission-planner/src/pages/OverviewPage/parity-contract.test.ts
  frontend/mission-planner/tests/e2e/fixtures/overview.ts
Due: prettier, eslint

test: complete overview source mappings
  frontend/mission-planner/src/pages/OverviewPage/parity-contract.test.ts
  frontend/mission-planner/tests/e2e/fixtures/overview.ts
Due: prettier, eslint

test: decouple overview layer freshness
  frontend/mission-planner/src/pages/OverviewPage/parity-contract.test.ts
  frontend/mission-planner/tests/e2e/fixtures/overview.ts
Due: prettier, eslint

feat(api): add bounded monitoring history client
  backend/starlink-location/app/models/monitoring.py
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_monitoring_models.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

fix(api): harden monitoring client concurrency
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_monitoring_models.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

style(api): format monitoring client imports
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_monitoring_models.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

fix(api): enforce process-wide monitoring limits
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_monitoring_models.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

style(api): restore monitoring import order
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_monitoring_models.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

fix(api): bound monitoring client lifecycle state
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_monitoring_models.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

style(api): format lifecycle rework imports
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_monitoring_models.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

fix(api): preserve monitoring rate history
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

fix(api): compute monitoring identity expiry correctly
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

test(api): synchronize monitoring admission cancellation
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

style(api): align monitoring imports with CI
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_monitoring_models.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

feat(api): expose typed monitoring endpoints
  backend/starlink-location/app/api/active_x_link.py
  backend/starlink-location/app/api/geojson.py
  backend/starlink-location/app/api/monitoring.py
  backend/starlink-location/app/models/monitoring.py
  backend/starlink-location/app/models/poi.py
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_active_x_link.py
  backend/starlink-location/tests/unit/test_geojson_freshness.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
  backend/starlink-location/tests/unit/test_monitoring_api.py
  backend/starlink-location/tests/unit/test_poi_eta_models.py
Due: none

fix(api): preserve monitoring source freshness
  backend/starlink-location/app/api/active_x_link.py
  backend/starlink-location/app/models/monitoring.py
  backend/starlink-location/app/services/active_x_handoff.py
  backend/starlink-location/app/services/active_x_link.py
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_active_x_link.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
  backend/starlink-location/tests/unit/test_main_lifespan.py
  backend/starlink-location/tests/unit/test_monitoring_api.py
  backend/starlink-location/tests/unit/test_monitoring_models.py
Due: none

fix(api): make lifespan cleanup idempotent
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_main_lifespan.py
Due: none

fix(api): preserve monitoring and route snapshots
  backend/starlink-location/app/api/geojson.py
  backend/starlink-location/app/models/route.py
  backend/starlink-location/app/services/active_x_link.py
  backend/starlink-location/app/services/kml/parser.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_active_x_link.py
  backend/starlink-location/tests/unit/test_geojson_freshness.py
  backend/starlink-location/tests/unit/test_kml_parser.py
  backend/starlink-location/tests/unit/test_main_lifespan.py
  backend/starlink-location/tests/unit/test_route_manager.py
Due: none

fix(weather): proxy radar tiles for browser CSP
  backend/starlink-location/app/api/weather.py
  backend/starlink-location/app/services/rainviewer_transport.py
  backend/starlink-location/app/services/weather_radar.py
  backend/starlink-location/main.py
  backend/starlink-location/requirements.txt
  backend/starlink-location/tests/unit/test_main_lifespan.py
  backend/starlink-location/tests/unit/test_rainviewer_transport.py
  backend/starlink-location/tests/unit/test_weather_api.py
  backend/starlink-location/tests/unit/test_weather_radar.py
  frontend/mission-planner/nginx.conf
  tools/tests/test_mission_planner_nginx.py
Due: none
