Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

feat(backend): persist overview clock settings
  backend/starlink-location/app/services/overview_clock_settings.py
  backend/starlink-location/tests/unit/test_overview_clock_location.py
  backend/starlink-location/tests/unit/test_overview_clock_settings.py
Due: none

feat(backend): expose overview clock settings API
  backend/starlink-location/app/api/overview_clock_settings.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_overview_clock_settings_api.py
  backend/starlink-location/tests/unit/test_main_overview_clock_settings.py
Due: none

fix(backend): correct clock settings API descriptions
  backend/starlink-location/app/api/overview_clock_settings.py
Due: none

fix(backend): handle unmapped clock locality fallbacks
  backend/starlink-location/app/services/overview_clock_location.py
  backend/starlink-location/tests/unit/test_overview_clock_location.py
Due: none

feat(backend): add mission clock lifecycle rules
  backend/starlink-location/app/services/mission_clock_settings.py
  backend/starlink-location/tests/unit/test_mission_clock_settings.py
Due: none

feat(backend): resolve mission clock route endpoints
  backend/starlink-location/app/services/mission_clock_endpoints.py
  backend/starlink-location/tests/unit/test_mission_clock_endpoints.py
Due: none

feat(backend): persist mission clock lifecycle settings
  backend/starlink-location/app/services/mission_clock_service.py
  backend/starlink-location/tests/unit/test_mission_clock_service.py
Due: none

feat(backend): expose clock settings runtime dependency
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_main_overview_clock_settings.py
  backend/starlink-location/tests/unit/test_main_overview_history.py
  backend/starlink-location/tests/unit/test_overview_clock_settings.py
Due: none

fix(backend): remove misplaced clock runtime checks
  backend/starlink-location/tests/unit/test_main_overview_history.py
  backend/starlink-location/tests/unit/test_overview_clock_settings.py
Due: none

feat(backend): provide mission clock settings dependency
  backend/starlink-location/app/mission/dependencies.py
  backend/starlink-location/tests/unit/test_mission_clock_dependencies.py
Due: none

fix(backend): organize imports
  backend/starlink-location/tests/unit/test_mission_clock_dependencies.py
Due: none

feat(backend): derive mission clock settings on activation
  backend/starlink-location/app/mission/routes/activation.py
  backend/starlink-location/tests/integration/test_mission_routes.py
Due: none

feat(backend): reset mission clock settings on deactivation
  backend/starlink-location/app/mission/routes/activation.py
  backend/starlink-location/tests/integration/test_mission_routes.py
Due: none

feat(frontend): add overview clock settings client
  frontend/mission-planner/src/services/overview-clock-settings.test.ts
  frontend/mission-planner/src/services/overview-clock-settings.ts
Due: prettier, eslint

feat(frontend): add overview clock settings hooks
  frontend/mission-planner/src/hooks/api/useOverviewClockSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewClockSettings.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewClockSettings.test.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewClockSettings.ts
Due: prettier, eslint

feat(frontend): format operational clock times
  frontend/mission-planner/src/pages/operational-clock-format.test.ts
  frontend/mission-planner/src/pages/operational-clock-format.ts
Due: prettier, eslint

feat(frontend): render operational clock card
  frontend/mission-planner/src/pages/OperationalClock.test.tsx
  frontend/mission-planner/src/pages/OperationalClock.tsx
Due: prettier, eslint

feat(frontend): group operational clock cards
  frontend/mission-planner/src/pages/OperationalClockList.test.tsx
  frontend/mission-planner/src/pages/OperationalClockList.tsx
Due: prettier, eslint

feat(frontend): present overview clock query states
  frontend/mission-planner/src/pages/OverviewClockPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewClockPanel.tsx
Due: prettier, eslint

fix(backend): update clocks from v2 leg activation
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

fix(overview): refresh clocks after v2 mission lifecycle
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  frontend/mission-planner/src/hooks/api/useMissions.test.ts
  frontend/mission-planner/src/hooks/api/useMissions.ts
Due: prettier, eslint

test(frontend): cover overview operational clocks
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

fix(overview): improve fullscreen and label layering
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/hooks/useDocumentFullscreen.ts
  frontend/mission-planner/src/pages/OverviewFullscreenControl.test.tsx
  frontend/mission-planner/src/pages/OverviewFullscreenControl.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

feat(configuration): edit overview clock settings
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OperationalClockSettingsForm.test.tsx
  frontend/mission-planner/src/pages/OperationalClockSettingsForm.tsx
  frontend/mission-planner/tests/e2e/configuration-clocks.spec.ts
Due: prettier, eslint

style(configuration): present operational clock settings
  frontend/mission-planner/src/pages/OperationalClockSettingsForm.test.tsx
  frontend/mission-planner/src/pages/OperationalClockSettingsForm.tsx
  frontend/mission-planner/tests/e2e/configuration-clocks.spec.ts
Due: prettier, eslint

fix(tests): align clock imports with CI
  backend/starlink-location/tests/integration/test_mission_routes.py
  backend/starlink-location/tests/integration/test_overview_clock_settings_api.py
  backend/starlink-location/tests/unit/test_main_overview_clock_settings.py
  backend/starlink-location/tests/unit/test_overview_clock_location.py
  backend/starlink-location/tests/unit/test_overview_clock_settings.py
Due: none

fix(overview-clocks): address operational clock rework feedback
  backend/starlink-location/tests/unit/test_mission_clock_service.py
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
Due: prettier, eslint

fix(overview): harden operational clock persistence
  backend/starlink-location/app/mission/routes/activation.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/services/mission_clock_service.py
  backend/starlink-location/app/services/overview_clock_settings.py
  backend/starlink-location/tests/integration/test_mission_routes.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  backend/starlink-location/tests/unit/test_mission_clock_settings.py
  backend/starlink-location/tests/unit/test_overview_clock_settings.py
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

style(tests): apply CI Black formatting
  backend/starlink-location/tests/integration/test_mission_routes.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  backend/starlink-location/tests/unit/test_mission_clock_settings.py
  backend/starlink-location/tests/unit/test_overview_clock_settings.py
Due: none

test(overview): verify production overlay interaction
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

fix(overview): validate persisted clock settings
  backend/starlink-location/app/services/overview_clock_settings.py
  backend/starlink-location/tests/unit/test_overview_clock_settings.py
  docs/api/endpoints/README.md
  docs/api/endpoints/configuration.md
  docs/api/endpoints/overview-clock-settings.md
Due: prettier, markdownlint, naming-convention

fix(overview): preserve corrupt clock settings
  backend/starlink-location/app/services/mission_clock_service.py
  backend/starlink-location/app/services/overview_clock_settings.py
  backend/starlink-location/tests/integration/test_mission_routes.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  backend/starlink-location/tests/integration/test_overview_clock_settings_api.py
Due: none

test(overview): remove brittle label stack assertion
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

docs: specify Playwright harness hardening
  docs/superpowers/specs/2026-09-21-playwright-harness-design.md
Due: prettier, markdownlint, naming-convention

docs: plan Playwright harness hardening
  docs/superpowers/plans/2026-09-21-playwright-harness-hardening.md
Due: prettier, markdownlint, naming-convention

test(e2e): harden Playwright bootstrap and visual evidence
  frontend/mission-planner/README.md
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/src/test/configured-origin.test.ts
  frontend/mission-planner/src/test/playwright-config.test.ts
  frontend/mission-planner/tests/e2e/api-origin.spec.ts
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-globe-ready-chromium-linux.png
  frontend/mission-planner/tests/e2e/support/configured-origin.ts
  frontend/mission-planner/tests/e2e/support/globe-visual-ready.ts
Due: prettier, eslint, markdownlint

docs: split Playwright harness plan for markdownlint
  docs/superpowers/plans/2026-09-21-playwright-harness-hardening-task-3.md
  docs/superpowers/plans/2026-09-21-playwright-harness-hardening-tasks-1-2.md
  docs/superpowers/plans/2026-09-21-playwright-harness-hardening-tasks-4-5.md
  docs/superpowers/plans/2026-09-21-playwright-harness-hardening.md
  docs/superpowers/specs/2026-09-21-playwright-harness-design.md
Due: prettier, markdownlint, naming-convention
