Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

test(frontend): close overview browser acceptance gaps
  frontend/mission-planner/src/pages/OverviewPage/OperationalMap/OperationalMap.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/OperationalMap/RadarGridLayer.tsx
  frontend/mission-planner/src/pages/OverviewPage/OperationalMap/StableMapComposition.tsx
  frontend/mission-planner/src/pages/OverviewPage/OperationalMap/operational-map.css
  frontend/mission-planner/src/pages/OverviewPage/OperationalMap/useStableFeatureLayers.ts
  frontend/mission-planner/src/pages/OverviewPage/OverviewGrid.tsx
  frontend/mission-planner/src/pages/OverviewPage/components/use-uplot-chart.ts
  frontend/mission-planner/src/pages/OverviewPage/overview.css
  frontend/mission-planner/src/test/setup.ts
  frontend/mission-planner/tests/e2e/overview-continuity-sabotage.spec.ts
  frontend/mission-planner/tests/e2e/overview-continuity.spec.ts
  frontend/mission-planner/tests/e2e/overview-interaction.spec.ts
  frontend/mission-planner/tests/e2e/overview-kiosk-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-native-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-scenarios.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-artifacts.ts
  frontend/mission-planner/tests/e2e/support/overview-assertions.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-assertions.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-capture.ts
  frontend/mission-planner/tests/e2e/support/overview-empty-scenario.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-contract.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-observer.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-types.ts
  frontend/mission-planner/tests/e2e/support/overview-nominal-layer-contract.ts
  frontend/mission-planner/tests/e2e/support/overview-payloads.ts
  frontend/mission-planner/tests/e2e/support/overview-router.ts
  frontend/mission-planner/tests/e2e/support/overview-special-poi-payloads.ts
Due: prettier, eslint

test(frontend): finalize overview browser acceptance
  docs/plans/react-operations-overview/03-runtime-and-browser-acceptance.md
  frontend/mission-planner/src/pages/OverviewPage/OperationalMap/RadarGridLayer.tsx
  frontend/mission-planner/src/pages/OverviewPage/OperationalMap/StableMapComposition.tsx
  frontend/mission-planner/src/pages/OverviewPage/OperationalMap/useStableFeatureLayers.ts
  frontend/mission-planner/src/pages/OverviewPage/components/use-uplot-chart.ts
  frontend/mission-planner/src/pages/OverviewPage/parity-contract.test.ts
  frontend/mission-planner/tests/e2e/fixtures/overview.ts
  frontend/mission-planner/tests/e2e/overview-continuity-sabotage.spec.ts
  frontend/mission-planner/tests/e2e/overview-continuity.spec.ts
  frontend/mission-planner/tests/e2e/overview-interaction.spec.ts
  frontend/mission-planner/tests/e2e/overview-kiosk-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-native-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-scenarios.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-assertions.ts
  frontend/mission-planner/tests/e2e/support/overview-browser-errors.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-assertions.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-observer.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-types.ts
  frontend/mission-planner/tests/e2e/support/overview-nominal-layer-contract.ts
  frontend/mission-planner/tests/e2e/support/overview-observed-refresh.ts
  frontend/mission-planner/tests/e2e/support/overview-router-types.ts
  frontend/mission-planner/tests/e2e/support/overview-router.ts
  frontend/mission-planner/tests/e2e/support/overview-scenario-assertions.ts
Due: prettier, eslint, markdownlint, naming-convention

test(frontend): record overview CDP provenance
  frontend/mission-planner/tests/e2e/overview-cdp-network.spec.ts
  frontend/mission-planner/tests/e2e/overview-continuity-sabotage.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-assertions.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-capture.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-observer.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-types.ts
Due: prettier

test(frontend): bound overview continuity evidence
  frontend/mission-planner/tests/e2e/overview-cdp-network.spec.ts
  frontend/mission-planner/tests/e2e/overview-continuity-sabotage.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-artifacts.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-assertions.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-capture.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-network.ts
  frontend/mission-planner/tests/e2e/support/overview-evidence-limits.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-observer.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-types.ts
Due: prettier

test(frontend): bind overview evidence to exact head
  docs/plans/react-operations-overview/03-runtime-and-browser-acceptance.md
  frontend/mission-planner/tests/e2e/support/overview-cdp-capture.ts
  frontend/mission-planner/tests/e2e/support/overview-evidence-provenance.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-browser-observer.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-observer.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-types.ts
Due: prettier, markdownlint, naming-convention

test(frontend): record evidence capture completion
  frontend/mission-planner/tests/e2e/support/overview-evidence-provenance.ts
Due: prettier

fix(frontend): enforce overview evidence cleanup
  docs/plans/react-operations-overview/03-runtime-and-browser-acceptance.md
  frontend/mission-planner/tests/e2e/overview-cdp-network.spec.ts
  frontend/mission-planner/tests/e2e/overview-evidence-retention.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-artifacts.ts
  frontend/mission-planner/tests/e2e/support/overview-browser-errors.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-capture.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-browser-observer.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-observer.ts
Due: prettier, markdownlint, naming-convention

fix: coalesce durable timeline POI mutations
  backend/starlink-location/app/core/metrics.py
  backend/starlink-location/app/mission/timeline_builder/__init__.py
  backend/starlink-location/app/mission/timeline_builder/pois.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/app/services/poi/manager.py
  backend/starlink-location/app/services/route_eta_calculator.py
  backend/starlink-location/tests/conftest.py
  backend/starlink-location/tests/performance/test_benchmark.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  backend/starlink-location/tests/unit/test_poi_manager.py
  backend/starlink-location/tests/unit/test_poi_mutation_coordinator.py
  backend/starlink-location/tests/unit/test_timeline_poi_replacement.py
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
Due: prettier

fix: preserve timeline POI provenance
  backend/starlink-location/app/mission/timeline_builder/pois.py
  backend/starlink-location/app/models/poi.py
  backend/starlink-location/app/services/poi/manager.py
  backend/starlink-location/tests/conftest.py
  backend/starlink-location/tests/performance/test_benchmark.py
  backend/starlink-location/tests/unit/test_poi_manager.py
  backend/starlink-location/tests/unit/test_poi_mutation_coordinator.py
  backend/starlink-location/tests/unit/test_timeline_poi_replacement.py
Due: none

fix(mission): preserve package POI provenance boundary
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/services/weather_radar.py
  backend/starlink-location/tests/unit/test_mission_package_endpoint_pois.py
  backend/starlink-location/tests/unit/test_rainviewer_transport.py
  backend/starlink-location/tests/unit/test_weather_api.py
  backend/starlink-location/tests/unit/test_weather_radar.py
  docs/missions/mission-package-import.md
Due: prettier, markdownlint, naming-convention

fix(lint): replace inline suppression workarounds
  backend/starlink-location/app/services/weather_radar_helpers.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_monitoring_models.py
  backend/starlink-location/tests/unit/test_poi_eta_models.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

docs: add React operations overview runbook
  README.md
  docs/api/README.md
  docs/features/overview.md
  docs/grafana-dashboards.md
  docs/operations-overview.md
  docs/setup/quick-start.md
Due: prettier, markdownlint, naming-convention

docs: complete operations overview rollout guidance
  .env.example
  docs/api/README.md
  docs/api/monitoring.md
  docs/grafana-configuration.md
  docs/missions/sop/incident-response.md
  docs/missions/sop/monitoring.md
  docs/operations-overview.md
  docs/setup/configuration/environment-variables.md
  docs/troubleshooting/services/backend.md
  docs/troubleshooting/services/grafana.md
  monitoring/README.md
  monitoring/docs/README.md
  monitoring/docs/services-overview.md
Due: prettier, markdownlint, naming-convention

docs: index monitoring API reference
  docs/api-reference-index.md
Due: prettier, markdownlint, naming-convention

docs: clarify monitoring fallback and retention
  docs/api-reference-index.md
  docs/grafana-configuration.md
  docs/grafana-dashboards.md
  docs/missions/sop/incident-response.md
  docs/missions/sop/monitoring.md
  docs/troubleshooting/services/backend.md
Due: prettier, markdownlint, naming-convention

fix(weather): normalize RainViewer DNS address answers
  backend/starlink-location/app/services/rainviewer_transport.py
  backend/starlink-location/tests/unit/test_rainviewer_transport.py
Due: none

fix(weather): retry validated RainViewer IPs
  backend/starlink-location/app/services/rainviewer_transport.py
  backend/starlink-location/tests/unit/test_rainviewer_transport.py
Due: none

fix(lint): order RainViewer transport imports
  backend/starlink-location/tests/unit/test_rainviewer_transport.py
Due: none

refactor(frontend): remove prettier bypasses
  frontend/mission-planner/src/pages/OverviewPage/geometry.ts
  frontend/mission-planner/src/pages/OverviewPage/history.ts
  frontend/mission-planner/src/pages/OverviewPage/preferences.ts
  frontend/mission-planner/src/services/monitoring-schemas.ts
Due: prettier, eslint

test(perf): remove hard timeline timing gate
  backend/starlink-location/tests/performance/test_benchmark.py
Due: none

fix(monitoring): bound history refresh flights
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_monitoring_api.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
  docs/operations-overview.md
  docs/plans/react-operations-overview/02-dashboard-ui.md
  frontend/mission-planner/src/pages/OverviewPage/overview-announcements.ts
  frontend/mission-planner/src/pages/OverviewPage/overview-cycle-policy.ts
  frontend/mission-planner/src/pages/OverviewPage/overview-data-reducer.ts
  frontend/mission-planner/src/pages/OverviewPage/overview-data-types.ts
  frontend/mission-planner/src/pages/OverviewPage/overview-history-continuity.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.schedule.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(monitoring): bound history response deadline
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_monitoring_api.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
Due: none

fix(monitoring): avoid blocking ASGI disconnect callback
  backend/starlink-location/app/api/monitoring.py
  backend/starlink-location/tests/unit/test_monitoring_api.py
Due: none

fix(simulation): normalize generated dateline longitudes
  backend/starlink-location/app/simulation/route.py
  backend/starlink-location/tests/integration/test_status.py
  backend/starlink-location/tests/unit/test_route.py
Due: none

fix(frontend): declare testing library DOM peer
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
Due: prettier

fix(monitoring): bound history flight workers and cadence
  backend/starlink-location/app/services/prometheus_client.py
  backend/starlink-location/tests/unit/test_monitoring_api.py
  backend/starlink-location/tests/unit/test_prometheus_client.py
  frontend/mission-planner/src/pages/OverviewPage/overview-cycle-policy.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.schedule.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
Due: prettier, eslint

fix(overview): harden history cadence commits
  backend/starlink-location/tests/unit/test_monitoring_api.py
  frontend/mission-planner/src/pages/OverviewPage/overview-cycle-policy.ts
  frontend/mission-planner/src/pages/OverviewPage/overview-history-cadence.test.ts
  frontend/mission-planner/src/pages/OverviewPage/overview-history-cadence.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.schedule.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewRefresh.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewRefresh.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-assertions.ts
Due: prettier, eslint

fix(overview): preserve history cadence at one second
  frontend/mission-planner/src/pages/OverviewPage/overview-history-cadence.test.ts
  frontend/mission-planner/src/pages/OverviewPage/overview-history-cadence.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.schedule.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewRefresh.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewRefresh.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-assertions.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-network.ts
  frontend/mission-planner/tests/e2e/support/overview-lifecycle-types.ts
Due: prettier, eslint

fix(overview): anchor history after dispatch
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
  frontend/mission-planner/src/pages/OverviewPage/overview-cycle-policy.ts
  frontend/mission-planner/src/pages/OverviewPage/overview-data-types.ts
  frontend/mission-planner/src/pages/OverviewPage/overview-history-cadence.test.ts
  frontend/mission-planner/src/pages/OverviewPage/overview-history-cadence.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.schedule.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewRefresh.ts
  frontend/mission-planner/tests/e2e/overview-continuity.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-cdp-assertions.ts
Due: prettier, eslint

ci: organize Ruff imports
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

fix(overview): fail closed on history clock errors
  frontend/mission-planner/src/pages/OverviewPage/overview-cycle-policy.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.continuity.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.history-reconciliation.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.lifecycle.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.schedule.test.tsx
Due: prettier, eslint

fix(overview): keep history anchors monotonic on cadence reset
  frontend/mission-planner/src/pages/OverviewPage/overview-cycle-policy.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.schedule.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
Due: prettier, eslint

fix(overview): recover overdue history refresh
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.schedule.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewRefresh.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewRefresh.ts
Due: prettier, eslint

docs(plan): reset React overview implementation phases
  docs/plans/2026-09-02-react-operations-overview-rebuild.md
  docs/plans/react-operations-overview-rebuild/00-product-contract.md
  docs/plans/react-operations-overview-rebuild/01-phase-0-contract-reset.md
  docs/plans/react-operations-overview-rebuild/02-phase-1-live-data.md
  docs/plans/react-operations-overview-rebuild/03-phase-2-fullscreen-layout.md
  docs/plans/react-operations-overview-rebuild/04-phase-3-runtime-acceptance.md
  docs/plans/react-operations-overview-rebuild/05-phase-4-docs-and-integration.md
  docs/plans/react-operations-overview-rebuild/SESSION-HANDOFF.md
Due: prettier, markdownlint, naming-convention

docs(plan): close overview rebuild contract gaps
  docs/plans/2026-09-02-react-operations-overview-rebuild.md
  docs/plans/react-operations-overview-rebuild/00-product-contract.md
  docs/plans/react-operations-overview-rebuild/01-phase-0-contract-reset.md
  docs/plans/react-operations-overview-rebuild/02-phase-1-live-data.md
  docs/plans/react-operations-overview-rebuild/03-phase-2-fullscreen-layout.md
  docs/plans/react-operations-overview-rebuild/04-phase-3-runtime-acceptance.md
  docs/plans/react-operations-overview-rebuild/05-phase-4-docs-and-integration.md
  docs/plans/react-operations-overview-rebuild/SESSION-HANDOFF.md
Due: prettier, markdownlint, naming-convention

docs(plan): make rebuild gates fail closed
  docs/plans/react-operations-overview-rebuild/01-phase-0-contract-reset.md
  docs/plans/react-operations-overview-rebuild/02-phase-1-live-data.md
  docs/plans/react-operations-overview-rebuild/03-phase-2-fullscreen-layout.md
  docs/plans/react-operations-overview-rebuild/04-phase-3-runtime-acceptance.md
  docs/plans/react-operations-overview-rebuild/05-phase-4-docs-and-integration.md
  docs/plans/react-operations-overview-rebuild/SESSION-HANDOFF.md
Due: prettier, markdownlint, naming-convention

docs(plan): close false-green shell paths
  docs/plans/react-operations-overview-rebuild/01-phase-0-contract-reset.md
  docs/plans/react-operations-overview-rebuild/SESSION-HANDOFF.md
Due: prettier, markdownlint, naming-convention

docs(plan): validate reset candidate before push
  docs/plans/react-operations-overview-rebuild/SESSION-HANDOFF.md
Due: prettier, markdownlint, naming-convention

ci(lint): cover pull requests targeting dev
  .github/workflows/lint.yml
  tools/tests/test_lint_workflow.py
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

