Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

test: retain production render phases and failed export receipts
  frontend/mission-planner/src/mission-export/mission-briefing-render.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.test.mjs
  tools/acceptance/customer-briefing/production.py
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_observer.py
Due: none

test: seed actual route uploads before planning adjustments
  tools/acceptance/customer-briefing/production-lifecycle.mjs
  tools/acceptance/customer-briefing/production_runtime_audit.py
  tools/acceptance/customer-briefing/production_seed.py
Due: none

test: qualify isolated optional artifact failure boundaries
  tools/acceptance/customer-briefing/compose.production.yml
  tools/acceptance/customer-briefing/production_fault_server.py
  tools/acceptance/customer-briefing/production_seed.py
  tools/tests/test_customer_briefing_production.py
Due: prettier

test: exercise production lifecycle and optional artifact failures
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/tests/unit/test_legacy_export_concurrency.py
  frontend/mission-planner/src/mission-export/mission-briefing-render.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.test.mjs
  tools/acceptance/customer-briefing/production-lifecycle.mjs
  tools/acceptance/customer-briefing/production.py
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_fault_server.py
  tools/acceptance/customer-briefing/production_seed.py
  tools/tests/test_customer_briefing_production.py
Due: none

fix: retain acquired renderer ownership and reject false acceptance
  frontend/mission-planner/src/mission-export/mission-briefing-render.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.test.mjs
  tools/acceptance/customer-briefing/production.py
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_observer.py
  tools/acceptance/customer-briefing/production_runtime_audit.py
  tools/tests/test_customer_briefing_production.py
Due: none

test: require complete production render ownership and splice evidence
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_runtime_audit.py
  tools/tests/test_customer_briefing_production.py
Due: none

fix: keep full-flight restriction labels inside their timeline bands
  docs/development/customer-briefing-exports.md
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
  tools/acceptance/customer-briefing/production_observer.py
Due: prettier, markdownlint, naming-convention

fix: disambiguate both occurrences of repeated Eastern clock hours
  backend/starlink-location/app/mission/exporter/customer_clocks.py
  backend/starlink-location/tests/unit/test_customer_clocks.py
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
  tools/acceptance/customer-briefing/production.py
  tools/acceptance/customer-briefing/production_controls.py
Due: none

fix: preserve short-axis seconds and distinguish outage fixtures
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_seed.py
Due: none

fix: keep offset and second-precision timeline labels readable
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_seed.py
Due: none

test: prepare supported timed KML before production PDF controls
  tools/acceptance/customer-briefing/production_seed.py
Due: none

test: restore large production inputs through owned files
  tools/acceptance/customer-briefing/production_controls.py
Due: none

fix: measure readable timezone axes and qualify legacy busy fallback
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
  tools/acceptance/customer-briefing/production_controls.py
Due: none

fix: render coincident splice joins without altering route timing
  backend/starlink-location/app/mission/exporter/map_inputs.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_map_inputs.py
  tools/acceptance/customer-briefing/production_controls.py
Due: none

test: qualify supported missing-map inputs and complete cold artifacts
  backend/starlink-location/tests/unit/test_map_inputs.py
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_seed.py
  tools/tests/test_customer_briefing_production.py
Due: none

test: exclude PDF generation clocks from geometry receipts
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_pdf_geometry.py
  tools/acceptance/customer-briefing/production_pdf_probe.py
  tools/tests/test_customer_briefing_production.py
Due: none

fix: allow bounded briefing failure cleanup through export proxy
  docs/development/customer-briefing-exports.md
  frontend/mission-planner/nginx.conf
  tools/acceptance/customer-briefing/production_controls.py
  tools/tests/test_customer_briefing_production.py
Due: prettier, markdownlint, naming-convention

test: compare exact imported timestamp values across JSON encodings
  tools/acceptance/customer-briefing/production_controls.py
  tools/tests/test_customer_briefing_production.py
Due: none

docs: record customer acceptance of production briefing exports
  docs/development/customer-briefing-acceptance.md
  docs/development/customer-briefing-exports.md
  docs/samples/customer-briefing/production/README.md
  docs/samples/customer-briefing/production/manifest.json
  docs/superpowers/plans/2026-10-08-customer-briefing-production-integration.md
  docs/superpowers/plans/2026-10-08-customer-briefing-production.md
Due: prettier, markdownlint, naming-convention

fix(deployment): pass customer briefing flag and enable backend init
  deployment/portainer-forge-dev-compose.yml
  deployment/portainer-ghcr-compose.yml
  tools/tests/test_portainer_deploy_profile.py
Due: prettier

fix(deployment): pass customer briefing flag and enable backend init (#315)
  deployment/portainer-forge-dev-compose.yml
  deployment/portainer-ghcr-compose.yml
  tools/tests/test_portainer_deploy_profile.py
Due: prettier

fix: measure restriction label spacing in customer PDFs
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
Due: none

fix: measure restriction label spacing in customer PDFs (#316)
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
Due: none

fix: clarify X-band downtime and simplify customer PDF timelines
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/app/mission/exporter/trial_projection.py
  backend/starlink-location/tests/unit/test_customer_document.py
  backend/starlink-location/tests/unit/test_customer_evidence.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_trial_projection.py
  docs/development/customer-briefing-exports.md
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/briefing/document.test.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
  tools/acceptance/customer-briefing/production_pdf_probe.py
  tools/acceptance/customer-briefing/production_seed.py
Due: prettier, markdownlint, naming-convention

fix: center one label per continuous nominal period
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
Due: none

fix: clarify X-band downtime and clean up customer briefings (#317)
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/app/mission/exporter/trial_projection.py
  backend/starlink-location/tests/unit/test_customer_document.py
  backend/starlink-location/tests/unit/test_customer_evidence.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_trial_projection.py
  docs/development/customer-briefing-exports.md
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/briefing/document.test.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
  tools/acceptance/customer-briefing/production_pdf_probe.py
  tools/acceptance/customer-briefing/production_seed.py
Due: prettier, markdownlint, naming-convention

feat: prepare customer PDF pages in background after saves
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/app/mission/exporter/customer_evidence.py
  backend/starlink-location/app/mission/exporter/snapshot.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/mission/package/customer_artifacts.py
  backend/starlink-location/app/mission/slide_cache/__init__.py
  backend/starlink-location/app/mission/slide_cache/assembly.py
  backend/starlink-location/app/mission/slide_cache/coordinator.py
  backend/starlink-location/app/mission/slide_cache/identity.py
  backend/starlink-location/app/mission/slide_cache/persisted_pois.py
  backend/starlink-location/app/mission/slide_cache/prepared_export.py
  backend/starlink-location/app/mission/slide_cache/store.py
  backend/starlink-location/app/mission/slide_cache/worker.py
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/app/models/config.py
  backend/starlink-location/config.yaml
  backend/starlink-location/main.py
  backend/starlink-location/requirements.txt
  backend/starlink-location/tests/unit/test_customer_package.py
  backend/starlink-location/tests/unit/test_customer_pdf_assembly.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_package_export_adjusted_times.py
  backend/starlink-location/tests/unit/test_package_exporter.py
  backend/starlink-location/tests/unit/test_slide_cache.py
  backend/starlink-location/tests/unit/test_slide_coordinator.py
  docs/development/customer-briefing-exports.md
  docs/superpowers/plans/2026-10-09-customer-pdf-background.md
  docs/superpowers/specs/2026-10-09-customer-pdf-background-design.md
  frontend/mission-planner/nginx.conf
  frontend/mission-planner/src/components/missions/ExportDialog.test.tsx
  frontend/mission-planner/src/components/missions/ExportDialog.tsx
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  tools/acceptance/customer-briefing/background.py
  tools/acceptance/customer-briefing/compose.production.yml
  tools/acceptance/customer-briefing/production-journey.mjs
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_seed.py
  tools/tests/test_customer_briefing_production.py
Due: prettier, eslint, markdownlint, naming-convention

fix: detect shipped renderer without checkout path assumptions
  backend/starlink-location/app/mission/slide_cache/identity.py
  backend/starlink-location/tests/unit/test_slide_cache.py
  tools/acceptance/customer-briefing/background.py
Due: none

test: run background PDF acceptance as application user
  docs/development/customer-briefing-exports.md
  tools/acceptance/customer-briefing/background.py
Due: prettier, markdownlint, naming-convention

fix: isolate optional PDF startup and qualify rootless runtime
  backend/starlink-location/app/mission/slide_cache/coordinator.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_customer_pdf_startup.py
  docs/development/customer-briefing-exports.md
  tools/acceptance/customer-briefing/background.py
Due: prettier, markdownlint, naming-convention

test: set production PDF probe module path
  tools/acceptance/customer-briefing/background.py
Due: none

fix: preserve ready PDF pages across process restarts
  backend/starlink-location/app/mission/exporter/snapshot_inputs.py
  backend/starlink-location/app/mission/slide_cache/coordinator.py
  backend/starlink-location/app/mission/slide_cache/identity.py
  backend/starlink-location/tests/unit/test_slide_cache.py
  tools/acceptance/customer-briefing/background.py
Due: none

feat: prepare customer PDF pages in background after saves (#318)
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/app/mission/exporter/customer_evidence.py
  backend/starlink-location/app/mission/exporter/snapshot.py
  backend/starlink-location/app/mission/exporter/snapshot_inputs.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/mission/package/customer_artifacts.py
  backend/starlink-location/app/mission/slide_cache/__init__.py
  backend/starlink-location/app/mission/slide_cache/assembly.py
  backend/starlink-location/app/mission/slide_cache/coordinator.py
  backend/starlink-location/app/mission/slide_cache/identity.py
  backend/starlink-location/app/mission/slide_cache/persisted_pois.py
  backend/starlink-location/app/mission/slide_cache/prepared_export.py
  backend/starlink-location/app/mission/slide_cache/store.py
  backend/starlink-location/app/mission/slide_cache/worker.py
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/app/models/config.py
  backend/starlink-location/config.yaml
  backend/starlink-location/main.py
  backend/starlink-location/requirements.txt
  backend/starlink-location/tests/integration/test_customer_pdf_startup.py
  backend/starlink-location/tests/unit/test_customer_package.py
  backend/starlink-location/tests/unit/test_customer_pdf_assembly.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_package_export_adjusted_times.py
  backend/starlink-location/tests/unit/test_package_exporter.py
  backend/starlink-location/tests/unit/test_slide_cache.py
  backend/starlink-location/tests/unit/test_slide_coordinator.py
  docs/development/customer-briefing-exports.md
  docs/superpowers/plans/2026-10-09-customer-pdf-background.md
  docs/superpowers/specs/2026-10-09-customer-pdf-background-design.md
  frontend/mission-planner/nginx.conf
  frontend/mission-planner/src/components/missions/ExportDialog.test.tsx
  frontend/mission-planner/src/components/missions/ExportDialog.tsx
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  tools/acceptance/customer-briefing/background.py
  tools/acceptance/customer-briefing/compose.production.yml
  tools/acceptance/customer-briefing/production-journey.mjs
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_seed.py
  tools/tests/test_customer_briefing_production.py
Due: prettier, eslint, markdownlint, naming-convention

fix: remove customer brief trial wording and name PDFs by mission
  backend/starlink-location/app/mission/exporter/briefing_clocks.py
  backend/starlink-location/app/mission/exporter/customer_clocks.py
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/app/mission/exporter/customer_evidence.py
  backend/starlink-location/app/mission/exporter/customer_filename.py
  backend/starlink-location/app/mission/exporter/customer_projection.py
  backend/starlink-location/app/mission/exporter/customer_runtime.py
  backend/starlink-location/app/mission/exporter/customer_view.py
  backend/starlink-location/app/mission/exporter/map_inputs.py
  backend/starlink-location/app/mission/package/customer_artifacts.py
  backend/starlink-location/app/mission/slide_cache/assembly.py
  backend/starlink-location/tests/unit/test_briefing_clocks.py
  backend/starlink-location/tests/unit/test_customer_document.py
  backend/starlink-location/tests/unit/test_customer_evidence.py
  backend/starlink-location/tests/unit/test_customer_package.py
  backend/starlink-location/tests/unit/test_customer_pdf_assembly.py
  backend/starlink-location/tests/unit/test_customer_projection.py
  backend/starlink-location/tests/unit/test_customer_runtime.py
  backend/starlink-location/tests/unit/test_customer_view.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_map_inputs.py
  docs/development/customer-briefing-exports.md
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing-render.mjs
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.test.mjs
  tools/acceptance/customer-briefing/html_pdf_generate.py
  tools/acceptance/customer-briefing/html_pdf_mission_generate.py
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_pdf_probe.py
  tools/tests/test_customer_briefing_html_pdf_checkpoint.py
  tools/tests/test_customer_briefing_production.py
Due: prettier, markdownlint, naming-convention

fix: align brief test import ordering with CI
  backend/starlink-location/tests/unit/test_customer_document.py
  backend/starlink-location/tests/unit/test_customer_package.py
  backend/starlink-location/tests/unit/test_customer_pdf_assembly.py
  backend/starlink-location/tests/unit/test_customer_projection.py
  backend/starlink-location/tests/unit/test_customer_view.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_map_inputs.py
Due: none

feat: include coastlines with overview country borders
  docs/features/overview-boundaries.md
  frontend/mission-planner/public/boundaries/ATTRIBUTION.md
  frontend/mission-planner/public/boundaries/countries.json
  frontend/mission-planner/src/pages/OverviewBoundarySettingsCard.tsx
  frontend/mission-planner/src/pages/overview-boundaries.test.ts
  frontend/mission-planner/tests/e2e/overview-boundaries-production.spec.ts
  tools/acceptance/overview-boundaries/compose.yml
  tools/build-overview-boundaries.py
  tools/tests/test_build_overview_boundaries.py
Due: prettier, eslint, markdownlint, naming-convention

test: stabilize overview boundary acceptance controls
  frontend/mission-planner/tests/e2e/overview-boundaries-production.spec.ts
Due: prettier

fix: remove customer brief trial wording and name PDFs by mission (#319)
  backend/starlink-location/app/mission/exporter/briefing_clocks.py
  backend/starlink-location/app/mission/exporter/customer_clocks.py
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/app/mission/exporter/customer_evidence.py
  backend/starlink-location/app/mission/exporter/customer_filename.py
  backend/starlink-location/app/mission/exporter/customer_projection.py
  backend/starlink-location/app/mission/exporter/customer_runtime.py
  backend/starlink-location/app/mission/exporter/customer_view.py
  backend/starlink-location/app/mission/exporter/map_inputs.py
  backend/starlink-location/app/mission/package/customer_artifacts.py
  backend/starlink-location/app/mission/slide_cache/assembly.py
  backend/starlink-location/tests/unit/test_briefing_clocks.py
  backend/starlink-location/tests/unit/test_customer_document.py
  backend/starlink-location/tests/unit/test_customer_evidence.py
  backend/starlink-location/tests/unit/test_customer_package.py
  backend/starlink-location/tests/unit/test_customer_pdf_assembly.py
  backend/starlink-location/tests/unit/test_customer_projection.py
  backend/starlink-location/tests/unit/test_customer_runtime.py
  backend/starlink-location/tests/unit/test_customer_view.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_map_inputs.py
  docs/development/customer-briefing-exports.md
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing-render.mjs
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.test.mjs
  tools/acceptance/customer-briefing/html_pdf_generate.py
  tools/acceptance/customer-briefing/html_pdf_mission_generate.py
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_pdf_probe.py
  tools/tests/test_customer_briefing_html_pdf_checkpoint.py
  tools/tests/test_customer_briefing_production.py
Due: prettier, markdownlint, naming-convention

feat: include coastlines with overview country borders (#320)
  docs/features/overview-boundaries.md
  frontend/mission-planner/public/boundaries/ATTRIBUTION.md
  frontend/mission-planner/public/boundaries/countries.json
  frontend/mission-planner/src/pages/OverviewBoundarySettingsCard.tsx
  frontend/mission-planner/src/pages/overview-boundaries.test.ts
  frontend/mission-planner/tests/e2e/overview-boundaries-production.spec.ts
  tools/acceptance/overview-boundaries/compose.yml
  tools/build-overview-boundaries.py
  tools/tests/test_build_overview_boundaries.py
Due: prettier, eslint, markdownlint, naming-convention
