Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

feat(mission): apply selected splice route basis
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/tests/unit/test_manual_aar_track.py
Due: none

feat(mission): expose Manual AR route estimates
  frontend/mission-planner/src/components/aar/ManualRouteEstimateControls.tsx
  frontend/mission-planner/src/components/common/RouteMap.tsx
  frontend/mission-planner/src/components/common/RouteMap/RouteLayer.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
  frontend/mission-planner/src/services/timeline.ts
  frontend/mission-planner/src/types/aar.ts
  frontend/mission-planner/src/types/mission.ts
Due: prettier, eslint

docs: clarify derived timing fallback
  docs/missions/planning/manual-ar-derived-route-estimates.md
Due: prettier, markdownlint, naming-convention

docs: clarify preview timing fallback
  docs/api/endpoints/timeline-preview.md
Due: prettier, markdownlint, naming-convention

docs: explain Manual AR derived-route estimate semantics (#120)
  docs/api/endpoints/timeline-preview.md
  docs/missions/planning/manual-ar-derived-route-estimates.md
  docs/missions/planning/overview.md
Due: prettier, markdownlint, naming-convention

fix(mission): assume 400 KTAS for AR diversions
  backend/starlink-location/app/mission/derived_route.py
  backend/starlink-location/tests/unit/test_derived_route.py
  frontend/mission-planner/src/components/aar/ManualRouteEstimateControls.tsx
Due: prettier, eslint

fix(mission): import preview route departure helper
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
Due: none

test(mission): cover Manual AR derived estimates
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
  frontend/mission-planner/tests/e2e/manual-route-estimate.spec.ts
Due: prettier, eslint

test(mission): cover planned fallback fixture
  frontend/mission-planner/tests/e2e/manual-route-estimate.spec.ts
Due: prettier

feat(mission): estimate Manual AR route splice (#119)
  backend/starlink-location/app/mission/derived_route.py
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
  backend/starlink-location/tests/unit/test_derived_route.py
  backend/starlink-location/tests/unit/test_manual_aar_track.py
  frontend/mission-planner/src/components/aar/ManualRouteEstimateControls.tsx
  frontend/mission-planner/src/components/common/RouteMap.tsx
  frontend/mission-planner/src/components/common/RouteMap/RouteLayer.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
  frontend/mission-planner/src/services/timeline.ts
  frontend/mission-planner/src/types/aar.ts
  frontend/mission-planner/src/types/mission.ts
  frontend/mission-planner/tests/e2e/manual-route-estimate.spec.ts
Due: prettier, eslint

docs: add Portainer GHCR deployment runbook
  docs/deployment/portainer-ghcr.md
  docs/setup/README.md
Due: prettier, markdownlint, naming-convention

docs: add Portainer verification checks
  docs/deployment/portainer-ghcr.md
Due: prettier, markdownlint, naming-convention

docs: add Portainer GHCR deployment runbook (#122)
  docs/deployment/portainer-ghcr.md
  docs/setup/README.md
Due: prettier, markdownlint, naming-convention

docs: correct Portainer profile variables
  docs/deployment/portainer-ghcr.md
Due: prettier, markdownlint, naming-convention

docs: correct Portainer profile variables (#124)
  docs/deployment/portainer-ghcr.md
Due: prettier, markdownlint, naming-convention

feat: add GHCR Portainer deployment profile
  .github/workflows/publish-ghcr.yml
  deployment/portainer-ghcr-compose.yml
  docker-compose.yml
  tools/smoke-portainer-profile.sh
  tools/tests/test_portainer_deploy_profile.py
Due: prettier

feat: add GHCR Portainer deployment profile (#123)
  .github/workflows/publish-ghcr.yml
  deployment/portainer-ghcr-compose.yml
  docker-compose.yml
  tools/smoke-portainer-profile.sh
  tools/tests/test_portainer_deploy_profile.py
Due: prettier

fix: make Portainer deployment portable
  .github/workflows/publish-ghcr.yml
  deployment/grafana/Dockerfile
  deployment/portainer-ghcr-compose.yml
  deployment/prometheus/Dockerfile
  tools/smoke-portainer-profile.sh
  tools/tests/test_portainer_deploy_profile.py
Due: prettier

docs: document portable Portainer GHCR contract
  docs/deployment/portainer-ghcr.md
Due: prettier, markdownlint, naming-convention

docs: document portable Portainer GHCR contract (#126)
  docs/deployment/portainer-ghcr.md
Due: prettier, markdownlint, naming-convention

fix: make Portainer deployment portable (#125)
  .github/workflows/publish-ghcr.yml
  deployment/grafana/Dockerfile
  deployment/portainer-ghcr-compose.yml
  deployment/prometheus/Dockerfile
  tools/smoke-portainer-profile.sh
  tools/tests/test_portainer_deploy_profile.py
Due: prettier

fix(ci): set explicit GHCR Dockerfiles
  .github/workflows/publish-ghcr.yml
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier

fix(ci): enforce exact GHCR publish matrix
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: none

fix(ci): set explicit GHCR Dockerfiles (#127)
  .github/workflows/publish-ghcr.yml
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier

fix(grafana): render current aircraft on ArcGIS basemap
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

docs(grafana): troubleshoot ArcGIS map marker
  docs/grafana-configuration.md
Due: prettier, markdownlint, naming-convention

fix(mission): restore imported route endpoint POIs
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/unit/test_mission_package_endpoint_pois.py
Due: none

docs(mission): document imported endpoint POIs
  docs/missions/mission-package-import.md
  docs/missions/mission-planning-guide.md
  docs/setup/configuration/mission-package-upload-limits.md
Due: prettier, markdownlint, naming-convention

docs: fix mission package Markdown lint
  docs/missions/mission-package-import.md
  docs/setup/configuration/mission-package-upload-limits.md
Due: prettier, markdownlint, naming-convention

chore: make Portainer stack on-demand
  deployment/portainer-ghcr-compose.yml
Due: prettier

fix(grafana): synchronously install Infinity datasource
  deployment/portainer-ghcr-compose.yml
  docker-compose.yml
  tools/smoke-portainer-profile.sh
  tools/tests/test_grafana_compose.py
  tools/tests/test_portainer_deploy_profile.py
Due: prettier

fix(grafana): restore ArcGIS imagery basemap
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix(grafana): restore map route and X-band datasource queries (#136)
  deployment/portainer-ghcr-compose.yml
  docker-compose.yml
  tools/smoke-portainer-profile.sh
  tools/tests/test_grafana_compose.py
  tools/tests/test_portainer_deploy_profile.py
Due: prettier

fix(grafana): render planned route in fullscreen overview
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix(grafana): render planned route in fullscreen overview (#137)
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix(grafana): make fullscreen map layers portable
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix(grafana): proxy fullscreen radar through Infinity
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
  tools/tests/test_grafana_backend_proxy_runtime.py
  tools/tests/test_grafana_compose.py
Due: prettier

fix(grafana): complete Infinity URL query models
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  monitoring/grafana/provisioning/datasources/backend.yml
  tools/tests/test_fullscreen_overview_dashboard.py
  tools/tests/test_grafana_compose.py
Due: prettier

docs(evidence): add local map acceptance captures
  docs/assets/issue-135-local-map-attribution.jpg
  docs/assets/issue-135-local-map-route-link.jpg
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

