Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

fix: validate malformed manual AR track points
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/tests/unit/test_manual_aar_track.py
Due: none

feat: add manual AR tracks by position (#92)
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/tests/unit/test_manual_aar_track.py
  frontend/mission-planner/src/components/aar/ManualAARTrackEditor.tsx
  frontend/mission-planner/src/components/common/RouteMap.tsx
  frontend/mission-planner/src/components/common/RouteMap/RouteLayer.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegConfigTabs.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
  frontend/mission-planner/src/pages/LegDetailPage/useLegData.ts
  frontend/mission-planner/src/types/aar.ts
  frontend/mission-planner/src/types/mission.ts
Due: prettier, eslint

fix: make leg configuration responsive
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegConfigTabs.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegHeader.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: make leg configuration responsive (#94)
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegConfigTabs.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegHeader.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: persist manual AR tracks from editor
  frontend/mission-planner/src/components/aar/ManualAARTrackEditor.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegConfigTabs.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: persist manual AR tracks from editor (#97)
  frontend/mission-planner/src/components/aar/ManualAARTrackEditor.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegConfigTabs.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: apply manual AR tracks to timeline
  backend/starlink-location/app/mission/state.py
  backend/starlink-location/app/mission/timeline_builder/aar.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/app/satellites/rules.py
  backend/starlink-location/tests/unit/test_manual_aar_track.py
  docs/features/mission-planning.md
  frontend/mission-planner/src/services/timeline.ts
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

test: stabilize manual AR browser coverage
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier

fix: apply manual AR tracks to timeline (#98)
  backend/starlink-location/app/mission/state.py
  backend/starlink-location/app/mission/timeline_builder/aar.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/app/satellites/rules.py
  backend/starlink-location/tests/unit/test_manual_aar_track.py
  docs/features/mission-planning.md
  frontend/mission-planner/src/services/timeline.ts
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

fix: add client ID fallback for HTTP browsers
  frontend/mission-planner/src/components/aar/AARSegmentEditor.tsx
  frontend/mission-planner/src/components/aar/ManualAARTrackEditor.tsx
  frontend/mission-planner/src/components/satellites/KaOutageConfig.tsx
  frontend/mission-planner/src/components/satellites/KuOutageConfig.tsx
  frontend/mission-planner/src/components/satellites/XBandConfig.tsx
  frontend/mission-planner/src/lib/clientId.test.ts
  frontend/mission-planner/src/lib/clientId.ts
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: add client ID fallback for HTTP browsers (#100)
  frontend/mission-planner/src/components/aar/AARSegmentEditor.tsx
  frontend/mission-planner/src/components/aar/ManualAARTrackEditor.tsx
  frontend/mission-planner/src/components/satellites/KaOutageConfig.tsx
  frontend/mission-planner/src/components/satellites/KuOutageConfig.tsx
  frontend/mission-planner/src/components/satellites/XBandConfig.tsx
  frontend/mission-planner/src/lib/clientId.test.ts
  frontend/mission-planner/src/lib/clientId.ts
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: keep mobile leg controls reachable
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegConfigTabs.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: keep mobile leg controls reachable (#106)
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegConfigTabs.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: restore Ka outage duration input
  frontend/mission-planner/src/components/satellites/KaOutageConfig.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: preserve invalid Ka outage durations
  frontend/mission-planner/src/components/satellites/KaOutageConfig.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: validate signed Ka outage durations
  frontend/mission-planner/src/components/satellites/KaOutageConfig.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: restore Ka outage duration input (#107)
  frontend/mission-planner/src/components/satellites/KaOutageConfig.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: hydrate persisted Manual AR track editor
  frontend/mission-planner/src/components/aar/ManualAARTrackEditor.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: hydrate persisted Manual AR track editor (#108)
  frontend/mission-planner/src/components/aar/ManualAARTrackEditor.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: keep POI dialog actions visible
  frontend/mission-planner/src/components/pois/POIDialog.tsx
  frontend/mission-planner/src/components/pois/POIForm.tsx
  frontend/mission-planner/tests/e2e/poi-dialog-actions.spec.ts
Due: prettier, eslint

fix: keep POI dialog actions visible (#109)
  frontend/mission-planner/src/components/pois/POIDialog.tsx
  frontend/mission-planner/src/components/pois/POIForm.tsx
  frontend/mission-planner/tests/e2e/poi-dialog-actions.spec.ts
Due: prettier, eslint

feat: polish Mission Planner visual system
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/components/missions/MissionCard.tsx
  frontend/mission-planner/src/components/missions/MissionList.tsx
  frontend/mission-planner/src/components/ui/button-variants.ts
  frontend/mission-planner/src/components/ui/card.tsx
  frontend/mission-planner/src/components/ui/dialog.tsx
  frontend/mission-planner/src/components/ui/input.tsx
  frontend/mission-planner/src/components/ui/tabs.tsx
  frontend/mission-planner/src/index.css
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegConfigTabs.tsx
  frontend/mission-planner/src/pages/MissionsPage.tsx
  frontend/mission-planner/src/pages/POIManagerPage.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

feat: complete mission planner map visual system
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/src/components/common/RouteMap.tsx
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
  frontend/mission-planner/src/components/common/RouteMap/MapLegend.tsx
  frontend/mission-planner/src/components/common/RouteMap/RouteLayer.tsx
  frontend/mission-planner/src/components/timeline/TimelinePreviewSection.tsx
  frontend/mission-planner/src/components/timeline/TimelineTable.tsx
  frontend/mission-planner/src/index.css
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
Due: prettier, eslint

test: align leg visual checks with semantic tokens
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier

feat: establish Mission Planner visual system (#110)
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/components/common/RouteMap.tsx
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
  frontend/mission-planner/src/components/common/RouteMap/MapLegend.tsx
  frontend/mission-planner/src/components/common/RouteMap/RouteLayer.tsx
  frontend/mission-planner/src/components/missions/MissionCard.tsx
  frontend/mission-planner/src/components/missions/MissionList.tsx
  frontend/mission-planner/src/components/timeline/TimelinePreviewSection.tsx
  frontend/mission-planner/src/components/timeline/TimelineTable.tsx
  frontend/mission-planner/src/components/ui/button-variants.ts
  frontend/mission-planner/src/components/ui/card.tsx
  frontend/mission-planner/src/components/ui/dialog.tsx
  frontend/mission-planner/src/components/ui/input.tsx
  frontend/mission-planner/src/components/ui/tabs.tsx
  frontend/mission-planner/src/index.css
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegConfigTabs.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
  frontend/mission-planner/src/pages/MissionsPage.tsx
  frontend/mission-planner/src/pages/POIManagerPage.tsx
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier, eslint

fix: paginate mission list newest first
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  backend/starlink-location/tests/unit/test_mission_storage.py
  frontend/mission-planner/src/components/missions/MissionList.tsx
  frontend/mission-planner/src/hooks/api/useMissions.ts
  frontend/mission-planner/src/services/missions.ts
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
Due: prettier, eslint

fix: clamp mission pagination after deletion
  frontend/mission-planner/src/components/missions/MissionList.tsx
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
Due: prettier, eslint

fix: make mission pagination E2E execute
  frontend/mission-planner/src/components/missions/MissionList.tsx
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
Due: prettier, eslint

fix: paginate mission list newest first (#112)
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  backend/starlink-location/tests/unit/test_mission_storage.py
  frontend/mission-planner/src/components/missions/MissionList.tsx
  frontend/mission-planner/src/hooks/api/useMissions.ts
  frontend/mission-planner/src/services/missions.ts
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
Due: prettier, eslint

chore: add local simulation deployment profile
  docker-compose.yml
  frontend/mission-planner/Dockerfile
  frontend/mission-planner/nginx.conf
  frontend/mission-planner/src/pages/DataExportPage.tsx
  frontend/mission-planner/src/services/api-client.ts
  monitoring/grafana/Dockerfile
  monitoring/prometheus/Dockerfile
Due: prettier, eslint

fix: proxy Mission Planner API requests same-origin
  docker-compose.yml
  frontend/mission-planner/README.md
  frontend/mission-planner/nginx.conf
  frontend/mission-planner/src/pages/DataExportPage.tsx
  frontend/mission-planner/src/services/api-client.ts
  frontend/mission-planner/tests/e2e/api-origin.spec.ts
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
  frontend/mission-planner/vite.config.ts
Due: prettier, eslint, markdownlint

docs: document mission package upload limits
  docs/setup/configuration/README.md
  docs/setup/configuration/mission-package-upload-limits.md
Due: prettier, markdownlint, naming-convention

docs: document mission package upload limits (#117)
  docs/setup/configuration/README.md
  docs/setup/configuration/mission-package-upload-limits.md
Due: prettier, markdownlint, naming-convention

fix: proxy Mission Planner API requests same-origin (#115)
  docker-compose.yml
  frontend/mission-planner/README.md
  frontend/mission-planner/nginx.conf
  frontend/mission-planner/src/pages/DataExportPage.tsx
  frontend/mission-planner/src/services/api-client.ts
  frontend/mission-planner/tests/e2e/api-origin.spec.ts
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
  frontend/mission-planner/vite.config.ts
Due: prettier, eslint, markdownlint

fix: align mission package upload limits
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  deployment/nginx-proxy-manager/mission-package-upload.conf
  frontend/mission-planner/nginx.conf
  frontend/mission-planner/src/components/missions/ImportDialog.tsx
  frontend/mission-planner/src/services/export-import.test.ts
  frontend/mission-planner/src/services/export-import.ts
Due: prettier, eslint

fix: align mission package upload limits (#116)
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  deployment/nginx-proxy-manager/mission-package-upload.conf
  frontend/mission-planner/nginx.conf
  frontend/mission-planner/src/components/missions/ImportDialog.tsx
  frontend/mission-planner/src/services/export-import.test.ts
  frontend/mission-planner/src/services/export-import.ts
Due: prettier, eslint

feat(mission): estimate manual AR route splice
  backend/starlink-location/app/mission/derived_route.py
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/tests/unit/test_derived_route.py
Due: none

docs: describe Manual AR derived-route estimates
  docs/api/endpoints/timeline-preview.md
  docs/missions/planning/manual-ar-derived-route-estimates.md
  docs/missions/planning/overview.md
Due: prettier, markdownlint, naming-convention

feat(mission): harden derived route estimation
  backend/starlink-location/app/mission/derived_route.py
  backend/starlink-location/tests/unit/test_derived_route.py
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

