Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

ci: remove Claude Code GitHub Actions
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
Due: none

docs: add timeline preview user documentation (#36)
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
  docs/api/README.md
  docs/api/endpoints/README.md
  docs/api/endpoints/timeline-preview.md
  docs/api/examples/README.md
  docs/api/examples/timeline-preview.md
  docs/api/models/README.md
  docs/api/models/timeline-preview.md
  docs/assets/timeline-preview-map.png
  docs/assets/timeline-preview-table.png
  docs/features/README.md
  docs/features/mission-planning.md
  docs/features/overview.md
  docs/missions/mission-planning-guide.md
  docs/missions/planning/overview.md
Due: prettier, markdownlint, naming-convention

ci: remove Claude Code GitHub Actions (#38)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier

fix: ignore scoped timeline files when loading mission legs
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/tests/unit/test_mission_storage.py
Due: none

fix: rebuild mission timelines during package export
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/tests/unit/test_package_export_adjusted_times.py
Due: none

style: format adjusted export regression test
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/tests/unit/test_package_export_adjusted_times.py
Due: none

fix: refresh combined mission exports from current timelines
  backend/starlink-location/app/mission/package/__main__.py
Due: none

test: cover adjusted combined mission CSV export
  backend/starlink-location/tests/unit/test_package_adjusted_export.py
Due: none

fix: shift route timeline for adjusted takeoff
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/timeline_builder/__init__.py
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/tests/unit/test_package_adjusted_export.py
Due: none

fix: keep package export read-only for rebuilt timelines
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/tests/unit/test_package_adjusted_export.py
  backend/starlink-location/tests/unit/test_package_export_adjusted_times.py
Due: none

feat: normalize mission call availability tables
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  frontend/mission-planner/src/components/timeline/TimelineTable.tsx
Due: prettier, eslint

fix: unblock docker e2e route time shifts
  backend/starlink-location/Dockerfile
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/app/mission/timeline_builder/utils.py
  backend/starlink-location/entrypoint.sh
  backend/starlink-location/tests/unit/test_adjusted_departure.py
Due: none

docs: add dev branch release policy
  docs/development/README.md
  docs/development/release-policy.md
  docs/development/workflow.md
Due: prettier, markdownlint, naming-convention

test: align adjusted export assertion with normalized availability
  backend/starlink-location/tests/unit/test_package_adjusted_export.py
Due: none

fix: refine SOF and degraded mission semantics
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/exporter/pptx_styling.py
  backend/starlink-location/app/mission/exporter/transport_utils.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  backend/starlink-location/tests/unit/test_pptx_builder.py
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
  frontend/mission-planner/src/components/timeline/TimelineTable.tsx
Due: prettier, eslint

fix: refine SOF and degraded mission semantics
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/exporter/transport_utils.py
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  backend/starlink-location/tests/unit/test_satellite_rules.py
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
  frontend/mission-planner/src/components/timeline/TimelineTable.tsx
Due: prettier, eslint

fix: make X Ku conflicts advisory
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
Due: none

fix: label SOF advisories as advisory
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
  frontend/mission-planner/src/components/timeline/TimelineTable.tsx
Due: prettier, eslint

fix: keep call availability normalization idempotent
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
Due: none

fix: preserve aar boundary timing in mission timelines
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/timeline_builder/aar.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
Due: none

fix: expose AAR operational markers in exports
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  backend/starlink-location/tests/unit/test_pptx_builder.py
  frontend/mission-planner/src/components/aar/AARSegmentEditor.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/services/timeline.ts
  frontend/mission-planner/src/types/aar.ts
Due: prettier, eslint

fix: use elapsed AAR overrides and inline markers
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/timeline_builder/aar.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  frontend/mission-planner/src/components/aar/AARSegmentEditor.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/services/timeline.ts
  frontend/mission-planner/src/types/aar.ts
Due: prettier, eslint

fix: use black text on degraded PPT badges
  backend/starlink-location/app/mission/exporter/pptx_styling.py
  backend/starlink-location/tests/unit/test_pptx_builder.py
Due: none

fix: compact mission timeline reason labels
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
Due: none

fix: align mission export package with supported formats
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_mission_routes.py
  backend/starlink-location/tests/unit/test_main_lifespan.py
  backend/starlink-location/tests/unit/test_package_exporter.py
Due: none

chore: format release candidate files
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/timeline_builder/aar.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  backend/starlink-location/tests/unit/test_package_exporter.py
  docs/development/release-policy.md
Due: prettier, markdownlint, naming-convention

Release: promote aircraft-test timeline updates (#42)
  backend/starlink-location/Dockerfile
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/exporter/pptx_styling.py
  backend/starlink-location/app/mission/exporter/transport_utils.py
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/app/mission/timeline_builder/__init__.py
  backend/starlink-location/app/mission/timeline_builder/aar.py
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/app/mission/timeline_builder/utils.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/entrypoint.sh
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_mission_routes.py
  backend/starlink-location/tests/unit/test_adjusted_departure.py
  backend/starlink-location/tests/unit/test_main_lifespan.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
  backend/starlink-location/tests/unit/test_mission_storage.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  backend/starlink-location/tests/unit/test_package_adjusted_export.py
  backend/starlink-location/tests/unit/test_package_export_adjusted_times.py
  backend/starlink-location/tests/unit/test_package_exporter.py
  backend/starlink-location/tests/unit/test_pptx_builder.py
  backend/starlink-location/tests/unit/test_satellite_rules.py
  docs/development/README.md
  docs/development/release-policy.md
  docs/development/workflow.md
  frontend/mission-planner/src/components/aar/AARSegmentEditor.tsx
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
  frontend/mission-planner/src/components/timeline/TimelineTable.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/services/timeline.ts
  frontend/mission-planner/src/types/aar.ts
Due: prettier, eslint, markdownlint, naming-convention

fix: default fullscreen comm overlay off
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: default fullscreen comm overlay off (#48)
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: simplify fullscreen overview links
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: simplify fullscreen overview links (#49)
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: remove fullscreen CommKa overlay
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: remove fullscreen CommKa overlay (#51)
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: refit fullscreen map to aircraft position
  docs/grafana-dashboards.md
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier, markdownlint, naming-convention

fix: stop forcing fullscreen follow zoom
  docs/grafana-dashboards.md
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier, markdownlint, naming-convention

fix: update fullscreen overview clock defaults
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: update fullscreen overview clock defaults (#54)
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

feat: add fullscreen weather radar overlay
  backend/starlink-location/app/api/weather.py
  backend/starlink-location/app/services/weather_radar.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_weather_api.py
  backend/starlink-location/tests/unit/test_weather_radar.py
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: set radar overlay default opacity
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

feat: add fullscreen weather radar overlay (#55)
  backend/starlink-location/app/api/weather.py
  backend/starlink-location/app/services/weather_radar.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_weather_api.py
  backend/starlink-location/tests/unit/test_weather_radar.py
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier
