Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

test: export rootless traces and observe native minimization
  tools/acceptance/journeys/overview-history-performance.mjs
  tools/acceptance/overview-history/run.sh
  tools/tests/test_overview_history_performance_runner.py
Due: none

test: preserve native focus and separate HTTP CPU attribution
  tools/acceptance/journeys/overview-history-performance.mjs
  tools/acceptance/overview-history/run.sh
  tools/acceptance/overview_history/backend_probe.py
  tools/acceptance/overview_history/http_profile.py
  tools/tests/test_overview_history_browser_contract.py
  tools/tests/test_overview_history_http_profile.py
Due: none

test: separate native viewer windows and record motion readiness
  tools/acceptance/journeys/overview-history-performance.mjs
Due: none

test: encode bounded native video with the pinned MJPEG pipeline
  docs/superpowers/plans/2026-10-04-overview-history-efficiency-follow-up.md
  tools/acceptance/journeys/overview-history-performance.mjs
  tools/tests/test_overview_history_browser_contract.py
Due: prettier, markdownlint, naming-convention

test: fail closed on browser outcomes and record outage recovery
  tools/acceptance/journeys/overview-history-performance.mjs
  tools/acceptance/overview_history/report.py
  tools/tests/test_overview_history_performance_report.py
Due: none

test: exercise native SPA remount and capture separate browser CPU profile
  tools/acceptance/journeys/overview-history-performance.mjs
Due: none

test: scope expected 503 logs to owned source outage controls
  tools/acceptance/journeys/overview-history-performance.mjs
  tools/tests/test_overview_history_browser_contract.py
Due: none

test: require healthy baselines and deadline-complete resource sampling
  tools/acceptance/journeys/overview-history-performance.mjs
  tools/acceptance/overview_history/report.py
  tools/tests/test_overview_history_browser_contract.py
  tools/tests/test_overview_history_performance_report.py
Due: none

docs: record pre-change HTTP attribution and shipped background polling
  docs/api/endpoints/overview-history.md
  docs/reports/2026-10-04-overview-history-efficiency-follow-up.md
Due: prettier, markdownlint, naming-convention

perf: encode primitive Overview history bundles without redundant conversion
  backend/starlink-location/app/api/overview_history.py
  backend/starlink-location/tests/unit/test_overview_history_api_cache.py
  docs/superpowers/plans/2026-10-04-overview-history-efficiency-follow-up.md
Due: prettier, markdownlint, naming-convention

docs: record completed native controls and failed pre-change latency gate
  docs/superpowers/plans/2026-10-04-overview-history-efficiency-follow-up.md
Due: prettier, markdownlint, naming-convention

style: align serialization regression imports with backend lint context
  backend/starlink-location/tests/unit/test_overview_history_api_cache.py
Due: none

test: distinguish closed TCP connections from live acceptance listeners
  tools/acceptance/overview-history/run.sh
  tools/tests/test_overview_history_performance_runner.py
Due: none

docs: qualify one-second history with matched native sustained evidence
  docs/reports/2026-10-04-overview-history-efficiency-evidence.json
  docs/reports/2026-10-04-overview-history-efficiency-follow-up.md
  docs/superpowers/plans/2026-10-04-overview-history-efficiency-follow-up.md
Due: prettier, markdownlint, naming-convention

feat: promote qualified one-second overview history default
  .env.example
  docker-compose.yml
  docs/api/endpoints/overview-history.md
  docs/features/overview.md
  docs/reports/2026-10-04-overview-history-efficiency-follow-up.md
  docs/superpowers/plans/2026-10-04-overview-history-efficiency-follow-up.md
  frontend/mission-planner/Dockerfile
  frontend/mission-planner/src/hooks/api/useOverviewHistory.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistory.ts
Due: prettier, eslint, markdownlint, naming-convention

test: verify history refresh at its qualified default cadence
  frontend/mission-planner/src/hooks/api/useOverviewRefresh.test.tsx
Due: prettier, eslint

docs: verify default build matches qualified native cadence
  docs/reports/2026-10-04-overview-history-default-validation.json
  docs/reports/2026-10-04-overview-history-efficiency-follow-up.md
Due: prettier, markdownlint, naming-convention

fix: fail closed on incomplete history acceptance evidence
  docs/reports/2026-10-04-overview-history-efficiency-follow-up.md
  docs/reports/2026-10-04-overview-history-efficiency-provenance.md
  tools/acceptance/journeys/overview-history-performance.mjs
  tools/acceptance/overview-history/run.sh
  tools/acceptance/overview_history/report.py
  tools/tests/test_overview_history_browser_contract.py
  tools/tests/test_overview_history_performance_report.py
  tools/tests/test_overview_history_performance_runner.py
Due: prettier, markdownlint, naming-convention

docs: publish stricter gate re-evaluation and final native verification
  docs/reports/2026-10-04-overview-history-default-validation.json
  docs/reports/2026-10-04-overview-history-efficiency-evidence.json
  docs/reports/2026-10-04-overview-history-efficiency-follow-up.md
Due: prettier, markdownlint, naming-convention

docs: mark approved issue 224 follow-up delivered for review
  docs/superpowers/plans/2026-10-04-overview-history-efficiency-follow-up.md
Due: prettier, markdownlint, naming-convention

feat(adsb): normalize provider positions and global selection
  backend/starlink-location/app/services/adsb_lol.py
  backend/starlink-location/app/services/overview_adsb_selection.py
  backend/starlink-location/tests/fixtures/adsb_lol/explicit.json
  backend/starlink-location/tests/fixtures/adsb_lol/malformed.json
  backend/starlink-location/tests/fixtures/adsb_lol/military.json
  backend/starlink-location/tests/unit/test_adsb_lol.py
  backend/starlink-location/tests/unit/test_overview_adsb_selection.py
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-backend.md
Due: prettier, markdownlint, naming-convention

feat(configuration): edit ADS-B lists and selected traffic
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-frontend.md
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbContactTable.test.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbContactTable.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLists.test.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLists.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbSettingsCard.test.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbSettingsCard.tsx
Due: prettier, eslint, markdownlint, naming-convention

feat(adsb): persist revisioned shared aircraft settings
  backend/starlink-location/app/api/overview_adsb.py
  backend/starlink-location/app/models/overview_adsb.py
  backend/starlink-location/app/services/overview_adsb_settings.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_overview_adsb_settings_api.py
  backend/starlink-location/tests/unit/test_main_overview_adsb.py
  backend/starlink-location/tests/unit/test_overview_adsb_settings.py
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-acceptance.md
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-backend.md
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-frontend.md
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer.md
Due: prettier, markdownlint, naming-convention

feat(adsb): synchronize confirmed settings and contact freshness
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-frontend.md
  frontend/mission-planner/src/hooks/api/useOverviewAdsbSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewAdsbSettings.ts
  frontend/mission-planner/src/hooks/api/useOverviewAdsbTraffic.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewAdsbTraffic.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewAdsbSettings.test.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewAdsbSettings.ts
  frontend/mission-planner/src/hooks/useOverviewAdsbLayer.test.tsx
  frontend/mission-planner/src/hooks/useOverviewAdsbLayer.ts
  frontend/mission-planner/src/pages/adsb/overview-adsb-state.test.ts
  frontend/mission-planner/src/pages/adsb/overview-adsb-state.ts
  frontend/mission-planner/src/services/overview-adsb.test.ts
  frontend/mission-planner/src/services/overview-adsb.ts
  frontend/mission-planner/src/test/adsb-fixtures.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): render ADS-B contacts labels and aircraft details
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-frontend.md
  frontend/mission-planner/src/pages/OverviewMapLegend.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsb.css
  frontend/mission-planner/src/pages/adsb/OverviewAdsbDetails.test.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbDetails.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.test.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.tsx
  frontend/mission-planner/src/pages/adsb/overview-adsb-label-layout.test.ts
  frontend/mission-planner/src/pages/adsb/overview-adsb-label-layout.ts
  frontend/mission-planner/src/pages/adsb/overview-adsb-marker-rendering.test.ts
  frontend/mission-planner/src/pages/adsb/overview-adsb-marker-rendering.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(adsb): share acquisition cache and revisioned traffic API
  backend/starlink-location/app/api/overview_adsb.py
  backend/starlink-location/app/services/overview_adsb_settings.py
  backend/starlink-location/app/services/overview_adsb_traffic.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_overview_adsb_settings_api.py
  backend/starlink-location/tests/integration/test_overview_adsb_traffic_api.py
  backend/starlink-location/tests/unit/test_main_overview_adsb.py
  backend/starlink-location/tests/unit/test_main_overview_history.py
  backend/starlink-location/tests/unit/test_overview_adsb_settings.py
  backend/starlink-location/tests/unit/test_overview_adsb_traffic.py
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-backend.md
Due: prettier, markdownlint, naming-convention

test(adsb): add controlled browser and production acceptance
  backend/starlink-location/tests/integration/test_overview_adsb_acceptance.py
  docs/api/endpoints/README.md
  docs/api/endpoints/overview-adsb.md
  docs/features/overview.md
  docs/features/system.md
  frontend/mission-planner/src/pages/adsb/OverviewAdsb.css
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.tsx
  frontend/mission-planner/tests/e2e/overview-adsb-cross-window.spec.ts
  frontend/mission-planner/tests/e2e/overview-adsb-performance.spec.ts
  frontend/mission-planner/tests/e2e/overview-adsb.spec.ts
  frontend/mission-planner/tests/e2e/support/adsb-fixture.ts
  frontend/mission-planner/tests/e2e/support/overview-window-fixture.ts
  frontend/mission-planner/tests/e2e/support/traffic-path-fixture.ts
  tools/acceptance/adsb/backend_fixture.py
  tools/acceptance/adsb/compose.yml
  tools/acceptance/adsb/production.mjs
  tools/acceptance/adsb/provider.json
  tools/acceptance/adsb/run.sh
Due: prettier, eslint, markdownlint, naming-convention

test(adsb): distinguish acquisition from rendered convergence
  frontend/mission-planner/tests/e2e/overview-adsb.spec.ts
  tools/acceptance/adsb/production.mjs
Due: prettier

fix(overview): apply selected aircraft chevron defaults
  docs/features/overview-adsb.md
  frontend/mission-planner/src/pages/OverviewMarkerDebug.test.tsx
  frontend/mission-planner/src/pages/OverviewMarkerDebug.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.chevron.test.tsx
  frontend/mission-planner/src/pages/overview-chevron-settings.ts
  frontend/mission-planner/src/pages/overview-star-marker-rendering.ts
  frontend/mission-planner/tests/e2e/overview-adsb.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(adsb): preserve provider backoff and isolate numeric overflow
  backend/starlink-location/app/services/adsb_lol.py
  backend/starlink-location/app/services/overview_adsb_traffic.py
  backend/starlink-location/tests/unit/test_adsb_lol.py
  backend/starlink-location/tests/unit/test_overview_adsb_traffic.py
  docs/api/endpoints/overview-adsb.md
  frontend/mission-planner/tests/e2e/overview-adsb-performance.spec.ts
  frontend/mission-planner/tests/e2e/support/adsb-fixture.ts
  frontend/mission-planner/tests/e2e/support/overview-window-fixture.ts
Due: prettier, markdownlint, naming-convention

perf(adsb): bound label occlusion and keep identities readable
  docs/features/overview-adsb.md
  docs/features/overview.md
  frontend/mission-planner/src/pages/adsb/OverviewAdsb.css
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.tsx
  frontend/mission-planner/src/pages/adsb/overview-adsb-marker-rendering.test.ts
  frontend/mission-planner/src/pages/adsb/overview-adsb-marker-rendering.ts
  frontend/mission-planner/tests/e2e/overview-adsb-performance.spec.ts
  frontend/mission-planner/tests/e2e/overview-adsb.spec.ts
  frontend/mission-planner/tests/e2e/support/adsb-fixture.ts
  frontend/mission-planner/tests/e2e/support/traffic-path-rendering.ts
Due: prettier, eslint, markdownlint, naming-convention

docs(adsb): record reviewed combined-layer acceptance
  docs/api/endpoints/overview-adsb.md
  docs/reports/2026-10-03-overview-adsb-aircraft-layer.md
Due: prettier, markdownlint, naming-convention

fix(adsb): keep mobile aircraft details above overview overlays
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-adsb.spec.ts
  frontend/mission-planner/tests/e2e/overview-window-refresh.spec.ts
Due: prettier, eslint

test(adsb): verify shared aircraft layer and document acceptance
  docs/reports/2026-10-03-overview-adsb-aircraft-layer.md
  docs/reports/README.md
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-acceptance.md
Due: prettier, markdownlint, naming-convention

fix(overview): orient own aircraft and restore glowing globe styling
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.chevron.test.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsb.css
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.test.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.tsx
  frontend/mission-planner/src/pages/overview-star-marker-rendering.ts
  frontend/mission-planner/tests/e2e/overview-adsb.spec.ts
  frontend/mission-planner/tests/e2e/support/adsb-fixture.ts
  frontend/mission-planner/tests/e2e/support/overview-window-fixture.ts
Due: prettier, eslint

fix(adsb): identify application to satisfy provider contact policy
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_main_overview_adsb.py
  docs/api/endpoints/overview-adsb.md
Due: prettier, markdownlint, naming-convention

feat(overview): share compact chevron aircraft markers
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.chevron.test.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.test.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.tsx
  frontend/mission-planner/src/pages/adsb/overview-adsb-marker-rendering.ts
  frontend/mission-planner/src/pages/overview-star-marker-rendering.ts
  frontend/mission-planner/tests/e2e/overview-adsb.spec.ts
Due: prettier, eslint

fix(overview): tune luminous aircraft markers with live controls
  docs/features/overview-adsb.md
  frontend/mission-planner/src/pages/OverviewMarkerDebug.css
  frontend/mission-planner/src/pages/OverviewMarkerDebug.test.tsx
  frontend/mission-planner/src/pages/OverviewMarkerDebug.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.chevron.test.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.test.tsx
  frontend/mission-planner/src/pages/adsb/OverviewAdsbLayer.tsx
  frontend/mission-planner/src/pages/adsb/overview-adsb-marker-rendering.ts
  frontend/mission-planner/src/pages/overview-chevron-settings.ts
  frontend/mission-planner/src/pages/overview-star-marker-rendering.ts
  frontend/mission-planner/tests/e2e/overview-adsb.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

style(frontend): format configuration ADS-B hook test
  frontend/mission-planner/src/hooks/useConfigurationAdsbLayer.test.tsx
Due: prettier, eslint
