Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

fix: reflow visible graphs and update configuration journeys
  docs/api/aviation-weather.md
  docs/deployment/portainer-ghcr.md
  docs/features/overview-weather.md
  docs/features/system.md
  frontend/mission-planner/playwright.ui-cleanup-acceptance.config.ts
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/tests/e2e/aviation-weather-production.spec.ts
  frontend/mission-planner/tests/e2e/gfs-weather-production.spec.ts
  frontend/mission-planner/tests/e2e/overview-aircraft-history-production.spec.ts
  frontend/mission-planner/tests/e2e/overview-ui-cleanup-production.spec.ts
  frontend/mission-planner/tests/e2e/overview-weather-production.spec.ts
  frontend/mission-planner/tests/e2e/overview-window-compact.spec.ts
Due: prettier, markdownlint, naming-convention

fix: bound graph drift and recover history after tab sleep
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/tests/e2e/overview-metric-rebase.spec.ts
Due: prettier, eslint

feat: generate planned X-band shutdown and turn-on POIs
  backend/starlink-location/app/mission/timeline_builder/events.py
  backend/starlink-location/app/mission/timeline_builder/pois.py
  backend/starlink-location/app/mission/timeline_builder/warnings.py
  backend/starlink-location/app/mission/timeline_preparation.py
  backend/starlink-location/app/models/poi.py
  backend/starlink-location/app/services/poi/manager.py
  backend/starlink-location/app/services/route_eta/calculator.py
  backend/starlink-location/tests/unit/test_x_band_warning_pois.py
  docs/api/endpoints/overview-upcoming-pois.md
  frontend/mission-planner/src/services/overview-upcoming-pois.ts
Due: prettier, eslint, markdownlint, naming-convention

docs: draft parallel customer mission briefing trial specification
  docs/superpowers/specs/2026-10-07-customer-mission-briefing-trial-design.md
Due: prettier, markdownlint, naming-convention

docs: specify interruptible background slide generation follow-up
  docs/superpowers/specs/2026-10-07-mission-slide-background-generation-design.md
Due: prettier, markdownlint, naming-convention

docs: revise trial briefing around leg posture and coordination feedback
  docs/superpowers/specs/2026-10-07-customer-mission-briefing-trial-design.md
Due: prettier, markdownlint, naming-convention

docs: format background generation cross-reference
  docs/superpowers/specs/2026-10-07-customer-mission-briefing-trial-design.md
Due: prettier, markdownlint, naming-convention

docs: format background slide generation design
  docs/superpowers/specs/2026-10-07-mission-slide-background-generation-design.md
Due: prettier, markdownlint, naming-convention

docs: clarify binary lanes and non-overlapping coordination windows
  docs/superpowers/specs/2026-10-07-customer-mission-briefing-trial-design.md
Due: prettier, markdownlint, naming-convention

docs: gate background generation on deck validation
  docs/superpowers/specs/2026-10-07-mission-slide-background-generation-design.md
Due: prettier, markdownlint, naming-convention

docs: filter quiet nominal intervals from primary coordination table
  docs/superpowers/specs/2026-10-07-customer-mission-briefing-trial-design.md
Due: prettier, markdownlint, naming-convention

docs: specify customer mission briefing trial and background generation
  docs/superpowers/specs/2026-10-07-customer-mission-briefing-trial-design.md
  docs/superpowers/specs/2026-10-07-mission-slide-background-generation-design.md
Due: prettier, markdownlint, naming-convention

docs: plan phase-one customer mission briefing trial
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-phase-one-acceptance.md
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-phase-one.md
Due: prettier, markdownlint, naming-convention

docs: separate renderer feasibility and prove mission budget
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-phase-one-acceptance.md
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-phase-one.md
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-renderer-feasibility.md
Due: prettier, markdownlint, naming-convention

docs: clarify quiet-leg copy preserves standard SOF
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-phase-one-acceptance.md
Due: prettier, markdownlint, naming-convention

docs: plan phase-one customer mission briefing trial (#308)
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-phase-one-acceptance.md
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-phase-one.md
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-renderer-feasibility.md
Due: prettier, markdownlint, naming-convention

feat(mission): capture immutable legacy export snapshots
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/exporter/snapshot.py
  backend/starlink-location/app/mission/exporter/snapshot_inputs.py
  backend/starlink-location/app/mission/exporter/snapshot_views.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/mission/timeline_builder/events.py
  backend/starlink-location/app/mission/timeline_preparation.py
  backend/starlink-location/app/satellites/catalog.py
  backend/starlink-location/app/satellites/coverage.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_package_adjusted_export.py
  backend/starlink-location/tests/unit/test_package_export_adjusted_times.py
  backend/starlink-location/tests/unit/test_package_exporter.py
  backend/starlink-location/tests/unit/test_pptx_builder.py
  tools/acceptance/customer-briefing/compare_legacy.py
  tools/acceptance/customer-briefing/task-one-evidence.json
Due: prettier

fix: preserve independent X-band timeline restrictions
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/replay_state.py
  backend/starlink-location/app/mission/state.py
  backend/starlink-location/app/mission/timeline.py
  backend/starlink-location/app/mission/timeline_builder/events.py
  backend/starlink-location/app/satellites/rules.py
  backend/starlink-location/tests/integration/test_x_constraint_timeline_api.py
  backend/starlink-location/tests/unit/test_x_constraint_propagation.py
Due: none

feat: add standalone customer briefing renderer feasibility gate
  .gitignore
  backend/starlink-location/tests/fixtures/customer_briefing/f08_map_inputs.json
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-renderer-feasibility.md
  frontend/mission-planner/mission-export.html
  frontend/mission-planner/package.json
  frontend/mission-planner/playwright.mission-export.config.ts
  frontend/mission-planner/src/mission-export/framing.test.ts
  frontend/mission-planner/src/mission-export/framing.ts
  frontend/mission-planner/src/mission-export/main.tsx
  frontend/mission-planner/src/mission-export/protocol.ts
  frontend/mission-planner/src/mission-export/render.mjs
  frontend/mission-planner/src/mission-export/scene.tsx
  frontend/mission-planner/tests/e2e/mission-export-map.spec.ts
  frontend/mission-planner/vite.mission-export.config.ts
  tools/acceptance/customer-briefing/Dockerfile.renderer-feasibility
  tools/acceptance/customer-briefing/Dockerfile.renderer-feasibility.dockerignore
  tools/acceptance/customer-briefing/map_feasibility.mjs
  tools/tests/test_map_feasibility.mjs
Due: prettier, eslint, markdownlint, naming-convention

fix: preserve independent X-band timeline restrictions (#311)
  backend/starlink-location/app/mission/call_availability.py
  backend/starlink-location/app/mission/replay_state.py
  backend/starlink-location/app/mission/state.py
  backend/starlink-location/app/mission/timeline.py
  backend/starlink-location/app/mission/timeline_builder/events.py
  backend/starlink-location/app/satellites/rules.py
  backend/starlink-location/tests/integration/test_x_constraint_timeline_api.py
  backend/starlink-location/tests/unit/test_x_constraint_propagation.py
Due: none

test: record renderer feasibility proof and preserve frontend build context
  frontend/mission-planner/src/mission-export/framing.test.ts
  tools/acceptance/customer-briefing/task-3a-evidence.json
Due: prettier, eslint

feat(mission): resolve trial intervals and per-leg clocks
  backend/starlink-location/app/mission/exporter/snapshot.py
  backend/starlink-location/app/mission/exporter/trial_clocks.py
  backend/starlink-location/app/mission/exporter/trial_projection.py
  backend/starlink-location/tests/fixtures/customer_briefing/f01.json
  backend/starlink-location/tests/fixtures/customer_briefing/f02.json
  backend/starlink-location/tests/fixtures/customer_briefing/f02_ar.json
  backend/starlink-location/tests/fixtures/customer_briefing/f03.json
  backend/starlink-location/tests/fixtures/customer_briefing/f04.json
  backend/starlink-location/tests/fixtures/customer_briefing/f05.json
  backend/starlink-location/tests/fixtures/customer_briefing/f06.json
  backend/starlink-location/tests/fixtures/customer_briefing/f07.json
  backend/starlink-location/tests/fixtures/customer_briefing/f08.json
  backend/starlink-location/tests/fixtures/customer_briefing/f10.json
  backend/starlink-location/tests/unit/customer_briefing_fixtures.py
  backend/starlink-location/tests/unit/test_trial_clocks.py
  backend/starlink-location/tests/unit/test_trial_projection.py
  tools/acceptance/customer-briefing/task-2-evidence.json
Due: prettier

feat(mission): integrate bounded production trial maps
  .dockerignore
  .github/workflows/publish-ghcr.yml
  backend/starlink-location/Dockerfile
  backend/starlink-location/app/mission/exporter/trial_maps.py
  backend/starlink-location/tests/unit/test_trial_maps.py
  docker-compose.yml
  frontend/mission-planner/src/mission-export/render.mjs
  tools/acceptance/compose.py
  tools/acceptance/customer-briefing/map_production.py
  tools/acceptance/customer-briefing/production_map_probe.py
  tools/acceptance/overview-boundaries/compose.yml
  tools/acceptance/overview-window-sync/compose.yml
  tools/check_publish_ghcr_workflow.py
  tools/smoke-portainer-profile.sh
  tools/tests/test_acceptance_platform_dockerfiles.py
  tools/tests/test_portainer_deploy_profile.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier

test: record final production map integration proof
  tools/acceptance/customer-briefing/task-3b-evidence.json
Due: prettier

feat: build editable customer briefing trial slides
  backend/starlink-location/app/mission/exporter/trial_layout.py
  backend/starlink-location/app/mission/exporter/trial_pptx.py
  backend/starlink-location/tests/fixtures/customer_briefing/f09.json
  backend/starlink-location/tests/unit/test_trial_pptx.py
  tools/acceptance/customer-briefing/deck_preview.py
Due: prettier

test: record task four deck acceptance evidence
  tools/acceptance/customer-briefing/task-4-evidence.json
Due: prettier

feat: add isolated customer briefing trial to mission exports
  backend/starlink-location/app/mission/exporter/trial_pptx.py
  backend/starlink-location/app/mission/package/__init__.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/models/config.py
  backend/starlink-location/config.yaml
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_config.py
  backend/starlink-location/tests/unit/test_trial_export_endpoint.py
  backend/starlink-location/tests/unit/test_trial_package.py
  frontend/mission-planner/src/components/missions/ExportDialog.test.tsx
  frontend/mission-planner/src/components/missions/ExportDialog.tsx
  frontend/mission-planner/src/services/export-import.test.ts
  frontend/mission-planner/src/services/export-import.ts
  frontend/mission-planner/src/types/export.ts
Due: prettier, eslint

test: preserve CORS and warning-free export completion contracts
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  frontend/mission-planner/src/components/missions/ExportDialog.test.tsx
Due: prettier, eslint

docs: record Task 5 export verification and teardown checkpoint
  tools/acceptance/customer-briefing/task-5-evidence.json
Due: prettier

docs: correct Task 5 ownership evidence bookkeeping
  tools/acceptance/customer-briefing/task-5-evidence.json
Due: prettier

style: format corrected Task 5 evidence
  tools/acceptance/customer-briefing/task-5-evidence.json
Due: prettier

test: add customer briefing phase-one acceptance runner
  tools/acceptance/customer-briefing/Dockerfile.render
  tools/acceptance/customer-briefing/README.md
  tools/acceptance/customer-briefing/backend_probe.py
  tools/acceptance/customer-briefing/compose.yml
  tools/acceptance/customer-briefing/direct_export.py
  tools/acceptance/customer-briefing/generate.py
  tools/acceptance/customer-briefing/inspect_pptx.py
  tools/acceptance/customer-briefing/journey.mjs
  tools/acceptance/customer-briefing/render_decks.py
  tools/acceptance/customer-briefing/run.sh
  tools/tests/test_customer_briefing_runner.py
Due: prettier, markdownlint

fix: expose acceptance app and initialize private probe data
  tools/acceptance/customer-briefing/backend_probe.py
  tools/acceptance/customer-briefing/compose.yml
  tools/tests/test_customer_briefing_runner.py
Due: prettier

test: preserve source semantics in customer briefing acceptance
  tools/acceptance/customer-briefing/README.md
  tools/acceptance/customer-briefing/anonymize_package.py
  tools/acceptance/customer-briefing/generate.py
  tools/acceptance/customer-briefing/run.sh
  tools/tests/test_customer_briefing_runner.py
Due: prettier, markdownlint

fix: address phase-one review boundaries and acceptance preservation
  backend/starlink-location/app/mission/exporter/snapshot.py
  backend/starlink-location/app/mission/timeline_builder/events.py
  backend/starlink-location/app/mission/timeline_preparation.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  frontend/mission-planner/nginx.conf
  tools/acceptance/customer-briefing/anonymize_package.py
  tools/acceptance/customer-briefing/generate.py
  tools/tests/test_customer_briefing_runner.py
Due: none

test: finalize phase-one review checkpoint and precise clock layout
  backend/starlink-location/app/mission/exporter/trial_pptx.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_trial_pptx.py
  tools/acceptance/customer-briefing/README.md
  tools/acceptance/customer-briefing/generate.py
  tools/acceptance/customer-briefing/task-6-evidence.json
Due: prettier, markdownlint

fix: run acceptance helpers as the production application user
  tools/acceptance/customer-briefing/generate.py
Due: none

fix(acceptance): invoke canonical runner from archived source
  tools/acceptance/customer-briefing/generate.py
Due: none

docs: specify customer briefing composition redesign
  docs/superpowers/specs/2026-10-07-customer-mission-briefing-trial-design.md
  docs/superpowers/specs/2026-10-08-customer-briefing-composition-redesign.md
Due: prettier, markdownlint, naming-convention

docs: avoid trailing spaces in briefing header example
  docs/superpowers/specs/2026-10-08-customer-briefing-composition-redesign.md
Due: prettier, markdownlint, naming-convention
