Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

fix: correct map layer ordering for timeline preview
  frontend/mission-planner/src/components/common/RouteMap.tsx
Due: prettier, eslint

debug: add logging to timeline segment visualization
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
Due: prettier, eslint

fix: improve visibility of timeline status segments on map
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
Due: prettier, eslint

fix: use pathOptions for react-leaflet polyline styling
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
Due: prettier, eslint

fix: correct statistics field names in timeline preview display
  frontend/mission-planner/src/components/timeline/TimelinePreviewSection.tsx
Due: prettier, eslint

chore: remove debug logging from timeline visualization
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
Due: prettier, eslint

feat: implement real-time timeline preview system (#22)
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/timeline_builder/aar.py
  backend/starlink-location/app/mission/timeline_service.py
  frontend/mission-planner/src/components/common/RouteMap.tsx
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
  frontend/mission-planner/src/components/timeline/TimelinePreviewSection.tsx
  frontend/mission-planner/src/components/timeline/TimelineTable.tsx
  frontend/mission-planner/src/hooks/api/useTimelinePreview.ts
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
  frontend/mission-planner/src/services/timeline.ts
  openspec/changes/add-realtime-timeline-preview/design.md
  openspec/changes/add-realtime-timeline-preview/proposal.md
  openspec/changes/add-realtime-timeline-preview/specs/timeline-preview/spec.md
  openspec/changes/add-realtime-timeline-preview/tasks.md
Due: prettier, eslint, markdownlint

chore: archive add-realtime-timeline-preview change
  openspec/changes/archive/2026-01-08-add-realtime-timeline-preview/design.md
  openspec/changes/archive/2026-01-08-add-realtime-timeline-preview/proposal.md
  openspec/changes/archive/2026-01-08-add-realtime-timeline-preview/specs/timeline-preview/spec.md
  openspec/changes/archive/2026-01-08-add-realtime-timeline-preview/tasks.md
  openspec/specs/timeline-preview/spec.md
Due: prettier, markdownlint

feat: add POI and Route management UI to React frontend
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/components/pois/POIDialog.tsx
  frontend/mission-planner/src/components/pois/POIFilterBar.tsx
  frontend/mission-planner/src/components/pois/POIForm.tsx
  frontend/mission-planner/src/components/pois/POIList.tsx
  frontend/mission-planner/src/components/pois/POIMap.tsx
  frontend/mission-planner/src/components/routes/RouteActionsMenu.tsx
  frontend/mission-planner/src/components/routes/RouteDetailView.tsx
  frontend/mission-planner/src/components/routes/RouteList.tsx
  frontend/mission-planner/src/components/routes/RouteUploadDialog.tsx
  frontend/mission-planner/src/components/ui/ConfirmDialog.tsx
  frontend/mission-planner/src/components/ui/IconPicker.tsx
  frontend/mission-planner/src/hooks/api/usePOIs.ts
  frontend/mission-planner/src/hooks/api/useRoutes.ts
  frontend/mission-planner/src/pages/POIManagerPage.tsx
  frontend/mission-planner/src/pages/RouteManagerPage.tsx
  frontend/mission-planner/src/services/pois.ts
  frontend/mission-planner/src/services/routes.ts
  frontend/mission-planner/src/types/poi.ts
  frontend/mission-planner/src/types/route.ts
  openspec/changes/add-poi-route-ui-management/proposal.md
  openspec/changes/add-poi-route-ui-management/specs/poi-management/spec.md
  openspec/changes/add-poi-route-ui-management/specs/route-management/spec.md
  openspec/changes/add-poi-route-ui-management/tasks.md
Due: prettier, eslint, markdownlint

fix: improve POI form UX and error handling
  frontend/mission-planner/src/components/pois/POIDialog.tsx
  frontend/mission-planner/src/components/pois/POIForm.tsx
  frontend/mission-planner/src/services/api-client.ts
  frontend/mission-planner/src/services/pois.ts
Due: prettier, eslint

fix: show all POIs by default instead of filtering active only
  frontend/mission-planner/src/components/pois/POIFilterBar.tsx
  frontend/mission-planner/src/hooks/api/usePOIs.ts
  frontend/mission-planner/src/pages/POIManagerPage.tsx
Due: prettier, eslint

feat(mission-planner): POI and Route management UI improvements
  .pre-commit-config.yaml
  frontend/mission-planner/src/components/pois/POIDialog.tsx
  frontend/mission-planner/src/components/pois/POIFilterBar.tsx
  frontend/mission-planner/src/components/pois/POIForm.tsx
  frontend/mission-planner/src/components/pois/POIList.tsx
  frontend/mission-planner/src/components/pois/POIMap.tsx
  frontend/mission-planner/src/components/routes/RouteActionsMenu.tsx
  frontend/mission-planner/src/components/routes/RouteDetailDialog.tsx
  frontend/mission-planner/src/components/routes/RouteDetailView.tsx
  frontend/mission-planner/src/components/routes/RouteList.tsx
  frontend/mission-planner/src/components/ui/dialog.tsx
  frontend/mission-planner/src/pages/POIManagerPage.tsx
  frontend/mission-planner/src/pages/RouteManagerPage.tsx
  frontend/mission-planner/src/services/routes.ts
  openspec/changes/add-poi-route-ui-management/tasks.md
Due: prettier, eslint, markdownlint

feat: add Starlink telemetry CSV export with Zulu time support
  backend/starlink-location/app/api/export/__init__.py
  backend/starlink-location/app/api/export/csv_export.py
  backend/starlink-location/app/api/export/prometheus.py
  backend/starlink-location/main.py
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/pages/DataExportPage.tsx
  openspec/changes/archive/2026-01-30-starlink-data-csv-export/.openspec.yaml
  openspec/changes/archive/2026-01-30-starlink-data-csv-export/design.md
  openspec/changes/archive/2026-01-30-starlink-data-csv-export/proposal.md
  openspec/changes/archive/2026-01-30-starlink-data-csv-export/specs/starlink-csv-export/spec.md
  openspec/changes/archive/2026-01-30-starlink-data-csv-export/tasks.md
  openspec/specs/starlink-csv-export/spec.md
Due: prettier, eslint, markdownlint

feat: add GPS location control with toggle UI and API endpoints
  backend/starlink-location/app/api/gps.py
  backend/starlink-location/app/live/client.py
  backend/starlink-location/app/models/gps.py
  backend/starlink-location/main.py
  backend/starlink-location/requirements.txt
  backend/starlink-location/tests/integration/test_gps_api.py
  backend/starlink-location/tests/unit/test_starlink_client.py
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/components/gps/GPSControlCard.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/services/gps.ts
  frontend/mission-planner/src/types/gps.ts
  openspec/changes/archive/2026-02-09-starlink-location-only-toggle/.openspec.yaml
  openspec/changes/archive/2026-02-09-starlink-location-only-toggle/design.md
  openspec/changes/archive/2026-02-09-starlink-location-only-toggle/proposal.md
  openspec/changes/archive/2026-02-09-starlink-location-only-toggle/specs/gps-location-control/spec.md
  openspec/changes/archive/2026-02-09-starlink-location-only-toggle/tasks.md
  openspec/config.yaml
  openspec/specs/gps-location-control/spec.md
Due: prettier, eslint, markdownlint

fix: update Black to 26.1.0 and apply formatting fixes
  .pre-commit-config.yaml
  backend/starlink-location/tests/integration/test_eta_modes.py
  backend/starlink-location/tests/integration/test_kml_poi_integration.py
  backend/starlink-location/tests/unit/test_mission_state.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
Due: prettier

feat: add real-time ETA display, route visualization, and POI form improvements
  backend/starlink-location/app/api/ui/templates.py
  frontend/mission-planner/src/components/pois/POIFilterBar.tsx
  frontend/mission-planner/src/components/pois/POIForm.tsx
  frontend/mission-planner/src/components/pois/POIList.tsx
  frontend/mission-planner/src/components/pois/POIMap.tsx
  frontend/mission-planner/src/hooks/api/useRoutes.ts
  frontend/mission-planner/src/pages/POIManagerPage.tsx
  frontend/mission-planner/src/services/pois.ts
  openspec/changes/add-poi-route-ui-management/design.md
  openspec/changes/add-poi-route-ui-management/tasks.md
Due: prettier, eslint, markdownlint

chore: archive add-poi-route-ui-management and sync specs
  openspec/changes/archive/2026-02-09-add-poi-route-ui-management/design.md
  openspec/changes/archive/2026-02-09-add-poi-route-ui-management/proposal.md
  openspec/changes/archive/2026-02-09-add-poi-route-ui-management/specs/poi-management/spec.md
  openspec/changes/archive/2026-02-09-add-poi-route-ui-management/specs/route-management/spec.md
  openspec/changes/archive/2026-02-09-add-poi-route-ui-management/tasks.md
  openspec/specs/poi-management/spec.md
  openspec/specs/route-management/spec.md
Due: prettier, markdownlint

fix: handle IDL line wrapping in color-coded route and PPTX fallback path
  backend/starlink-location/app/mission/exporter/__main__.py
  frontend/mission-planner/src/components/common/RouteMap.tsx
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
  openspec/changes/fix-idl-line-wrapping/.openspec.yaml
  openspec/changes/fix-idl-line-wrapping/design.md
  openspec/changes/fix-idl-line-wrapping/proposal.md
  openspec/changes/fix-idl-line-wrapping/specs/mission-export/spec.md
  openspec/changes/fix-idl-line-wrapping/specs/timeline-preview/spec.md
  openspec/changes/fix-idl-line-wrapping/tasks.md
Due: prettier, eslint, markdownlint

chore: archive fix-idl-line-wrapping and sync specs
  openspec/changes/archive/2026-02-27-fix-idl-line-wrapping/.openspec.yaml
  openspec/changes/archive/2026-02-27-fix-idl-line-wrapping/design.md
  openspec/changes/archive/2026-02-27-fix-idl-line-wrapping/proposal.md
  openspec/changes/archive/2026-02-27-fix-idl-line-wrapping/specs/mission-export/spec.md
  openspec/changes/archive/2026-02-27-fix-idl-line-wrapping/specs/timeline-preview/spec.md
  openspec/changes/archive/2026-02-27-fix-idl-line-wrapping/tasks.md
  openspec/specs/mission-export/spec.md
  openspec/specs/timeline-preview/spec.md
Due: prettier, markdownlint

fix: align x_transitions preview request fields with backend XTransition model
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/services/timeline.ts
  openspec/changes/fix-xband-preview-field-mismatch/.openspec.yaml
  openspec/changes/fix-xband-preview-field-mismatch/design.md
  openspec/changes/fix-xband-preview-field-mismatch/proposal.md
  openspec/changes/fix-xband-preview-field-mismatch/specs/timeline-preview/spec.md
  openspec/changes/fix-xband-preview-field-mismatch/tasks.md
Due: prettier, eslint, markdownlint

chore: archive fix-xband-preview-field-mismatch and sync specs
  openspec/changes/archive/2026-02-27-fix-xband-preview-field-mismatch/.openspec.yaml
  openspec/changes/archive/2026-02-27-fix-xband-preview-field-mismatch/design.md
  openspec/changes/archive/2026-02-27-fix-xband-preview-field-mismatch/proposal.md
  openspec/changes/archive/2026-02-27-fix-xband-preview-field-mismatch/specs/timeline-preview/spec.md
  openspec/changes/archive/2026-02-27-fix-xband-preview-field-mismatch/tasks.md
  openspec/specs/timeline-preview/spec.md
Due: prettier, markdownlint

fix: blank segment column header and reduce PPTX table font to 8pt
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  openspec/changes/pptx-table-formatting/.openspec.yaml
  openspec/changes/pptx-table-formatting/design.md
  openspec/changes/pptx-table-formatting/proposal.md
  openspec/changes/pptx-table-formatting/specs/mission-export/spec.md
  openspec/changes/pptx-table-formatting/tasks.md
Due: prettier, markdownlint

chore: archive pptx-table-formatting and sync specs
  openspec/changes/archive/2026-02-28-pptx-table-formatting/.openspec.yaml
  openspec/changes/archive/2026-02-28-pptx-table-formatting/design.md
  openspec/changes/archive/2026-02-28-pptx-table-formatting/proposal.md
  openspec/changes/archive/2026-02-28-pptx-table-formatting/specs/mission-export/spec.md
  openspec/changes/archive/2026-02-28-pptx-table-formatting/tasks.md
  openspec/specs/mission-export/spec.md
Due: prettier, markdownlint

fix: resolve overlapping PPTX map labels with adjustText collision avoidance
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/requirements.txt
  openspec/changes/archive/2026-02-28-fix-pptx-label-overlap/.openspec.yaml
  openspec/changes/archive/2026-02-28-fix-pptx-label-overlap/design.md
  openspec/changes/archive/2026-02-28-fix-pptx-label-overlap/proposal.md
  openspec/changes/archive/2026-02-28-fix-pptx-label-overlap/specs/map-label-layout/spec.md
  openspec/changes/archive/2026-02-28-fix-pptx-label-overlap/specs/mission-export/spec.md
  openspec/changes/archive/2026-02-28-fix-pptx-label-overlap/tasks.md
  openspec/specs/map-label-layout/spec.md
  openspec/specs/mission-export/spec.md
Due: prettier, markdownlint

fix: prevent duplicate mission POIs on timeline rebuild
  backend/starlink-location/app/mission/timeline_builder/pois.py
  openspec/changes/archive/2026-02-28-fix-duplicate-mission-pois/.openspec.yaml
  openspec/changes/archive/2026-02-28-fix-duplicate-mission-pois/design.md
  openspec/changes/archive/2026-02-28-fix-duplicate-mission-pois/proposal.md
  openspec/changes/archive/2026-02-28-fix-duplicate-mission-pois/specs/poi-management/spec.md
  openspec/changes/archive/2026-02-28-fix-duplicate-mission-pois/tasks.md
  openspec/specs/poi-management/spec.md
Due: prettier, markdownlint

Fix stale timeline appearing in second mission export
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/storage.py
Due: none

Address PR review: delete legacy timeline files and add tests
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/tests/unit/test_mission_storage.py
Due: none

Fix Black/ruff lint failures from previous commit
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/tests/unit/test_mission_storage.py
Due: none

Address review: rename path helper, auto-migrate legacy timelines, add tests
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/tests/unit/test_mission_storage.py
Due: none

Fix Black failure in routes_v2.py; minor review polish
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/tests/unit/test_mission_storage.py
Due: none

Add clarifying comments to timeline storage functions
  backend/starlink-location/app/mission/storage.py
Due: none

Validate adjusted departure preview datetime
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
Due: none

Validate adjusted departure preview datetime (#35)
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
Due: none

docs: add timeline preview user documentation
  docs/api/README.md
  docs/api/endpoints/README.md
  docs/api/endpoints/timeline-preview.md
  docs/api/examples/README.md
  docs/api/examples/timeline-preview.md
  docs/api/models/README.md
  docs/api/models/timeline-preview.md
  docs/assets/timeline-preview-map.png
  docs/assets/timeline-preview-table.png
  docs/features/README.md
  docs/features/mission-planning.md
  docs/features/overview.md
  docs/missions/mission-planning-guide.md
  docs/missions/planning/overview.md
Due: prettier, markdownlint, naming-convention

docs: tighten timeline preview docs and CI formatting
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
  docs/api/README.md
  docs/api/endpoints/timeline-preview.md
  docs/api/examples/timeline-preview.md
  docs/api/models/timeline-preview.md
  docs/features/overview.md
Due: prettier, markdownlint, naming-convention

ci: remove Claude Code GitHub Actions
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier
