Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

docs: require fully assessed briefing visual checkpoint
  docs/superpowers/specs/2026-10-08-customer-briefing-composition-redesign.md
Due: prettier, markdownlint, naming-convention

docs: plan customer briefing composition redesign
  docs/superpowers/plans/2026-10-08-customer-briefing-composition-redesign-follow-up.md
  docs/superpowers/plans/2026-10-08-customer-briefing-composition-redesign.md
Due: prettier, markdownlint, naming-convention

docs: address customer briefing plan review
  docs/superpowers/plans/2026-10-08-customer-briefing-composition-redesign-follow-up.md
  docs/superpowers/plans/2026-10-08-customer-briefing-composition-redesign.md
Due: prettier, markdownlint, naming-convention

docs: restart customer briefing trial with HTML-to-PDF design
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-phase-one-acceptance.md
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-phase-one.md
  docs/superpowers/plans/2026-10-07-customer-mission-briefing-renderer-feasibility.md
  docs/superpowers/specs/2026-10-07-customer-mission-briefing-trial-design.md
  docs/superpowers/specs/2026-10-08-customer-briefing-html-pdf-design.md
Due: prettier, markdownlint, naming-convention

docs: clarify shared briefing deadline and browser lifecycle
  docs/superpowers/specs/2026-10-08-customer-briefing-html-pdf-design.md
Due: prettier, markdownlint, naming-convention

docs: plan HTML-to-PDF first visual checkpoint
  docs/superpowers/plans/2026-10-08-customer-briefing-html-pdf-checkpoint.md
  docs/superpowers/plans/2026-10-08-customer-briefing-html-pdf-evidence.md
  docs/superpowers/plans/2026-10-08-customer-briefing-html-pdf-runtime.md
  docs/superpowers/specs/2026-10-08-customer-briefing-html-pdf-design.md
Due: prettier, markdownlint, naming-convention

feat: retain briefing inputs for PDF checkpoint
  backend/starlink-location/app/mission/exporter/customer_clocks.py
  backend/starlink-location/app/mission/exporter/customer_view.py
  backend/starlink-location/app/mission/exporter/snapshot.py
  backend/starlink-location/app/mission/exporter/snapshot_inputs.py
  backend/starlink-location/app/mission/exporter/snapshot_views.py
  backend/starlink-location/app/mission/exporter/trial_clocks.py
  backend/starlink-location/app/mission/exporter/trial_projection.py
  backend/starlink-location/app/mission/timeline_builder/events.py
  backend/starlink-location/app/mission/timeline_preparation.py
  backend/starlink-location/app/satellites/catalog.py
  backend/starlink-location/app/satellites/coverage.py
  backend/starlink-location/tests/fixtures/customer_briefing/composition-assessed.json
  backend/starlink-location/tests/fixtures/customer_briefing/composition-incomplete-x.json
  backend/starlink-location/tests/fixtures/customer_briefing/composition-metric-probe.json
  backend/starlink-location/tests/fixtures/customer_briefing/f01.json
  backend/starlink-location/tests/fixtures/customer_briefing/f02.json
  backend/starlink-location/tests/fixtures/customer_briefing/f02_ar.json
  backend/starlink-location/tests/fixtures/customer_briefing/f03.json
  backend/starlink-location/tests/fixtures/customer_briefing/f04.json
  backend/starlink-location/tests/fixtures/customer_briefing/f05.json
  backend/starlink-location/tests/fixtures/customer_briefing/f06.json
  backend/starlink-location/tests/fixtures/customer_briefing/f07.json
  backend/starlink-location/tests/fixtures/customer_briefing/f08.json
  backend/starlink-location/tests/fixtures/customer_briefing/f08_map_inputs.json
  backend/starlink-location/tests/fixtures/customer_briefing/f09.json
  backend/starlink-location/tests/fixtures/customer_briefing/f10.json
  backend/starlink-location/tests/unit/customer_briefing_fixtures.py
  backend/starlink-location/tests/unit/test_customer_clocks.py
  backend/starlink-location/tests/unit/test_customer_view.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_trial_clocks.py
  backend/starlink-location/tests/unit/test_trial_projection.py
Due: prettier

feat: compose one-page HTML customer briefing
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/tests/unit/test_customer_document.py
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/briefing/document.test.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
Due: none

feat: validate paired HTML-PDF checkpoint evidence
  backend/starlink-location/app/mission/exporter/customer_evidence.py
  backend/starlink-location/tests/unit/test_customer_evidence.py
  tools/acceptance/customer-briefing/HTML-PDF-README.md
  tools/acceptance/customer-briefing/compose.html-pdf.yml
  tools/acceptance/customer-briefing/html_pdf_checkpoint.py
  tools/acceptance/customer-briefing/html_pdf_generate.py
  tools/acceptance/customer-briefing/html_pdf_inspect.py
  tools/tests/test_customer_briefing_html_pdf_checkpoint.py
Due: prettier, markdownlint

feat: render HTML briefing with one bounded Chromium owner
  .gitignore
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/app/mission/exporter/map_inputs.py
  backend/starlink-location/tests/unit/test_map_inputs.py
  frontend/mission-planner/mission-export.html
  frontend/mission-planner/package.json
  frontend/mission-planner/src/mission-export/briefing-render.browser-test.mjs
  frontend/mission-planner/src/mission-export/briefing-render.mjs
  frontend/mission-planner/src/mission-export/briefing-render.test.mjs
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/framing.test.ts
  frontend/mission-planner/src/mission-export/framing.ts
  frontend/mission-planner/src/mission-export/main.tsx
  frontend/mission-planner/src/mission-export/map-stage.mjs
  frontend/mission-planner/src/mission-export/map-stage.test.mjs
  frontend/mission-planner/src/mission-export/protocol.ts
  frontend/mission-planner/src/mission-export/render-budget.mjs
  frontend/mission-planner/src/mission-export/render-budget.test.mjs
  frontend/mission-planner/src/mission-export/render-owner.mjs
  frontend/mission-planner/src/mission-export/render-owner.test.mjs
  frontend/mission-planner/src/mission-export/scene.tsx
  frontend/mission-planner/vite.mission-export.config.ts
  tools/acceptance/customer-briefing/Dockerfile.html-pdf-checkpoint
  tools/acceptance/customer-briefing/Dockerfile.html-pdf-checkpoint.dockerignore
Due: prettier, eslint

fix: resolve packaged briefing fit and cancellation controls
  backend/starlink-location/tests/unit/test_customer_document.py
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/render-owner.mjs
  frontend/mission-planner/src/mission-export/scene.tsx
  tools/acceptance/customer-briefing/Dockerfile.html-pdf-checkpoint
Due: prettier, eslint

fix: keep checkpoint table clear of footer at print size
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/briefing/document.mjs
Due: none

fix: inspect wrapped PDF capability text in word order
  tools/acceptance/customer-briefing/html_pdf_generate.py
Due: none

fix: qualify cleanup and expose confirmed capability at checkpoint
  frontend/mission-planner/src/mission-export/briefing-render.test.mjs
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
  frontend/mission-planner/src/mission-export/map-stage-budget.test.mjs
  frontend/mission-planner/src/mission-export/map-stage.mjs
  frontend/mission-planner/src/mission-export/map-stage.test.mjs
  frontend/mission-planner/src/mission-export/render-owner.mjs
  tools/acceptance/customer-briefing/html_pdf_checkpoint.py
  tools/acceptance/customer-briefing/html_pdf_generate.py
  tools/tests/test_customer_briefing_html_pdf_checkpoint.py
Due: none

fix: join confirmed labels across unchanged capability boundaries
  frontend/mission-planner/src/mission-export/briefing-render.test.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
Due: none

refactor: refine customer briefing visual checkpoint
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/tests/unit/test_customer_document.py
  frontend/mission-planner/src/mission-export/briefing-render.mjs
  frontend/mission-planner/src/mission-export/briefing-render.test.mjs
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/framing.test.ts
  frontend/mission-planner/src/mission-export/framing.ts
  frontend/mission-planner/src/mission-export/protocol.ts
  frontend/mission-planner/src/mission-export/scene.tsx
Due: prettier, eslint

refactor: simplify customer briefing posture band
  frontend/mission-planner/src/mission-export/briefing-render.test.mjs
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/briefing/timeline.mjs
  frontend/mission-planner/src/mission-export/briefing/timeline.test.mjs
Due: none

docs: add downloadable customer briefing checkpoint PDFs
  docs/samples/customer-briefing/fully-assessed.pdf
  docs/samples/customer-briefing/incomplete-x.pdf
  docs/samples/customer-briefing/manifest.json
Due: prettier

chore: close accepted customer briefing PDF checkpoint
  backend/starlink-location/tests/unit/test_customer_view.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
  backend/starlink-location/tests/unit/test_map_inputs.py
  backend/starlink-location/tests/unit/test_trial_projection.py
  docs/samples/customer-briefing/manifest.json
Due: prettier

docs: plan customer briefing production completion
  docs/superpowers/plans/2026-10-08-customer-briefing-production-integration.md
  docs/superpowers/plans/2026-10-08-customer-briefing-production-pagination.md
  docs/superpowers/plans/2026-10-08-customer-briefing-production.md
  docs/superpowers/specs/2026-10-08-customer-briefing-production-design.md
Due: prettier, markdownlint, naming-convention

feat: retain briefing map diagnostics and display contracts
  backend/starlink-location/app/mission/exporter/customer_display.py
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/app/mission/exporter/customer_evidence.py
  backend/starlink-location/tests/unit/test_customer_display.py
  backend/starlink-location/tests/unit/test_customer_document.py
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/briefing/document.test.mjs
Due: none

feat: qualify every coordination row in delivered PDFs
  backend/starlink-location/app/mission/exporter/customer_evidence.py
  backend/starlink-location/app/mission/exporter/customer_pdf.py
  backend/starlink-location/tests/unit/test_customer_evidence.py
  backend/starlink-location/tests/unit/test_customer_pdf.py
  frontend/mission-planner/src/mission-export/briefing-render.mjs
  frontend/mission-planner/src/mission-export/briefing/pdf-expectations.mjs
  frontend/mission-planner/src/mission-export/briefing/pdf-expectations.test.mjs
  tools/acceptance/customer-briefing/html_pdf_generate.py
  tools/acceptance/customer-briefing/html_pdf_inspect.py
Due: none

fix: classify page overflow before building PDF expectations
  frontend/mission-planner/src/mission-export/briefing-render.mjs
Due: none

fix: reject PDF rows appended outside the measured body
  backend/starlink-location/app/mission/exporter/customer_pdf.py
  backend/starlink-location/tests/unit/test_customer_pdf.py
  frontend/mission-planner/src/mission-export/briefing-render.mjs
  frontend/mission-planner/src/mission-export/briefing/pdf-expectations.mjs
Due: none

feat: add mission payload and measured pagination foundation
  backend/starlink-location/app/mission/exporter/customer_document.py
  backend/starlink-location/tests/unit/test_customer_document.py
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/briefing/document.test.mjs
  frontend/mission-planner/src/mission-export/briefing/pagination.mjs
  frontend/mission-planner/src/mission-export/briefing/pagination.test.mjs
Due: none

feat: qualify exact multi-leg PDF evidence and dense scenarios
  backend/starlink-location/app/mission/exporter/customer_evidence.py
  backend/starlink-location/tests/fixtures/customer_briefing/mission-five-leg.json
  backend/starlink-location/tests/fixtures/customer_briefing/mission-over-budget.json
  backend/starlink-location/tests/fixtures/customer_briefing/mission-three-page.json
  backend/starlink-location/tests/fixtures/customer_briefing/mission-two-page.json
  backend/starlink-location/tests/unit/customer_briefing_fixtures.py
  backend/starlink-location/tests/unit/test_customer_document.py
  backend/starlink-location/tests/unit/test_customer_evidence.py
  frontend/mission-planner/src/mission-export/briefing/pdf-expectations.test.mjs
Due: prettier

feat: render mission pages and verify PDF under one request owner
  backend/starlink-location/app/mission/exporter/customer_pdf.py
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing-pdf-stage.mjs
  frontend/mission-planner/src/mission-export/briefing-pdf-stage.test.mjs
  frontend/mission-planner/src/mission-export/briefing-render.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.mjs
  frontend/mission-planner/src/mission-export/mission-briefing-render.test.mjs
  frontend/mission-planner/src/mission-export/render-owner.mjs
  tools/acceptance/customer-briefing/compose.html-pdf.yml
  tools/acceptance/customer-briefing/html_pdf_checkpoint.py
  tools/acceptance/customer-briefing/html_pdf_generate.py
  tools/acceptance/customer-briefing/html_pdf_mission_generate.py
Due: prettier

feat: share captured inputs across mission export builders
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/exporter/snapshot_views.py
  backend/starlink-location/app/mission/package/__init__.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/mission/package/snapshot_export.py
  backend/starlink-location/tests/unit/test_export_snapshot.py
Due: none

perf: reuse loaded fonts during mission page measurements
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing-mission-layout.test.mjs
  tools/acceptance/customer-briefing/compose.html-pdf.yml
  tools/acceptance/customer-briefing/html_pdf_checkpoint.py
  tools/acceptance/customer-briefing/html_pdf_generate.py
Due: prettier

perf: batch initial mission fits in one document load
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing-mission-layout.test.mjs
  tools/acceptance/customer-briefing/html_pdf_checkpoint.py
Due: none

fix: preserve fitting primary briefing page geometry
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/briefing/document.test.mjs
Due: none

fix: wrap dated briefing clocks within verified cells
  backend/starlink-location/tests/fixtures/customer_briefing/mission-five-leg.json
  backend/starlink-location/tests/fixtures/customer_briefing/mission-midnight.json
  frontend/mission-planner/src/mission-export/briefing/briefing.css
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/briefing/document.test.mjs
  tools/acceptance/customer-briefing/html_pdf_mission_generate.py
Due: prettier

feat: own optional briefing exports with atomic legacy fallback
  backend/starlink-location/app/core/config.py
  backend/starlink-location/app/mission/exporter/customer_runtime.py
  backend/starlink-location/app/mission/exporter/export_cancel.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/mission/package/customer_artifacts.py
  backend/starlink-location/app/mission/package/export_job.py
  backend/starlink-location/app/mission/package/snapshot_export.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/models/config.py
  backend/starlink-location/config.yaml
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  backend/starlink-location/tests/unit/test_customer_export_job.py
  backend/starlink-location/tests/unit/test_customer_package.py
  backend/starlink-location/tests/unit/test_customer_runtime.py
  frontend/mission-planner/src/mission-export/render-owner.mjs
  frontend/mission-planner/src/mission-export/render-owner.test.mjs
Due: prettier

test: calibrate dense briefing scenarios to measured boundaries
  backend/starlink-location/tests/fixtures/customer_briefing/mission-three-page.json
  backend/starlink-location/tests/fixtures/customer_briefing/mission-two-page.json
  frontend/mission-planner/src/mission-export/briefing/document.mjs
  frontend/mission-planner/src/mission-export/briefing/document.test.mjs
Due: prettier

fix: verify native clock-range wraps without changing semantics
  backend/starlink-location/app/mission/exporter/customer_pdf.py
  backend/starlink-location/tests/unit/test_customer_pdf.py
Due: none

feat: package briefing runtime and preserve omitted-download feedback
  .github/workflows/publish-ghcr.yml
  backend/starlink-location/Dockerfile
  backend/starlink-location/Dockerfile.dockerignore
  docker-compose.yml
  docs/development/customer-briefing-exports.md
  docs/superpowers/plans/2026-10-08-customer-briefing-production-integration.md
  docs/superpowers/plans/2026-10-08-customer-briefing-production-pagination.md
  docs/superpowers/plans/2026-10-08-customer-briefing-production.md
  docs/superpowers/specs/2026-10-08-customer-briefing-production-design.md
  frontend/mission-planner/src/components/missions/ExportDialog.test.tsx
  frontend/mission-planner/src/components/missions/ExportDialog.tsx
  frontend/mission-planner/src/services/export-import.test.ts
  frontend/mission-planner/src/services/export-import.ts
  frontend/mission-planner/src/types/export.ts
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier, eslint, markdownlint, naming-convention

fix: isolate legacy plots and complete PDF process verification
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/customer_pdf.py
  backend/starlink-location/app/mission/exporter/customer_runtime.py
  backend/starlink-location/app/mission/exporter/plot_ownership.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/tests/unit/test_customer_pdf.py
  backend/starlink-location/tests/unit/test_customer_runtime.py
  backend/starlink-location/tests/unit/test_legacy_export_concurrency.py
  frontend/mission-planner/src/mission-export/briefing-mission-layout.mjs
  frontend/mission-planner/src/mission-export/briefing-render.mjs
Due: none

test: own exact-candidate production briefing image qualification
  docs/development/customer-briefing-acceptance.md
  tools/acceptance/customer-briefing/compose.production.yml
  tools/acceptance/customer-briefing/production.py
  tools/acceptance/customer-briefing/production_image_probe.py
  tools/acceptance/customer-briefing/run-production.sh
  tools/tests/test_customer_briefing_production.py
Due: prettier, markdownlint, naming-convention

test: exercise real briefing API ZIPs and production download UI
  tools/acceptance/customer-briefing/production-journey.mjs
  tools/acceptance/customer-briefing/production.py
  tools/acceptance/customer-briefing/production_controls.py
  tools/acceptance/customer-briefing/production_pdf_probe.py
  tools/acceptance/customer-briefing/production_seed.py
  tools/tests/test_customer_briefing_production.py
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

