Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

feat(overview): preserve per-metric observation availability
  backend/starlink-location/app/api/status.py
  backend/starlink-location/app/live/client.py
  backend/starlink-location/app/models/telemetry.py
  backend/starlink-location/app/simulation/coordinator.py
  backend/starlink-location/tests/conftest.py
  backend/starlink-location/tests/integration/test_status.py
  backend/starlink-location/tests/unit/test_active_x_handoff.py
  backend/starlink-location/tests/unit/test_active_x_link.py
  backend/starlink-location/tests/unit/test_labels.py
  backend/starlink-location/tests/unit/test_live_coordinator.py
  backend/starlink-location/tests/unit/test_metric_validation.py
  backend/starlink-location/tests/unit/test_metrics_export.py
  backend/starlink-location/tests/unit/test_simulation_availability.py
  backend/starlink-location/tests/unit/test_starlink_client.py
  docs/api/endpoints/core.md
  docs/api/models/health-status-models.md
Due: prettier, markdownlint, naming-convention

feat(overview): suppress unavailable metric observations
  backend/starlink-location/app/core/labels.py
  backend/starlink-location/app/core/metrics/metric_updater.py
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_metrics.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
  docs/features/overview.md
Due: prettier, markdownlint, naming-convention

docs(api): reconcile metric availability publication contract
  docs/api/endpoints/core.md
  docs/api/models/health-status-models.md
Due: prettier, markdownlint, naming-convention

feat(overview): derive current metric freshness from status
  frontend/mission-planner/src/pages/OverviewMetricsPanel.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-metric-readout.test.ts
  frontend/mission-planner/src/pages/overview-metric-readout.ts
  frontend/mission-planner/src/services/status.ts
Due: prettier, eslint

feat(overview): draw one rolling envelope and readable scales
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/overview-metric-history.test.ts
  frontend/mission-planner/src/pages/overview-metric-history.ts
  frontend/mission-planner/src/pages/overview-metric-plot-options.test.ts
  frontend/mission-planner/src/pages/overview-metric-plot-options.ts
  frontend/mission-planner/src/pages/overview-metric-scale.test.ts
  frontend/mission-planner/src/pages/overview-metric-scale.ts
Due: prettier, eslint

feat(overview): unify five readouts and network history context
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.tsx
  frontend/mission-planner/src/pages/OverviewMetricsPanel.tsx
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-metric-scale.test.ts
  frontend/mission-planner/src/pages/overview-metric-scale.ts
Due: prettier, eslint, markdownlint, naming-convention

test(overview): probe four-series painted motion and lifecycle
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/overview-metric-motion.test.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint

test(overview): reconcile readout gates and record provenance motion
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

test(overview): configure recording at Playwright worker scope
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

fix(overview): avoid unchanged data uploads during visibility rebases
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

test(overview): keep refresh fixtures current while retaining markers
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

test(overview): sample raster after queued uPlot paint commit
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

test(overview): verify painted speed and preserve failed fullscreen evidence
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

test(overview): capture fresh readouts against rotated geography
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

test(overview): migrate globe readouts and assert fullscreen content fit
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
Due: prettier

fix(overview): compact tall fullscreen metric grid without shrinking plots
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

test(overview): exercise fresh and stale fullscreen content fit
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
Due: prettier

test(overview): expose forward-jump hole in painted frame oracle
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

test(overview): enforce signed motion residual and exercise shipped zoom
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

test(overview): retain stationary geometry across illuminated orbit views
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

test(overview): capture terrain and ocean with bounded real orbit input
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

fix(backend): black formatting
  backend/starlink-location/app/api/status.py
  backend/starlink-location/app/core/labels.py
Due: none

feat(overview): cache incremental history and memoize chart processing
  .env.example
  backend/starlink-location/app/api/overview_history.py
  backend/starlink-location/app/services/overview_history_cache.py
  backend/starlink-location/app/services/overview_history_identity.py
  backend/starlink-location/app/services/overview_history_merge.py
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/overview_history_cache_fixture.py
  backend/starlink-location/tests/unit/test_overview_history_api_cache.py
  backend/starlink-location/tests/unit/test_overview_history_cache.py
  backend/starlink-location/tests/unit/test_overview_history_cache_bounds.py
  docker-compose.yml
  docs/api/endpoints/overview-history.md
  docs/features/overview.md
  docs/superpowers/plans/2026-10-01-overview-history-efficiency.md
  frontend/mission-planner/Dockerfile
  frontend/mission-planner/src/hooks/api/useOverviewHistory.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistory.ts
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/overview-metric-history.ts
  frontend/mission-planner/src/pages/overview-metric-scale.ts
  tools/benchmark_overview_history.py
Due: prettier, eslint, markdownlint, naming-convention

test(overview): reconcile late samples and record history efficiency controls
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/overview_history_cache_fixture.py
  backend/starlink-location/tests/unit/test_overview_history_cache.py
  backend/starlink-location/tests/unit/test_overview_history_cache_bounds.py
  docs/superpowers/plans/2026-10-01-overview-history-efficiency-measurements.md
  docs/superpowers/plans/2026-10-01-overview-history-efficiency.md
Due: prettier, markdownlint, naming-convention

fix(overview): preserve raw history when aggregate requests time out
  backend/starlink-location/app/services/overview_history_cache.py
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/app/services/overview_history_rollups.py
  backend/starlink-location/tests/unit/overview_history_cache_fixture.py
  backend/starlink-location/tests/unit/test_overview_history_cache.py
  backend/starlink-location/tests/unit/test_overview_history_cache_bounds.py
  docs/api/endpoints/overview-history.md
  docs/superpowers/plans/2026-10-01-overview-history-efficiency-measurements.md
  docs/superpowers/plans/2026-10-01-overview-history-efficiency.md
Due: prettier, markdownlint, naming-convention

fix(overview): bound ambiguity recovery and tolerate status clock skew
  backend/starlink-location/app/services/overview_history_cache.py
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/app/services/overview_history_rollups.py
  backend/starlink-location/tests/unit/overview_history_cache_fixture.py
  backend/starlink-location/tests/unit/test_overview_history_cache_recovery.py
  docs/api/endpoints/overview-history.md
  docs/superpowers/specs/2026-09-30-overview-metric-provenance-design.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.test.tsx
  frontend/mission-planner/src/pages/overview-metric-readout.test.ts
  frontend/mission-planner/src/pages/overview-metric-readout.ts
  frontend/mission-planner/src/pages/status-freshness.test.ts
  frontend/mission-planner/src/pages/status-freshness.ts
  tools/benchmark_overview_history.py
  tools/tests/test_benchmark_overview_history.py
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): retain skew-valid status observations
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.retention.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.tsx
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): cache incremental history and prepare 1s polling (#228)
  .env.example
  backend/starlink-location/app/api/overview_history.py
  backend/starlink-location/app/services/overview_history_cache.py
  backend/starlink-location/app/services/overview_history_identity.py
  backend/starlink-location/app/services/overview_history_merge.py
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/app/services/overview_history_rollups.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/overview_history_cache_fixture.py
  backend/starlink-location/tests/unit/test_overview_history_api_cache.py
  backend/starlink-location/tests/unit/test_overview_history_cache.py
  backend/starlink-location/tests/unit/test_overview_history_cache_bounds.py
  backend/starlink-location/tests/unit/test_overview_history_cache_recovery.py
  docker-compose.yml
  docs/api/endpoints/overview-history.md
  docs/features/overview.md
  docs/superpowers/plans/2026-10-01-overview-history-efficiency-measurements.md
  docs/superpowers/plans/2026-10-01-overview-history-efficiency.md
  docs/superpowers/specs/2026-09-30-overview-metric-provenance-design.md
  frontend/mission-planner/Dockerfile
  frontend/mission-planner/src/hooks/api/useOverviewHistory.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistory.ts
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.retention.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.tsx
  frontend/mission-planner/src/pages/overview-metric-history.ts
  frontend/mission-planner/src/pages/overview-metric-readout.test.ts
  frontend/mission-planner/src/pages/overview-metric-readout.ts
  frontend/mission-planner/src/pages/overview-metric-scale.ts
  frontend/mission-planner/src/pages/status-freshness.test.ts
  frontend/mission-planner/src/pages/status-freshness.ts
  tools/benchmark_overview_history.py
  tools/tests/test_benchmark_overview_history.py
Due: prettier, eslint, markdownlint, naming-convention

Polish Overview metric cards to match the display concept (#216)
  docs/features/overview.md
  docs/superpowers/plans/2026-10-01-overview-metric-cleanup.md
  docs/superpowers/specs/2026-09-30-responsive-overview-design.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.retention.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.tsx
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewVisualTokens.css
  frontend/mission-planner/src/pages/overview-metric-format.test.ts
  frontend/mission-planner/src/pages/overview-metric-format.ts
  frontend/mission-planner/src/pages/overview-metric-history.test.ts
  frontend/mission-planner/src/pages/overview-metric-history.ts
  frontend/mission-planner/tests/e2e/overview-metric-cleanup.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

Fix enlarged-text layout and refine Overview transparency and scales
  docs/features/overview.md
  docs/superpowers/plans/2026-10-01-overview-metric-cleanup.md
  docs/superpowers/specs/2026-09-30-responsive-overview-design.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewVisualTokens.css
  frontend/mission-planner/src/pages/overview-metric-scale.test.ts
  frontend/mission-planner/src/pages/overview-metric-scale.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-globe-ready-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-metric-cleanup.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

Remove the overview-globe-ready browser test and baseline
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-globe-ready-chromium-linux.png
Due: prettier

fix(overview): retain pixel fit floors for smaller root text
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/tests/e2e/overview-metric-cleanup.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
Due: prettier, markdownlint, naming-convention

Fix Overview review geometry and simplify network header
  docs/features/overview.md
  docs/superpowers/plans/2026-10-01-overview-metric-cleanup.md
  docs/superpowers/specs/2026-09-30-responsive-overview-design.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.tsx
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-metric-cleanup.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): polish metric cards and network header (#229)
  docs/features/overview.md
  docs/superpowers/plans/2026-10-01-overview-metric-cleanup.md
  docs/superpowers/specs/2026-09-30-responsive-overview-design.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.retention.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.tsx
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewVisualTokens.css
  frontend/mission-planner/src/pages/overview-metric-format.test.ts
  frontend/mission-planner/src/pages/overview-metric-format.ts
  frontend/mission-planner/src/pages/overview-metric-history.test.ts
  frontend/mission-planner/src/pages/overview-metric-history.ts
  frontend/mission-planner/src/pages/overview-metric-scale.test.ts
  frontend/mission-planner/src/pages/overview-metric-scale.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-globe-ready-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-metric-cleanup.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

test(overview): keep fullscreen position fixture fresh
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
Due: prettier

fix(overview): center arrival panel and fit its content
  docs/features/overview.md
  docs/superpowers/plans/2026-10-01-overview-arrival-states.md
  frontend/mission-planner/src/pages/OverviewArrivalPanel.css
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/tests/e2e/overview-arrival.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
Due: prettier, markdownlint, naming-convention

fix(overview): address arrival provenance and panel containment review
  backend/starlink-location/app/api/overview_upcoming_pois.py
  backend/starlink-location/app/core/metrics/metric_updater.py
  backend/starlink-location/app/live/coordinator.py
  backend/starlink-location/app/models/telemetry.py
  backend/starlink-location/app/services/flight_state/manager.py
  backend/starlink-location/app/services/position_freshness.py
  backend/starlink-location/app/services/speed_tracker.py
  backend/starlink-location/app/simulation/coordinator.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_overview_speed_recovery.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  backend/starlink-location/tests/integration/test_status.py
  backend/starlink-location/tests/unit/test_automatic_flight_detection.py
  backend/starlink-location/tests/unit/test_position_freshness.py
  backend/starlink-location/tests/unit/test_speed_tracker_provenance.py
  docs/api/endpoints/overview-upcoming-pois.md
  docs/features/overview.md
  docs/superpowers/plans/2026-10-01-overview-arrival-states.md
  frontend/mission-planner/src/pages/OverviewArrivalPanel.css
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/tests/e2e/overview-arrival-containment.spec.ts
Due: prettier, markdownlint, naming-convention

docs(overview): wrap arrival plan for CI markdown lint
  docs/superpowers/plans/2026-10-01-overview-arrival-states.md
Due: prettier, markdownlint, naming-convention
