Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

fix(acceptance): accept RGB viewport evidence
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

docs(acceptance): specify POI and WebGL recovery
  docs/superpowers/specs/2026-09-25-v2-upcoming-pois-webgl-design.md
Due: prettier, markdownlint, naming-convention

docs(acceptance): clarify ETA clock semantics
  docs/superpowers/specs/2026-09-25-v2-upcoming-pois-webgl-design.md
Due: prettier, markdownlint, naming-convention

docs(acceptance): plan POI and WebGL recovery
  docs/superpowers/plans/2026-09-25-v2-upcoming-pois-webgl.md
  docs/superpowers/specs/2026-09-25-v2-upcoming-pois-webgl-design.md
Due: prettier, markdownlint, naming-convention

fix(eta): reanchor missed predeparture schedules
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/tests/unit/test_eta_projection.py
Due: none

fix(overview): make generated POIs route relative
  backend/starlink-location/app/services/overview_upcoming_pois.py
  backend/starlink-location/tests/unit/test_overview_upcoming_pois.py
Due: none

fix(overview): fail closed for invalid POI projections
  backend/starlink-location/app/services/overview_upcoming_pois.py
  backend/starlink-location/tests/unit/test_overview_upcoming_pois.py
Due: none

docs(acceptance): describe route relative POIs
  docs/missions/v2-mission-retirement-acceptance.md
  docs/operations/acceptance-platform.md
  tools/tests/test_acceptance_platform_docs.py
  tools/tests/test_v2_acceptance_browser_contract.py
Due: prettier, markdownlint, naming-convention

fix(acceptance): require visible V2 POI body rows
  docs/missions/v2-mission-retirement-acceptance.md
  docs/operations/acceptance-platform.md
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/tests/test_acceptance_platform_docs.py
  tools/tests/test_v2_acceptance_browser_contract.py
Due: prettier, markdownlint, naming-convention

fix(acceptance): certify WebGL2 browser capability
  docs/operations/acceptance-platform.md
  tools/acceptance/browser/platform-card.mjs
  tools/acceptance/browser/v2-mission-retirement.mjs
  tools/acceptance/platform/browser_bundle.py
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_bundle.py
  tools/tests/test_acceptance_platform_health.py
  tools/tests/test_v2_acceptance_browser_contract.py
Due: prettier, markdownlint, naming-convention

fix(acceptance): harden WebGL2 preflight
  docs/operations/acceptance-platform.md
  tools/acceptance/browser/platform-card.mjs
  tools/acceptance/browser/v2-mission-retirement.mjs
  tools/acceptance/browser/webgl2-preflight.mjs
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_bundle.py
  tools/tests/test_acceptance_platform_health.py
  tools/tests/test_v2_acceptance_browser_contract.py
  tools/tests/test_v2_acceptance_browser_provision.py
Due: prettier, markdownlint, naming-convention

fix(eta): cover invalid planned duration
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/tests/unit/test_eta_projection.py
Due: none

docs(acceptance): specify content-aware final builds
  docs/superpowers/specs/2026-09-25-v2-content-aware-final-build-design.md
Due: prettier, markdownlint, naming-convention

docs(acceptance): plan content-aware final build
  docs/superpowers/plans/2026-09-25-v2-content-aware-final-build.md
Due: prettier, markdownlint, naming-convention

fix(acceptance): bind final builds to candidate SHA
  backend/starlink-location/Dockerfile
  frontend/mission-planner/Dockerfile
  tools/acceptance/platform/compose.py
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_acceptance_platform_dockerfiles.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

fix(acceptance): scope backend candidate cache binding
  backend/starlink-location/Dockerfile
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_acceptance_platform_dockerfiles.py
Due: none

fix(acceptance): supervise final build progress
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
Due: none

fix(acceptance): harden build supervision
  .superpowers/sdd/2026-09-25-v2-content-aware-final-build/task-2-report.md
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
Due: prettier, markdownlint

fix(acceptance): reject BuildKit RUN status frames
  .superpowers/sdd/2026-09-25-v2-content-aware-final-build/task-2-report.md
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
Due: prettier, markdownlint

fix(acceptance): preserve bracketed RUN output
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
Due: none

docs(acceptance): record final build supervision
  .superpowers/sdd/2026-09-25-v2-content-aware-final-build/task-3-report.md
  docs/operations/acceptance-platform.md
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_docs.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint, naming-convention

fix(acceptance): fail closed on ledger metadata
  .superpowers/sdd/2026-09-25-v2-content-aware-final-build/task-3-report.md
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint

test(acceptance): seal stalled build boundaries
  .superpowers/sdd/2026-09-25-v2-content-aware-final-build/task-4-report.md
  docs/operations/acceptance-platform.md
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_acceptance_platform_docs.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint, naming-convention

test(acceptance): seal stalled manifest regression
  .superpowers/sdd/2026-09-25-v2-content-aware-final-build/task-4-report.md
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint

fix(acceptance): seal final build authority
  docs/operations/acceptance-platform.md
  tools/acceptance/platform/compose.py
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_acceptance_platform_docs.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint, naming-convention

fix(acceptance): wait for semantic V2 readiness
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): require exact V2 POI rows
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): correct semantic POI locator root
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): accept degraded history fallback
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): bound initial mission readiness
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): retain degraded history refetches
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): make degraded history refetch optional
  tools/acceptance/journeys/v2-mission-retirement.mjs
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
  tools/tests/test_v2_acceptance_browser_contract.py
Due: none

fix(acceptance): wait for Xvfb display readiness
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
Due: none

fix(acceptance): close Xvfb readiness race
  tools/acceptance/platform/health.py
  tools/tests/test_acceptance_platform_health.py
Due: none

docs(acceptance): specify structural typing remediation
  docs/superpowers/specs/2026-09-25-acceptance-platform-structural-typing-design.md
Due: prettier, markdownlint, naming-convention

docs(acceptance): plan structural typing remediation
  docs/superpowers/plans/2026-09-25-acceptance-platform-structural-typing.md
Due: prettier, markdownlint, naming-convention

refactor(acceptance): type failure metadata boundaries
  tools/acceptance/platform/compose.py
  tools/acceptance/platform/failures.py
  tools/acceptance/platform/health.py
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_health.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

fix(acceptance): preserve failure control flow
  tools/acceptance/platform/health.py
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_health.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

test(acceptance): type adversarial platform fixtures
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_acceptance_platform_model.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

test(acceptance): type adversarial platform runner seams
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

