Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

docs: require isolated feature worktrees and dev PRs
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  docs/contributing/development-workflow.md
  docs/development/workflow.md
Due: prettier, markdownlint, naming-convention

docs: require isolated feature worktrees and dev PRs (#267)
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  docs/contributing/development-workflow.md
  docs/development/workflow.md
Due: prettier, markdownlint, naming-convention

feat(overview): make aircraft history a toggleable layer
  backend/starlink-location/app/api/overview_link_settings.py
  backend/starlink-location/app/services/overview_link_settings.py
  backend/starlink-location/tests/integration/test_overview_link_settings_api.py
  backend/starlink-location/tests/unit/test_main_overview_link_settings.py
  backend/starlink-location/tests/unit/test_overview_link_settings.py
  docs/deployment/portainer-ghcr.md
  docs/features/system.md
  frontend/mission-planner/playwright.aircraft-history-acceptance.config.ts
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/src/hooks/api/useOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewRefresh.test.tsx
  frontend/mission-planner/src/hooks/api/useUpdateOverviewLinkSettings.test.ts
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OverviewLinkSettingsCard.test.tsx
  frontend/mission-planner/src/pages/OverviewLinkSettingsCard.tsx
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/orbital/lifecycle.test.ts
  frontend/mission-planner/src/pages/overview-link-state.test.ts
  frontend/mission-planner/src/services/overview-link-settings.test.ts
  frontend/mission-planner/src/services/overview-link-settings.ts
  frontend/mission-planner/tests/e2e/overview-aircraft-history-production.spec.ts
  frontend/mission-planner/tests/e2e/overview-traffic-paths.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

docs: specify mission leg simulation speed controls
  docs/superpowers/specs/2026-10-05-mission-leg-simulation-speed-acceptance.md
  docs/superpowers/specs/2026-10-05-mission-leg-simulation-speed-design.md
Due: prettier, markdownlint, naming-convention

test(overview): open compact legend in production acceptance
  frontend/mission-planner/tests/e2e/overview-aircraft-history-production.spec.ts
Due: prettier

feat(overview): make aircraft history a toggleable layer (#269)
  backend/starlink-location/app/api/overview_link_settings.py
  backend/starlink-location/app/services/overview_link_settings.py
  backend/starlink-location/tests/integration/test_overview_link_settings_api.py
  backend/starlink-location/tests/unit/test_main_overview_link_settings.py
  backend/starlink-location/tests/unit/test_overview_link_settings.py
  docs/deployment/portainer-ghcr.md
  docs/features/system.md
  frontend/mission-planner/playwright.aircraft-history-acceptance.config.ts
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/src/hooks/api/useOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewRefresh.test.tsx
  frontend/mission-planner/src/hooks/api/useUpdateOverviewLinkSettings.test.ts
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OverviewLinkSettingsCard.test.tsx
  frontend/mission-planner/src/pages/OverviewLinkSettingsCard.tsx
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/orbital/lifecycle.test.ts
  frontend/mission-planner/src/pages/overview-link-state.test.ts
  frontend/mission-planner/src/services/overview-link-settings.test.ts
  frontend/mission-planner/src/services/overview-link-settings.ts
  frontend/mission-planner/tests/e2e/overview-aircraft-history-production.spec.ts
  frontend/mission-planner/tests/e2e/overview-traffic-paths.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

docs: plan mission leg simulation speed implementation
  docs/superpowers/plans/2026-10-05-mission-leg-simulation-speed-acceptance.md
  docs/superpowers/plans/2026-10-05-mission-leg-simulation-speed-core.md
  docs/superpowers/plans/2026-10-05-mission-leg-simulation-speed-frontend.md
  docs/superpowers/plans/2026-10-05-mission-leg-simulation-speed-integration.md
  docs/superpowers/plans/2026-10-05-mission-leg-simulation-speed-timing.md
  docs/superpowers/plans/2026-10-05-mission-leg-simulation-speed.md
  docs/superpowers/specs/2026-10-05-mission-leg-simulation-speed-acceptance.md
  docs/superpowers/specs/2026-10-05-mission-leg-simulation-speed-design.md
Due: prettier, markdownlint, naming-convention

feat: prepare validated paced mission runs
  backend/starlink-location/app/mission/timeline_builder/pois.py
  backend/starlink-location/app/mission/timeline_preparation.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/app/models/simulation_run.py
  backend/starlink-location/app/simulation/run_plan.py
  backend/starlink-location/app/simulation/run_route.py
  backend/starlink-location/tests/unit/simulation_run_fixtures.py
  backend/starlink-location/tests/unit/test_simulation_run_plan.py
Due: none

feat: replay paced mission time and canonical events
  backend/starlink-location/app/mission/replay_state.py
  backend/starlink-location/app/mission/state.py
  backend/starlink-location/app/mission/timeline_preparation.py
  backend/starlink-location/app/simulation/run_plan.py
  backend/starlink-location/app/simulation/run_replay.py
  backend/starlink-location/app/simulation/run_runtime.py
  backend/starlink-location/tests/unit/test_simulation_run_events.py
  backend/starlink-location/tests/unit/test_simulation_run_runtime.py
Due: none

feat: integrate paced run APIs and mission lifecycle
  backend/starlink-location/app/api/config.py
  backend/starlink-location/app/api/routes/delete.py
  backend/starlink-location/app/api/routes/management.py
  backend/starlink-location/app/api/simulation_run.py
  backend/starlink-location/app/mission/dependencies.py
  backend/starlink-location/app/mission/leg_activation.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/services/flight_state/checkpoint.py
  backend/starlink-location/app/services/flight_state/manager.py
  backend/starlink-location/app/services/poi/manager.py
  backend/starlink-location/app/simulation/coordinator.py
  backend/starlink-location/app/simulation/run_service.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_simulation_run_api.py
  backend/starlink-location/tests/integration/test_simulation_run_lifecycle.py
  backend/starlink-location/tests/unit/test_simulation_run_service.py
Due: none

feat: keep mission timing coherent during paced replay
  backend/starlink-location/app/api/active_x_link.py
  backend/starlink-location/app/api/flight_status.py
  backend/starlink-location/app/api/overview_upcoming_pois.py
  backend/starlink-location/app/api/pois/etas.py
  backend/starlink-location/app/api/routes/eta.py
  backend/starlink-location/app/core/eta_service.py
  backend/starlink-location/app/core/metrics/metric_updater.py
  backend/starlink-location/app/mission/leg_activation.py
  backend/starlink-location/app/models/flight_status.py
  backend/starlink-location/app/models/mission_time.py
  backend/starlink-location/app/models/overview_upcoming_pois.py
  backend/starlink-location/app/services/active_x_handoff.py
  backend/starlink-location/app/services/active_x_link.py
  backend/starlink-location/app/services/eta/calculator.py
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/app/services/eta_calculator.py
  backend/starlink-location/app/services/flight_state/manager.py
  backend/starlink-location/app/services/overview_upcoming_pois.py
  backend/starlink-location/app/simulation/run_service.py
  backend/starlink-location/app/simulation/run_timing.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_simulation_run_time_apis.py
  backend/starlink-location/tests/unit/test_simulation_run_timing.py
Due: none

feat: add paced simulation controls and Overview state
  frontend/mission-planner/src/components/missions/SimulateLegDialog.test.tsx
  frontend/mission-planner/src/components/missions/SimulateLegDialog.tsx
  frontend/mission-planner/src/hooks/api/useMissions.ts
  frontend/mission-planner/src/hooks/api/useOverviewUpcomingPois.ts
  frontend/mission-planner/src/hooks/api/useSimulationRun.test.tsx
  frontend/mission-planner/src/hooks/api/useSimulationRun.ts
  frontend/mission-planner/src/hooks/useSimulationClock.ts
  frontend/mission-planner/src/pages/MissionDetailPage.tsx
  frontend/mission-planner/src/pages/OverviewClockPanel.tsx
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.simulation.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/SimulationRunPanel.css
  frontend/mission-planner/src/pages/SimulationRunPanel.test.tsx
  frontend/mission-planner/src/pages/SimulationRunPanel.tsx
  frontend/mission-planner/src/pages/overview-arrival.ts
  frontend/mission-planner/src/pages/overview-upcoming-pois.ts
  frontend/mission-planner/src/pages/simulation-run-projection.test.ts
  frontend/mission-planner/src/pages/simulation-run-projection.ts
  frontend/mission-planner/src/services/missions.ts
  frontend/mission-planner/src/services/overview-upcoming-pois.ts
  frontend/mission-planner/src/services/simulation-run-route.ts
  frontend/mission-planner/src/services/simulation-run.test.ts
  frontend/mission-planner/src/services/simulation-run.ts
  frontend/mission-planner/src/test/simulation-run-fixtures.ts
Due: prettier, eslint

test: add isolated production simulation acceptance
  docs/missions/acceptance-assets/paced-simulation-route.kml
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/playwright.simulation-acceptance.config.ts
  frontend/mission-planner/src/services/simulation-run.test.ts
  frontend/mission-planner/src/services/simulation-run.ts
  frontend/mission-planner/src/test/simulation-acceptance-config.test.ts
  frontend/mission-planner/tests/e2e/simulation-run-production.spec.ts
  frontend/mission-planner/tests/e2e/support/simulation-run-mission.ts
  frontend/mission-planner/tests/e2e/support/simulation-run-observations.ts
  tools/acceptance/simulation-speed/backend_fixture.py
  tools/acceptance/simulation-speed/compose.yml
  tools/acceptance/simulation-speed/coverage.json
  tools/acceptance/simulation-speed/run.sh
  tools/tests/test_simulation_speed_acceptance_runner.py
Due: prettier, eslint

test: bind simulation acceptance to archived fixtures
  docs/api/README.md
  docs/api/endpoints/README.md
  docs/api/endpoints/simulation-run.md
  docs/features/overview.md
  docs/missions/mission-planning-guide.md
  docs/setup/configuration/simulation-mode.md
  docs/superpowers/plans/2026-10-05-mission-leg-simulation-speed.md
  docs/superpowers/specs/2026-10-05-mission-leg-simulation-speed-acceptance.md
  docs/superpowers/specs/2026-10-05-mission-leg-simulation-speed-design.md
  frontend/mission-planner/tests/e2e/simulation-run-production.spec.ts
  frontend/mission-planner/tests/e2e/support/simulation-run-mission.ts
  frontend/mission-planner/tests/e2e/support/simulation-run-target.ts
  tools/acceptance/simulation-speed/run.sh
  tools/tests/test_simulation_speed_acceptance_runner.py
Due: prettier, markdownlint, naming-convention

fix: apply imported timing adjustments and surface offline replay reads
  backend/starlink-location/app/mission/timeline_preparation.py
  backend/starlink-location/app/simulation/run_route.py
  backend/starlink-location/tests/unit/test_simulation_run_imported_timing.py
  frontend/mission-planner/src/hooks/api/useSimulationRun.test.tsx
  frontend/mission-planner/src/hooks/api/useSimulationRun.ts
Due: prettier, eslint

test: exit native fullscreen through the browser API
  frontend/mission-planner/tests/e2e/support/simulation-run-target.ts
Due: prettier

test: retain full-resolution simulation acceptance video
  frontend/mission-planner/playwright.simulation-acceptance.config.ts
  frontend/mission-planner/src/test/simulation-acceptance-config.test.ts
  frontend/mission-planner/tests/e2e/support/simulation-run-target.ts
Due: prettier, eslint

fix: reject live replay before checking simulation collection
  backend/starlink-location/app/mission/leg_activation.py
  backend/starlink-location/tests/integration/test_simulation_run_api.py
  docs/reports/2026-10-05-mission-leg-simulation-speed.md
  docs/superpowers/plans/2026-10-05-mission-leg-simulation-speed-acceptance.md
  frontend/mission-planner/playwright.simulation-acceptance.config.ts
  frontend/mission-planner/src/test/simulation-acceptance-config.test.ts
  frontend/mission-planner/tests/e2e/support/simulation-run-target.ts
  tools/acceptance/simulation-speed/backend_fixture.py
  tools/tests/test_simulation_live_acceptance_fixture.py
Due: prettier, eslint, markdownlint, naming-convention

fix: harden paced replay boundaries and confirmed status
  backend/starlink-location/app/mission/leg_activation.py
  backend/starlink-location/app/mission/timeline_preparation.py
  backend/starlink-location/app/simulation/run_route.py
  backend/starlink-location/app/simulation/run_service.py
  backend/starlink-location/app/simulation/run_wakeup.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_simulation_run_api.py
  backend/starlink-location/tests/unit/test_simulation_run_review_routes.py
  backend/starlink-location/tests/unit/test_simulation_run_wakeup.py
  frontend/mission-planner/src/components/missions/MissionSimulationStatus.test.tsx
  frontend/mission-planner/src/components/missions/MissionSimulationStatus.tsx
  frontend/mission-planner/src/hooks/useSimulationClock.test.tsx
  frontend/mission-planner/src/hooks/useSimulationClock.ts
  frontend/mission-planner/src/pages/MissionDetailPage.tsx
  frontend/mission-planner/src/services/api-client.test.ts
  frontend/mission-planner/src/services/api-client.ts
  frontend/mission-planner/src/services/simulation-run.test.ts
  frontend/mission-planner/src/services/simulation-run.ts
  frontend/mission-planner/tests/e2e/simulation-run-production.spec.ts
  frontend/mission-planner/tests/e2e/support/simulation-run-target.ts
  tools/acceptance/simulation-speed/compose.yml
Due: prettier, eslint

docs: document paced simulation behavior and acceptance
  docs/api/endpoints/simulation-run.md
  docs/reports/2026-10-05-mission-leg-simulation-speed.md
Due: prettier, markdownlint, naming-convention

fix(timeline): interpolate untimed dateline vertices and expose Ka coverage sequence
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/app/mission/timeline_builder/coverage.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/tests/fixtures/generate_dateline_acceptance.py
  backend/starlink-location/tests/fixtures/synthetic-dateline-timeline.kml
  backend/starlink-location/tests/fixtures/synthetic_coverage.py
  backend/starlink-location/tests/unit/test_dateline_timeline.py
  frontend/mission-planner/README.md
  frontend/mission-planner/src/components/timeline/CoverageSequence.tsx
  frontend/mission-planner/src/components/timeline/TimelinePreviewSection.test.tsx
  frontend/mission-planner/src/components/timeline/TimelinePreviewSection.tsx
  frontend/mission-planner/src/components/timeline/TimelineTable.tsx
  frontend/mission-planner/src/components/timeline/formatting.ts
  frontend/mission-planner/src/services/timeline.ts
  frontend/mission-planner/tests/e2e/dateline-timeline.spec.ts
Due: prettier, eslint, markdownlint

fix: enforce 10-degree X-band planning elevation minimum
  backend/starlink-location/app/satellites/rules.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  backend/starlink-location/tests/unit/test_satellite_rules.py
  docs/missions/planning/systems.md
Due: prettier, markdownlint, naming-convention

fix: enforce 10-degree X-band planning elevation minimum (#275)
  backend/starlink-location/app/satellites/rules.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  backend/starlink-location/tests/unit/test_satellite_rules.py
  docs/missions/planning/systems.md
Due: prettier, markdownlint, naming-convention

fix(overview): keep fullscreen route framing on a visible hemisphere
  frontend/mission-planner/playwright.route-acceptance.config.ts
  frontend/mission-planner/src/pages/OverviewMapController.test.tsx
  frontend/mission-planner/src/pages/overview-camera-frame.test.ts
  frontend/mission-planner/src/pages/overview-camera-frame.ts
  frontend/mission-planner/src/pages/synthetic-fullscreen-route.test-fixture.ts
  frontend/mission-planner/tests/e2e/overview-fullscreen-route.spec.ts
Due: prettier, eslint

fix(timeline): restore Ka after dateline gaps and clarify footprint changes (#274)
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/app/mission/timeline_builder/coverage.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/tests/fixtures/generate_dateline_acceptance.py
  backend/starlink-location/tests/fixtures/synthetic-dateline-timeline.kml
  backend/starlink-location/tests/fixtures/synthetic_coverage.py
  backend/starlink-location/tests/unit/test_dateline_timeline.py
  frontend/mission-planner/README.md
  frontend/mission-planner/src/components/timeline/CoverageSequence.tsx
  frontend/mission-planner/src/components/timeline/TimelinePreviewSection.test.tsx
  frontend/mission-planner/src/components/timeline/TimelinePreviewSection.tsx
  frontend/mission-planner/src/components/timeline/TimelineTable.tsx
  frontend/mission-planner/src/components/timeline/formatting.ts
  frontend/mission-planner/src/services/timeline.ts
  frontend/mission-planner/tests/e2e/dateline-timeline.spec.ts
Due: prettier, eslint, markdownlint

fix: exclude alternate timing from paced flight validation
  backend/starlink-location/app/simulation/run_route.py
  backend/starlink-location/tests/integration/test_simulation_run_api.py
  backend/starlink-location/tests/unit/test_simulation_run_imported_timing.py
Due: none

fix(overview): keep fullscreen route framing on a visible hemisphere (#276)
  frontend/mission-planner/playwright.route-acceptance.config.ts
  frontend/mission-planner/src/pages/OverviewMapController.test.tsx
  frontend/mission-planner/src/pages/overview-camera-frame.test.ts
  frontend/mission-planner/src/pages/overview-camera-frame.ts
  frontend/mission-planner/src/pages/synthetic-fullscreen-route.test-fixture.ts
  frontend/mission-planner/tests/e2e/overview-fullscreen-route.spec.ts
Due: prettier, eslint

fix: preserve timed stationary route anchors
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/tests/unit/test_simulation_run_runtime.py
Due: none

fix: animate paced flights and fit laptop fullscreen
  docs/setup/configuration/simulation-mode.md
  frontend/mission-planner/src/hooks/useSimulationClock.test.tsx
  frontend/mission-planner/src/hooks/useSimulationClock.ts
  frontend/mission-planner/src/pages/OverviewClockPanel.tsx
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.simulation.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-responsive-layout.test.ts
  frontend/mission-planner/src/pages/overview-responsive-layout.ts
  frontend/mission-planner/src/pages/simulation-run-motion.test.ts
  frontend/mission-planner/src/pages/simulation-run-motion.ts
  frontend/mission-planner/src/pages/useOverviewLayout.ts
  frontend/mission-planner/tests/e2e/simulation-run-production.spec.ts
  frontend/mission-planner/tests/e2e/support/simulation-run-motion-probe.ts
  frontend/mission-planner/tests/e2e/support/simulation-run-target.ts
Due: prettier, eslint, markdownlint, naming-convention

test: launch laptop fullscreen windows at native sizes
  frontend/mission-planner/tests/e2e/support/simulation-run-laptop.ts
  frontend/mission-planner/tests/e2e/support/simulation-run-target.ts
Due: prettier

fix: use the full laptop map width during fullscreen
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/tests/e2e/support/simulation-run-laptop.ts
Due: prettier

docs: specify Overview precipitation radar overlay
  docs/superpowers/specs/2026-10-05-overview-weather-overlay-design.md
Due: prettier, markdownlint, naming-convention

test: wait for Overview render before checking theme
  frontend/mission-planner/tests/e2e/management-style.spec.ts
Due: prettier

docs: plan optional Overview precipitation radar overlay
  docs/superpowers/plans/2026-10-05-overview-weather-overlay-backend.md
  docs/superpowers/plans/2026-10-05-overview-weather-overlay-frontend.md
  docs/superpowers/plans/2026-10-05-overview-weather-overlay.md
  docs/superpowers/specs/2026-10-05-overview-weather-overlay-design.md
Due: prettier, markdownlint, naming-convention

feat: persist default-off Overview weather settings
  backend/starlink-location/app/models/overview_weather.py
  backend/starlink-location/app/services/overview_weather/__init__.py
  backend/starlink-location/app/services/overview_weather/settings.py
  backend/starlink-location/tests/unit/test_overview_weather_settings.py
Due: none
