Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

style: format weather radar tests
  backend/starlink-location/tests/unit/test_weather_api.py
  backend/starlink-location/tests/unit/test_weather_radar.py
Due: none

fix: polish fullscreen POI table layout
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: anchor POI table ETA column left
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: polish fullscreen POI table layout (#58)
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: split live track history at IDL
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  monitoring/grafana/provisioning/dashboards/overview.json
  monitoring/grafana/provisioning/dashboards/position-movement.json
  tools/tests/test_fullscreen_overview_dashboard.py
  tools/tests/test_grafana_live_track_idl.py
Due: prettier

fix: guard no-idl live track split frames
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  monitoring/grafana/provisioning/dashboards/overview.json
  monitoring/grafana/provisioning/dashboards/position-movement.json
  tools/tests/test_fullscreen_overview_dashboard.py
  tools/tests/test_grafana_live_track_idl.py
Due: prettier

fix: keep live track drawable without nan fallback
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  monitoring/grafana/provisioning/dashboards/overview.json
  monitoring/grafana/provisioning/dashboards/position-movement.json
  tools/tests/test_fullscreen_overview_dashboard.py
  tools/tests/test_grafana_live_track_idl.py
Due: prettier

fix: normalize live track longitudes for Grafana
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  monitoring/grafana/provisioning/dashboards/overview.json
  monitoring/grafana/provisioning/dashboards/position-movement.json
  tools/tests/test_fullscreen_overview_dashboard.py
  tools/tests/test_grafana_live_track_idl.py
Due: prettier

fix: keep IDL track fallback range anchored
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  monitoring/grafana/provisioning/dashboards/overview.json
  monitoring/grafana/provisioning/dashboards/position-movement.json
  tools/tests/test_fullscreen_overview_dashboard.py
  tools/tests/test_grafana_live_track_idl.py
Due: prettier

fix: guard no-IDL and IDL live track rendering (#62)
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  monitoring/grafana/provisioning/dashboards/overview.json
  monitoring/grafana/provisioning/dashboards/position-movement.json
  tools/tests/test_fullscreen_overview_dashboard.py
  tools/tests/test_grafana_live_track_idl.py
Due: prettier

feat: add ground entry point metrics
  backend/starlink-location/app/core/metrics/__init__.py
  backend/starlink-location/app/core/metrics/prometheus_metrics.py
  backend/starlink-location/app/mission/exporter/__init__.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: read obstruction percentage from status payload
  backend/starlink-location/app/live/client.py
  backend/starlink-location/tests/unit/test_starlink_client.py
Due: none

fix: read obstruction percentage from status payload (#66)
  backend/starlink-location/app/live/client.py
  backend/starlink-location/tests/unit/test_starlink_client.py
Due: none

fix: add obstruction gauge to fullscreen overview
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: add obstruction gauge to fullscreen overview (#68)
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: include GEP fields in telemetry CSV export
  backend/starlink-location/app/api/export/csv_export.py
  backend/starlink-location/app/api/export/prometheus.py
  backend/starlink-location/tests/unit/test_csv_export.py
  frontend/mission-planner/src/pages/DataExportPage.tsx
Due: prettier, eslint

fix: include GEP fields in telemetry CSV export (#70)
  backend/starlink-location/app/api/export/csv_export.py
  backend/starlink-location/app/api/export/prometheus.py
  backend/starlink-location/tests/unit/test_csv_export.py
  frontend/mission-planner/src/pages/DataExportPage.tsx
Due: prettier, eslint

fix: refresh ground entry point metrics after startup
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

fix: refresh ground entry point metrics after startup (#72)
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

feat: add DNS public IP watcher
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/main.py
  backend/starlink-location/requirements.txt
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

feat: add DNS public IP watcher (#74)
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/main.py
  backend/starlink-location/requirements.txt
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

fix: refresh RainViewer weather radar tiles
  backend/starlink-location/app/api/weather.py
  backend/starlink-location/tests/unit/test_weather_api.py
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: refresh RainViewer weather radar tiles (#76)
  backend/starlink-location/app/api/weather.py
  backend/starlink-location/tests/unit/test_weather_api.py
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: refresh weather radar geomap layer
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: refresh weather radar geomap layer (#78)
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: stop radar refresh map reinitialization
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: stop radar refresh map reinitialization (#80)
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: prefer Cloudflare trace for public IP
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

fix: prefer Cloudflare trace for public IP (#82)
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

fix: format GEP location labels
  backend/starlink-location/app/core/metrics/prometheus_metrics.py
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: avoid placeholder GEP fallback labels
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

fix: format GEP location labels (#84)
  backend/starlink-location/app/core/metrics/prometheus_metrics.py
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

feat: add active X-band link overlay
  backend/starlink-location/app/api/active_x_link.py
  backend/starlink-location/app/services/active_x_link.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_active_x_link.py
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

fix: prefer active X link route match
  backend/starlink-location/app/services/active_x_link.py
  backend/starlink-location/tests/unit/test_active_x_link.py
Due: none

feat: add active X-band link overlay (#86)
  backend/starlink-location/app/api/active_x_link.py
  backend/starlink-location/app/services/active_x_link.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_active_x_link.py
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
Due: prettier

feat: make active X-band handoff position-based
  backend/starlink-location/app/services/active_x_handoff.py
  backend/starlink-location/app/services/active_x_link.py
  backend/starlink-location/tests/unit/test_active_x_handoff.py
  backend/starlink-location/tests/unit/test_active_x_link.py
Due: none

feat: make active X-band handoff position-based (#88)
  backend/starlink-location/app/services/active_x_handoff.py
  backend/starlink-location/app/services/active_x_link.py
  backend/starlink-location/tests/unit/test_active_x_handoff.py
  backend/starlink-location/tests/unit/test_active_x_link.py
Due: none

chore: pin Grafana Infinity datasource plugin
  docker-compose.yml
  tools/tests/test_grafana_compose.py
Due: prettier

chore: pin Grafana Infinity datasource plugin (#91)
  docker-compose.yml
  tools/tests/test_grafana_compose.py
Due: prettier

feat: add manual AR tracks by position
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/tests/unit/test_manual_aar_track.py
  frontend/mission-planner/src/components/aar/ManualAARTrackEditor.tsx
  frontend/mission-planner/src/components/common/RouteMap.tsx
  frontend/mission-planner/src/components/common/RouteMap/RouteLayer.tsx
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegConfigTabs.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
  frontend/mission-planner/src/pages/LegDetailPage/useLegData.ts
  frontend/mission-planner/src/types/aar.ts
  frontend/mission-planner/src/types/mission.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

