Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

fix(overview): restart detection after silent gaps and wrap late countdowns
  backend/starlink-location/app/core/metrics/metric_updater.py
  backend/starlink-location/app/services/flight_state/manager.py
  backend/starlink-location/app/services/position_freshness.py
  backend/starlink-location/tests/unit/test_automatic_flight_detection.py
  docs/features/overview.md
  docs/superpowers/plans/2026-10-01-overview-arrival-states.md
  frontend/mission-planner/src/pages/OverviewArrivalPanel.css
  frontend/mission-planner/tests/e2e/overview-arrival-containment.spec.ts
Due: prettier, markdownlint, naming-convention

fix: count flight detection dwell from observation time
  backend/starlink-location/app/core/metrics/metric_updater.py
  backend/starlink-location/app/services/flight_state/manager.py
  backend/starlink-location/tests/integration/test_flight_detection_observation_time.py
Due: none

feat(overview): add planned satellite card
  docs/superpowers/plans/2026-10-02-overview-planned-satellite-legend.md
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.css
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.test.tsx
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.tsx
  frontend/mission-planner/src/pages/overview-planned-satellite.test.ts
  frontend/mission-planner/src/pages/overview-planned-satellite.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(configuration): retain overview settings and map diagnostics
  docs/features/overview.md
  docs/features/system.md
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OverviewHistorySettingsCard.test.tsx
  frontend/mission-planner/src/pages/OverviewHistorySettingsCard.tsx
  frontend/mission-planner/src/pages/OverviewMapDiagnostics.test.tsx
  frontend/mission-planner/src/pages/OverviewMapDiagnostics.tsx
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): show rendered layers and preserve map exceptions
  docs/features/overview.md
  docs/features/system.md
  frontend/mission-planner/src/pages/OverviewMapLegend.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.tsx
  frontend/mission-planner/src/pages/OverviewMapStatus.test.tsx
  frontend/mission-planner/src/pages/OverviewMapStatus.tsx
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.css
  frontend/mission-planner/src/pages/OverviewVisualTokens.css
Due: prettier, eslint, markdownlint, naming-convention

test(overview): verify planned satellite and layer legend
  frontend/mission-planner/src/index.css
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-metric-cleanup.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
  frontend/mission-planner/tests/e2e/overview-planned-satellite-legend.spec.ts
  frontend/mission-planner/tests/e2e/support/metric-panel-fixture.ts
Due: prettier

docs(overview): record issue 218 candidate verification
  docs/reports/2026-10-02-overview-planned-satellite-legend.md
  docs/reports/README.md
  docs/superpowers/plans/2026-10-02-overview-planned-satellite-legend.md
Due: prettier, markdownlint, naming-convention

fix(configuration): distinguish unavailable satellite selection
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewMapDiagnostics.test.tsx
  frontend/mission-planner/src/pages/OverviewMapDiagnostics.tsx
  frontend/mission-planner/tests/e2e/overview-planned-satellite-legend.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

docs(overview): record reviewed candidate and acceptance limits
  docs/reports/2026-10-02-overview-planned-satellite-legend.md
Due: prettier, markdownlint, naming-convention

feat(overview): planned satellite card and rendered-layer legend (#218) (#233)
  docs/features/overview.md
  docs/features/system.md
  docs/reports/2026-10-02-overview-planned-satellite-legend.md
  docs/reports/README.md
  docs/superpowers/plans/2026-10-02-overview-planned-satellite-legend.md
  frontend/mission-planner/src/index.css
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OverviewHistorySettingsCard.test.tsx
  frontend/mission-planner/src/pages/OverviewHistorySettingsCard.tsx
  frontend/mission-planner/src/pages/OverviewMapDiagnostics.test.tsx
  frontend/mission-planner/src/pages/OverviewMapDiagnostics.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.tsx
  frontend/mission-planner/src/pages/OverviewMapStatus.test.tsx
  frontend/mission-planner/src/pages/OverviewMapStatus.tsx
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.css
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.test.tsx
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.tsx
  frontend/mission-planner/src/pages/OverviewVisualTokens.css
  frontend/mission-planner/src/pages/overview-planned-satellite.test.ts
  frontend/mission-planner/src/pages/overview-planned-satellite.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-metric-cleanup.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
  frontend/mission-planner/tests/e2e/overview-planned-satellite-legend.spec.ts
  frontend/mission-planner/tests/e2e/support/metric-panel-fixture.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): compose desktop overlays
  docs/superpowers/plans/2026-10-02-overview-desktop-composition.md
  frontend/mission-planner/src/pages/OverviewArrivalPanel.css
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-arrival-containment.spec.ts
  frontend/mission-planner/tests/e2e/overview-desktop-composition.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-cleanup.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-composition.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): finish desktop panel readability
  docs/features/overview.md
  docs/superpowers/plans/2026-10-02-overview-desktop-composition.md
  frontend/mission-planner/src/pages/OverviewClockPanel.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.css
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.tsx
  frontend/mission-planner/src/pages/OverviewVisualTokens.css
  frontend/mission-planner/tests/e2e/overview-desktop-readability.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-composition.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): preserve enlarged clocks and settled fullscreen checks
  AGENTS.md
  docs/development/README.md
  docs/development/cloud-docker.md
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/tests/e2e/overview-arrival.spec.ts
  frontend/mission-planner/tests/e2e/overview-desktop-readability.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, markdownlint, naming-convention

docs(overview): record desktop verification and review
  docs/reports/2026-10-02-overview-desktop-composition.md
  docs/reports/README.md
Due: prettier, markdownlint, naming-convention

docs(overview): record desktop acceptance and responsive follow-up
  docs/reports/2026-10-02-overview-desktop-composition.md
Due: prettier, markdownlint, naming-convention

docs(overview): link final published visual evidence
  docs/reports/2026-10-02-overview-desktop-composition.md
Due: prettier, markdownlint, naming-convention

docs(overview): preserve pinned spec via working raw link
  docs/reports/2026-10-02-overview-desktop-composition.md
  docs/superpowers/plans/2026-10-01-overview-metric-cleanup.md
Due: prettier, markdownlint, naming-convention

feat(overview): fit desktop composition in ordinary and fullscreen views (#219) (#237)
  AGENTS.md
  docs/development/README.md
  docs/development/cloud-docker.md
  docs/features/overview.md
  docs/reports/2026-10-02-overview-desktop-composition.md
  docs/reports/README.md
  docs/superpowers/plans/2026-10-01-overview-metric-cleanup.md
  docs/superpowers/plans/2026-10-02-overview-desktop-composition.md
  frontend/mission-planner/src/pages/OverviewArrivalPanel.css
  frontend/mission-planner/src/pages/OverviewClockPanel.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.css
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.tsx
  frontend/mission-planner/src/pages/OverviewVisualTokens.css
  frontend/mission-planner/tests/e2e/overview-arrival-containment.spec.ts
  frontend/mission-planner/tests/e2e/overview-arrival.spec.ts
  frontend/mission-planner/tests/e2e/overview-desktop-composition.spec.ts
  frontend/mission-planner/tests/e2e/overview-desktop-readability.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-metric-cleanup.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-composition.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): compose responsive map stage and metrics
  docs/superpowers/plans/2026-10-02-overview-responsive-mobile-source-contract.md
  docs/superpowers/plans/2026-10-02-overview-responsive-mobile.md
  frontend/mission-planner/src/index.css
  frontend/mission-planner/src/pages/OverviewArrivalPanel.css
  frontend/mission-planner/src/pages/OverviewMapLegend.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPlannedSatelliteCard.css
  frontend/mission-planner/src/pages/overview-poi-label-layout.test.ts
  frontend/mission-planner/src/pages/overview-poi-label-layout.ts
  frontend/mission-planner/src/pages/overview-responsive-layout.test.ts
  frontend/mission-planner/src/pages/overview-responsive-layout.ts
  frontend/mission-planner/src/pages/useOverviewLayout.ts
  frontend/mission-planner/tests/e2e/overview-arrival-containment.spec.ts
  frontend/mission-planner/tests/e2e/overview-desktop-composition.spec.ts
  frontend/mission-planner/tests/e2e/overview-poi-responsive.spec.ts
  frontend/mission-planner/tests/e2e/overview-responsive.spec.ts
  frontend/mission-planner/tests/e2e/support/globe-visual-ready.ts
  frontend/mission-planner/tests/e2e/support/overview-composition.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): scope map exploration and preserve camera intent
  docs/superpowers/plans/2026-10-02-overview-responsive-mobile-source-contract.md
  docs/superpowers/plans/2026-10-02-overview-responsive-mobile.md
  frontend/mission-planner/src/hooks/useOverviewFollowPreference.ts
  frontend/mission-planner/src/hooks/usePrefersReducedMotion.test.tsx
  frontend/mission-planner/src/hooks/usePrefersReducedMotion.ts
  frontend/mission-planner/src/pages/AnimatedFlowLine.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OverviewCameraSettingsCard.tsx
  frontend/mission-planner/src/pages/OverviewMapController.test.tsx
  frontend/mission-planner/src/pages/OverviewMapController.tsx
  frontend/mission-planner/src/pages/OverviewMapControls.test.tsx
  frontend/mission-planner/src/pages/OverviewMapControls.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-camera-frame.test.ts
  frontend/mission-planner/src/pages/overview-camera-frame.ts
  frontend/mission-planner/src/pages/useOverviewLayout.ts
  frontend/mission-planner/tests/e2e/overview-map-interaction.spec.ts
  frontend/mission-planner/tests/e2e/overview-responsive.spec.ts
  frontend/mission-planner/tests/e2e/support/globe-visual-ready.ts
  frontend/mission-planner/tests/e2e/support/overview-camera.ts
  frontend/mission-planner/tests/e2e/support/overview-composition.ts
Due: prettier, eslint, markdownlint, naming-convention

test(overview): verify responsive composition and camera framing
  docs/superpowers/plans/2026-10-02-overview-responsive-mobile.md
  frontend/mission-planner/tests/e2e/overview-arrival.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-metric-cleanup.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
  frontend/mission-planner/tests/e2e/overview-planned-satellite-legend.spec.ts
Due: prettier, markdownlint, naming-convention

docs(overview): explain responsive map operation
  docs/architecture/README.md
  docs/architecture/overview-responsive-layout.md
  docs/features/overview.md
  docs/reports/2026-10-02-overview-responsive-mobile.md
  docs/reports/README.md
Due: prettier, markdownlint, naming-convention

docs(overview): record production validation and cleanup
  docs/reports/2026-10-02-overview-responsive-mobile.md
  docs/superpowers/plans/2026-10-02-overview-responsive-mobile.md
Due: prettier, markdownlint, naming-convention

fix(overview): retain desktop recovery and fit late routes
  docs/architecture/overview-responsive-layout.md
  docs/features/overview.md
  docs/reports/2026-10-02-overview-responsive-mobile.md
  docs/superpowers/plans/2026-10-02-overview-responsive-mobile-source-contract.md
  frontend/mission-planner/src/pages/OverviewMapController.test.tsx
  frontend/mission-planner/src/pages/OverviewMapController.tsx
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/useOverviewLayout.ts
  frontend/mission-planner/tests/e2e/overview-desktop-readability.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
  frontend/mission-planner/tests/e2e/overview-map-interaction.spec.ts
  frontend/mission-planner/tests/e2e/overview-responsive.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-composition.ts
Due: prettier, eslint, markdownlint, naming-convention

docs(overview): close reviewed production validation
  docs/reports/2026-10-02-overview-responsive-mobile.md
  docs/superpowers/plans/2026-10-02-overview-responsive-mobile.md
Due: prettier, markdownlint, naming-convention

fix(overview): fit fullscreen route and limit camera motion
  docs/architecture/overview-responsive-layout.md
  docs/reports/2026-10-02-overview-responsive-mobile.md
  frontend/mission-planner/src/pages/OverviewFullscreenControl.tsx
  frontend/mission-planner/src/pages/OverviewMapController.test.tsx
  frontend/mission-planner/src/pages/OverviewMapController.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/overview-camera-frame.test.ts
  frontend/mission-planner/src/pages/overview-camera-frame.ts
  frontend/mission-planner/src/pages/overview-camera-motion.test.ts
  frontend/mission-planner/src/pages/overview-camera-motion.ts
  frontend/mission-planner/src/pages/useOverviewLayout.ts
  frontend/mission-planner/tests/e2e/overview-fullscreen-route.spec.ts
  frontend/mission-planner/tests/e2e/overview-map-interaction.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-camera.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): advance camera by elapsed time at every frame rate
  docs/architecture/overview-responsive-layout.md
  docs/reports/2026-10-02-overview-responsive-mobile.md
  frontend/mission-planner/src/pages/OverviewMapController.test.tsx
  frontend/mission-planner/src/pages/OverviewMapController.tsx
Due: prettier, eslint, markdownlint, naming-convention

refactor(overview): checkpoint CameraControls migration
  docs/architecture/overview-responsive-layout.md
  frontend/mission-planner/src/pages/OverviewMapController.test.tsx
  frontend/mission-planner/src/pages/OverviewMapController.tsx
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/overview-camera-controls.ts
  frontend/mission-planner/src/pages/overview-camera-motion.test.ts
  frontend/mission-planner/src/pages/overview-camera-motion.ts
  frontend/mission-planner/tests/e2e/overview-map-interaction.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-camera.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): unify camera easing and tighten aircraft follow
  docs/architecture/overview-responsive-layout.md
  docs/reports/2026-10-02-overview-responsive-mobile.md
  frontend/mission-planner/src/pages/OverviewMapController.test.tsx
  frontend/mission-planner/src/pages/OverviewMapController.tsx
  frontend/mission-planner/src/pages/overview-camera-controls.ts
  frontend/mission-planner/src/pages/overview-camera-frame.test.ts
  frontend/mission-planner/src/pages/overview-camera-frame.ts
  frontend/mission-planner/tests/e2e/overview-map-interaction.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

docs(overview): fix responsive report markdown lint
  docs/reports/2026-10-02-overview-responsive-mobile.md
Due: prettier, markdownlint, naming-convention

fix(overview): use logarithmic loss and obstruction plots
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/overview-metric-plot-options.test.ts
  frontend/mission-planner/src/pages/overview-metric-plot-options.ts
  frontend/mission-planner/src/pages/overview-metric-scale.test.ts
  frontend/mission-planner/src/pages/overview-metric-scale.ts
Due: prettier, eslint

fix(overview): use logarithmic loss and obstruction plots (#239)
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/overview-metric-plot-options.test.ts
  frontend/mission-planner/src/pages/overview-metric-plot-options.ts
  frontend/mission-planner/src/pages/overview-metric-scale.test.ts
  frontend/mission-planner/src/pages/overview-metric-scale.ts
Due: prettier, eslint

fix: require destination proximity for automatic arrival
  backend/starlink-location/app/core/metrics/metric_updater.py
  backend/starlink-location/tests/integration/test_automatic_arrival_proximity.py
  docs/features/overview.md
Due: prettier, markdownlint, naming-convention

test: align arrival regression imports with backend lint
  backend/starlink-location/tests/integration/test_automatic_arrival_proximity.py
Due: none

fix: require destination proximity for automatic arrival (#240)
  backend/starlink-location/app/core/metrics/metric_updater.py
  backend/starlink-location/tests/integration/test_automatic_arrival_proximity.py
  docs/features/overview.md
Due: prettier, markdownlint, naming-convention

fix: pass active route to live background metrics
  backend/starlink-location/README.md
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_live_background_route.py
Due: prettier, markdownlint

fix: pass active route to live background metrics (#241)
  backend/starlink-location/README.md
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_live_background_route.py
Due: prettier, markdownlint
