Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

fix(frontend): describe mission dialog and use native lifecycle tests
  .github/workflows/lint.yml
  docs/contributing/quality-gates.md
  docs/contributing/testing-guide.md
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
  frontend/mission-planner/src/components/missions/CreateMissionDialog.tsx
  frontend/mission-planner/src/pages/AnimatedFlowLine.test.tsx
  frontend/mission-planner/src/pages/MissionsPage.test.tsx
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
  frontend/mission-planner/vite.config.ts
  tools/tests/test_docs.py
  tools/tests/test_quality_gate_workflow.py
Due: prettier, eslint, markdownlint, naming-convention

docs: plan issue 257 from approved window synchronization design
  docs/superpowers/plans/2026-10-04-overview-window-sync-acceptance.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-controls.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-refresh.md
  docs/superpowers/plans/2026-10-04-overview-window-sync.md
  docs/superpowers/specs/2026-10-04-overview-window-sync-design.md
Due: prettier, markdownlint, naming-convention

fix(missions): restore focus when create dialog closes
  docs/contributing/testing-guide.md
  frontend/mission-planner/src/components/missions/CreateMissionDialog.tsx
  frontend/mission-planner/src/pages/MissionsPage.test.tsx
  frontend/mission-planner/tests/e2e/mission-workflow.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

docs: record approved session handoffs through issue 257 merge
  docs/superpowers/plans/2026-10-04-overview-window-sync-acceptance.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-handoff.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync.md
  docs/superpowers/specs/2026-10-04-overview-window-sync-design.md
Due: prettier, markdownlint, naming-convention

fix(overview): preserve rendered chart position across rebases
  docs/reports/evidence/2026-10-04-overview-chart-rebase/verification-summary.json
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-rebase.spec.ts
Due: prettier, eslint

fix(overview): refresh saved state across windows
  docs/superpowers/plans/2026-10-04-overview-window-sync-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-refresh.md
  docs/superpowers/plans/2026-10-04-overview-window-sync.md
  frontend/mission-planner/src/hooks/api/overview-refresh-options.ts
  frontend/mission-planner/src/hooks/api/useOverviewClockSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewClockSettings.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistory.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistory.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistorySettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewHistorySettings.ts
  frontend/mission-planner/src/hooks/api/useOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewLinkSettings.ts
  frontend/mission-planner/src/hooks/api/useOverviewRefresh.test.tsx
  frontend/mission-planner/src/hooks/api/useRoutes.ts
  frontend/mission-planner/src/hooks/api/useSatellites.ts
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/services/overview-clock-settings.test.ts
  frontend/mission-planner/src/services/overview-clock-settings.ts
  frontend/mission-planner/src/services/overview-history.test.ts
  frontend/mission-planner/src/services/overview-history.ts
  frontend/mission-planner/src/services/routes.ts
  frontend/mission-planner/src/services/satellites.ts
  frontend/mission-planner/tests/e2e/overview-window-refresh.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-window-fixture.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): preserve confirmed settings through refresh races
  docs/superpowers/plans/2026-10-04-overview-window-sync-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-refresh.md
  frontend/mission-planner/src/hooks/api/useOverviewRefresh.test.tsx
  frontend/mission-planner/src/hooks/api/useUpdateOverviewClockSettings.test.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewClockSettings.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewHistorySettings.test.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewHistorySettings.ts
  frontend/mission-planner/tests/e2e/overview-window-refresh.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-window-fixture.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): add targeted display command sessions
  docs/superpowers/plans/2026-10-04-overview-window-sync-controls.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-sessions.md
  docs/superpowers/plans/2026-10-04-overview-window-sync.md
  frontend/mission-planner/src/services/overview-display-protocol.test.ts
  frontend/mission-planner/src/services/overview-display-protocol.ts
  frontend/mission-planner/src/services/overview-display-session.test.ts
  frontend/mission-planner/src/services/overview-display-session.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(configuration): control selected Overview displays
  docs/superpowers/plans/2026-10-04-overview-window-sync-controls.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-sessions.md
  docs/superpowers/plans/2026-10-04-overview-window-sync.md
  frontend/mission-planner/src/hooks/useOverviewDisplayController.test.tsx
  frontend/mission-planner/src/hooks/useOverviewDisplayController.ts
  frontend/mission-planner/src/hooks/useOverviewDisplayHost.test.tsx
  frontend/mission-planner/src/hooks/useOverviewDisplayHost.ts
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OverviewDisplaySettingsCard.test.tsx
  frontend/mission-planner/src/pages/OverviewDisplaySettingsCard.tsx
  frontend/mission-planner/src/pages/OverviewFullscreenControl.test.tsx
  frontend/mission-planner/src/pages/OverviewFullscreenControl.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-fullscreen.test.ts
  frontend/mission-planner/src/pages/overview-fullscreen.ts
  frontend/mission-planner/src/test/overview-display-channel.ts
  frontend/mission-planner/tests/e2e/overview-window-controls.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-native-escape.ts
Due: prettier, eslint, markdownlint, naming-convention

test(overview): add isolated production window acceptance harness
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/playwright.window-acceptance.config.ts
  frontend/mission-planner/src/test/overview-window-acceptance-config.test.ts
  frontend/mission-planner/tests/e2e/overview-window-production.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-route-probe.ts
  frontend/mission-planner/tests/e2e/support/overview-window-mission.ts
  tools/acceptance/overview-window-sync/compose.yml
  tools/acceptance/overview-window-sync/run.sh
  tools/tests/test_overview_window_runner.py
Due: prettier, eslint

test(overview): preserve production evidence and cover saved-state paths
  docs/api/endpoints/overview-clock-settings.md
  docs/features/overview.md
  docs/features/system.md
  frontend/mission-planner/tests/e2e/overview-window-paths.spec.ts
  frontend/mission-planner/tests/e2e/overview-window-production.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-window-fixture.ts
  tools/acceptance/overview-window-sync/run.sh
  tools/tests/test_overview_window_runner.py
Due: prettier, markdownlint, naming-convention

test(overview): establish valid simulation position preconditions
  frontend/mission-planner/tests/e2e/overview-window-production.spec.ts
  tools/acceptance/overview-window-sync/compose.yml
Due: prettier

fix(overview): retain four clock slots through mission updates
  frontend/mission-planner/src/pages/OperationalClockList.test.tsx
  frontend/mission-planner/src/pages/OperationalClockList.tsx
  frontend/mission-planner/tests/e2e/overview-window-production.spec.ts
Due: prettier, eslint

test(overview): verify cross-window production workflow
  docs/reports/2026-10-04-overview-window-sync-acceptance.md
  docs/reports/2026-10-04-overview-window-sync-investigation.md
  docs/reports/evidence/2026-10-04-overview-window-sync/desktop.png
  docs/reports/evidence/2026-10-04-overview-window-sync/fullscreen.png
  docs/reports/evidence/2026-10-04-overview-window-sync/summary.json
  docs/superpowers/plans/2026-10-04-overview-window-sync-acceptance-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-acceptance.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync.md
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/tests/e2e/overview-window-paths.spec.ts
Due: prettier, markdownlint, naming-convention

fix(overview): preserve landscape rail with display controls
  docs/superpowers/plans/2026-10-04-overview-window-sync-acceptance-progress.md
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
Due: prettier, markdownlint, naming-convention

test(overview): complete cross-window acceptance preparation
  docs/reports/2026-10-04-overview-window-sync-acceptance.md
  docs/reports/evidence/2026-10-04-overview-window-sync/compact.png
  docs/reports/evidence/2026-10-04-overview-window-sync/continuation.json
  docs/superpowers/plans/2026-10-04-overview-window-sync-acceptance-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-acceptance.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync.md
Due: prettier, markdownlint, naming-convention

docs(overview): record independent review and integration gaps
  docs/reports/evidence/2026-10-04-overview-window-sync/review-fullscreen-rejected.png
  docs/reports/evidence/2026-10-04-overview-window-sync/review.json
  docs/superpowers/plans/2026-10-04-overview-window-sync-acceptance.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-review.md
  docs/superpowers/plans/2026-10-04-overview-window-sync.md
Due: prettier, markdownlint, naming-convention

fix(overview): measure compact fullscreen feedback and identity
  docs/reports/2026-10-04-overview-window-sync-investigation.md
  docs/reports/evidence/2026-10-04-overview-window-sync/integration.json
  docs/superpowers/plans/2026-10-04-overview-window-sync-acceptance.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-integration.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-review.md
  docs/superpowers/plans/2026-10-04-overview-window-sync.md
  frontend/mission-planner/src/pages/OverviewOverlayLayout.css
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/useOverviewLayout.test.ts
  frontend/mission-planner/src/pages/useOverviewLayout.ts
  frontend/mission-planner/tests/e2e/overview-window-compact.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

docs(overview): record independent R1/R2 follow-up review
  docs/reports/evidence/2026-10-04-overview-window-sync/follow-up-review-rejected.png
  docs/reports/evidence/2026-10-04-overview-window-sync/follow-up-review.json
  docs/superpowers/plans/2026-10-04-overview-window-sync-acceptance.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-follow-up-review.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-integration.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-review.md
  docs/superpowers/plans/2026-10-04-overview-window-sync.md
Due: prettier, markdownlint, naming-convention

docs(overview): clarify background history polling and close review gaps
  docs/features/overview.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-acceptance.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-integration.md
  docs/superpowers/plans/2026-10-04-overview-window-sync-progress.md
  docs/superpowers/plans/2026-10-04-overview-window-sync.md
Due: prettier, markdownlint, naming-convention

docs: plan isolated orbital traffic experiment for issue 261
  docs/superpowers/plans/2026-10-04-orbital-traffic-experiment-tasks-1-3.md
  docs/superpowers/plans/2026-10-04-orbital-traffic-experiment-tasks-4-7.md
  docs/superpowers/plans/2026-10-04-orbital-traffic-experiment.md
Due: prettier, markdownlint, naming-convention

feat: cache orbital catalog with demand and provider backoff
  backend/starlink-location/app/api/orbital_catalog.py
  backend/starlink-location/app/services/orbital_catalog.py
  backend/starlink-location/app/services/orbital_catalog_client.py
  backend/starlink-location/app/services/orbital_catalog_models.py
  backend/starlink-location/app/services/orbital_catalog_store.py
  backend/starlink-location/app/services/orbital_viewers.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/fixtures/orbital-catalog.json
  backend/starlink-location/tests/integration/test_orbital_catalog_api.py
  backend/starlink-location/tests/unit/test_main_orbital_catalog.py
  backend/starlink-location/tests/unit/test_orbital_catalog.py
  backend/starlink-location/tests/unit/test_orbital_catalog_store.py
  backend/starlink-location/tests/unit/test_orbital_viewers.py
  docs/development/orbital-provider-policy.md
  docs/superpowers/plans/2026-10-04-orbital-traffic-experiment-tasks-1-3.md
  docs/superpowers/plans/2026-10-04-orbital-traffic-experiment.md
Due: prettier, markdownlint, naming-convention

feat: propagate orbital snapshots in a bounded worker
  docs/development/orbital-provider-policy.md
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
  frontend/mission-planner/src/pages/orbital/coordinates.test.ts
  frontend/mission-planner/src/pages/orbital/coordinates.ts
  frontend/mission-planner/src/pages/orbital/orbital.worker.ts
  frontend/mission-planner/src/pages/orbital/propagation.test.ts
  frontend/mission-planner/src/pages/orbital/propagation.ts
  frontend/mission-planner/src/pages/orbital/test-fixtures.ts
  frontend/mission-planner/src/pages/orbital/types.ts
  frontend/mission-planner/src/pages/orbital/worker-client.test.ts
  frontend/mission-planner/src/pages/orbital/worker-client.ts
  frontend/mission-planner/src/pages/orbital/worker-protocol.ts
  frontend/mission-planner/src/services/orbital-catalog.test.ts
  frontend/mission-planner/src/services/orbital-catalog.ts
  frontend/mission-planner/vite.config.ts
Due: prettier, eslint, markdownlint, naming-convention

feat: select bounded inferred orbital traffic routes
  frontend/mission-planner/src/pages/orbital/geometry.test.ts
  frontend/mission-planner/src/pages/orbital/geometry.ts
  frontend/mission-planner/src/pages/orbital/hysteresis.test.ts
  frontend/mission-planner/src/pages/orbital/hysteresis.ts
  frontend/mission-planner/src/pages/orbital/routing-limits.test.ts
  frontend/mission-planner/src/pages/orbital/routing-test-fixtures.ts
  frontend/mission-planner/src/pages/orbital/routing.test.ts
  frontend/mission-planner/src/pages/orbital/routing.ts
  frontend/mission-planner/src/pages/orbital/spatial-index.test.ts
  frontend/mission-planner/src/pages/orbital/spatial-index.ts
  frontend/mission-planner/src/pages/orbital/worker-client.test.ts
  frontend/mission-planner/src/pages/orbital/worker-protocol.ts
Due: prettier, eslint

feat: persist experimental orbital view
  backend/starlink-location/app/api/overview_link_settings.py
  backend/starlink-location/app/services/overview_link_settings.py
  backend/starlink-location/tests/integration/test_overview_link_settings_api.py
  backend/starlink-location/tests/unit/test_main_overview_link_settings.py
  backend/starlink-location/tests/unit/test_overview_link_settings.py
  frontend/mission-planner/src/hooks/api/useOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewLinkSettings.test.ts
  frontend/mission-planner/src/pages/OverviewLinkSettingsCard.test.tsx
  frontend/mission-planner/src/pages/OverviewLinkSettingsCard.tsx
  frontend/mission-planner/src/pages/overview-link-state.test.ts
  frontend/mission-planner/src/services/overview-link-settings.test.ts
  frontend/mission-planner/src/services/overview-link-settings.ts
Due: prettier, eslint

fix: persist orbital provider cache in container storage
  backend/starlink-location/entrypoint.sh
  docker-compose.yml
  tools/tests/test_orbital_runtime_storage.py
Due: prettier

feat: own orbital viewer lifecycle and configuration diagnostics
  frontend/mission-planner/src/hooks/useOrbitalTraffic.test.ts
  frontend/mission-planner/src/hooks/useOrbitalTraffic.ts
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OrbitalTrafficDiagnostics.test.tsx
  frontend/mission-planner/src/pages/OrbitalTrafficDiagnostics.tsx
  frontend/mission-planner/src/pages/orbital/lifecycle.test.ts
  frontend/mission-planner/src/pages/orbital/lifecycle.ts
Due: prettier, eslint

fix: address orbital experiment whole-branch review findings
  backend/starlink-location/app/services/orbital_catalog.py
  backend/starlink-location/tests/unit/test_orbital_catalog.py
  docs/development/orbital-provider-policy.md
  docs/testing/orbital-traffic-experiment-results.md
  docs/testing/orbital-traffic-experiment.md
  frontend/mission-planner/src/pages/OrbitalTrafficDiagnostics.test.tsx
  frontend/mission-planner/src/pages/OrbitalTrafficDiagnostics.tsx
  frontend/mission-planner/src/pages/orbital/lifecycle.test.ts
  frontend/mission-planner/src/pages/orbital/lifecycle.ts
  frontend/mission-planner/src/pages/orbital/propagation.test.ts
  frontend/mission-planner/src/pages/orbital/routing.test.ts
  frontend/mission-planner/src/pages/orbital/routing.ts
  tools/acceptance/journeys/orbital-traffic.mjs
Due: prettier, eslint, markdownlint, naming-convention

feat: render experimental constellation and single orbital traffic path
  frontend/mission-planner/src/pages/AnimatedFlowLine.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/orbital/OrbitalSprites.test.tsx
  frontend/mission-planner/src/pages/orbital/OrbitalSprites.tsx
  frontend/mission-planner/src/pages/orbital/sprite-resources.test.ts
  frontend/mission-planner/src/pages/orbital/sprite-resources.ts
  frontend/mission-planner/src/pages/orbital/sprite-test-fixtures.ts
  frontend/mission-planner/src/pages/orbital/traffic-path.test.ts
  frontend/mission-planner/src/pages/orbital/traffic-path.ts
Due: prettier, eslint

fix: await confirmed settings before orbital visibility resume
  frontend/mission-planner/src/pages/orbital/lifecycle.test.ts
  frontend/mission-planner/src/pages/orbital/lifecycle.ts
Due: prettier, eslint

test: add controlled orbital experiment acceptance
  docs/superpowers/plans/2026-10-04-orbital-traffic-experiment-tasks-1-3.md
  docs/superpowers/plans/2026-10-04-orbital-traffic-experiment.md
  docs/testing/orbital-traffic-experiment-results.md
  docs/testing/orbital-traffic-experiment.md
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  tools/acceptance/journeys/orbital-traffic-fixtures.mjs
  tools/acceptance/journeys/orbital-traffic-fixtures/omm-template.json
  tools/acceptance/journeys/orbital-traffic-probe.mjs
  tools/acceptance/journeys/orbital-traffic.mjs
Due: prettier, eslint, markdownlint, naming-convention

test: document orbital experiment acceptance and performance
  docs/superpowers/plans/2026-10-04-orbital-traffic-experiment-tasks-1-3.md
  docs/superpowers/plans/2026-10-04-orbital-traffic-experiment-tasks-4-7.md
  docs/testing/orbital-traffic-experiment-results.md
Due: prettier, markdownlint, naming-convention

test: align window sync fixtures with orbital settings
  frontend/mission-planner/src/hooks/api/useOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewRefresh.test.tsx
Due: prettier, eslint

fix: preserve overview preferences across settings schema changes
  backend/starlink-location/app/services/overview_link_settings.py
  backend/starlink-location/tests/integration/test_overview_link_settings_api.py
  backend/starlink-location/tests/unit/test_overview_link_settings.py
  docs/deployment/portainer-ghcr.md
  docs/features/system.md
  docs/testing/orbital-traffic-experiment.md
Due: prettier, markdownlint, naming-convention

test(overview): define history performance acceptance budgets
  docs/superpowers/plans/2026-10-01-overview-history-efficiency.md
  docs/superpowers/plans/2026-10-04-overview-history-efficiency-follow-up.md
  docs/superpowers/specs/2026-10-04-overview-history-efficiency-follow-up-design.md
  tools/acceptance/overview_history/__init__.py
  tools/acceptance/overview_history/report.py
  tools/tests/test_overview_history_performance_report.py
Due: prettier, markdownlint, naming-convention

test(overview): add isolated real history cost controls
  tools/acceptance/overview-history/compose.yml
  tools/acceptance/overview-history/run.sh
  tools/acceptance/overview_history/backend_probe.py
  tools/acceptance/overview_history/seed.py
  tools/acceptance/overview_history/trace.py
  tools/profile_overview_history.py
  tools/tests/test_overview_history_performance_runner.py
  tools/tests/test_profile_overview_history.py
Due: prettier

test(overview): require populated imported history for measurements
  tools/acceptance/overview-history/compose.yml
  tools/acceptance/overview-history/run.sh
  tools/acceptance/overview_history/seed.py
  tools/tests/test_overview_history_performance_runner.py
  tools/tests/test_profile_overview_history.py
Due: prettier

docs(overview): record real Prometheus control progress
  docs/superpowers/plans/2026-10-04-overview-history-efficiency-follow-up.md
Due: prettier, markdownlint, naming-convention

test: add native real-path Overview history measurements
  tools/acceptance/journeys/overview-history-performance.mjs
  tools/acceptance/journeys/overview-history-probe.mjs
  tools/acceptance/overview-history/run.sh
  tools/acceptance/overview_history/run_browser.py
  tools/tests/test_overview_history_browser_contract.py
  tools/tests/test_overview_history_browser_lifecycle.py
  tools/tests/test_overview_history_performance_runner.py
Due: none

test: observe accepted windows and native lifecycle controls
  tools/acceptance/journeys/overview-history-performance.mjs
  tools/acceptance/journeys/overview-history-probe.mjs
  tools/acceptance/overview-history/run.sh
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

