Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

fix: preserve active checkout recovery identity
  tools/acceptance/platform/maintenance.py
  tools/run-acceptance-platform.sh
  tools/tests/test_acceptance_platform_retention.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

test: cover failed ownership marker recovery
  .superpowers/sdd/2026-09-27-acceptance-retention/task-3-report.md
  tools/tests/test_acceptance_platform_retention.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint

feat: bound runner-owned acceptance resources
  tools/acceptance/platform/compose.py
  tools/acceptance/platform/maintenance.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_acceptance_platform_scoped_resources.py
Due: none

fix: wire runner-owned acceptance resource lifecycle
  .superpowers/sdd/2026-09-27-acceptance-retention/task-4-report.md
  tools/acceptance/platform/runner.py
  tools/run-acceptance-platform.sh
  tools/tests/test_acceptance_platform_runner.py
  tools/tests/test_acceptance_platform_scoped_resources.py
Due: prettier, markdownlint

fix: scope runner Buildx cleanup
  .superpowers/sdd/2026-09-27-acceptance-retention/task-4-report.md
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint

fix: scope task Buildx lifecycle safely
  .superpowers/sdd/2026-09-27-acceptance-retention/task-4-report.md
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint

fix: place Compose builder option after build
  .superpowers/sdd/2026-09-27-acceptance-retention/task-4-report.md
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint

feat: select bounded GitHub build records
  tools/github_retention.py
  tools/github_retention_cli.py
  tools/tests/test_github_retention.py
Due: none

fix: protect current GitHub retention records
  tools/github_retention.py
  tools/github_retention_cli.py
  tools/tests/test_github_retention.py
  tools/tests/test_github_retention_review_regressions.py
Due: none

fix: retain ambiguous GHCR boundary versions
  tools/github_retention.py
  tools/tests/test_github_retention_review_regressions.py
Due: none

ci: retain bounded publish build records
  .github/workflows/publish-ghcr.yml
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier

fix(ci): harden retention workflow checks
  .github/workflows/publish-ghcr.yml
  .superpowers/sdd/2026-09-27-acceptance-retention/task-6-report.md
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier, markdownlint

docs: record retention workflow fix verification
  .superpowers/sdd/2026-09-27-acceptance-retention/task-6-report.md
Due: prettier, markdownlint

fix(ci): detect short-circuited disabled workflow steps
  .superpowers/sdd/2026-09-27-acceptance-retention/task-6-report.md
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier, markdownlint

fix(ci): reject nested disabled workflow conditions
  .superpowers/sdd/2026-09-27-acceptance-retention/task-6-report.md
  tools/check_publish_ghcr_workflow.py
  tools/tests/test_publish_ghcr_workflow.py
Due: prettier, markdownlint

docs(acceptance): document retention maintenance
  docs/operations/acceptance-platform.md
  docs/operations/external-host-final-acceptance.md
  tools/tests/test_acceptance_platform_docs.py
Due: prettier, markdownlint, naming-convention

fix(docs): preserve retention command failures
  docs/operations/external-host-final-acceptance.md
  final-rework-7-report.md
  tools/tests/test_acceptance_platform_docs.py
Due: prettier, markdownlint, naming-convention

fix(retention): recognize runner candidate authority
  docs/operations/acceptance-platform.md
  docs/operations/external-host-final-acceptance.md
  docs/superpowers/specs/2026-09-27-acceptance-evidence-retention-design.md
  docs/superpowers/specs/2026-09-27-acceptance-retention-operational-lifecycle.md
  tools/acceptance/platform/maintenance.py
  tools/acceptance/platform/retention.py
  tools/github_retention.py
  tools/tests/test_acceptance_platform_docs.py
  tools/tests/test_acceptance_platform_retention.py
  tools/tests/test_github_retention.py
  tools/tests/test_github_retention_review_regressions.py
Due: prettier, markdownlint, naming-convention

fix: clear retention review gates
  docs/operations/acceptance-platform.md
  tools/tests/test_acceptance_platform_retention.py
Due: prettier, markdownlint, naming-convention

feat: add Forge Portainer dev profile
  deployment/portainer-forge-dev-compose.yml
Due: prettier

feat: add Forge Portainer dev profile (#186)
  deployment/portainer-forge-dev-compose.yml
Due: prettier

fix: use stored route projections for mission event ETAs
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  docs/api/endpoints/overview-upcoming-pois.md
  docs/features/overview.md
  frontend/mission-planner/src/pages/UpcomingPoisPanel.test.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(acceptance): install frontend static dependencies
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

docs: specify Forge frontend dependency lifecycle
  docs/superpowers/specs/2026-09-28-forge-frontend-dependency-lifecycle-design.md
Due: prettier, markdownlint, naming-convention

docs: plan Forge dependency lifecycle repair
  docs/superpowers/plans/2026-09-28-forge-frontend-dependency-lifecycle.md
Due: prettier, markdownlint, naming-convention

fix(acceptance): prepare Forge frontend dependencies
  docs/operations/external-host-final-acceptance.md
  tools/acceptance/platform/runner.py
  tools/run-acceptance-platform.sh
  tools/tests/test_acceptance_platform_docs.py
  tools/tests/test_acceptance_platform_runner.py
Due: prettier, markdownlint, naming-convention

fix(retention): preserve failed final evidence
  tools/acceptance/platform/retention.py
  tools/tests/test_acceptance_platform_retention.py
Due: none

fix(acceptance): preserve compose image metadata
  tools/acceptance/platform/maintenance.py
  tools/tests/test_acceptance_platform_runner.py
  tools/tests/test_acceptance_platform_scoped_resources.py
Due: none

fix(acceptance): release current task images
  tools/acceptance/platform/runner.py
  tools/tests/test_acceptance_platform_runner.py
Due: none

docs: lint Forge dependency lifecycle plan
  docs/superpowers/plans/2026-09-28-forge-frontend-dependency-lifecycle.md
Due: prettier, markdownlint, naming-convention

docs: specify route-aware mission event ETA
  docs/superpowers/specs/2026-09-28-route-aware-mission-event-eta-design.md
Due: prettier, markdownlint, naming-convention

docs: plan route-aware mission event ETA
  docs/superpowers/plans/2026-09-28-route-aware-mission-event-eta.md
Due: prettier, markdownlint, naming-convention

Revert "fix: use stored route projections for mission event ETAs"
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  docs/api/endpoints/overview-upcoming-pois.md
  docs/features/overview.md
  frontend/mission-planner/src/pages/UpcomingPoisPanel.test.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): calculate projected mission event ETA
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
Due: none

test(overview): cover unsafe mission event ETA
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
Due: none

fix(overview): clarify upcoming ETA provenance
  frontend/mission-planner/src/pages/UpcomingPoisPanel.test.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

docs(overview): explain route-aware mission event ETA
  backend/starlink-location/tests/unit/test_mission_retirement_docs.py
  docs/api/endpoints/overview-upcoming-pois.md
  docs/features/overview.md
Due: prettier, markdownlint, naming-convention

fix(acceptance): complete Forge final-lane lifecycle (#188)
  docs/operations/external-host-final-acceptance.md
  docs/superpowers/plans/2026-09-28-forge-frontend-dependency-lifecycle.md
  docs/superpowers/specs/2026-09-28-forge-frontend-dependency-lifecycle-design.md
  tools/acceptance/platform/maintenance.py
  tools/acceptance/platform/retention.py
  tools/acceptance/platform/runner.py
  tools/run-acceptance-platform.sh
  tools/tests/test_acceptance_platform_docs.py
  tools/tests/test_acceptance_platform_retention.py
  tools/tests/test_acceptance_platform_runner.py
  tools/tests/test_acceptance_platform_scoped_resources.py
Due: prettier, markdownlint, naming-convention

fix(overview): validate route ETA timing inputs
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
Due: none

style(overview): format route ETA validation
  backend/starlink-location/app/services/eta/projection.py
Due: none
