Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

docs(quality): clarify verification working directories
  docs/superpowers/specs/2026-09-24-quality-gate-contract-design.md
Due: prettier, markdownlint, naming-convention

docs(quality): plan verification contract delivery
  docs/superpowers/plans/2026-09-24-quality-gate-docs-verification.md
  docs/superpowers/plans/2026-09-24-quality-gate-runner-ci.md
Due: prettier, markdownlint, naming-convention

docs(quality): specify verification contract
  docs/superpowers/specs/2026-09-24-quality-gate-contract-design.md
Due: prettier, markdownlint, naming-convention

docs(quality): align plans with contract tracker
  docs/superpowers/plans/2026-09-24-quality-gate-docs-verification.md
  docs/superpowers/plans/2026-09-24-quality-gate-runner-ci.md
Due: prettier, markdownlint, naming-convention

feat(quality): add canonical verification runner
  backend/starlink-location/requirements-dev.txt
  tools/tests/test_verify.py
  tools/verify
Due: none

docs(quality): correct root static formatter scope
  docs/superpowers/plans/2026-09-24-quality-gate-runner-ci.md
Due: prettier, markdownlint, naming-convention

fix(quality): correct static Prettier scope
  tools/tests/test_verify.py
  tools/verify
Due: none

ci(quality): delegate checks to canonical runner
  .github/workflows/lint.yml
  tools/tests/test_quality_gate_workflow.py
  tools/verify
Due: prettier

docs(quality): require static development setup
  docs/superpowers/plans/2026-09-24-quality-gate-runner-ci.md
Due: prettier, markdownlint, naming-convention

ci(quality): install static development requirements
  .github/workflows/lint.yml
  tools/tests/test_quality_gate_workflow.py
Due: prettier

docs(quality): document canonical verification gates
  CONTRIBUTING.md
  backend/starlink-location/README.md
  backend/starlink-location/docs/TESTING.md
  docs/contributing/quality-gates.md
  docs/contributing/testing-guide.md
  tools/tests/test_docs.py
Due: prettier, markdownlint, naming-convention

docs(quality): specify verification prerequisites
  docs/superpowers/plans/2026-09-24-quality-gate-docs-verification.md
Due: prettier, markdownlint, naming-convention

docs(quality): document verification prerequisites
  docs/contributing/quality-gates.md
  tools/tests/test_docs.py
Due: prettier, markdownlint, naming-convention

ci: unify repository quality-gate contract (#182)
  .github/workflows/lint.yml
  CONTRIBUTING.md
  backend/starlink-location/README.md
  backend/starlink-location/docs/TESTING.md
  backend/starlink-location/requirements-dev.txt
  docs/contributing/quality-gates.md
  docs/contributing/testing-guide.md
  docs/superpowers/plans/2026-09-24-quality-gate-docs-verification.md
  docs/superpowers/plans/2026-09-24-quality-gate-runner-ci.md
  docs/superpowers/specs/2026-09-24-quality-gate-contract-design.md
  tools/tests/test_docs.py
  tools/tests/test_quality_gate_workflow.py
  tools/tests/test_verify.py
  tools/verify
Due: prettier, markdownlint, naming-convention

test(missions): harden retirement documentation contract
  backend/starlink-location/tests/unit/test_mission_retirement_docs.py
Due: none

feat(missions): retire legacy v1 mission api
  backend/starlink-location/app/mission/routes/__init__.py
  backend/starlink-location/app/mission/routes/activation.py
  backend/starlink-location/app/mission/routes/missions.py
  backend/starlink-location/app/mission/routes/operations.py
  backend/starlink-location/app/mission/routes/utils.py
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/conftest.py
  backend/starlink-location/tests/integration/test_mission_routes.py
  backend/starlink-location/tests/integration/test_mission_scenarios.py
  backend/starlink-location/tests/unit/test_active_mission_context.py
  backend/starlink-location/tests/unit/test_mission_routes_validation.py
  backend/starlink-location/tests/unit/test_mission_storage.py
  backend/starlink-location/tests/unit/test_router_integration.py
  task-4-report.md
Due: prettier, markdownlint

fix(missions): support minimum filelock version
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/tests/unit/test_active_mission_context.py
Due: none

fix(overview): isolate generated pois by active leg route
  backend/starlink-location/app/api/overview_upcoming_pois.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  task-3-report.md
Due: prettier, markdownlint

fix(missions): make v2 activation globally exclusive
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
Due: none

feat(missions): resolve active v2 mission context
  backend/starlink-location/app/mission/active_context.py
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/app/services/route_manager.py
  backend/starlink-location/tests/unit/test_active_mission_context.py
  backend/starlink-location/tests/unit/test_route_manager.py
Due: none

test(overview): cover v2 mission activation flow
  frontend/mission-planner/tests/e2e/v2-mission-overview.spec.ts
Due: prettier

fix(overview): distinguish v2 mission context states
  frontend/mission-planner/src/pages/UpcomingPoisPanel.test.tsx
  frontend/mission-planner/src/pages/UpcomingPoisPanel.tsx
  frontend/mission-planner/src/services/overview-upcoming-pois.test.ts
  frontend/mission-planner/src/services/overview-upcoming-pois.ts
Due: prettier, eslint

fix(missions): order v2 deletion locks
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  backend/starlink-location/tests/unit/test_active_mission_context.py
  backend/starlink-location/tests/unit/test_mission_generated_pois.py
Due: none

fix(missions): harden active v2 context resolution
  backend/starlink-location/app/mission/active_context.py
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/tests/unit/test_active_mission_context.py
Due: none

test(missions): restore v2 storage regressions
  backend/starlink-location/tests/unit/test_mission_storage.py
  task-4-report.md
Due: prettier, markdownlint

docs(missions): document v2 activation retirement
  backend/starlink-location/tests/unit/test_mission_retirement_docs.py
  docs/api/endpoints/README.md
  docs/api/endpoints/overview-upcoming-pois.md
  docs/comm-sop/in-flight-operations.md
  docs/development/release-policy.md
  docs/features/mission-planning.md
  docs/features/overview.md
  docs/missions/README.md
  docs/missions/sop/pre-flight.md
  docs/reports/analysis-reports/exporter/README.md
  docs/troubleshooting/data-issues.md
Due: prettier, markdownlint, naming-convention

fix(overview): derive mission pois from v2 context
  backend/starlink-location/app/api/overview_upcoming_pois.py
  backend/starlink-location/app/api/pois/helpers.py
  backend/starlink-location/app/models/overview_upcoming_pois.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  backend/starlink-location/tests/unit/test_overview_upcoming_pois.py
  backend/starlink-location/tests/unit/test_poi_manager.py
Due: none

test(missions): reject curl activation routes
  backend/starlink-location/tests/unit/test_mission_retirement_docs.py
Due: none

fix(missions): lock active v2 hierarchy
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/storage.py
  backend/starlink-location/tests/unit/test_active_mission_context.py
Due: none

feat(missions): navigate after mission creation
  backend/starlink-location/tests/unit/test_kml_parser.py
  docs/missions/acceptance-assets/v2-activation-route.kml
  docs/missions/planning/overview.md
  frontend/mission-planner/src/components/missions/CreateMissionDialog.tsx
  frontend/mission-planner/src/pages/MissionsPage.test.tsx
  frontend/mission-planner/src/pages/MissionsPage.tsx
Due: prettier, eslint, markdownlint, naming-convention

fix(missions): serialize import lifecycle coordination
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
Due: none

fix(missions): enforce server-owned leg lifecycle
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
  docs/api/endpoints/README.md
  docs/missions/mission-package-import.md
  frontend/mission-planner/src/pages/LegDetailPage/LegHeader.test.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegHeader.tsx
Due: prettier, eslint, markdownlint, naming-convention

test(overview): harden native fullscreen regression
  frontend/mission-planner/src/App.fullscreen.test.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

test(missions): cover active import resource no-op
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
Due: none

fix(missions): guard active lifecycle deletion paths
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/conftest.py
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
  docs/api/endpoints/README.md
  docs/missions/README.md
  frontend/mission-planner/src/pages/MissionDetailPage.tsx
  frontend/mission-planner/src/services/mission-deletion.test.ts
  frontend/mission-planner/src/services/mission-deletion.ts
Due: prettier, eslint, markdownlint, naming-convention

test(backend): cover legacy compatibility exports
  backend/starlink-location/tests/unit/test_legacy_compatibility_exports.py
Due: none

style(missions): format lifecycle guards
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/integration/test_v2_lifecycle_write_guards.py
Due: none

fix(missions): show create failure feedback
  frontend/mission-planner/src/components/missions/CreateMissionDialog.tsx
  frontend/mission-planner/src/pages/MissionsPage.test.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

