Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

docs: specify overview traffic paths and constellation mode
  docs/superpowers/specs/2026-10-03-overview-traffic-paths-design.md
Due: prettier, markdownlint, naming-convention

docs: separate arc delivery from deferred orbital experiment
  docs/superpowers/specs/2026-10-03-orbital-traffic-experiment-design.md
  docs/superpowers/specs/2026-10-03-overview-traffic-paths-design.md
Due: prettier, markdownlint, naming-convention

docs: record approval of separate traffic visualization designs
  docs/superpowers/specs/2026-10-03-orbital-traffic-experiment-design.md
  docs/superpowers/specs/2026-10-03-overview-traffic-paths-design.md
Due: prettier, markdownlint, naming-convention

docs: separate traffic arc delivery from deferred orbital experiment (#242)
  docs/superpowers/specs/2026-10-03-orbital-traffic-experiment-design.md
  docs/superpowers/specs/2026-10-03-overview-traffic-paths-design.md
Due: prettier, markdownlint, naming-convention

docs: record approved Starshield flow arc implementation plan
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc-tasks-4-7.md
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc.md
Due: prettier, markdownlint, naming-convention

feat: persist overview data link visibility
  backend/starlink-location/app/api/overview_link_settings.py
  backend/starlink-location/app/services/overview_link_settings.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_overview_link_settings_api.py
  backend/starlink-location/tests/unit/test_main_overview_link_settings.py
  backend/starlink-location/tests/unit/test_overview_link_settings.py
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc.md
Due: prettier, markdownlint, naming-convention

docs: add approved Overview ADS-B aircraft addon design
  docs/superpowers/specs/2026-10-03-overview-adsb-aircraft-addon-design.md
Due: prettier, markdownlint, naming-convention

feat(configuration): add independent data link switches
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc.md
  frontend/mission-planner/src/hooks/api/useOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/api/useOverviewLinkSettings.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewLinkSettings.test.ts
  frontend/mission-planner/src/hooks/api/useUpdateOverviewLinkSettings.ts
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/src/pages/ConfigurationPage.tsx
  frontend/mission-planner/src/pages/OverviewLinkSettingsCard.test.tsx
  frontend/mission-planner/src/pages/OverviewLinkSettingsCard.tsx
  frontend/mission-planner/src/services/overview-link-settings.test.ts
  frontend/mission-planner/src/services/overview-link-settings.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): add globe-safe traffic arc geometry
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc.md
  frontend/mission-planner/src/pages/overview-traffic-arc.test.ts
  frontend/mission-planner/src/pages/overview-traffic-arc.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): separate measured traffic from x-band activity
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc-tasks-4-7.md
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc.md
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-flow-consumers.test.ts
  frontend/mission-planner/src/pages/overview-flow-consumers.ts
  frontend/mission-planner/src/pages/overview-link-state.test.ts
  frontend/mission-planner/src/pages/overview-link-state.ts
Due: prettier, eslint, markdownlint, naming-convention

docs(adsb): add aircraft layer implementation plan
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-acceptance.md
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-backend.md
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer-frontend.md
  docs/superpowers/plans/2026-10-03-overview-adsb-aircraft-layer.md
Due: prettier, markdownlint, naming-convention

fix(overview): clear flow particles across eligibility changes
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc-tasks-4-7.md
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc.md
  frontend/mission-planner/src/pages/AnimatedFlowLine.test.tsx
  frontend/mission-planner/src/pages/AnimatedFlowLine.tsx
  frontend/mission-planner/src/pages/GlobeRouteRibbon.tsx
  frontend/mission-planner/src/pages/overview-animated-flow-line-rendering.test.ts
  frontend/mission-planner/src/pages/overview-animated-flow-line-rendering.ts
Due: prettier, eslint, markdownlint, naming-convention

feat(overview): render independently controlled traffic links
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc-tasks-4-7.md
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc.md
  frontend/mission-planner/src/pages/OverviewMapLegend.test.tsx
  frontend/mission-planner/src/pages/OverviewMapLegend.tsx
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-traffic-style.ts
Due: prettier, eslint, markdownlint, naming-convention

test(overview): verify traffic arc and link lifecycle
  docs/deployment/portainer-ghcr.md
  docs/features/overview.md
  docs/features/system.md
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc-tasks-4-7.md
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc.md
  frontend/mission-planner/tests/e2e/overview-planned-satellite-legend.spec.ts
  frontend/mission-planner/tests/e2e/overview-traffic-paths.spec.ts
  frontend/mission-planner/tests/e2e/support/overview-scene-probe.ts
  frontend/mission-planner/tests/e2e/support/traffic-path-fixture.ts
  frontend/mission-planner/tests/e2e/support/traffic-path-rendering.ts
Due: prettier, markdownlint, naming-convention

fix(overview): stop traffic on first status failure and repair acceptance checks
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc-tasks-4-7.md
  docs/superpowers/specs/2026-10-03-overview-adsb-aircraft-addon-design.md
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-traffic-paths.spec.ts
  frontend/mission-planner/tests/e2e/support/traffic-path-fixture.ts
  frontend/mission-planner/tests/e2e/support/traffic-path-rendering.ts
  tools/acceptance/platform/compose.py
  tools/tests/test_acceptance_platform_compose.py
  tools/tests/test_local_compose_sha.py
Due: prettier, eslint, markdownlint, naming-convention

docs: satisfy CI markdown line limits
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc-tasks-4-7.md
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc.md
Due: prettier, markdownlint, naming-convention

fix(overview): preserve traffic particles across position polls
  frontend/mission-planner/src/pages/AnimatedFlowLine.test.tsx
  frontend/mission-planner/src/pages/AnimatedFlowLine.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-traffic-paths.spec.ts
Due: prettier, eslint

test(overview): check healthy recovery and landscape globe pixels
  frontend/mission-planner/tests/e2e/overview-planned-satellite-legend.spec.ts
  frontend/mission-planner/tests/e2e/overview-traffic-paths.spec.ts
Due: prettier

docs(overview): record owner traffic acceptance and performance sign-off
  docs/superpowers/plans/2026-10-03-starshield-flow-line-arc-tasks-4-7.md
Due: prettier, markdownlint, naming-convention

chore(frontend): remediate dependency advisories (#209)
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
Due: prettier

docs(frontend): record dependency audit and baseline browser failures
  docs/assets/issue-209-overview-desktop.png
  docs/assets/issue-209-overview-fullscreen.png
  docs/reports/2026-10-03-frontend-dependency-audit.md
  docs/reports/evidence/2026-10-03-frontend-dependency-audit/audit-after.json
  docs/reports/evidence/2026-10-03-frontend-dependency-audit/audit-before.json
  docs/reports/evidence/2026-10-03-frontend-dependency-audit/audit-prod-after.json
  docs/reports/evidence/2026-10-03-frontend-dependency-audit/audit-prod-before.json
  docs/reports/evidence/2026-10-03-frontend-dependency-audit/lock-version-changes.json
  docs/reports/evidence/2026-10-03-frontend-dependency-audit/production-browser-final.json
  docs/reports/evidence/2026-10-03-frontend-dependency-audit/production-browser-first.json
  docs/reports/evidence/2026-10-03-frontend-dependency-audit/production-runtime.json
  docs/reports/evidence/2026-10-03-frontend-dependency-audit/verification-summary.json
Due: prettier, markdownlint, naming-convention

docs(frontend): link inherited browser bugs and merge checks
  docs/reports/2026-10-03-frontend-dependency-audit.md
Due: prettier, markdownlint, naming-convention

fix: populate POI edit form after details load
  frontend/mission-planner/src/components/pois/POIDialog.test.tsx
  frontend/mission-planner/src/components/pois/POIDialog.tsx
  frontend/mission-planner/tests/e2e/poi-edit-loading.spec.ts
Due: prettier, eslint

test: fix Overview metrics and legend separation check (#246)
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-short-height.spec.ts
Due: prettier

fix: stabilize Overview fallback when scrollbars appear
  frontend/mission-planner/src/pages/useOverviewLayout.test.ts
  frontend/mission-planner/src/pages/useOverviewLayout.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
Due: prettier, eslint

test: remove randomized Overview screenshot baseline
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts-snapshots/overview-upcoming-pois-1920x1080-chromium-linux.png
Due: prettier

test: cover Overview timestamp rejection and recovery (#235)
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels-presentation.md
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.test.tsx
Due: prettier, eslint, markdownlint, naming-convention

fix: count down to mission events from projected aircraft position
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/app/services/route_eta/calculator.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  backend/starlink-location/tests/unit/test_route_eta_calculator_service.py
Due: none

fix: commit X-band handoffs at the projected transition point
  backend/starlink-location/app/services/active_x_handoff.py
  backend/starlink-location/tests/unit/test_active_x_handoff.py
Due: none

docs: explain continuous event timing and X-band transition passage
  docs/api/endpoints/overview-upcoming-pois.md
  docs/missions/planning/overview.md
Due: prettier, markdownlint, naming-convention

fix: guard handoff provenance and blend speed across waypoint boundaries
  backend/starlink-location/app/services/active_x_handoff.py
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  backend/starlink-location/tests/unit/test_active_x_handoff.py
  docs/missions/planning/overview.md
Due: prettier, markdownlint, naming-convention

style: format waypoint boundary regression test
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
Due: none

fix: calculate every route POI ETA from continuous projections
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/tests/unit/test_eta_calculator.py
  backend/starlink-location/tests/unit/test_eta_projection.py
Due: none

fix: preserve measured zero-speed blending for all POIs
  backend/starlink-location/app/services/eta/projection.py
  backend/starlink-location/tests/integration/test_overview_upcoming_pois_api.py
  backend/starlink-location/tests/unit/test_eta_projection.py
  docs/api/endpoints/overview-upcoming-pois.md
  docs/api/poi/eta-endpoints.md
Due: prettier, markdownlint, naming-convention

docs: reconcile contributor runtime and tooling guidance
  docs/code-quality-standards.md
  docs/contributing/code-quality.md
  docs/contributing/development-workflow.md
  docs/contributing/troubleshooting.md
Due: prettier, markdownlint, naming-convention

test(e2e): await Ka-outage save dialog before reload
  frontend/mission-planner/tests/e2e/leg-detail-responsive.spec.ts
Due: prettier

fix(missions): avoid fork workers for clock locality lookups
  backend/starlink-location/app/services/overview_clock_geography.py
  backend/starlink-location/tests/unit/test_overview_clock_geography.py
  docs/reports/2026-10-04-mission-clock-fork-warnings.md
  docs/reports/evidence/2026-10-04-mission-clock-fork-warnings/python311-dependencies.txt
  docs/reports/evidence/2026-10-04-mission-clock-fork-warnings/python313-dependencies.txt
Due: prettier, markdownlint, naming-convention

docs: format investigation metadata without trailing whitespace
  docs/reports/2026-10-04-mission-clock-fork-warnings.md
Due: prettier, markdownlint, naming-convention

docs: investigate issue 257 and draft window synchronization design
  docs/reports/2026-10-04-overview-window-sync-investigation.md
  docs/superpowers/specs/2026-10-04-overview-window-sync-design.md
Due: prettier, markdownlint, naming-convention
