Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

fix: remove all 27 linting ignore comments and fix underlying issues
  .github/scripts/lint-summary.sh
  .pre-commit-config.yaml
  backend/starlink-location/app/mission/state.py
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/tests/unit/test_eta_service.py
  frontend/mission-planner/src/components/common/RouteMap/MapControls.tsx
  frontend/mission-planner/src/components/common/RouteMap/RouteLayer.tsx
  frontend/mission-planner/src/components/common/RouteMap/useMapState.ts
  frontend/mission-planner/src/components/common/RouteMap/useRouteRenderer.ts
  frontend/mission-planner/src/pages/LegDetailPage/useLegData.ts
  frontend/mission-planner/src/pages/SatelliteManagerPage.tsx
  frontend/mission-planner/src/pages/SatelliteManagerPage/SatelliteList.tsx
  frontend/mission-planner/src/pages/SatelliteManagerPage/useSatelliteData.ts
  frontend/mission-planner/src/utils/logger.ts
Due: prettier, eslint

fix: resolve remaining CI failures without disable comments
  .github/workflows/lint.yml
  frontend/mission-planner/eslint.config.js
Due: prettier

fix: line length with fenced code blocks
  docs/route-timing/troubleshooting.md
Due: prettier, markdownlint, naming-convention

chore: remove redundant `config_key.split` call
  backend/starlink-location/app/core/config.py
Due: none

feat: expose POI, POICreate, and POIUpdate models via `poi_manager` module exports.
  backend/starlink-location/app/services/poi_manager.py
Due: none

chore: Upgrade Node.js to v22 and migrate environment variable access to `import.meta.env`.
  .github/workflows/lint.yml
  frontend/mission-planner/Dockerfile
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
  frontend/mission-planner/src/pages/SatelliteManagerPage.tsx
  frontend/mission-planner/src/pages/SatelliteManagerPage/SatelliteList.tsx
  frontend/mission-planner/src/pages/SatelliteManagerPage/useSatelliteData.ts
  frontend/mission-planner/src/utils/logger.ts
Due: prettier, eslint

refactor: Restructure mission export and KML utility modules, consolidate timeline export functions, and update mission route import paths.
  .coverage
  backend/starlink-location/app/mission/routes/__init__.py
  backend/starlink-location/tests/integration/test_kml_poi_integration.py
  backend/starlink-location/tests/integration/test_mission_routes.py
  backend/starlink-location/tests/integration/test_mission_scenarios.py
  backend/starlink-location/tests/unit/test_mission_exporter.py
  backend/starlink-location/tests/unit/test_mission_routes_validation.py
  backend/starlink-location/tests/unit/test_mission_timeline.py
  backend/starlink-location/tests/unit/test_package_exporter.py
  backend/starlink-location/tests/unit/test_route_timing.py
  backend/starlink-location/tests/unit/test_satellite_rules.py
Due: none

docs: add pre-commit hook documentation and update Lychee Docker image version.
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: prettier, markdownlint

chore: fix code format in useSatelliteData.ts
  frontend/mission-planner/src/pages/SatelliteManagerPage/useSatelliteData.ts
Due: prettier, eslint

refactor: Dynamically discover configuration sections and improve key parsing logic.
  backend/starlink-location/app/core/config.py
Due: none

chore: remove Lychee Docker link checker pre-commit hook and its documentation
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: prettier, markdownlint

chore: downgrade default Node.js version in pre-commit configuration
  .pre-commit-config.yaml
Due: prettier

feat: add tests for link checker configuration and FastAPI router integration
  backend/starlink-location/tests/unit/test_router_integration.py
  tools/tests/test_link_checker_config.py
Due: none

chore: Update Node.js version, exclude `README.md` from filename checks, remove lint summary script, refine config parsing, and clean up metrics `__all__` and `.gitignore`.
  .github/scripts/lint-summary.sh
  .github/workflows/lint.yml
  .gitignore
  backend/starlink-location/app/core/config.py
  backend/starlink-location/app/core/eta_service.py
  backend/starlink-location/app/core/metrics.py
  tools/check_filename_convention.py
Due: prettier

docs: Add clarifying comments to config parsing logic, router integration tests, and filename convention checks.
  .coverage
  backend/starlink-location/app/core/config.py
  backend/starlink-location/tests/unit/test_router_integration.py
  tools/check_filename_convention.py
Due: none

Update nginx.conf - Update OpenStreetMap provider
  frontend/mission-planner/nginx.conf
Due: none

Update RouteMap.tsx - Update OpenStreetMap provider
  frontend/mission-planner/src/components/common/RouteMap.tsx
Due: prettier, eslint

Update templates.py - Update OpenStreetMap provider
  backend/starlink-location/app/api/ui/templates.py
Due: none

remove: speckit slash commands
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
Due: prettier, markdownlint

refactor: consolidate PPTX generation and add map caching
  backend/starlink-location/app/mission/exporter/__init__.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/package/__main__.py
Due: none

feat: add mission metadata editing and refactor export system
  backend/starlink-location/app/mission/exporter/__init__.py
  backend/starlink-location/app/mission/exporter/__main__.py
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/requirements.txt
  backend/starlink-location/tests/integration/test_mission_routes_v2.py
  frontend/mission-planner/src/components/missions/EditableField.tsx
  frontend/mission-planner/src/hooks/api/useMissions.ts
  frontend/mission-planner/src/pages/MissionDetailPage.tsx
  frontend/mission-planner/src/services/missions.ts
  frontend/mission-planner/src/types/mission.ts
  openspec/changes/archive/2025-12-27-edit-mission-metadata/proposal.md
  openspec/changes/archive/2025-12-27-edit-mission-metadata/specs/mission-metadata/spec.md
  openspec/changes/archive/2025-12-27-edit-mission-metadata/tasks.md
  openspec/changes/archive/2025-12-27-refactor-export-logic/design.md
  openspec/changes/archive/2025-12-27-refactor-export-logic/proposal.md
  openspec/changes/archive/2025-12-27-refactor-export-logic/specs/export-performance/spec.md
  openspec/changes/archive/2025-12-27-refactor-export-logic/tasks.md
  openspec/changes/archive/2025-12-27-remove-pdf-xlsx-exports/proposal.md
  openspec/changes/archive/2025-12-27-remove-pdf-xlsx-exports/specs/mission-export/spec.md
  openspec/changes/archive/2025-12-27-remove-pdf-xlsx-exports/tasks.md
  openspec/project.md
  openspec/specs/export-performance/spec.md
  openspec/specs/mission-export/spec.md
  openspec/specs/mission-metadata/spec.md
Due: prettier, eslint, markdownlint

fix: add AGENTS and CLAUDE to excludes for lint
  .pre-commit-config.yaml
Due: prettier

chore: update openspec
  AGENTS.md
  CLAUDE.md
Due: prettier, markdownlint

feat: improve PPTX slide labels with human-readable names
  backend/starlink-location/app/mission/exporter/pptx_builder.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/tests/unit/test_pptx_builder.py
  frontend/mission-planner/src/hooks/api/useMissions.ts
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegHeader.tsx
  frontend/mission-planner/src/services/missions.ts
  frontend/mission-planner/src/types/mission.ts
  openspec/changes/archive/2025-12-27-improve-pptx-slide-labels/proposal.md
  openspec/changes/archive/2025-12-27-improve-pptx-slide-labels/specs/pptx-labeling/spec.md
  openspec/changes/archive/2025-12-27-improve-pptx-slide-labels/tasks.md
  openspec/changes/archive/2025-12-27-update-leg-route/proposal.md
  openspec/changes/archive/2025-12-27-update-leg-route/specs/mission-export/spec.md
  openspec/changes/archive/2025-12-27-update-leg-route/tasks.md
  openspec/specs/mission-export/spec.md
Due: prettier, eslint, markdownlint

feat: add leg departure time adjustment capability
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/package/__main__.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/timeline_builder/calculator.py
  backend/starlink-location/app/mission/timeline_service.py
  backend/starlink-location/app/mission/validation.py
  backend/starlink-location/tests/integration/test_adjusted_departure_integration.py
  backend/starlink-location/tests/unit/test_adjusted_departure.py
  frontend/mission-planner/src/hooks/api/useMissions.ts
  frontend/mission-planner/src/hooks/api/useTimeline.ts
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/TimingSection.tsx
  frontend/mission-planner/src/services/missions.ts
  frontend/mission-planner/src/services/timeline.ts
  frontend/mission-planner/src/types/mission.ts
  openspec/changes/archive/2026-01-07-adjust-leg-takeoff-time/proposal.md
  openspec/changes/archive/2026-01-07-adjust-leg-takeoff-time/specs/leg-time-adjustment/spec.md
  openspec/changes/archive/2026-01-07-adjust-leg-takeoff-time/tasks.md
  openspec/specs/leg-time-adjustment/spec.md
Due: prettier, eslint, markdownlint

feat: standardize all time inputs to 24-hour format
  docs/features/mission-planning.md
  frontend/mission-planner/src/components/common/RouteMap.tsx
  frontend/mission-planner/src/components/common/RouteMap/RouteLayer.tsx
  frontend/mission-planner/src/components/satellites/KaOutageConfig.tsx
  frontend/mission-planner/src/components/satellites/KuOutageConfig.tsx
  frontend/mission-planner/src/lib/utils.ts
  frontend/mission-planner/src/pages/LegDetailPage/TimingSection.tsx
  openspec/changes/archive/2026-01-07-standardize-24hr-time-inputs/proposal.md
  openspec/changes/archive/2026-01-07-standardize-24hr-time-inputs/specs/time-input-consistency/spec.md
  openspec/changes/archive/2026-01-07-standardize-24hr-time-inputs/tasks.md
  openspec/specs/time-input-consistency/spec.md
Due: prettier, eslint, markdownlint, naming-convention

fix: shorten line in mission-planning.md to meet 80-char limit
  docs/features/mission-planning.md
Due: prettier, markdownlint, naming-convention

docs: add openspec proposal for realtime timeline preview
  openspec/changes/add-realtime-timeline-preview/design.md
  openspec/changes/add-realtime-timeline-preview/proposal.md
  openspec/changes/add-realtime-timeline-preview/specs/timeline-preview/spec.md
  openspec/changes/add-realtime-timeline-preview/tasks.md
Due: prettier, markdownlint

docs: document branching and commit strategy in design.md
  openspec/changes/add-realtime-timeline-preview/design.md
Due: prettier, markdownlint

feat: implement real-time timeline preview system
  backend/starlink-location/app/mission/models.py
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/timeline_service.py
  frontend/mission-planner/src/components/common/RouteMap.tsx
  frontend/mission-planner/src/components/common/RouteMap/ColorCodedRoute.tsx
  frontend/mission-planner/src/components/timeline/TimelinePreviewSection.tsx
  frontend/mission-planner/src/components/timeline/TimelineTable.tsx
  frontend/mission-planner/src/hooks/api/useTimelinePreview.ts
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/pages/LegDetailPage/LegMapVisualization.tsx
  frontend/mission-planner/src/services/timeline.ts
Due: prettier, eslint

docs: update tasks.md with implementation status
  openspec/changes/add-realtime-timeline-preview/tasks.md
Due: prettier, markdownlint

fix: resolve TypeScript errors in timeline preview components
  frontend/mission-planner/src/components/timeline/TimelinePreviewSection.tsx
  frontend/mission-planner/src/hooks/api/useTimelinePreview.ts
  frontend/mission-planner/src/pages/LegDetailPage.tsx
Due: prettier, eslint

docs: update tasks.md with TypeScript fixes and build success
  openspec/changes/add-realtime-timeline-preview/tasks.md
Due: prettier, markdownlint

fix: memoize preview request to prevent constant re-triggering
  frontend/mission-planner/src/pages/LegDetailPage.tsx
Due: prettier, eslint

fix: memoize preview options to prevent debounce reset
  frontend/mission-planner/src/pages/LegDetailPage.tsx
Due: prettier, eslint

fix: correct AAR window field names in timeline preview API
  frontend/mission-planner/src/pages/LegDetailPage.tsx
  frontend/mission-planner/src/services/timeline.ts
Due: prettier, eslint

fix: resolve timezone comparison errors in timeline preview
  backend/starlink-location/app/mission/routes_v2.py
  backend/starlink-location/app/mission/timeline_builder/aar.py
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

