Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

test(frontend): radius helpers
  frontend/mission-planner/src/pages/globe-render-radii.test.ts
Due: prettier, eslint

fix(test): typo in description
  frontend/mission-planner/src/pages/globe-render-radii.test.ts
Due: prettier, eslint

feat(frontend): use new max distance and starting position
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/globe-render-radii.ts
Due: prettier, eslint

feat(frontend): render satellites in geo orbit
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
Due: prettier, eslint

test(frontend): rendered data in legend
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

fix(test): typo in description
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

feat(frontend): add geometry data to legend
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

feat(frontend): add link line between aircraft and satellite
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

fix(frontend): transparency and depthWrite of link line
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

fix(frontend): restore depthwrite false
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

test(frontend): unavailable but selected geometry
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

feat(frontend): render aircraft at altitude and lower baseline
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/globe-render-radii.ts
Due: prettier, eslint

fix(frontend): restore route overlay radius
  frontend/mission-planner/src/pages/globe-render-radii.ts
Due: prettier, eslint

chore(screenshot): added for inspection
  localhost_5174_overview.png
Due: none

fix(test): narrow selector
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

chore: remove temporary overview screenshot
  localhost_5174_overview.png
Due: none

feat(overview): render configured X-band active link (#153)
  frontend/mission-planner/src/hooks/api/useActiveXLink.ts
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewStarMarker.tsx
  frontend/mission-planner/src/pages/globe-render-radii.test.ts
  frontend/mission-planner/src/pages/globe-render-radii.ts
  frontend/mission-planner/src/pages/x-band-active-link-projection.test.ts
  frontend/mission-planner/src/pages/x-band-active-link-projection.ts
  frontend/mission-planner/src/pages/x-band-satellites-projection.test.ts
  frontend/mission-planner/src/pages/x-band-satellites-projection.ts
  frontend/mission-planner/src/services/active-x-link.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

feat(overview): persist history query window
  backend/starlink-location/app/services/overview_history_settings.py
  backend/starlink-location/tests/unit/test_overview_history_settings.py
Due: none

feat(overview): resolve history query window default
  backend/starlink-location/app/services/overview_history_settings.py
  backend/starlink-location/tests/unit/test_overview_history_settings.py
Due: none

style(test): format overview history settings imports
  backend/starlink-location/tests/unit/test_overview_history_settings.py
Due: none

feat(overview): plan bounded telemetry history query
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

fix(overview): bound inclusive history ranges
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

feat(overview): build shared telemetry history query
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

feat(overview): parameterize shared history range query
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

feat(overview): fetch shared Prometheus history bundle
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

feat(overview): project telemetry history samples
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

fix(overview): filter invalid telemetry history samples
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

fix(overview): skip malformed telemetry history samples
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

fix(overview): reject failed telemetry history queries
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

fix(overview): require telemetry history matrices
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

feat(overview): assemble telemetry history bundle
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

feat(overview): share in-flight telemetry history queries
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

feat(overview): add telemetry history API boundary
  backend/starlink-location/app/api/overview_history.py
  backend/starlink-location/tests/integration/test_overview_history_api.py
Due: none

test(overview): cover telemetry history API response
  backend/starlink-location/tests/integration/test_overview_history_api.py
Due: none

fix(overview): report unavailable telemetry history
  backend/starlink-location/app/api/overview_history.py
  backend/starlink-location/tests/integration/test_overview_history_api.py
Due: none

feat(overview): resolve telemetry history Prometheus URL
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

feat(overview): assemble telemetry history runtime reader
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

feat(overview): register telemetry history route
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_overview_history_api.py
Due: none

feat(overview): initialize telemetry history runtime
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_main_overview_history.py
Due: none

test(overview): restore history runtime globals
  backend/starlink-location/tests/unit/test_main_overview_history.py
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

