Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

feat(monitoring): add bounded live data APIs
  backend/starlink-location/app/api/monitoring.py
  backend/starlink-location/app/api/status.py
  backend/starlink-location/app/models/dashboard.py
  backend/starlink-location/app/services/monitoring_history.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_dashboard_monitoring.py
Due: none

feat(overview): add independent live operations lanes
  frontend/mission-planner/package.json
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.tsx
  frontend/mission-planner/src/pages/OverviewPage/history.test.ts
  frontend/mission-planner/src/pages/OverviewPage/history.ts
  frontend/mission-planner/src/pages/OverviewPage/overview.css
  frontend/mission-planner/src/pages/OverviewPage/poller.runtime.test.ts
  frontend/mission-planner/src/pages/OverviewPage/poller.test.ts
  frontend/mission-planner/src/pages/OverviewPage/poller.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
  frontend/mission-planner/src/services/monitoring.test.ts
  frontend/mission-planner/src/services/monitoring.ts
  frontend/mission-planner/vitest.config.ts
Due: prettier, eslint

fix(overview): tighten lifecycle cleanup and lint
  backend/starlink-location/app/services/monitoring_history.py
  backend/starlink-location/tests/unit/test_dashboard_monitoring.py
Due: none

fix(monitoring): stream bounded history bodies
  backend/starlink-location/app/services/monitoring_history.py
Due: none

fix(status): normalize dateline coordinates
  backend/starlink-location/app/api/status.py
  backend/starlink-location/tests/unit/test_dashboard_monitoring.py
Due: none

fix(overview): close phase one specification gaps
  backend/starlink-location/app/api/status.py
  backend/starlink-location/app/live/coordinator.py
  backend/starlink-location/app/services/monitoring_history.py
  backend/starlink-location/app/services/monitoring_history_parser.py
  backend/starlink-location/app/simulation/coordinator.py
  backend/starlink-location/tests/unit/test_dashboard_monitoring.py
  backend/starlink-location/tests/unit/test_monitoring_history_strict.py
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPage/CurrentPositionMap.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.tsx
  frontend/mission-planner/src/pages/OverviewPage/overview.css
  frontend/mission-planner/src/pages/OverviewPage/poller.test.ts
  frontend/mission-planner/src/pages/OverviewPage/poller.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverlayLane.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
  frontend/mission-planner/src/services/monitoring.test.ts
  frontend/mission-planner/src/services/monitoring.ts
  frontend/mission-planner/tests/e2e/api-origin.spec.ts
Due: prettier, eslint

fix(overview): validate POI response envelope
  frontend/mission-planner/src/services/monitoring.test.ts
  frontend/mission-planner/src/services/monitoring.ts
  frontend/mission-planner/tests/e2e/api-origin.spec.ts
Due: prettier, eslint

fix(overview): close phase one specification defects
  frontend/mission-planner/src/pages/OverviewPage/poller.test.ts
  frontend/mission-planner/src/pages/OverviewPage/poller.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
  frontend/mission-planner/src/services/boundedJson.test.ts
  frontend/mission-planner/src/services/boundedJson.ts
  frontend/mission-planner/src/services/fixtures/poi-eta-list-response.json
  frontend/mission-planner/src/services/monitoring.test.ts
  frontend/mission-planner/src/services/monitoring.ts
  frontend/mission-planner/src/services/monitoringPoi.test.ts
  frontend/mission-planner/tests/e2e/api-origin.spec.ts
Due: prettier, eslint

refactor(frontend): extract overview data domains
  frontend/mission-planner/src/pages/OverviewPage/overviewHistoryStore.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.recovery.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.testSupport.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
  frontend/mission-planner/src/services/monitoring.ts
  frontend/mission-planner/src/services/monitoringPois.ts
  frontend/mission-planner/src/services/monitoringSchemaPrimitives.ts
Due: prettier, eslint

fix(frontend): preserve monitoring instant precision
  frontend/mission-planner/src/services/boundedJson.test.ts
  frontend/mission-planner/src/services/boundedJson.ts
  frontend/mission-planner/src/services/monitoring.ts
  frontend/mission-planner/src/services/monitoringPrecision.test.ts
  frontend/mission-planner/src/services/monitoringSchemaPrimitives.ts
Due: prettier, eslint

fix(overview): close phase one quality blockers
  backend/starlink-location/app/services/monitoring_history.py
  backend/starlink-location/tests/unit/test_monitoring_history_strict.py
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.recovery.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
  frontend/mission-planner/src/services/monitoring.test.ts
  frontend/mission-planner/src/services/monitoring.ts
  frontend/mission-planner/src/services/monitoringPrecision.test.ts
  frontend/mission-planner/src/services/monitoringSchemaPrimitives.ts
  frontend/mission-planner/src/services/monitoringTimestampBounds.test.ts
  frontend/mission-planner/src/test/productionComponent.smoke.test.tsx
  frontend/mission-planner/src/test/setup.ts
  frontend/mission-planner/vite.config.ts
  frontend/mission-planner/vite.shared.ts
  frontend/mission-planner/vitest.config.ts
Due: prettier, eslint

fix(monitoring): safely reject deeply nested history
  backend/starlink-location/app/services/monitoring_history.py
  backend/starlink-location/tests/unit/test_dashboard_monitoring.py
  backend/starlink-location/tests/unit/test_monitoring_history_strict.py
Due: none

docs(plans): normalize session handoff filename
  docs/plans/2026-09-02-react-operations-overview-rebuild.md
  docs/plans/react-operations-overview-rebuild/01-phase-0-contract-reset.md
  docs/plans/react-operations-overview-rebuild/02-phase-1-live-data.md
  docs/plans/react-operations-overview-rebuild/03-phase-2-fullscreen-layout.md
  docs/plans/react-operations-overview-rebuild/04-phase-3-runtime-acceptance.md
  docs/plans/react-operations-overview-rebuild/05-phase-4-docs-and-integration.md
  docs/plans/react-operations-overview-rebuild/session-handoff.md
Due: prettier, markdownlint, naming-convention

feat(frontend): add exact overview fullscreen layout
  frontend/mission-planner/src/pages/OverviewPage.fullscreen.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.tsx
  frontend/mission-planner/src/pages/OverviewPage/overview.css
  frontend/mission-planner/src/pages/OverviewPage/useOverviewFullscreen.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewFullscreen.ts
  frontend/mission-planner/tests/e2e/overview-fixtures.ts
  frontend/mission-planner/tests/e2e/overview.spec.ts
Due: prettier, eslint

test(frontend): exercise populated fullscreen summaries
  frontend/mission-planner/tests/e2e/overview-fixtures.ts
  frontend/mission-planner/tests/e2e/overview.spec.ts
Due: prettier

fix(frontend): close fullscreen specification findings
  frontend/mission-planner/src/pages/OverviewPage/overview.css
  frontend/mission-planner/src/pages/OverviewPage/useOverviewFullscreen.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewFullscreen.ts
  frontend/mission-planner/tests/e2e/overview-cadence.spec.ts
  frontend/mission-planner/tests/e2e/overview-fixtures.ts
  frontend/mission-planner/tests/e2e/overview-geometry.ts
  frontend/mission-planner/tests/e2e/overview-long-labels.spec.ts
  frontend/mission-planner/tests/e2e/overview-states.spec.ts
Due: prettier, eslint

fix(frontend): retain fullscreen attempt ownership
  frontend/mission-planner/src/pages/OverviewPage/useOverviewFullscreen.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewFullscreen.ts
  frontend/mission-planner/tests/e2e/overview-geometry.ts
  frontend/mission-planner/tests/e2e/overview-long-labels.spec.ts
  frontend/mission-planner/tests/e2e/overview.spec.ts
Due: prettier, eslint

fix(frontend): restore fullscreen map card parity
  docs/plans/react-operations-overview-rebuild/00-product-contract.md
  docs/plans/react-operations-overview-rebuild/03-phase-2-fullscreen-layout.md
  docs/plans/react-operations-overview-rebuild/session-handoff.md
  frontend/mission-planner/src/pages/OverviewPage.fullscreen.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPage/CurrentPositionMap.contract.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/CurrentPositionMap.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.tsx
  frontend/mission-planner/src/pages/OverviewPage/overview.css
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.recovery.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.testSupport.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
  frontend/mission-planner/src/services/monitoring.test.ts
  frontend/mission-planner/src/services/monitoring.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): proxy radar through same-origin lane
  backend/starlink-location/app/api/weather.py
  backend/starlink-location/app/services/weather_radar.py
  backend/starlink-location/tests/unit/test_weather_api.py
  frontend/mission-planner/nginx.conf
  frontend/mission-planner/src/pages/OverviewPage.fullscreen.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPage/CurrentPositionMap.contract.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/CurrentPositionMap.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.recovery.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.testSupport.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
  frontend/mission-planner/src/services/monitoring.ts
  frontend/mission-planner/src/services/radar.test.ts
  tools/tests/test_mission_planner_nginx_csp.py
Due: prettier, eslint

fix(weather): satisfy radar lint checks
  backend/starlink-location/app/api/weather.py
  backend/starlink-location/app/services/weather_radar.py
  backend/starlink-location/tests/unit/test_weather_api.py
Due: none

fix(weather): harden pinned radar transport
  backend/starlink-location/app/services/weather_radar.py
  backend/starlink-location/tests/unit/test_weather_api.py
  backend/starlink-location/tests/unit/test_weather_radar.py
Due: none

fix(weather): satisfy CI import ordering
  backend/starlink-location/tests/unit/test_weather_radar.py
Due: none

fix(weather): enforce aggregate radar deadline
  backend/starlink-location/app/services/weather_radar.py
  backend/starlink-location/tests/unit/test_weather_radar.py
Due: none

fix(weather): own cancellable radar requests
  backend/starlink-location/app/api/weather.py
  backend/starlink-location/app/services/weather_radar_owner.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_weather_api.py
  backend/starlink-location/tests/unit/test_weather_radar.py
Due: none

test(weather): add radar transport adversarial coverage
  backend/starlink-location/tests/unit/test_weather_api.py
  backend/starlink-location/tests/unit/test_weather_radar_owner.py
Due: none

style(weather): satisfy CI import ordering
  backend/starlink-location/app/services/weather_radar_owner.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_weather_radar.py
  backend/starlink-location/tests/unit/test_weather_radar_owner.py
Due: none

refactor(overview): defer weather radar
  backend/starlink-location/app/api/weather.py
  backend/starlink-location/app/services/weather_radar.py
  backend/starlink-location/app/services/weather_radar_owner.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_weather_api.py
  backend/starlink-location/tests/unit/test_weather_radar.py
  backend/starlink-location/tests/unit/test_weather_radar_owner.py
  docs/grafana-configuration.md
  docs/plans/react-operations-overview-rebuild/00-product-contract.md
  docs/plans/react-operations-overview-rebuild/03-phase-2-fullscreen-layout.md
  frontend/mission-planner/src/pages/OverviewPage.fullscreen.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/OverviewPage/CurrentPositionMap.contract.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/CurrentPositionMap.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.testSupport.ts
  frontend/mission-planner/src/pages/OverviewPage/useOverviewData.ts
  frontend/mission-planner/src/services/monitoring.ts
  frontend/mission-planner/src/services/radar.test.ts
  monitoring/grafana/provisioning/dashboards/fullscreen-overview.json
  tools/tests/test_fullscreen_overview_dashboard.py
  tools/tests/test_grafana_backend_proxy_runtime.py
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): remove Vite favicon and contain fullscreen layout
  frontend/mission-planner/index.html
  frontend/mission-planner/src/pages/OverviewPage.fullscreen.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/overview.css
  frontend/mission-planner/src/pages/OverviewPage/useOverviewFullscreen.ts
  frontend/mission-planner/tests/e2e/overview.spec.ts
Due: prettier, eslint

fix(overview): restore visible map rendering
  frontend/mission-planner/index.html
  frontend/mission-planner/src/pages/OverviewPage/CurrentPositionMap.contract.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/CurrentPositionMap.tsx
  frontend/mission-planner/src/pages/OverviewPage/OverviewInventory.test.tsx
  frontend/mission-planner/src/pages/OverviewPage/overview.css
Due: prettier, eslint

test(overview): cover map size lifecycle cleanup
  frontend/mission-planner/src/pages/OverviewPage/CurrentPositionMap.lifecycle.test.tsx
Due: prettier, eslint

test(overview): format map lifecycle test
  frontend/mission-planner/src/pages/OverviewPage/CurrentPositionMap.lifecycle.test.tsx
Due: prettier, eslint

chore(frontend): add React Three Fiber dependencies
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
Due: prettier

feat(frontend): add interactive globe overview
  frontend/mission-planner/src/App.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

assets(frontend): add Earth night texture
  frontend/mission-planner/public/earth-night.ATTRIBUTION.md
  frontend/mission-planner/public/earth-night.jpg
Due: prettier, markdownlint

feat(frontend): texture globe with Earth night imagery
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

feat(frontend): add atmospheric glow to globe
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

feat(frontend): add starfield
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

feat(frontend): add globe coordinate conversion
  frontend/mission-planner/src/pages/globe-coordinates.test.ts
  frontend/mission-planner/src/pages/globe-coordinates.ts
Due: prettier, eslint

feat(frontend): render globe great-circle route
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/globe-route.test.ts
  frontend/mission-planner/src/pages/globe-route.ts
Due: prettier, eslint

feat(frontend): mark globe route endpoints
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

