Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

test: render and measure aviation weather local proofs
  frontend/mission-planner/src/test/aviation-weather-proof.test.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/advisory-renderer.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/browser.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/grid-renderer.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/model.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/runtime.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/sampling.ts
  tools/acceptance/aviation_weather_proof/README.md
  tools/acceptance/aviation_weather_proof/journey.mjs
  tools/acceptance/aviation_weather_proof/report.py
  tools/acceptance/aviation_weather_proof/run.sh
  tools/acceptance/aviation_weather_proof/run_browser.py
  tools/acceptance/aviation_weather_proof/runner.py
  tools/acceptance/aviation_weather_proof/worker.py
  tools/acceptance/overview-weather/backend_fixture.py
  tools/tests/test_aviation_weather_proof_report.py
  tools/tests/test_aviation_weather_proof_runner.py
Due: prettier, eslint, markdownlint

test: keep decoder admission independent of planning workspace
  tools/acceptance/aviation_weather_proof/README.md
  tools/acceptance/aviation_weather_proof/run.sh
  tools/tests/test_aviation_weather_proof_runner.py
Due: prettier, markdownlint

test: provide complete typed proof fixture metadata
  frontend/mission-planner/src/test/aviation-weather-proof.test.ts
Due: prettier, eslint

test: close proof generation lifecycle and evidence gaps
  frontend/mission-planner/src/test/aviation-weather-proof.test.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/advisory-renderer.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/browser.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/model.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/runtime.ts
  tools/acceptance/aviation_weather_proof/README.md
  tools/acceptance/aviation_weather_proof/journey.mjs
  tools/acceptance/aviation_weather_proof/report.py
  tools/acceptance/aviation_weather_proof/run_browser.py
  tools/tests/test_aviation_weather_proof_report.py
Due: prettier, eslint, markdownlint

test: reconstruct sampling points from native triangle planes
  frontend/mission-planner/src/test/aviation-weather-proof.test.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/grid-renderer.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/runtime.ts
Due: prettier, eslint

test: bound late cleanup signals and respect inherited Xvfb ownership
  tools/acceptance/aviation_weather_proof/README.md
  tools/acceptance/aviation_weather_proof/lifecycle.py
  tools/acceptance/aviation_weather_proof/run_browser.py
  tools/acceptance/aviation_weather_proof/runner.py
  tools/tests/test_aviation_weather_proof_lifecycle.py
  tools/tests/test_aviation_weather_proof_runner.py
Due: prettier, markdownlint

test: close aviation diagnostic interruption and rendered-label gaps
  docs/reports/aviation-weather-native-diagnostic-2026-10-06.md
  frontend/mission-planner/src/test/aviation-weather-proof-label.test.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/proof-label.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/runtime.ts
  frontend/mission-planner/tests/e2e/support/aviation-weather-proof/synthetic-controls.ts
  tools/acceptance/aviation_weather_proof/README.md
  tools/acceptance/aviation_weather_proof/journey.mjs
  tools/acceptance/aviation_weather_proof/lifecycle.py
  tools/acceptance/aviation_weather_proof/report.py
  tools/acceptance/aviation_weather_proof/run.sh
  tools/acceptance/aviation_weather_proof/run_browser.py
  tools/acceptance/aviation_weather_proof/runner.py
  tools/acceptance/aviation_weather_proof/worker.py
  tools/tests/test_aviation_weather_proof_lifecycle.py
  tools/tests/test_aviation_weather_proof_report.py
  tools/tests/test_aviation_weather_proof_runner.py
Due: prettier, eslint, markdownlint, naming-convention

docs: record measured native aviation diagnostic evidence
  docs/reports/aviation-weather-native-diagnostic-2026-10-06.md
  tools/acceptance/aviation_weather_proof/README.md
Due: prettier, markdownlint, naming-convention

test: isolate aviation acceptance fixtures and browser output
  frontend/mission-planner/playwright.aviation-acceptance.config.ts
  frontend/mission-planner/src/pages/ConfigurationPage.test.tsx
  frontend/mission-planner/tests/e2e/aviation-weather-production.spec.ts
Due: prettier, eslint

test: allow native renderer startup in aviation acceptance
  frontend/mission-planner/tests/e2e/aviation-weather-production.spec.ts
Due: prettier

test: wait for native globe textures before weather checks
  frontend/mission-planner/tests/e2e/aviation-weather-production.spec.ts
Due: prettier

fix: label fractional aviation timestamps as UTC
  frontend/mission-planner/src/pages/aviation-weather/AviationStatus.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationStatus.tsx
Due: prettier, eslint

fix: keep desktop map controls clear of aviation status
  frontend/mission-planner/src/pages/aviation-weather/AviationWeather.css
  frontend/mission-planner/tests/e2e/aviation-weather-production.spec.ts
Due: prettier

test: verify mobile aviation reports are reachable
  frontend/mission-planner/tests/e2e/aviation-weather-production.spec.ts
Due: prettier

feat(aviation-weather): inspect native map reports on click
  docs/api/aviation-weather.md
  frontend/mission-planner/src/pages/OverviewPage.layers.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.traffic.test.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationDetails.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationDetails.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationLayer.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationLayer.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationReport.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationStatus.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationStatus.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationWeather.css
  frontend/mission-planner/src/pages/aviation-weather/aviation-inspection.test.ts
  frontend/mission-planner/src/pages/aviation-weather/aviation-inspection.ts
  frontend/mission-planner/src/pages/aviation-weather/aviation-renderer.test.ts
  frontend/mission-planner/src/pages/aviation-weather/aviation-renderer.ts
  frontend/mission-planner/tests/e2e/aviation-weather-production.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(aviation-weather): keep report popups above telemetry
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationWeather.css
  frontend/mission-planner/src/pages/aviation-weather/aviation-inspection.test.ts
  frontend/mission-planner/tests/e2e/aviation-weather-production.spec.ts
Due: prettier, eslint

fix(overview): preserve focus when replacing inspection dialogs
  frontend/mission-planner/src/pages/adsb/OverviewAdsbDetails.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationDetails.test.tsx
  frontend/mission-planner/src/pages/aviation-weather/AviationDetails.tsx
Due: prettier, eslint

docs: specify Phase 2 GFS weather foundation
  docs/superpowers/specs/2026-10-06-aviation-weather-phase-two.md
Due: prettier, markdownlint, naming-convention

docs: plan Phase 2 GFS foundation and presentation
  docs/superpowers/plans/2026-10-06-aviation-weather-gfs-foundation.md
  docs/superpowers/plans/2026-10-06-aviation-weather-gfs-presentation.md
  docs/superpowers/specs/2026-10-06-aviation-weather-phase-two.md
Due: prettier, markdownlint, naming-convention

feat: define production GFS grid and selection contracts
  backend/starlink-location/app/models/aviation_grid.py
  backend/starlink-location/app/services/aviation_weather/settings.py
  backend/starlink-location/tests/unit/test_aviation_weather_runtime.py
  backend/starlink-location/tests/unit/test_gfs_contracts.py
  backend/starlink-location/tests/unit/test_gfs_settings.py
  frontend/mission-planner/src/services/aviation-weather.test.ts
  frontend/mission-planner/src/services/aviation-weather.ts
Due: prettier, eslint

feat: acquire bounded version-pinned GFS selections
  backend/starlink-location/app/services/aviation_weather/gfs/__init__.py
  backend/starlink-location/app/services/aviation_weather/gfs/inventory.py
  backend/starlink-location/app/services/aviation_weather/gfs/quota.py
  backend/starlink-location/app/services/aviation_weather/gfs/transport.py
  backend/starlink-location/tests/unit/test_gfs_inventory.py
  backend/starlink-location/tests/unit/test_gfs_quota.py
  backend/starlink-location/tests/unit/test_gfs_transport.py
Due: none

feat: normalize and retain immutable GFS grids
  backend/starlink-location/app/models/aviation_grid.py
  backend/starlink-location/app/services/aviation_weather/gfs/decode.py
  backend/starlink-location/app/services/aviation_weather/gfs/grid.py
  backend/starlink-location/app/services/aviation_weather/gfs/store.py
  backend/starlink-location/app/services/aviation_weather/gfs/transport.py
  backend/starlink-location/requirements-gfs.txt
  backend/starlink-location/tests/fixtures/gfs_fields.py
  backend/starlink-location/tests/unit/test_gfs_decode.py
  backend/starlink-location/tests/unit/test_gfs_grid.py
  backend/starlink-location/tests/unit/test_gfs_store.py
Due: none

feat: run GFS ingestion in an isolated optional worker
  backend/starlink-location/Dockerfile
  backend/starlink-location/Dockerfile.gfs
  backend/starlink-location/app/services/aviation_weather/gfs/decoder_runner.py
  backend/starlink-location/app/services/aviation_weather/gfs/ipc.py
  backend/starlink-location/app/services/aviation_weather/gfs/store.py
  backend/starlink-location/app/services/aviation_weather/gfs/worker.py
  backend/starlink-location/app/services/aviation_weather/settings.py
  backend/starlink-location/requirements-gfs.txt
  backend/starlink-location/tests/fixtures/gfs_blocked_decoder.py
  backend/starlink-location/tests/fixtures/gfs_worker_process.py
  backend/starlink-location/tests/unit/test_gfs_ipc.py
  backend/starlink-location/tests/unit/test_gfs_worker.py
  docker-compose.gfs.yml
  tools/tests/test_gfs_compose.py
Due: prettier

feat: serve revision-safe GFS model products
  backend/starlink-location/app/api/aviation_weather.py
  backend/starlink-location/app/models/aviation_grid.py
  backend/starlink-location/app/services/aviation_weather/gfs/bridge.py
  backend/starlink-location/app/services/aviation_weather/gfs/ipc.py
  backend/starlink-location/app/services/aviation_weather/gfs/store.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/fixtures/gfs_publish_process.py
  backend/starlink-location/tests/unit/test_aviation_weather_runtime.py
  backend/starlink-location/tests/unit/test_gfs_api.py
  backend/starlink-location/tests/unit/test_gfs_contracts.py
  backend/starlink-location/tests/unit/test_main_aviation_weather.py
  docs/api/aviation-weather.md
Due: prettier, markdownlint, naming-convention

test: gate GFS foundation production acceptance
  tools/acceptance/gfs-weather/README.md
  tools/acceptance/gfs-weather/backend_fixture.py
  tools/acceptance/gfs-weather/check_foundation.py
  tools/acceptance/gfs-weather/compose.yml
  tools/acceptance/gfs-weather/decoder_fixture.py
  tools/acceptance/gfs-weather/run.sh
  tools/acceptance/gfs-weather/runner.py
  tools/acceptance/gfs-weather/source_fixture.py
  tools/tests/test_gfs_acceptance_runner.py
  tools/verify
Due: prettier, markdownlint

chore: clean acceptance runner lint
  tools/acceptance/gfs-weather/backend_fixture.py
  tools/acceptance/gfs-weather/check_foundation.py
  tools/acceptance/gfs-weather/runner.py
Due: none

docs: retain user screenshot for label occlusion issue #295
  issue-assets/295/overview-label-occlusion.png
Due: none

style: align GFS code with backend quality gate
  backend/starlink-location/app/services/aviation_weather/gfs/bridge.py
  backend/starlink-location/app/services/aviation_weather/gfs/transport.py
  backend/starlink-location/app/services/aviation_weather/gfs/worker.py
  backend/starlink-location/tests/unit/test_gfs_api.py
  backend/starlink-location/tests/unit/test_gfs_grid.py
  backend/starlink-location/tests/unit/test_gfs_ipc.py
  backend/starlink-location/tests/unit/test_gfs_store.py
  backend/starlink-location/tests/unit/test_gfs_worker.py
  backend/starlink-location/tests/unit/test_main_aviation_weather.py
  tools/acceptance/gfs-weather/runner.py
Due: none

style: order settings imports for backend CI
  backend/starlink-location/app/services/aviation_weather/settings.py
Due: none

build: identify production acceptance image revisions
  backend/starlink-location/Dockerfile
  frontend/mission-planner/Dockerfile
  tools/acceptance/gfs-weather/check_foundation.py
  tools/tests/test_gfs_compose.py
Due: none

test: reject invalid metrics and incomplete GFS cleanup
  .gitignore
  tools/acceptance/gfs-weather/runner.py
  tools/tests/test_gfs_acceptance_runner.py
Due: none

test: isolate historical GFS replay from current-time browser checks
  tools/acceptance/gfs-weather/runner.py
Due: none

test: distinguish closed connections from live acceptance listeners
  tools/acceptance/gfs-weather/runner.py
  tools/tests/test_gfs_acceptance_runner.py
Due: none

test: synchronize historical replay clocks across runtime owners
  backend/starlink-location/tests/unit/test_gfs_acceptance_clock.py
  tools/acceptance/gfs-weather/backend_fixture.py
  tools/acceptance/gfs-weather/check_foundation.py
  tools/acceptance/gfs-weather/runner.py
  tools/acceptance/gfs-weather/source_fixture.py
Due: none

test: require no-cache builds for final GFS acceptance
  tools/acceptance/gfs-weather/runner.py
Due: none

docs: record GFS foundation verification evidence
  docs/reports/2026-10-06-aviation-weather-gfs-foundation.md
Due: prettier, markdownlint, naming-convention

fix: persist GFS payload admission clock across restarts
  backend/starlink-location/app/services/aviation_weather/gfs/bridge.py
  backend/starlink-location/app/services/aviation_weather/gfs/ipc.py
  backend/starlink-location/tests/unit/test_gfs_api.py
Due: none

feat: derive GFS flight levels with explicit source pressures
  backend/starlink-location/app/models/aviation_grid.py
  backend/starlink-location/app/services/aviation_weather/gfs/bridge.py
  backend/starlink-location/app/services/aviation_weather/gfs/decode.py
  backend/starlink-location/app/services/aviation_weather/gfs/grid.py
  backend/starlink-location/app/services/aviation_weather/gfs/inventory.py
  backend/starlink-location/app/services/aviation_weather/gfs/store.py
  backend/starlink-location/app/services/aviation_weather/gfs/transport.py
  backend/starlink-location/app/services/aviation_weather/gfs/vertical.py
  backend/starlink-location/tests/unit/test_gfs_vertical.py
  frontend/mission-planner/src/services/aviation-weather.test.ts
  frontend/mission-planner/src/services/aviation-weather.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

