Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

prettier:
  name: Prettier - JavaScript/TypeScript/Markdown formatter
  entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
  language: system
  stages:
  - pre-commit

eslint:
  name: ESLint - JavaScript/TypeScript linter
  entry: bash -c 'cd frontend/mission-planner && npx eslint'
  language: system
  stages:
  - pre-commit

markdownlint:
  name: Markdownlint - Markdown linter
  entry: bash -c 'markdownlint-cli2 "$@"' --
  language: system
  stages:
  - pre-commit

naming-convention:
  name: Naming Convention - Docs Filenames
  entry: python3 tools/check_filename_convention.py
  language: system
  pass_filenames: false

feat(frontend): higher fidelity basemap
  frontend/mission-planner/public/earth-day-hi.ATTRIBUTION.md
  frontend/mission-planner/public/earth-day-hi.jpg
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint, markdownlint

feat(frontend): city lights at night
  frontend/mission-planner/public/earth-night-hi.ATTRIBUTION.md
  frontend/mission-planner/public/earth-night-hi.jpg
  frontend/mission-planner/src/pages/NightCityLights.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/night-side-factor.test.ts
  frontend/mission-planner/src/pages/night-side-factor.ts
Due: prettier, eslint, markdownlint

feat(frontend): better lighting cities
  frontend/mission-planner/src/pages/CityLitGlobe.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

fix(frontend): old code cleanup
  frontend/mission-planner/src/pages/NightCityLights.tsx
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

feat(frontend): promote settlement city light mask
  frontend/mission-planner/public/city-lights-major-mask-probe.png
  frontend/mission-planner/public/city-lights-mask-probe.png
  frontend/mission-planner/public/city-lights-mask.ATTRIBUTION.md
  frontend/mission-planner/public/city-lights-mask.png
  frontend/mission-planner/public/earth-night-hi.ATTRIBUTION.md
  frontend/mission-planner/public/earth-night-hi.jpg
  frontend/mission-planner/public/earth-night.ATTRIBUTION.md
  frontend/mission-planner/public/earth-night.jpg
  frontend/mission-planner/src/pages/CityLitGlobe.tsx
Due: prettier, eslint, markdownlint

chore(frontend): remove city light mask probes
  frontend/mission-planner/public/city-lights-major-mask-probe.png
  frontend/mission-planner/public/city-lights-mask-probe.png
  frontend/mission-planner/public/city-lights-mask.ATTRIBUTION.md
Due: prettier, markdownlint

fix(frontend): fix texture url
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

fix(frontend): repair nginx api routes
  frontend/mission-planner/nginx.conf
Due: none

fix(ci): replace develop branch with dev in ci
  .github/workflows/lint.yml
Due: prettier

test(gep): gep tests and initial code
  backend/starlink-location/app/api/status.py
  backend/starlink-location/tests/integration/test_status.py
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/status-projection.test.ts
  frontend/mission-planner/src/pages/status-projection.ts
  frontend/mission-planner/src/services/status.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

fix(backend): no gep refresh in simulation mode
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_ground_entry_point_refresh_policy.py
Due: none

fix(backend): add gep coords for simulation to .env
  .env.example
Due: none

feat(frontend): gep label
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

feat(frontend): gep marker work
  frontend/mission-planner/src/pages/OverviewPage.tsx
Due: prettier, eslint

feat(frontend): legend visible without route
  .env.example
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint

docs(environment-variables): document new environment-variables
  docs/setup/configuration/environment-variables.md
Due: prettier, markdownlint, naming-convention

docs(environment-variables): better explanation
  docs/setup/configuration/environment-variables.md
Due: prettier, markdownlint, naming-convention

fix(docs): line length
  docs/setup/configuration/environment-variables.md
Due: prettier, markdownlint, naming-convention

test(backend): ensure valid gep lat long
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

test(backend): expand gep lat long tests
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

chore(backend): format python
  backend/starlink-location/app/services/ground_entry_point.py
Due: none

chore(backend): ruff and black fixes
  backend/starlink-location/tests/unit/test_ground_entry_point_refresh_policy.py
Due: none

fix(backend): check for invalid live gep coordinates
  backend/starlink-location/app/services/ground_entry_point.py
Due: none

refactor(backend): valid ground entry point check
  backend/starlink-location/app/services/ground_entry_point.py
Due: none

fix(backend): return none on invalid gep coord
  backend/starlink-location/app/services/ground_entry_point.py
Due: none

test(backend): added invalid gep regression tests
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

fix(backend): gep env only in simulation
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
Due: none

feat: expose and render Ground Entry Point (#150)
  .env.example
  backend/starlink-location/app/api/status.py
  backend/starlink-location/app/services/ground_entry_point.py
  backend/starlink-location/main.py
  backend/starlink-location/tests/integration/test_status.py
  backend/starlink-location/tests/unit/test_ground_entry_point.py
  backend/starlink-location/tests/unit/test_ground_entry_point_refresh_policy.py
  docs/setup/configuration/environment-variables.md
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/status-projection.test.ts
  frontend/mission-planner/src/pages/status-projection.ts
  frontend/mission-planner/src/services/status.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

chore(dev): pin backend test Python
  backend/starlink-location/.python-version
Due: none

chore(dev): add backend config test command
  backend/starlink-location/scripts/test-config.sh
Due: none

chore(dev): add frontend unit test command
  frontend/mission-planner/package.json
Due: prettier

chore(dev): add backend reload compose override
  docker-compose.dev.yml
Due: prettier

chore(dev): configure Vite backend proxy target
  frontend/mission-planner/vite.config.ts
Due: prettier

docs(dev): document tiered test workflow
  docs/development/workflow.md
Due: prettier, markdownlint, naming-convention

docs(dev): complete tiered workflow guidance
  docs/development/workflow.md
Due: prettier, markdownlint, naming-convention

docs(dev): clarify reload evidence
  docs/development/workflow.md
Due: prettier, markdownlint, naming-convention

docs(dev): clarify image freshness
  docs/development/workflow.md
Due: prettier, markdownlint, naming-convention

fix(docs): add missing backticks
  docs/development/workflow.md
Due: prettier, markdownlint, naming-convention

chore(dev): establish tiered test loop (#151)
  backend/starlink-location/.python-version
  backend/starlink-location/scripts/test-config.sh
  docker-compose.dev.yml
  docs/development/workflow.md
  frontend/mission-planner/package.json
  frontend/mission-planner/vite.config.ts
Due: prettier, markdownlint, naming-convention

test(frontend): first satellite projection tests
  frontend/mission-planner/src/pages/x-band-satellites-projection.test.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|json|yaml|yml)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  eslint: any of: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$ and not (^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  markdownlint: any of: \.md$ and not (^(node_modules|\.venv|__pycache__|specs/)) and not ((?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)
)
  naming-convention: any of: ^docs/.*\.md$, but not: (?x)^(
  backend/starlink-location/.venv/|
  backend/starlink-location/__pycache__|
  backend/starlink-location/.*migrations|
  frontend/mission-planner/node_modules/|
  frontend/mission-planner/dist/|
  \.venv/|
  __pycache__/
)

