Repository bcl1713/starlink-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, markdownlint, naming-convention

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Starlink Dashboard
# Ensures code quality across Python, TypeScript, JavaScript, and Markdown files

repos:
  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Black - Python code formatter
        language_version: python3.13
        entry: black
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        name: Ruff - Python linter
        args: [--fix]
        files: ^backend/
        types: [python]
        exclude: ^(backend/.venv|backend/.*migrations)

  # TypeScript/JavaScript formatting with Prettier (via npm)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier - JavaScript/TypeScript/Markdown formatter
        entry: bash -c 'cd frontend/mission-planner && npx prettier --check'
        language: system
        files: \.(js|jsx|ts|tsx|md|json|yaml|yml)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist|\.venv)
        stages: [pre-commit]

  # ESLint for TypeScript/JavaScript linting (via npm)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint - JavaScript/TypeScript linter
        entry: bash -c 'cd frontend/mission-planner && npx eslint'
        language: system
        files: ^frontend/mission-planner/src/.*\.(js|jsx|ts|tsx)$
        exclude: ^(frontend/mission-planner/node_modules|frontend/mission-planner/dist)
        stages: [pre-commit]

  # Markdown linting with markdownlint-cli2
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdownlint - Markdown linter
        entry: bash -c 'markdownlint-cli2 "$@"' --
        language: system
        files: \.md$
        exclude: ^(node_modules|\.venv|__pycache__|specs/)
        stages: [pre-commit]

  # Broken Link Checker (using Docker to avoid local install reqs)
  - repo: local
    hooks:
      - id: lychee-docker
        name: Lychee Link Checker (Docker)
        entry: lycheeverse/lychee:latest
        language: docker_image
        args:
          [
            "--no-progress",
            "--exclude-path",
            "node_modules",
            "--exclude-path",
            ".venv",
            "--exclude",
            "file://",
            "docs/",
          ]
        pass_filenames: false

  # Naming convention check for docs
  - repo: local
    hooks:
      - id: naming-convention
        name: Naming Convention - Docs Filenames
        entry: python3 tools/check_filename_convention.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

# Global pre-commit settings
default_language_version:
  python: python3.13
  node: 18.17.1

# Fail fast if any hook fails
fail_fast: false

# Exclude patterns that apply to all hooks
exclude: |
  (?x)^(
    backend/starlink-location/.venv/|
    backend/starlink-location/__pycache__|
    backend/starlink-location/.*migrations|
    frontend/mission-planner/node_modules/|
    frontend/mission-planner/dist/|
    \.venv/|
    __pycache__/
  )

fix(overview): prevent metric history clock and bundle regression
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
Due: prettier, eslint

fix(overview): align metric ticks with compositor time
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
Due: prettier, eslint

feat(overview): integrate five metric history graphs
  docs/api/endpoints/README.md
  docs/api/endpoints/overview-history.md
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.tsx
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): reflow history and preserve populated POIs
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint

fix(overview): reflow short desktop overlays and verify globe frame
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
  frontend/mission-planner/tests/e2e/support/globe-visual-ready.ts
Due: prettier, eslint

fix(overview): report failed and stale metric history honestly
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint

style(overview): format history backend changes
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/tests/integration/test_overview_history_api.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
Due: none

style(mission-planner): format overview metric history files
  frontend/mission-planner/src/pages/overview-metric-history.test.ts
  frontend/mission-planner/src/pages/overview-metric-history.ts
Due: prettier, eslint

test(overview): target WebGL globe canvas in drag oracle
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
Due: prettier

feat(overview): add five metric history graphs (#208)
  backend/starlink-location/app/services/overview_history_prometheus.py
  backend/starlink-location/app/services/overview_history_rollups.py
  backend/starlink-location/tests/integration/test_overview_history_api.py
  backend/starlink-location/tests/unit/test_main_overview_history.py
  backend/starlink-location/tests/unit/test_overview_history_prometheus.py
  backend/starlink-location/tests/unit/test_overview_history_rollups.py
  docs/api/endpoints/README.md
  docs/api/endpoints/overview-history.md
  docs/features/overview.md
  docs/superpowers/plans/2026-09-29-overview-metric-history-task-5.md
  docs/superpowers/plans/2026-09-29-overview-metric-history-tasks-1-2.md
  docs/superpowers/plans/2026-09-29-overview-metric-history-tasks-3-4.md
  docs/superpowers/plans/2026-09-29-overview-metric-history.md
  docs/superpowers/specs/2026-09-29-overview-metric-history-design.md
  frontend/mission-planner/package-lock.json
  frontend/mission-planner/package.json
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanels.tsx
  frontend/mission-planner/src/pages/OverviewPage.contract.test.ts
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/OverviewPage.tsx
  frontend/mission-planner/src/pages/overview-metric-history.test.ts
  frontend/mission-planner/src/pages/overview-metric-history.ts
  frontend/mission-planner/src/pages/overview-metric-motion.test.ts
  frontend/mission-planner/src/pages/overview-metric-motion.ts
  frontend/mission-planner/src/services/overview-history.ts
  frontend/mission-planner/tests/e2e/overview-globe.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
  frontend/mission-planner/tests/e2e/support/globe-visual-ready.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): rebase metric history x scale on polling
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint

test(overview): synchronize history paint across polls
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

fix(overview): fit history and POIs in native fullscreen
  docs/features/overview.md
  frontend/mission-planner/README.md
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

test: cover populated fullscreen history and serial Playwright policy
  frontend/mission-planner/src/test/playwright-config.test.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint

test: isolate fullscreen overview history coverage
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

docs: wrap overview history reference to satisfy MD013
  docs/features/overview.md
Due: prettier, markdownlint, naming-convention

fix(overview): retain real chart samples across left-edge rebases
  .superpowers/sdd/overview-history-correction/left-buffer-report.md
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/overview-metric-retention.test.ts
  frontend/mission-planner/src/pages/overview-metric-retention.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

test(overview): verify clipped left-buffer exit and prune
  .superpowers/sdd/overview-history-correction/left-buffer-report.md
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, markdownlint

docs: add issue 213 illustrative globe-first concept
  issue-assets/213/inspo.png
Due: none

fix(overview): anchor fullscreen history stack to bottom
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
Due: prettier, markdownlint, naming-convention

docs: add issue 213 illustrative mobile layouts
  issue-assets/213/mobileinspo.png
Due: none

fix(overview): protect bottom anchor and short fullscreen fit
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
Due: prettier, markdownlint, naming-convention

docs(overview): specify globe-first responsive redesign
  docs/superpowers/specs/2026-09-30-responsive-overview-design.md
Due: prettier, markdownlint, naming-convention

fix(overview): keep metric history continuous in fullscreen (#212)
  docs/features/overview.md
  frontend/mission-planner/README.md
  frontend/mission-planner/playwright.config.ts
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/src/pages/OverviewPage.css
  frontend/mission-planner/src/pages/overview-metric-retention.test.ts
  frontend/mission-planner/src/pages/overview-metric-retention.ts
  frontend/mission-planner/src/test/playwright-config.test.ts
  frontend/mission-planner/tests/e2e/overview-metric-history-fullscreen.spec.ts
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

docs(overview): design globe-first responsive dashboard (#214)
  docs/superpowers/specs/2026-09-30-responsive-overview-design.md
Due: prettier, markdownlint, naming-convention

fix(overview): preserve metric scroll position across history rebases
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): cap stale metric scroll and assert pixel motion
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint

docs: narrow Overview metric scroll continuity guarantee
  docs/features/overview.md
Due: prettier, markdownlint, naming-convention

test(overview): wait for first metric chart state on cold boot
  docs/features/overview.md
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, markdownlint, naming-convention

test(overview): require visible metric chart before sampling
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

fix(overview): keep metric history scrolling continuous (#221)
  docs/features/overview.md
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.test.tsx
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.tsx
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier, eslint, markdownlint, naming-convention

fix(overview): preserve chart canvas CSS dimensions during scrolling
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

fix(overview): preserve chart canvas CSS dimensions during scrolling (#222)
  frontend/mission-planner/src/pages/OverviewMetricHistoryPanel.css
  frontend/mission-planner/tests/e2e/overview-metric-history.spec.ts
Due: prettier

docs(overview): plan five truthful metric panels
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels-presentation.md
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels.md
Due: prettier, markdownlint, naming-convention

docs(overview): link parent visual references in metric plan
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels.md
Due: prettier, markdownlint, naming-convention

docs(overview): ground metric readouts in status telemetry
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels-presentation.md
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels.md
Due: prettier, markdownlint, naming-convention

docs(overview): specify per-metric observation provenance
  docs/superpowers/specs/2026-09-30-overview-metric-provenance-design.md
  docs/superpowers/specs/2026-09-30-responsive-overview-design.md
Due: prettier, markdownlint, naming-convention

docs(overview): revise metric panels plan for provenance
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels-presentation.md
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels-source-contract.md
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels.md
  docs/superpowers/specs/2026-09-30-overview-metric-provenance-design.md
  docs/superpowers/specs/2026-09-30-responsive-overview-design.md
Due: prettier, markdownlint, naming-convention

docs: align metric fixture expectations with provenance gaps
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels.md
Due: prettier, markdownlint, naming-convention

docs(overview): plan issue 216 metric panels (#223)
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels-presentation.md
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels-source-contract.md
  docs/superpowers/plans/2026-09-30-overview-five-metric-panels.md
  docs/superpowers/specs/2026-09-30-overview-metric-provenance-design.md
  docs/superpowers/specs/2026-09-30-responsive-overview-design.md
Due: prettier, markdownlint, naming-convention
